{
  "log": {
    "_recordingName": "kie/openai-models",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a7aac42e72bbd06b50b69de2def6c1a7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/openai/v1/models"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 16517,
            "text": "{\"object\":\"list\",\"data\":[{\"id\":\"gpt-6.1-sol\",\"created\":0,\"object\":\"model\",\"owned_by\":\"kie\"},{\"id\":\"gpt-6-astra\",\"created\":0,\"object\":\"model\",\"owned_by\":\"kie\"},{\"id\":\"gpt-6-sol\",\"created\":0,\"object\":\"model\",\"owned_by\":\"kie\"},{\"id\":\"gpt-6-luna\",\"created\":0,\"object\":\"model\",\"owned_by\":\"kie\"},{\"id\":\"gpt-5.6-sol\",\"created\":0,\"object\":\"model\",\"owned_by\":\"kie\"},{\"id\":\"gpt-5.6-terra\",\"created\":0,\"object\":\"model\",\"owned_by\":\"kie\"},{\"id\":\"gpt-5.6-luna\",\"created\":0,\"object\":\"model\",\"owned_by\":\"kie\"},{\"id\":\"gpt-5.5\",\"created\":0,\"object\":\"model\",\"owned_by\":\"kie\"},{\"id\":\"gpt-5.4\",\"created\":0,\"object\":\"model\",\"owned_by\":\"kie\"}],\"models\":[{\"slug\":\"gpt-6.1-sol\",\"display_name\":\"GPT-6.1 Sol\",\"description\":\"Kie Codex model\",\"default_reasoning_level\":\"medium\",\"supported_reasoning_levels\":[{\"effort\":\"low\",\"description\":\"Fast responses with lighter reasoning\"},{\"effort\":\"medium\",\"description\":\"Balances speed and reasoning depth for everyday tasks\"},{\"effort\":\"high\",\"description\":\"Greater reasoning depth for complex problems\"},{\"effort\":\"xhigh\",\"description\":\"Extra high reasoning depth for complex problems\"},{\"effort\":\"max\",\"description\":\"Maximum reasoning depth for the hardest quality-first tasks\"}],\"base_instructions\":\"You are Codex, a coding agent based on GPT-5. You and the user share one workspace, and your job is to collaborate with them until their goal is genuinely handled.\",\"model_messages\":{\"instructions_template\":\"You are Codex, a coding agent based on GPT-5. You and the user share one workspace, and your job is to collaborate with them until their goal is genuinely handled.\\n\\n{{ personality }}\",\"instructions_variables\":{\"personality_default\":\"\",\"personality_friendly\":\"\",\"personality_pragmatic\":\"\"}},\"supports_reasoning_summaries\":true,\"default_reasoning_summary\":\"none\",\"support_verbosity\":true,\"default_verbosity\":\"low\",\"apply_patch_tool_type\":\"freeform\",\"web_search_tool_type\":\"text_and_image\",\"supports_parallel_tool_calls\":true,\"supports_search_tool\":true,\"input_modalities\":[\"text\",\"image\"],\"use_responses_lite\":false,\"visibility\":\"list\",\"supported_in_api\":true,\"shell_type\":\"shell_command\",\"priority\":0,\"additional_speed_tiers\":[],\"upgrade\":null,\"truncation_policy\":{\"mode\":\"tokens\",\"limit\":10000},\"supports_image_detail_original\":true,\"context_window\":272000,\"max_context_window\":272000,\"comp_hash\":null,\"effective_context_window_percent\":95,\"experimental_supported_tools\":[]},{\"slug\":\"gpt-6-astra\",\"display_name\":\"GPT-6 Astra\",\"description\":\"Most capable model for the hardest end-to-end coding, research, and professional work.\",\"default_reasoning_level\":\"medium\",\"supported_reasoning_levels\":[{\"effort\":\"low\",\"description\":\"Fast responses with lighter reasoning\"},{\"effort\":\"medium\",\"description\":\"Balances speed and reasoning depth for everyday tasks\"},{\"effort\":\"high\",\"description\":\"Greater reasoning depth for complex problem[...]
