{
  "log": {
    "_recordingName": "polymarket/data-builders-volume",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4d12183d795a7856c400005e17315500",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "timePeriod",
              "value": "DAY"
            }
          ],
          "url": "https://data-api.polymarket.com/v1/builders/volume?timePeriod=DAY"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 341,
            "text": "[{\"dt\":\"2026-06-20T00:00:00Z\",\"builder\":\"traderline\",\"builderCode\":\"0x6b0e773fada0a2ec67c956b25a737d353a534ea33db56c717ba7854346c67984\",\"builderLogo\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/profile-image-1377213-24116eb2-24b0-429e-89a5-4fd2b6182074.png\",\"verified\":true,\"volume\":4424792.950044001,\"activeUsers\":132,\"rank\":\"1\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Sat, 20 Jun 2026 05:02:21 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 834,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
