{
  "log": {
    "_recordingName": "fal/topaz-upscale-image-precision",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c345741baf069122a2ec47c6e89bc8b5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"image_url\":\"https://storage.googleapis.com/falserverless/model_tests/codeformer/codeformer_poor_1.jpeg\",\"model\":\"Standard V2\",\"upscale_factor\":2,\"output_format\":\"jpeg\"}"
          },
          "queryString": [],
          "url": "https://fal.run/topaz/upscale/image/precision"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 163,
            "text": "{\"image\":{\"url\":\"https://v3b.fal.media/files/b/0aa81c22/qtSLvoM76VzKrSxH5C-Vh_image.jpeg\",\"content_type\":\"image/jpeg\",\"file_name\":\"image.jpeg\",\"file_size\":270771}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "8"
            },
            {
              "name": "x-fal-served-from",
              "value": "c95cbcb5-d591-4e8b-9274-2b5142598fdf"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 19709,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
