{
  "log": {
    "_recordingName": "elevenlabs/voices-list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "08f96ddcf9c17bc7bf8cc04c6dd5829f",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/voices"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 128490,
            "text": "{\"voices\":[{\"voice_id\":\"CwhRBWXzGAHq8TQ4Fs17\",\"name\":\"Roger - Laid-Back, Casual, Resonant\",\"samples\":null,\"category\":\"premade\",\"fine_tuning\":{\"is_allowed_to_fine_tune\":true,\"state\":{\"eleven_flash_v2\":\"fine_tuned\",\"eleven_flash_v2_5\":\"fine_tuned\",\"eleven_turbo_v2_5\":\"failed\",\"eleven_multilingual_v2\":\"fine_tuned\",\"eleven_v2_5_flash\":\"fine_tuned\",\"eleven_v2_flash\":\"fine_tuned\",\"eleven_turbo_v2\":\"fine_tuned\"},\"verification_failures\":[],\"verification_attempts_count\":0,\"manual_verification_requested\":false,\"language\":\"en\",\"progress\":{\"eleven_flash_v2\":1.0,\"eleven_v2_5_flash\":1.0,\"eleven_v2_flash\":1.0,\"eleven_flash_v2_5\":1.0},\"message\":{\"eleven_flash_v2\":\"Done!\",\"eleven_v2_5_flash\":\"Done!\",\"eleven_v2_flash\":\"Done!\",\"eleven_flash_v2_5\":\"Done!\"},\"dataset_duration_seconds\":null,\"verification_attempts\":null,\"slice_ids\":null,\"manual_verification\":null,\"max_verification_attempts\":5,\"next_max_verification_attempts_reset_unix_ms\":1700000000000},\"labels\":{\"descriptive\":\"classy\",\"language\":\"en\",\"use_case\":\"conversational\",\"gender\":\"male\",\"age\":\"middle_aged\",\"accent\":\"american\"},\"description\":\"Easy going and perfect for casual conversations.\",\"preview_url\":\"https://storage.googleapis.com/eleven-public-prod/premade/voices/CwhRBWXzGAHq8TQ4Fs17/58ee3ff5-f6f2-4628-93b8-e38eb31806b0.mp3\",\"available_for_tiers\":[],\"settings\":null,\"sharing\":null,\"high_quality_base_model_ids\":[\"eleven_v2_flash\",\"eleven_flash_v2\",\"eleven_turbo_v2_5\",\"eleven_multilingual_v2\",\"eleven_v2_5_flash\",\"eleven_flash_v2_5\",\"eleven_turbo_v2\"],\"verified_languages\":[{\"language\":\"en\",\"model_id\":\"eleven_v2_flash\",\"accent\":\"american\",\"locale\":\"en-US\",\"preview_url\":\"https://storage.googleapis.com/eleven-public-prod/premade/voices/CwhRBWXzGAHq8TQ4Fs17/58ee3ff5-f6f2-4628-93b8-e38eb31806b0.mp3\"},{\"language\":\"en\",\"model_id\":\"eleven_flash_v2\",\"accent\":\"american\",\"locale\":\"en-US\",\"preview_url\":\"https://storage.googleapis.com/eleven-public-prod/premade/voices/CwhRBWXzGAHq8TQ4Fs17/58ee3ff5-f6f2-4628-93b8-e38eb31806b0.mp3\"},{\"language\":\"en\",\"model_id\":\"eleven_turbo_v2_5\",\"accent\":\"american\",\"locale\":\"en[...]
