{
  "log": {
    "_recordingName": "dolthub/sql-read-show-tables",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "67ef1971d545b92ef9faa3eed376a09b",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "SHOW TABLES"
            }
          ],
          "url": "https://www.dolthub.com/api/v1alpha1/dolthub/ip-to-country/master?q=SHOW%20TABLES"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 349,
            "text": "{\"query_execution_status\":\"Success\",\"query_execution_message\":\"\",\"repository_owner\":\"dolthub\",\"repository_name\":\"ip-to-country\",\"commit_ref\":\"master\",\"sql_query\":\"SHOW TABLES\",\"schema\":[{\"columnName\":\"Tables_in_ip-to-country\",\"columnType\":\"longtext\"}],\"rows\":[{\"Tables_in_ip-to-country\":\"IPv4ToCountry\"},{\"Tables_in_ip-to-country\":\"IPv6ToCountry\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"hx66bs8c9m9p\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 639,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
