{
  "log": {
    "_recordingName": "polymarket/gamma-search",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "876ca0fcf2c8ac2026ac96715842c6b5",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "trump"
            },
            {
              "name": "limit_per_type",
              "value": "2"
            }
          ],
          "url": "https://gamma-api.polymarket.com/public-search?q=trump&limit_per_type=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 98087,
            "text": "{\"events\":[{\"id\":\"372242\",\"ticker\":\"trump-announces-us-blockade-of-hormuz-lifted-by\",\"slug\":\"trump-announces-us-blockade-of-hormuz-lifted-by\",\"title\":\"Trump announces US blockade of Hormuz lifted by...?\",\"description\":\"On April 12, 2026, President Donald Trump announced that the United States will blockade the Strait of Hormuz. You can read more about that here: https://www.nbcnews.com/world/iran/live-blog/live-updates-us-iran-fail-reach-deal-peace-talks-day-negotiations-rcna315918.\\n\\nThis market will resolve to \\\"Yes\\\" if President Trump, the US government, or the US military publicly and officially announces the end of the United States blockade of the Strait of Hormuz by the specified date, 11:59 P[...]
