{
  "log": {
    "_recordingName": "kie/wan-27-videoedit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "de4966238a0be6a7bb1b952c02dedcf1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/2-7-videoedit\",\"input\":{\"prompt\":\"Make the scene look like a watercolor painting.\",\"negative_prompt\":\"low resolution, errors, worst quality, low quality, malformed\",\"video_url\":\"https://static.aiquickdraw.com/tools/example/1767525918769_QyvTNib2.mp4\",\"resolution\":\"720p\",\"duration\":0,\"audio_setting\":\"auto\",\"prompt_extend\":true,\"watermark\":false,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"9c0e61b8de7fa89799171e1e2f654173\",\"recordId\":\"9c0e61b8de7fa89799171e1e2f654173\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 662,
      },
      {
        "_id": "82fef493676b6261eb2722e5c34b5849",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "9c0e61b8de7fa89799171e1e2f654173"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=9c0e61b8de7fa89799171e1e2f654173"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 724,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"9c0e61b8de7fa89799171e1e2f654173\",\"model\":\"wan/2-7-videoedit\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":0,\\\\\\\"audio_setting\\\\\\\":\\\\\\\"auto\\\\\\\",\\\\\\\"video_url\\\\\\\":\\\\\\\"https://static.aiquickdraw.com/tools/example/1767525918769_QyvTNib2.mp4\\\\\\\",\\\\\\\"watermark\\\\\\\":false,\\\\\\\"negative_prompt\\\\\\\":\\\\\\\"low resolution, errors, worst quality, low quality, malformed\\\\\\\",\\\\\\\"prompt_extend\\\\\\\":true,\\\\\\\"prompt\\\\\\\":\\\\\\\"Make the scene look like a watercolor painting.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"wan/2-7-videoedit\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775650102769}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 227,
      },
      {
        "_id": "82fef493676b6261eb2722e5c34b5849",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
