{
  "log": {
    "_recordingName": "kie/wan-27-videoedit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"jump.mp4\",\"contentType\":\"video/mp4\",\"size\":1318021},\"uploadPath\":\"videos/test-uploads\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 397,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1775797961164-747gef84jjp.mp4\",\"filePath\":\"kieai/136592/videos/test-uploads/1775797961164-747gef84jjp.mp4\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/videos/test-uploads/1775797961164-747gef84jjp.mp4\",\"fileSize\":1318021,\"mimeType\":\"video/mp4\",\"uploadedAt\":\"2026-04-10T05:12:41.544Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1506,
      },
      {
        "_id": "b84eba754c9d6b0b273f113524fccc6c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/2-7-videoedit\",\"input\":{\"prompt\":\"Make the scene look like a watercolor painting.\",\"negative_prompt\":\"low resolution, errors, worst quality, low quality, malformed\",\"video_url\":\"https://tempfile.redpandaai.co/kieai/136592/videos/test-uploads/1775797961164-747gef84jjp.mp4\",\"resolution\":\"720p\",\"duration\":0,\"audio_setting\":\"auto\",\"prompt_extend\":true,\"watermark\":false,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"10c49df4c5cbff96a88a9fcd8386153d\",\"recordId\":\"10c49df4c5cbff96a88a9fcd8386153d\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 758,
      },
      {
        "_id": "fb70ac4b2878c416f1a0fa05a5251480",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "10c49df4c5cbff96a88a9fcd8386153d"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=10c49df4c5cbff96a88a9fcd8386153d"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 746,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"10c49df4c5cbff96a88a9fcd8386153d\",\"model\":\"wan/2-7-videoedit\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":0,\\\\\\\"audio_setting\\\\\\\":\\\\\\\"auto\\\\\\\",\\\\\\\"video_url\\\\\\\":\\\\\\\"https://tempfile.redpandaai.co/kieai/136592/videos/test-uploads/1775797961164-747gef84jjp.mp4\\\\\\\",\\\\\\\"watermark\\\\\\\":false,\\\\\\\"negative_prompt\\\\\\\":\\\\\\\"low resolution, errors, worst quality, low quality, malformed\\\\\\\",\\\\\\\"prompt_extend\\\\\\\":true,\\\\\\\"prompt\\\\\\\":\\\\\\\"Make the scene look like a watercolor painting.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"wan/2-7-videoedit\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775797962562}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 283,
      },
      {
        "_id": "fb70ac4b2878c416f1a0fa05a5251480",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
          [...]
