{
  "log": {
    "_recordingName": "fal/storage-upload-initiate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "74df11c76fff106fe1bb0649fa8223e6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"file_name\":\"cat1.jpg\",\"content_type\":\"image/jpeg\"}"
          },
          "queryString": [
            {
              "name": "storage_type",
              "value": "fal-cdn-v3"
            }
          ],
          "url": "https://rest.fal.ai/storage/upload/initiate?storage_type=fal-cdn-v3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 196,
            "text": "{\"file_url\":\"https://v3b.fal.media/files/b/0a96d564/QR9a1l-E0UuoR6zOHUMlX_cat1.jpg\",\"upload_url\":\"https://v3b.fal.media/files/b/0a96d564/QR9a1l-E0UuoR6zOHUMlX_cat1.jpg?signature=sSuEGT8_YUkTYVRc\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 862,
      },
      {
        "_id": "584b053bb094c0335922795deecc8fb5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "image/jpeg"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "image/jpeg",
            "params": []
          },
          "queryString": [
            {
              "name": "signature",
              "value": "sSuEGT8_YUkTYVRc"
            }
          ],
          "url": "https://v3b.fal.media/files/b/0a96d564/QR9a1l-E0UuoR6zOHUMlX_cat1.jpg?signature=sSuEGT8_YUkTYVRc"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-fal-backend-id",
              "value": "eccf1d21fe8e617c00be7ffe1cbfb780"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 970,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
