{
  "log": {
    "_recordingName": "fal/microsoft-mai-image-2-5-pro",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3dd9707cc607b121597202ab86fec0ce",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red balloon.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/microsoft/mai-image-2.5-pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 233,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad87a2/oO4JGMjWR-Kqa-gqqtsPb_UQv3yqR3.png\",\"content_type\":\"image/png\",\"file_name\":\"oO4JGMjWR-Kqa-gqqtsPb_UQv3yqR3.png\",\"file_size\":null,\"width\":null,\"height\":null}],\"description\":\"\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.1107"
            },
            {
              "name": "x-fal-served-from",
              "value": "d5a4e363-8f54-48c2-a02c-e98480ee0d1c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 31602,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
