{
  "log": {
    "_recordingName": "fal/flux-3-edit-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "642d703a0771b0020603f277e48289bc",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Restyle the image as a watercolor painting while preserving the composition.\",\"image_urls\":[\"https://storage.googleapis.com/falserverless/example_inputs/flux2_pro_edit_input.png\"],\"resolution\":\"1k\",\"aspect_ratio\":\"1:1\"}"
          },
          "queryString": [],
          "url": "https://fal.run/blackforestlabs/flux-3/edit-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 217,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad2348/jNL_tkc1CEGvG2cj8afcM_UMUCxY9J.jpg\",\"content_type\":\"image/jpeg\",\"file_name\":\"jNL_tkc1CEGvG2cj8afcM_UMUCxY9J.jpg\",\"file_size\":null,\"width\":1024,\"height\":1024}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-served-from",
              "value": "8bf4dd8c-6621-4415-980c-da5668b91c88"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 30912,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
