{
  "log": {
    "_recordingName": "fal/minimax-h3-max-extend-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "903012e9b30e3a2e972dc7f484011c73",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"video_url\":\"https://storage.googleapis.com/falserverless/example_inputs/flux-3-red-panda.mp4\",\"prompt\":\"The red panda keeps walking along the log, then looks up at a bird.\",\"duration\":1,\"resolution\":\"480P\",\"output\":\"continuation\",\"enable_prompt_expansion\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/h3-max/extend-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1155,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad6608/HR5__HIctG7-ty9o1lZj6_minimax-h3.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"HR5__HIctG7-ty9o1lZj6_minimax-h3.mp4\",\"file_size\":949504},\"checkpoint\":{\"url\":\"https://v3b.fal.media/files/b/0aad6608/SMyKrvGy6dTkPGjbuROfa_minimax-h3-av-checkpoint.safetensors\",\"sha256\":\"5599271dbd023671a815b36949d3954e283b1c1929d76229265e95770709554d\",\"size_bytes\":942360,\"version\":1,\"model\":\"minimax-h3\",\"transformer_family\":\"ref2va-tdm-k10\",\"encoded_reference_images\":[],\"loras\":[],\"resolution\":\"480p\",\"checkpoint_id\":\"469d91f3c45bdb24fa6c376d2e852ac0\",\"owner_id\":\"e41da255d3ac92a9583ad4601ebb1dddd3b78b750f9fde7cddcfff47a168900a\",\"source_request_id\":\"01a11561-a97d-7281-b34d-16a08d42dbcd\",\"issued_at\":1791360099,\"expires_at\":1791446499,\"audience\":\"minimax-h3/continue-video\",\"signature\":\"***\"},\"seed\":1358656206,\"frame_count\":73,\"duration\":3.042,\"source\":{\"width\":864,\"height\":480,\"fps\":24.0,\"duration\":10.041667,\"frame_count\":241,\"has_audio\":true},\"expanded_prompt\":null,\"timings\":{\"fetch\":0.844,\"video_moderation\":1.766,\"generation\":13.004,\"source_encode\":2.768,\"denoising\":2.582,\"safety_wait\":0.0,\"total\":15.617}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "73d1a73f-46c1-4edc-a10e-4c6c845dadc9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 16159,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
