{
  "log": {
    "_recordingName": "fal/wan3p0-prime-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ba15bf70d56bd3f5e88dc5914d0d8bd6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red panda walks slowly through a bamboo forest at sunrise, cinematic close-up.\",\"resolution\":\"480p\",\"aspect_ratio\":\"1:1\",\"duration\":2,\"audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/alibaba/wan-3.0-prime/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 309,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa7b517/tp6_fKxICJROlv8loSe30_QXjt9hvS.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"tp6_fKxICJROlv8loSe30_QXjt9hvS.mp4\",\"file_size\":2969612,\"width\":624,\"height\":624,\"fps\":30.0,\"duration\":2.0,\"num_frames\":60},\"seed\":599120169,\"duration\":2.0,\"actual_prompt\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "2.72"
            },
            {
              "name": "x-fal-served-from",
              "value": "b5e7f2d6-8deb-4719-827f-4ecc68bd95bc"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 100526,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
