{
  "log": {
    "_recordingName": "kie/models-price",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "88395763e4775fa3f8446891e3b9c013",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/models/kling/v2-1-master-text-to-video/price"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 314,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"model\":\"kling/v2-1-master-text-to-video\",\"pricingDesc\":\"A 5-second video costs 160 credits ($0.80), and a 10-second video costs 320 credits ($1.60).\\nHigh-tier top-ups (+10% bonus) bring effective pricing down to ~$0.72 for a 5-second video and ~$1.44 for a 10-second video.\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 189,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
