{
  "log": {
    "_recordingName": "simplefunctions/public-search-fed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6370912f526ec174f81d64a369275ffd",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "fed"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ],
          "url": "https://simplefunctions.dev/api/public/search?q=fed&limit=3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1303,
            "text": "{\"results\":[{\"id\":\"topic:fed-rate\",\"type\":\"topic\",\"title\":\"Fed Rate Decisions\",\"href\":\"/predictions/fed-rate\",\"description\":\"Live prediction market odds for Federal Reserve rate decisions. Track FOMC meeting outcomes, rate cut probability, and inflation expectations...\",\"badge\":\"Topic\",\"score\":168},{\"id\":\"prediction:fed-rate:fed-chair-transition-nears-certainty-markets-bet-against-rate-cuts-0b3678\",\"type\":\"prediction\",\"title\":\"Fed Chair Transition Nears Certainty, Markets Bet Against Rate Cuts\",\"href\":\"/predictions/fed-rate/fed-chair-transition-nears-certainty-markets-bet-against-rate-cuts-0b3678\",\"description\":\"Markets fully price Kevin Warsh as next Fed Chair (100¢) and just 2% chance of a June rate cut. With CPI at 4.0% and recession odds at 17%, t...\",\"badge\":\"Dispatch\",\"meta\":\"fed-rate\",\"score\":164},{\"id\":\"prediction:fed-rate:fed-hawks-soar-zero-rate-cuts-in-2026-becomes-base-case-185652\",\"type\":\"prediction\",\"title\":\"Fed Hawks Soar: Zero Rate Cuts in 2026 Becomes Base Case\",\"href\":\"/predictions/fed-rate/fed-hawks-soar-zero-rate-cuts-in-2026-becomes-base-case-185652\",\"description\":\"The probability of no Fed rate cuts in 2026 jumped 12¢ to 81¢ after stronger-than-expected payrolls and hawkish FOMC minutes, overturning ear...\",\"badge\":\"Dispatc[...]
