{
  "log": {
    "_recordingName": "fal/flux-3-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ad41af001581810adcab68a431c88f9f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red fox leaping over a stream in a pine forest, watercolor illustration.\",\"resolution\":\"1k\",\"aspect_ratio\":\"1:1\"}"
          },
          "queryString": [],
          "url": "https://fal.run/blackforestlabs/flux-3/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 217,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad2359/uQSw0Qct5BijONNmkiUhL_FT59l5sO.jpg\",\"content_type\":\"image/jpeg\",\"file_name\":\"uQSw0Qct5BijONNmkiUhL_FT59l5sO.jpg\",\"file_size\":null,\"width\":1024,\"height\":1024}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-served-from",
              "value": "8bf4dd8c-6621-4415-980c-da5668b91c88"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 27647,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
