{
  "log": {
    "_recordingName": "polymarket/gamma-series-list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9fc6621c1e438db2f7803a56a4ab6f19",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://gamma-api.polymarket.com/series?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 6823,
            "text": "[{\"id\":\"10978\",\"ticker\":\"canada-unemployment\",\"slug\":\"canada-unemployment\",\"title\":\"canada unemployment\",\"seriesType\":\"single\",\"recurrence\":\"monthly\",\"image\":\"\",\"icon\":\"\",\"active\":true,\"closed\":false,\"archived\":false,\"createdAt\":\"2026-01-27T16:45:45.133191Z\",\"updatedAt\":\"2026-05-06T04:54:38.26633Z\",\"events\":[{\"id\":\"190513\",\"ticker\":\"january-unemployment-rate-canada\",\"slug\":\"january-unemployment-rate-canada\",\"title\":\"January Unemployment Rate - Canada\",\"description\":\"This market will resolve according to the seasonally adjusted unemployment rate (15 years and over, total) reported by Statistics Canada in the Labour Force Survey for January 2026.\\n\\nThe resolution source for this market is the Labor Force Survey, published by Statistics Canada every month at https://www150.statcan.gc.ca/n1/dai-quo/cal1-eng.htm.\\n\\nThe next data release is scheduled for February 6, 2026. This market will resolve as soon as the relevant data is issued. Any revisions to the data after the first release will not count toward this market's resolution.\\n\\nIf no data for the specified month is released by the date the next month's data is scheduled to be released, this market will resolve based on data from the last available month.\\n\\nNote: the resolution source for this market reports unemployment to one decimal point. Thus, this is the level of precision that will be used when resolving the market.\",\"resolutionSource\":\"\",\"startDate\":\"2026-01-27T22:43:11.378457Z\",\"creationDate\":\"2026-01-27T22:43:11.378449Z\",\"endDate\":\"2026-02-06T00:00:00Z\",\"image\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/november-unemployment-rate-canada-RfP4kAPl7f70.jpg\",\"icon\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/november-unemployment-rate-canada-RfP4kAPl7f70.jpg\",\"active\":true,\"closed\":true,\"archived\":false,\"new\":false,\"featured\":false,\"restricted\":true,\"volume\":2882.040583,\"openInterest\":0,\"createdAt\":\"2026-01-27T16:49:55.806944Z\",\"updatedAt\":\"2026-02-07T16:24:04.106678Z\",\"volume1wk\":2798.95385,\"volume1mo\":2882.040583,\"volume1yr\":2882.040583,\"enableOrderBook\":true,\"negRisk\":true,\"negRiskMarketID\":\"0xb2c75d8814442aaea118744a917e087ab329441ca858437cff73db364ffd3100\",\"commentCount\":0,\"tags\":[{\"id\":\"245\",\"label\":\"Canada\",\"slug\":\"canada\",\"forceShow\":false,\"publishedAt\":\"2023-11-02 21:42:24.942+00\",\"createdAt\":\"2023-11-02T21:42:24.949Z\",\"updatedAt\":\"2026-04-17T17:21:50.970781Z\",\"requiresTranslation\":false},{\"id\":\"102000\",\"label\":\"Macro Indicators\",\"slug\":\"macro-indicators\",\"forceShow\":false,\"createdAt\":\"2025-03-26T21:57:53.430333Z\",\"updatedAt\":\"2026-04-17T17:16:07.641202Z\",\"requiresTranslation\":false},{\"id\":\"100328\",\"label\":\"Economy\",\"slug\":\"economy\",\"forceShow\":false,\"createdAt\":\"2024-08-05T05:34:54.235643Z\",\"updatedAt\":\"2026-04-17T20:29:06.948273Z\",\"requiresTranslation\":false},{\"id\":\"545\",\"label\":\"employment\",\"slug\":\"employment\",\"publishedAt\":\"2023-11-18 06:35:39.053+00\",\"createdAt\":\"2023-11-18T06:35:39.073Z\",\"updatedAt\":\"2026-04-15T20:44:20.371145Z\",\"requiresTranslation\":false},{\"id\":\"993\",\"label\":\"jobs\",\"slug\":\"jobs\",\"publishedAt\":\"2024-02-06 19:25:36.946+00\",\"createdAt\":\"2024-02-06T19:25:36.956Z\",\"updatedAt\":\"2026-04-17T20:39:14.227278Z\",\"requiresTranslation\":false}],\"cyom\":false,\"closedTime\":\"2026-02-06T17:06:15Z\",\"showAllOutcomes\":true,\"showMarketImages\":false,\"automaticallyResolved\":true,\"enableNegRisk\":true,\"automaticallyActive\":true,\"seriesSlug\":\"canada-unemployment\",\"gmpChartMode\":\"default\",\"negRiskAugmented\":false,\"pendingDeployment\":false,\"deploying\":false,\"deployingTimestamp\":\"2026-01-27T22:38:10.973219Z\",\"requiresTranslation\":false},{\"id\":\"203482\",\"ticker\":\"february-unemployment-rate-canada\",\"slug\":\"february-unemployment-rate-canada\",\"title\":\"February Unemployment Rate - Canada\",\"description\":\"This market will resolve according to the seasonally adjusted unemployment rate (15 years and over, total) reported by Statistics Canada in the Labour Force Survey for February 2026.\\n\\nThe resolution source for this market is the Labour Force Survey, [...]
