{
  "log": {
    "_recordingName": "kie/gpt4o-image/download-url-not-found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2f30d4b43e9f3896fe161f5339f6c8da",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"taskId\":\"apicity-test-nonexistent-task-id-do-not-record-real\",\"url\":\"https://tempfile.aiquickdraw.com/v/apicity-test-nonexistent.png\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/gpt4o-image/download-url"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 47,
            "text": "{\"code\":422,\"msg\":\"record is null\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 459,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
