{
  "log": {
    "_recordingName": "fal/nano-banana-2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d8fc0e13798ead8eeed8d833b327e81c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"An action shot of a black lab swimming in an inground suburban swimming pool.\",\"num_images\":1,\"aspect_ratio\":\"1:1\",\"output_format\":\"png\",\"safety_tolerance\":\"4\",\"resolution\":\"1K\"}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/nano-banana-2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 233,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a96bc6a/jwlrNShpvFHug6dpaMoMH_4DwxergF.png\",\"content_type\":\"image/png\",\"file_name\":\"jwlrNShpvFHug6dpaMoMH_4DwxergF.png\",\"file_size\":null,\"width\":null,\"height\":null}],\"description\":\"\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1.0"
            },
            {
              "name": "x-fal-request-id",
              "value": "019da01f-f018-7f12-8eb9-fa99aca24ab1"
            },
            {
              "name": "x-fal-served-from",
              "value": "a202580d-3709-4fc5-86ff-ebb4ecca70d9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 23243,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
