{
  "log": {
    "_recordingName": "kie/file-uploads/url",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a5b2046838c2dd06525fe72ffb9c310c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"fileUrl\":\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\",\"uploadPath\":\"images/test-uploads\",\"fileName\":\"apicity-url-upload.png\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-url-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 375,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"apicity-url-upload.png\",\"filePath\":\"kieai/136592/images/test-uploads/apicity-url-upload.png\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/apicity-url-upload.png\",\"fileSize\":188328,\"mimeType\":\"image/png\",\"uploadedAt\":\"2026-10-01T07:46:53.882Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1251,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
