{
  "log": {
    "_recordingName": "fal/meshy-v7-1-image-to-3d",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7024401d72309688bc59a95c280a6eee",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"image_url\":\"https://v3b.fal.media/files/b/0a8b90e0/BFLE9VDlZqsryU-UA3BoD_image_004.png\"}"
          },
          "queryString": [],
          "url": "https://fal.run/meshy/v7.1/image-to-3d"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1607,
            "text": "{\"animation_glb\":null,\"animation_fbx\":null,\"model_glb\":{\"url\":\"https://v3b.fal.media/files/b/0aad25bb/luX6KjuJm1cM3bl6Qsdn7_model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":6253300},\"thumbnail\":{\"url\":\"https://v3b.fal.media/files/b/0aad25be/XJ4e7L1RM2WejGcDD3L9A_preview.png\",\"content_type\":\"image/png\",\"file_name\":\"preview.png\",\"file_size\":193084},\"model_urls\":{\"glb\":{\"url\":\"https://v3b.fal.media/files/b/0aad25bb/luX6KjuJm1cM3bl6Qsdn7_model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":6253300},\"fbx\":{\"url\":\"https://v3b.fal.media/files/b/0aad25bc/LtykC92Adc6z3yiiqFdxG_model.fbx\",\"content_type\":\"application/octet-stream\",\"file_name\":\"model.fbx\",\"file_size\":5728172},\"obj\":{\"url\":\"https://v3b.fal.media/files/b/0aad25bd/xQZRjKJYhrVawotOPDswa_model.obj\",\"content_type\":\"text/plain\",\"file_name\":\"model.obj\",\"file_size\":3676153},\"usdz\":{\"url\":\"https://v3b.fal.media/files/b/0aad25bc/cgCCWags53sHIdRsu9amt_model.usdz\",\"content_type\":\"model/vnd.usdz+zip\",\"file_name\":\"model.usdz\",\"file_size\":6837148},\"blend\":null,\"stl\":{\"url\":\"https://v3b.fal.media/files/b/0aad25bd/D8TiwmmRs7gTWrpdFLaRu_model.stl\",\"content_type\":\"application/octet-stream\",\"file_name\":\"model.stl\",\"file_size\":1529734}},\"texture_urls\":[{\"base_color\":{\"url\":\"https://v3b.fal.media/files/b/0aad25bf/vYb9K0ESsLAoq8A0_iNJP_texture_0.png\",\"content_type\":\"image/png\",\"file_name\":\"texture_0.png\",\"file_size\":5597978},\"metallic\":null,\"normal\":null,\"roughness\":null}],\"seed\":2135828480,\"rigged_character_glb\":null,\"rigged_character_fbx\":null,\"basic_animations\":null,\"rig_task_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1.5"
            },
            {
              "name": "x-fal-served-from",
              "value": "da532b79-0715-48e1-8e25-b3bb47d4908c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 162624,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
