{
  "log": {
    "_recordingName": "binance/reference-price",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "535d56e8eb836afdf4a73981379ce6e0",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            }
          ],
          "url": "https://api.binance.com/api/v3/referencePrice?symbol=BTCUSDT"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 80,
            "text": "{\"symbol\":\"BTCUSDT\",\"referencePrice\":\"63830.66741327\",\"timestamp\":1780928133004}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "2"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "2"
            },
            {
              "name": "x-mbx-uuid",
              "value": "360d189b-0105-4027-bb50-a57a41849d90"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 526,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
