{
  "log": {
    "_recordingName": "polymarket/gamma-tags-related-by-id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "72a8bc7fe816528fecd60fbf5577adcb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://gamma-api.polymarket.com/tags/2/related-tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1272,
            "text": "[{\"id\":\"34872\",\"tagID\":2,\"relatedTagID\":126,\"rank\":1},{\"id\":\"34873\",\"tagID\":2,\"relatedTagID\":104776,\"rank\":2},{\"id\":\"34874\",\"tagID\":2,\"relatedTagID\":102289,\"rank\":3},{\"id\":\"34875\",\"tagID\":2,\"relatedTagID\":1597,\"rank\":4},{\"id\":\"34876\",\"tagID\":2,\"relatedTagID\":264,\"rank\":5},{\"id\":\"34877\",\"tagID\":2,\"relatedTagID\":514,\"rank\":6},{\"id\":\"34878\",\"tagID\":2,\"relatedTagID\":101193,\"rank\":7},{\"id\":\"34879\",\"tagID\":2,\"relatedTagID\":1628,\"rank\":8},{\"id\":\"34880\",\"tagID\":2,\"relatedTagID\[...]
