{
  "log": {
    "_recordingName": "fal/google-gemini-omni-flash-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1c44ce3bb22f422da31573311376a745",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The dog turns its head and wags its tail in warm sunlight.\",\"image_url\":\"https://storage.googleapis.com/falserverless/example_inputs/dog.png\",\"aspect_ratio\":\"16:9\",\"duration\":3}"
          },
          "queryString": [],
          "url": "https://fal.run/google/gemini-omni-flash/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 214,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa82436/15gB9oWYPtyHUIkqS2Z8-_6bfbdf5676734be18e34880f684497aa.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"6bfbdf5676734be18e34880f684497aa.mp4\",\"file_size\":658891}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.386914"
            },
            {
              "name": "x-fal-served-from",
              "value": "d0c40e0d-7a0d-451c-a609-a95719043e2d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 48580,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
