{
  "log": {
    "_recordingName": "fal/gpt-image-1.5",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "53c12c435aa223b0cbef544326964849",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"An action shot of a black lab swimming in an inground suburban swimming pool.\",\"num_images\":1,\"image_size\":\"1024x1024\",\"output_format\":\"png\",\"quality\":\"low\"}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/gpt-image-1.5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 216,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a96bd52/zbFgN9Ij_yIi8tc5GjjZ8_JeEe9bn6.png\",\"content_type\":\"image/png\",\"file_name\":\"zbFgN9Ij_yIi8tc5GjjZ8_JeEe9bn6.png\",\"file_size\":null,\"width\":null,\"height\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.02"
            },
            {
              "name": "x-fal-request-id",
              "value": "019da043-7550-7c93-acec-a90b1279aeae"
            },
            {
              "name": "x-fal-served-from",
              "value": "ad97821b-7fd4-40ee-8bfa-8fc147e988ec"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 12997,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
