{
  "log": {
    "_recordingName": "fal/bytedance-seedream-v5-pro-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "aa4bdb5fa1586832cc3eeae340f30ae0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Change the background to a snowy forest clearing at golden hour\",\"image_urls\":[\"https://storage.googleapis.com/falserverless/example_inputs/seedreamv45/seedream_v45_edit_input_1.png\"],\"image_size\":\"square_hd\",\"num_images\":1,\"output_format\":\"jpeg\"}"
          },
          "queryString": [],
          "url": "https://fal.run/bytedance/seedream/v5/pro/edit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 245,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aa822a2/cswQRMb_uOxtWqcCrJMgz_8205498d323044228eb19ab3a58d9848.jpg\",\"content_type\":\"image/jpeg\",\"file_name\":\"8205498d323044228eb19ab3a58d9848.jpg\",\"file_size\":628705,\"width\":null,\"height\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "2.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "fb16ad16-fad1-4692-9a2b-682ffb15eded"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 127980,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
