{
  "log": {
    "_recordingName": "binance/reference-price-calculation",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b5bcdeefe9296bc66d8b380b0b916d0a",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            }
          ],
          "url": "https://api.binance.com/api/v3/referencePrice/calculation?symbol=BTCUSDT"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 94,
            "text": "{\"symbol\":\"BTCUSDT\",\"calculationType\":\"ARITHMETIC_MEAN\",\"bucketCount\":80,\"bucketWidthMs\":3750}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "2"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "2"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 568,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
