{
  "log": {
    "_recordingName": "fal/google-gemini-omni-flash-v1-1-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d7970417ae52aae250015c97b141f2f1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The dog turns its head and wags its tail in warm sunlight.\",\"image_url\":\"https://storage.googleapis.com/falserverless/example_inputs/dog.png\",\"resolution\":\"360p\",\"duration\":3}"
          },
          "queryString": [],
          "url": "https://fal.run/google/gemini-omni-flash/v1.1/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 214,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad81a4/ndiBNCq1DGC9XVNv-eBWf_519a113092f4453daf3dc83eb033ec53.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"519a113092f4453daf3dc83eb033ec53.mp4\",\"file_size\":387968}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "3.008"
            },
            {
              "name": "x-fal-served-from",
              "value": "b1a5d5e5-4fde-464d-a2ea-49d79a094fec"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 21505,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
