{
  "log": {
    "_recordingName": "kie/wan-27-image-explicit-resolution",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b5f90e0523a3c8e5011ff4ab7d954bd1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/2-7-image\",\"input\":{\"prompt\":\"A paper-cut night garden with silver leaves and warm lanterns.\",\"aspect_ratio\":\"16:9\",\"resolution\":\"2K\",\"n\":1}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"58c9785b55e7be8dc8a8f4ddd8965f4f\",\"recordId\":\"58c9785b55e7be8dc8a8f4ddd8965f4f\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 396,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
