{
  "log": {
    "_recordingName": "fal/google-gemini-omni-flash-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9ff448e3f4e6259bd389e57c8fd3501a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Make this video anime. Keep everything else the same.\",\"video_url\":\"https://storage.googleapis.com/falserverless/model_tests/video_models/mmaudio_input.mp4\"}"
          },
          "queryString": [],
          "url": "https://fal.run/google/gemini-omni-flash/edit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 215,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa823b0/PLkuXmrrDcxCMYqLGYGYD_7356bf2d0bc94631b129a341c05b33aa.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"7356bf2d0bc94631b129a341c05b33aa.mp4\",\"file_size\":1319635}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.689422"
            },
            {
              "name": "x-fal-served-from",
              "value": "df9e765f-9b3f-4315-b1b9-d951d5010d9b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 96142,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
