{
  "log": {
    "_recordingName": "polymarket/clob-price",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7195b73fa800db8bc54e45e38a685290",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "token_id",
              "value": "78433024518676680431174478322854148606578065650008220678402966840627347604025"
            },
            {
              "name": "side",
              "value": "BUY"
            }
          ],
          "url": "https://clob.polymarket.com/price?token_id=78433024518676680431174478322854148606578065650008220678402966840627347604025&side=BUY"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 17,
            "text": "{\"price\":\"0.16\"}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 334,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
