{
  "log": {
    "_recordingName": "elevenlabs/pvc-voice-create",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fcaf2c37f62c097efa495cf802b3fb17",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Apicity PVC route test\",\"language\":\"en\",\"description\":null,\"labels\":{\"language\":\"en\",\"accent\":\"en-US\"}}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/voices/pvc"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 67,
            "text": "{\"detail\":{\"status\":\"invalid_api_key\",\"message\":\"Invalid API key\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-trace-id",
              "value": "e97e7d657037645f325b5fdf0bd9bad0"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 662,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
