{
  "log": {
    "_recordingName": "elevenlabs/pvc-voice-create",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fcaf2c37f62c097efa495cf802b3fb17",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Apicity PVC route test\",\"language\":\"en\",\"description\":null,\"labels\":{\"language\":\"en\",\"accent\":\"en-US\"}}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/voices/pvc"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 35,
            "text": "{\"voice_id\":\"OZfTqYjY5FLmQ2QmNZVk\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-trace-id",
              "value": "b7ccfa3c68b749344b2d9c0f7e3745e2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2918,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
