{
  "log": {
    "_recordingName": "fal/bria-fibo-edit-1-5-virtual-try-on",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e1d8c9c2c9693381bcb7e4d5fb10eafc",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"person_image_url\":\"https://labs-assets.bria.ai/fal-examples/fibo-edit-1.5/virtual-try-on/person.jpg\",\"garment_image_urls\":[\"https://labs-assets.bria.ai/fal-examples/fibo-edit-1.5/virtual-try-on/garment-1.jpg\"]}"
          },
          "queryString": [],
          "url": "https://fal.run/bria/fibo-edit-1.5/virtual-try-on"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3440,
            "text": "{\"image\":{\"url\":\"https://v3b.fal.media/files/b/0aad2621/3DuV2s5mHHXMITfaOYw0w_a3adf4bffe944cb9b934024df392b744.png\",\"content_type\":\"image/png\",\"file_name\":\"a3adf4bffe944cb9b934024df392b744.png\",\"file_size\":1107783,\"width\":752,\"height\":1360},\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad2621/3DuV2s5mHHXMITfaOYw0w_a3adf4bffe944cb9b934024df392b744.png\"}],\"structured_instruction\":{\"short_description\":\"A full-body shot of a young man standing against a plain grey wall, wearing a white crew-neck t-shirt, blue jeans, white sneakers, and a dark navy blazer. His hands are in his pockets, and he looks directly at the viewer with a neutral expression. The lighting is even, highlighting the textures of his clothing.\",\"objects\":[{\"description\":\"A young man with short, dark brown hair, standing upright with a neutral expression. He is wearing a white crew-neck t-shirt, blue jeans, and white sneakers. His hands are casually placed in his pockets.\",\"location\":\"center\",\"relationship\":\"The central subject of the image, wearing the blazer, t-shirt, jeans, and sneakers.\",\"relative_size\":\"large within frame\",\"shape_and_color\":\"Human male figure, various colors for clothing.\",\"texture\":\"Smooth skin, cotton t-shirt, denim jeans, canvas sneakers.\",\"appearance_details\":\"Clean-shaven face, well-groomed hair.\",\"pose\":\"Standing upright, hands in pockets.\",\"expression\":\"Neutral, calm.\",\"clothing\":\"White crew-neck t-shirt, blue jeans, white sneakers, dark navy blazer.\",\"action\":\"Standing.\",\"gender\":\"male\",\"skin_tone_and_texture\":\"Fair skin, smooth texture.\",\"orientation\":\"Facing forward\"},{\"description\":\"A dark navy blue blazer with a single-button closure and two large patch pockets on the front. The fabric appears to be a cotton blend, giving it a slightly structured yet casual look.\",\"location\":\"upper body of the man\",\"relationship\":\"Worn over the white t-shirt by the man.\",\"relative_size\":\"medium within frame\",\"shape_and_color\":\"Rectangular shape when laid flat, dark navy blue.\",\"texture\":\"Smooth, slightly textured cotton blend.\",\"appearance_details\":\"Single-button closure, notched lapels, two large patch pockets.\",\"orientation\":\"Worn on the man's upper body\"}],\"background_setting\":\"A plain, light grey wall with a white baseboard at the bottom, providing a minimalist studio-like backdrop.\",\"lighting\":{\"conditions\":\"Even, soft studio lighting\",\"direction\":\"Front-lit\",\"shadows\":\"Minimal, soft shadows directly behind the man, indicating diffused light.\"},\"aesthetics\":{\"composition\":\"Centered, full-body shot, portrait composition.\",\"color_scheme\":\"Monochromatic grey background with white, blue, and dark navy clothing, creating a clean and simple palette.\",\"mood_atmosphere\":\"Clean, modern, casual, and straightforward.\",\"aesthetic_score\":\"very high\",\"preference_score\":\"very high\"},\"photographic_characteristics\":{\"depth_of_field\":\"Shallow, with the man in sharp focus and the background slightly blurred.\",\"focus\":\"Sharp focus on subject.\",\"camera_angle\":\"Eye-level\",\"lens_focal_length\":\"standard lens (e.g., 35mm-50mm)\"},\"style_medium\":\"photograph\",\"context\":\"This is a concept for a fashion e-commerce product photograph, showcasing a casual outfit on a male model.\",\"artistic_style\":\"realistic\",\"edit_instruction\":\"Integrate the dark navy blazer from <image_2> onto the person in <image_1>, layering it over their existing white t-shirt and ensuring all visual properties of the blazer are reproduced exactly.\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-served-from",
              "value": "848058ec-92d0-4764-8b5e-d75d2000d134"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 13629,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
