{
  "log": {
    "_recordingName": "fal/kling-video-o3p4k-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b1382552e0653ef0ded0ab633bbe7972",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A mecha lands on the ground to save the city, and says \\\"I'm here\\\", in anime style\",\"aspect_ratio\":\"16:9\",\"duration\":\"5\",\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/kling-video/o3/4k/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 164,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0a9786eb/DbhK2EnoslaS8A0wB666l_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":22683271}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "5.0"
            },
            {
              "name": "x-fal-request-id",
              "value": "019dbf05-06ff-7fb2-97b4-4a8cf007186b"
            },
            {
              "name": "x-fal-served-from",
              "value": "b30c6ab2-a779-4c0b-877b-c814ecc50534"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 90174,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
