{
  "log": {
    "_recordingName": "kie/wan-22-auxiliary-media/a14b-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b022f006c53f6d8921c6c136c489b235",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/2-2-a14b-image-to-video-turbo\",\"input\":{\"image_url\":\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\",\"prompt\":\"A cat looks toward the camera\",\"resolution\":\"480p\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"dfc6ba6004a42d88550a124f4eb1a227\",\"recordId\":\"dfc6ba6004a42d88550a124f4eb1a227\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 389,
      },
      {
        "_id": "60678b6707896c79f2a8d1766cce2b0e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "dfc6ba6004a42d88550a124f4eb1a227"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=dfc6ba6004a42d88550a124f4eb1a227"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 535,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"dfc6ba6004a42d88550a124f4eb1a227\",\"model\":\"wan/2-2-a14b-image-to-video-turbo\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"image_url\\\\\\\":\\\\\\\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A cat looks toward the camera\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\"}\\\",\\\"model\\\":\\\"wan/2-2-a14b-image-to-video-turbo\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1786514134845,\"creditsConsumed\":40.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 196,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
