{
  "log": {
    "_recordingName": "fal/bytedance-seedream-v5-pro-layerize",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c34f9d0f531f274b7f5e7a16ebb3279d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"image_url\":\"https://storage.googleapis.com/falserverless/example_inputs/kontext_example_input.webp\",\"image_size\":\"auto_1K\",\"enhance_prompt_mode\":\"fast\"}"
          },
          "queryString": [],
          "url": "https://fal.run/bytedance/seedream/v5/pro/layerize"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 8667,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aa81f10/M9Y4muWPtLADuE24cqX6i_55840a852695426ca47fc0575c678a6b.png\",\"content_type\":\"image/png\",\"file_name\":\"55840a852695426ca47fc0575c678a6b.png\",\"file_size\":1359455,\"width\":null,\"height\":null},{\"url\":\"https://v3b.fal.media/files/b/0aa81f10/HATPIySU3jsWu8d0xxMAG_86f6e1e4529d47299fa139076ef13c7f.png\",\"content_type\":\"image/png\",\"file_name\":\"86f6e1e4529d47299fa139076ef13c7f.png\",\"file_size\":816514,\"width\":null,\"height\":null},{\"url\":\"https://v3b.fal.media/files/b/0aa81f10/7J2-8LNK4gcdWQjPUe-in_b68625e4b89040e99eefa2e07bec321e.png\",\"content_type\":\"image/png\",\"file_name\":\"b68625e4b89040e99eefa2e07bec321e.png\",\"file_size\":1150953,\"width\":null,\"height\"[...]
