{
  "log": {
    "_recordingName": "kie/wan-27-image-pro",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "19d449ff35d40b269c6e44147c0af32b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/2-7-image-pro\",\"input\":{\"prompt\":\"A futuristic cityscape at night with neon lights reflecting off wet streets.\",\"n\":1,\"resolution\":\"2K\",\"aspect_ratio\":\"16:9\",\"enable_sequential\":false,\"thinking_mode\":false,\"watermark\":false,\"seed\":0,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"2b6f6ae7b49b32bb0df1ca75275dd387\",\"recordId\":\"2b6f6ae7b49b32bb0df1ca75275dd387\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 645,
      },
      {
        "_id": "21a1ddf07fc5870e3f4c610cc9dbc75b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "2b6f6ae7b49b32bb0df1ca75275dd387"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=2b6f6ae7b49b32bb0df1ca75275dd387"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 599,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"2b6f6ae7b49b32bb0df1ca75275dd387\",\"model\":\"wan/2-7-image-pro\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"watermark\\\\\\\":false,\\\\\\\"seed\\\\\\\":0,\\\\\\\"thinking_mode\\\\\\\":false,\\\\\\\"enable_sequential\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"A futuristic cityscape at night with neon lights reflecting off wet streets.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"2K\\\\\\\",\\\\\\\"n\\\\\\\":1,\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"wan/2-7-image-pro\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775650114837}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 227,
      },
      {
        "_id": "21a1ddf07fc5870e3f4c610cc9dbc75b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
