{
  "log": {
    "_recordingName": "kie/gpt-image-2-5-sunburst-image-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e4194377be33bfb0c86c2c6a52d54c10",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"gpt-image-2-5-sunburst-image-to-image\",\"input\":{\"prompt\":\"Place this product on a sunlit wooden table beside a window with sheer curtains, editorial catalogue style.\",\"input_urls\":[\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\"],\"aspect_ratio\":\"16:9\",\"resolution\":\"1K\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"542112e0e352302d8b4143734e14effb\",\"recordId\":\"542112e0e352302d8b4143734e14effb\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 325,
      },
      {
        "_id": "55fe69c3421de33d67891774fe43cf1c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "542112e0e352302d8b4143734e14effb"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=542112e0e352302d8b4143734e14effb"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1112,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"542112e0e352302d8b4143734e14effb\",\"model\":\"gpt-image-2-5-sunburst-image-to-image\",\"state\":\"generating\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"Place this product on a sunlit wooden table beside a window with sheer curtains, editorial catalogue style.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"input_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\\\\\\\"]}\\\",\\\"model\\\":\\\"gpt-image-2-5-sunburst-image-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1789126878172,\"creditsConsumed\":6.0,\"operationType\":\"gpt-image-2-5-sunburst-image-to-image\",\"successFlag\":0,\"paramJson\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"Place this product on a sunlit wooden table beside a window with sheer curtains, editorial catalogue style.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"input_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\\\\\\\"]}\\\",\\\"model\\\":\\\"gpt-image-2-5-sunburst-image-to-image\\\"}\"}}"
          },
          "headers": [
          [...]
