{
  "log": {
    "_recordingName": "fal/kling-video-v3-turbo-pro-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1f196b1bb8f4bdc7411aa44a45fc47ad",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A lioness and her cubs in warm grass, camera drifting closer.\",\"image_url\":\"https://v3b.fal.media/files/b/0a90dfd2/G1zBOgd-17yqZ-2S5TN4j_M3nzt3Sp.png\",\"duration\":\"3\"}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/kling-video/v3/turbo/pro/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 163,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad8654/t6WsysLjDdDg5wCcoAlfC_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":9046014}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "3"
            },
            {
              "name": "x-fal-served-from",
              "value": "70c69d45-d657-4c84-b653-c22fcd4ca0c0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 79035,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
