{
  "log": {
    "_recordingName": "simplefunctions/data-heartbeat",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d5a0a0327f923c6b06f39509446836da",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://data.simplefunctions.dev/v1/heartbeat"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 176,
            "text": "{\"generated_at\":1782054569,\"markets_tracked\":70607,\"top_volume_market\":\"pm:0x0189df05ed7bf84d799213b01a79571e305c03b2ac5359cfbb3a323448ba20fa\",\"uptime_s\":14606,\"ws_clients\":0}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-matched-path",
              "value": "/v1/[...path]"
            },
            {
              "name": "x-vercel-cache",
              "value": "MISS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::bk8n8-1782054568334-1a5ac0efce73"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1039,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
