{
  "log": {
    "_recordingName": "kie/models-success-rate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5ab13b154df44e67edbbe7230741e0ed",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/models/kling/v2-1-master-text-to-video/success-rate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 16506,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"model\":\"kling/v2-1-master-text-to-video\",\"points\":[{\"start\":\"2026-09-30T01:50:00Z\",\"end\":\"2026-09-30T02:00:00Z\",\"successRate\":null,\"errorRate\":null,\"isNormal\":true},{\"start\":\"2026-09-30T02:00:00Z\",\"end\":\"2026-09-30T02:10:00Z\",\"successRate\":null,\"errorRate\":null,\"isNormal\":true},{\"start\":\"2026-09-30T02:10:00Z\",\"end\":\"2026-09-30T02:20:00Z\",\"successRate\":null,\"errorRate\":null,\"isNormal\":true},{\"start\":\"2026-09-30T02:20:00Z\",\"end\":\"2026-09-30T02:30:00Z\",\"successRate\":null,\"errorRate\":null,\"isNormal\":true},{\"start\":\"2026-09-30T02:30:00Z\",\"end\":\"2026-09-30T02:40:00Z\",\"successRate\":null,\"errorRate\":null,\[...]
