{
  "log": {
    "_recordingName": "kie/elevenlabs/tts-turbo-submit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0493d177fadd9ad8340c710c455ddb81",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"elevenlabs/text-to-speech-turbo-2-5\",\"input\":{\"text\":\"Hello.\",\"voice\":\"Brian\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"240d5e3e834444ddd647d76df3caad11\",\"recordId\":\"240d5e3e834444ddd647d76df3caad11\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 486,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
