{
  "log": {
    "_recordingName": "fal/google-gemini-omni-flash",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "183a287d6ceb7d3aebf44844fe69e446",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A calico cat naps on a sunlit windowsill, purring softly.\",\"duration\":3}"
          },
          "queryString": [],
          "url": "https://fal.run/google/gemini-omni-flash"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 214,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa8233e/wr3yZteBVmeAj4D7_qY1Y_022abdf64b5d4d818613f6e22c3d8e47.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"022abdf64b5d4d818613f6e22c3d8e47.mp4\",\"file_size\":727156}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.382914"
            },
            {
              "name": "x-fal-served-from",
              "value": "66ae3adf-5b26-4dde-80fa-ede12b483708"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 46454,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
