{
  "log": {
    "_recordingName": "elevenlabs/convai-settings-secrets-env",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "48832ecfa4396163b6f5894ab231e11c",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/settings"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 332,
            "text": "{\"conversation_initiation_client_data_webhook\":null,\"webhooks\":{\"post_call_webhook_id\":null,\"events\":[\"transcript\"],\"transcript_format\":\"json\",\"send_audio\":null},\"can_use_mcp_servers\":false,\"rag_retention_period_days\":10,\"conversation_embedding_retention_days\":null,\"default_livekit_stack\":\"standard\",\"code_tool_allowed_domains\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 269,
      },
      {
        "_id": "32811627877551168c1293971c7d93c6",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/settings/dashboard"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 66,
            "text": "{\"charts\":[{\"name\":\"Overall success rate\",\"type\":\"call_success\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 188,
      },
      {
        "_id": "3e392a02a2cea6410bacf8e151f11aa8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"new\",\"name\":\"apicity_route_test_secret_ac292ev28\",\"value\":\"initial-secret-value\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/secrets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 97,
            "text": "{\"type\":\"stored\",\"secret_id\":\"IUBrRX1dPvkBh4qPbux7\",\"name\":\"apicity_route_test_secret_ac292ev28\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 210,
      },
      {
        "_id": "b875da779e98f962fc4a0b2b0960be1e",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/secrets/IUBrRX1dPvkBh4qPbux7"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 258,
            "text": "{\"type\":\"stored\",\"secret_id\":\"IUBrRX1dPvkBh4qPbux7\",\"name\":\"apicity_route_test_secret_ac292ev28\",\"used_by\":{\"tools\":[],\"tools_has_more\":false,\"agents\":[],\"agents_has_more\":false,\"phone_numbers\":[],\"phone_numbers_has_more\":false,\"mcp_servers\":[],\"others\":[]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 182,
      },
      {
        "_id": "e215f837b52463e7582012c2ff9e5fb7",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "30"
            },
            {
              "name": "dependency_limit",
              "value": "5"
            },
            {
              "name": "search",
              "value": "apicity_route_test_secret"
            }
          ],
          "url": "https://api.elevenlabs.io/v1/convai/secrets?page_size=30&dependency_limit=5&search=apicity_route_test_secret"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 291,
            "text": "{\"secrets\":[{\"type\":\"stored\",\"secret_id\":\"IUBrRX1dPvkBh4qPbux7\",\"name\":\"apicity_route_test_secret_ac292ev28\",\"used_by\":{\"tools\":[],\"tools_has_more\":false,\"agents\":[],\"agents_has_more\":false,\"phone_numbers\":[],\"phone_numbers_has_more\":false,\"mcp_servers\":[],\"others\":[]}}],\"next_cursor\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 202,
      },
      {
        "_id": "e873709b74e86921fa4e14c01a71735a",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "20"
            }
          ],
          "url": "https://api.elevenlabs.io/v1/convai/secrets/IUBrRX1dPvkBh4qPbux7/dependencies/tools?page_size=20"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38,
            "text": "{\"dependencies\":[],\"next_cursor\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 162,
      },
      {
        "_id": "743412d75e1d602032eab0681c550df3",
        "request": {
          "headers": [
            {
     [...]
