{
  "log": {
    "_recordingName": "kie/models-schema-auth-error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ab6b10d5d62c9addadb10278982488e0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/models/kling/v2-1-master-text-to-video/schema"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 141,
            "text": "{\"code\":401,\"msg\":\"Unauthorized – Authentication failed. Please check that your Authorization and Content-Type headers are correctly set.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 222,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
