{
  "log": {
    "_recordingName": "x/tweets-create",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "eb0ef5bcd9866db089c72f346b021db5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"text\":\"hello from @apicity/x\"}"
          },
          "queryString": [],
          "url": "https://api.x.com/2/tweets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 120,
            "text": "{\"data\":{\"text\":\"hello from @apicity/x\",\"edit_history_tweet_ids\":[\"2050121154971725965\"],\"id\":\"2050121154971725965\"}}"
          },
          ],
          "headers": [
            {
              "name": "api-version",
              "value": "2.162"
            },
            {
              "name": "content-disposition",
              "value": "attachment; filename=json.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "location",
              "value": "https://api.x.com/2/tweets/2050121154971725965"
            },
            {
              "name": "origin-cf-ray",
              "value": "9f4d34f269b77b48-SEA"
            },
            {
              "name": "perf",
              "value": "7402827104"
            },
            {
              "name": "x-access-level",
              "value": "read-write"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "100"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "99"
            },
            {
              "name": "x-rate-limit-reset",
              "value": "1777622847"
            },
            {
              "name": "x-response-time",
              "value": "109"
            },
            {
              "name": "x-transaction-id",
              "value": "42c9cd143451c968"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 530,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
