{
  "log": {
    "_recordingName": "kie/gemini-3-8-flash-lite-tts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ae09eda27d39142e421cb0f982dcefd9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"google/gemini-3-8-flash-lite-tts\",\"input\":{\"speakers\":[{\"speaker_id\":\"Speaker 1\",\"voice_name\":\"Fola\"}],\"dialogue_turns\":[{\"speaker_id\":\"Speaker 1\",\"text\":\"Hello from Apicity. Have a wonderful day.\",\"style\":\"Warm and friendly\"}]}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"2a83cb163db45e1d1c1b3e314beeb462\",\"recordId\":\"2a83cb163db45e1d1c1b3e314beeb462\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 241,
      },
      {
        "_id": "c6e5638c3d80b438011ff39513540681",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "2a83cb163db45e1d1c1b3e314beeb462"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=2a83cb163db45e1d1c1b3e314beeb462"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1182,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"2a83cb163db45e1d1c1b3e314beeb462\",\"model\":\"google/gemini-3-8-flash-lite-tts\",\"state\":\"generating\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"speakers\\\\\\\":[{\\\\\\\"speaker_id\\\\\\\":\\\\\\\"Speaker 1\\\\\\\",\\\\\\\"voice_name\\\\\\\":\\\\\\\"Fola\\\\\\\"}],\\\\\\\"model\\\\\\\":\\\\\\\"gemini-3.8-flash-lite-tts\\\\\\\",\\\\\\\"dialogue_turns\\\\\\\":[{\\\\\\\"speaker_id\\\\\\\":\\\\\\\"Speaker 1\\\\\\\",\\\\\\\"style\\\\\\\":\\\\\\\"Warm and friendly\\\\\\\",\\\\\\\"text\\\\\\\":\\\\\\\"Hello from Apicity. Have a wonderful day.\\\\\\\"}],\\\\\\\"dialogue_mode\\\\\\\":\\\\\\\"single\\\\\\\"}\\\",\\\"model\\\":\\\"google/gemini-3-8-flash-lite-tts\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1791187185851,\"creditsConsumed\":0.0,\"operationType\":\"google/gemini-3-8-flash-lite-tts\",\"successFlag\":0,\"paramJson\":\"{\\\"input\\\":\\\"{\\\\\\\"speakers\\\\\\\":[{\\\\\\\"speaker_id\\\\\\\":\\\\\\\"Speaker 1\\\\\\\",\\\\\\\"voice_name\\\\\\\":\\\\\\\"Fola\\\\\\\"}],\\\\\\\"model\\\\\\\":\\\\\\\"gemini-3.8-flash-lite-tts\\\\\\\",\\\\\\\"dialogue_turns\\\\\\\":[{\\\\\\\"speaker_id\\\\\\\":\\\\\\\"Speaker 1\\\\\\\",\\\\\\\"style\\\\\\\":\\\\\\\"Warm and friendly\\\\\\\",\\\\\\\"text\\\\\\\":\\\\\\\"Hello from Apicity. Have a wonderful day.\\\\\\\"}],\\\\\\\"dialogue_mode\\\\\\\":\\\\\\\"single\\\\\\\"}\\\",\\\[...]
