{
  "log": {
    "_recordingName": "kie/minimax-h3-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "00604d2d8d01992028924b25fbb30239",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"minimax-h3/image-to-video\",\"input\":{\"prompt\":\"A gentle breeze moves through the scene as the camera slowly pushes in.\",\"first_frame_url\":\"https://static.aiquickdraw.com/tools/example/1785486917618_1ENVS1T7.png\",\"duration\":4,\"resolution\":\"768P\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"7fffe34f443bcdb425149d88e23ca2c2\",\"recordId\":\"7fffe34f443bcdb425149d88e23ca2c2\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 363,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
