{
  "log": {
    "_recordingName": "kie/suno/style-boost",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cb1b1008b12c9ed9213f8913e1e5caa5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"content\":\"Pop, Mysterious\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/style/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 576,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"98df596956d0513544e2085da763c46c\",\"param\":\"Pop, Mysterious\",\"result\":\"Mysterious pop built around a hushed intro with sparse felt piano, breathy synth pads, and close-miked vocal lines in lots of space. The quietest sections carry the heaviest bar: a sudden drop to sub-heavy 808 kick, distorted tom hits, punchy snare, and low brass stabs. Wide chorus, delay throws, and tense minor-key hooks.\",\"creditsConsumed\":0.4,\"creditsRemaining\":29212.53,\"successFlag\":\"成功\",\"errorCode\":null,\"errorMsg\":null,\"createTime\":1777379281542}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2613,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
