{
  "log": {
    "_recordingName": "polymarket/gamma-comments-by-user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "14ce119e1b5a8ded003733fd153d14c5",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://gamma-api.polymarket.com/comments/user_address/0x11acc648a3252c67eb55542a4d1625047527cb98?limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1721,
            "text": "[{\"id\":\"2282813\",\"body\":\"RETARDIO\",\"parentEntityType\":\"Series\",\"parentEntityID\":10126,\"userAddress\":\"0x11acc648a3252c67eb55542a4d1625047527cb98\",\"createdAt\":\"2026-01-14T19:08:16.891742Z\",\"updatedAt\":\"2026-01-14T19:08:27.453822Z\",\"reportCount\":0,\"reactionCount\":0},{\"id\":\"2051737\",\"body\":\"who tf making 7000 share wall at 220 mofk\",\"parentEntityType\":\"Series\",\"parentEntityID\":10000,\"userAddress\":\"0x11acc648a3252c67eb55542a4d1625047527cb98\",\"createdAt\":\"2025-11-13T09:36:56.110658Z\",\"updatedAt\":\"2025-11-13T09:37:08.396752Z\",\"reportCount\":0,\"reactionCount\":0},{\"id\":\"995986\",\"body\":\"could be possible (still with a super slim chance) with $trump or $hype, but just a big no for eth\",\"parentEntityType\":\"Series\",\"parentEntityID\":42,\"parentCommentID\":\"995985\",\"userAddress\":\"0x11acc648a3252c67eb55542a4d1625047527cb98\",\"createdAt\":\"2025-02-03T14:37:18.279536Z\",\"updatedAt\":\"2025-02-03T14:37:19.347055Z\",\"reportCount\":0,\"reactionCount\":0},{\"id\":\"995985\",\"body\":\"rn is 2500, it has to up at leat 30% in 4 days, sorry, it's impossible, those who still bet on yes is doing a hypergamble and hate money\",\"parentEntityType\":\"Series\",\"parentEntityID\":42,\"userAddress\":\"0x11acc648a3252c67eb55542a4d1625047527cb98\",\"createdAt\":\"2025-02-03T14:36:29.458703Z\",\"updatedAt\":\"2025-02-03T14:36:30.311544Z\",\"reportCount\":0,\"reactionCount\":0},{\"id\":\"2070307\",\"body\":\"PEOPLE THOSE WHO THOUGHT 220-239 WAS ABOUT TO WIN LIKE 10 HOURS AGO PLEASE COMMENT, TO SHOW HOW RETARDED YOU ARE, SAW A LOT ON COMMENT SECTION\",\"parentEntityType\":\"Series\",\"parentEntityID\":10000,\"userAddress\":\"0x11acc648a3252c67eb55542a4d1625047527cb98\",\"createdAt\":\"2025-11-18T04:04:47.990428Z\",\"updatedAt\":\"2025-11-18T04:05:03.939496Z\",\"reportCount\":0,\"reactionCount\":7}]\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Wed, 06 May 2026 05:05:09 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 343,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
