{
  "log": {
    "_recordingName": "kie/gpt-image-2-5-flare-image-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c44830e8203a1e25eb44b2e0b691d490",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"gpt-image-2-5-flare-image-to-image\",\"input\":{\"prompt\":\"Restyle this product image as a premium studio advertisement with soft rim lighting and a matte charcoal backdrop.\",\"input_urls\":[\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\"],\"aspect_ratio\":\"16:9\",\"resolution\":\"1K\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"dc2c8f2b75d98de2615ad20e9997fe94\",\"recordId\":\"dc2c8f2b75d98de2615ad20e9997fe94\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 323,
      },
      {
        "_id": "2cdb1e0e63b89b2e7d7940cbe2f63892",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "dc2c8f2b75d98de2615ad20e9997fe94"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=dc2c8f2b75d98de2615ad20e9997fe94"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1114,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"dc2c8f2b75d98de2615ad20e9997fe94\",\"model\":\"gpt-image-2-5-flare-image-to-image\",\"state\":\"generating\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"Restyle this product image as a premium studio advertisement with soft rim lighting and a matte charcoal backdrop.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"input_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\\\\\\\"]}\\\",\\\"model\\\":\\\"gpt-image-2-5-flare-image-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1789126780735,\"creditsConsumed\":6.0,\"operationType\":\"gpt-image-2-5-flare-image-to-image\",\"successFlag\":0,\"paramJson\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"Restyle this product image as a premium studio advertisement with soft rim lighting and a matte charcoal backdrop.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"input_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\\\\\\\"]}\\\",\\\"model\\\":\\\"gpt-image-2-5-flare-image-to-image\\\"}\"}}"
          },
          "headers": [
      [...]
