{
  "log": {
    "_recordingName": "x/post-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f787ade91ced71307759e824cf3fa12e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"media_type\":\"video/mp4\",\"total_bytes\":1318021,\"media_category\":\"tweet_video\"}"
          },
          "queryString": [],
          "url": "https://api.x.com/2/media/upload/initialize"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 105,
            "text": "{\"data\":{\"expires_after_secs\":86400,\"id\":\"2050123807214718976\",\"media_key\":\"7_2050123807214718976\"}}"
          },
          "headers": [
            {
              "name": "api-version",
              "value": "2.162"
            },
            {
              "name": "content-disposition",
              "value": "attachment; filename=json.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "origin-cf-ray",
              "value": "9f4d44625be0d33d-SEA"
            },
            {
              "name": "perf",
              "value": "7402827104"
            },
            {
              "name": "x-access-level",
              "value": "read-write"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "1875"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "1874"
            },
            {
              "name": "x-rate-limit-reset",
              "value": "1777623479"
            },
            {
              "name": "x-response-time",
              "value": "74"
            },
            {
              "name": "x-transaction-id",
              "value": "f4d9deff5f85944f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 391,
      },
      {
        "_id": "af6a8285cfb32360311d02ce79b1c537",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"media\":{\"_file\":true,\"filename\":\"blob\",\"contentType\":\"video/mp4\",\"size\":1318021},\"segment_index\":\"0\"}"
          },
          "queryString": [],
          "url": "https://api.x.com/2/media/upload/2050123807214718976/append"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 62,
            "text": "{\"data\":{\"expires_at\":1777708979758}}"
          },
          "headers": [
            {
              "name": "content-disposition",
              "value": "attachment; filename=json.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "origin-cf-ray",
              "value": "9f4d44645fa7d33d-SEA"
            },
            {
              "name": "perf",
              "value": "7402827104"[...]
