{
  "log": {
    "_recordingName": "b2/object-core",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cbcf368c95792ae3bd253820080ebcbc",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "x-amz-content-sha256",
              "value": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
            },
            {
              "name": "x-amz-date",
              "value": "20260609T064106Z"
            }
          ],
          "method": "HEAD",
          "queryString": [],
          "url": "https://s3.us-west-004.backblazeb2.com/apicity"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-amz-request-id",
              "value": "56107e2648c2fc60"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2648,
      },
      {
        "_id": "f5374af5002b04ef265cd9114977f96d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "text/plain"
            },
            {
              "name": "x-amz-content-sha256",
              "value": "e7a60769f86a177805fe803e7603be0339d838094cbb48a6eca911a4bcaf97b7"
            },
            {
              "name": "x-amz-date",
              "value": "20260609T064108Z"
            },
            {
              "name": "x-amz-meta-source",
              "value": "apicity"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://s3.us-west-004.backblazeb2.com/apicity/apicity-tests/object-core.txt"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"f785b91f46dba2e823516318ff1b2977\""
            },
            {
              "name": "x-amz-request-id",
              "value": "1079d[...]
