{
  "log": {
    "_recordingName": "fal/nano-banana-2-lite",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c94080cf3703654e38b45c0ace8e1385",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A clean editorial product photo of a small brass desk lamp on a walnut table, soft morning window light, no text.\",\"num_images\":1,\"aspect_ratio\":\"1:1\",\"output_format\":\"png\",\"safety_tolerance\":\"4\",\"limit_generations\":true}"
          },
          "queryString": [],
          "url": "https://fal.run/google/nano-banana-2-lite"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 233,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aa0a9cd/00QinDGXN76C9N9oYZhBs_O1sxtKSi.png\",\"content_type\":\"image/png\",\"file_name\":\"00QinDGXN76C9N9oYZhBs_O1sxtKSi.png\",\"file_size\":null,\"width\":1024,\"height\":1024}],\"description\":\"\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.042007"
            },
            {
              "name": "x-fal-served-from",
              "value": "ee11a29f-0522-4c8a-a4a4-6b997bc6ef27"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2933,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
