{
  "log": {
    "_recordingName": "fal/meshy-v7-1-multi-image-to-3d",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "160e11aa3f02fa5e07ecbb83df0b5fbb",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"image_urls\":[\"https://v3b.fal.media/files/b/0a8b90e0/BFLE9VDlZqsryU-UA3BoD_image_004.png\"]}"
          },
          "queryString": [],
          "url": "https://fal.run/meshy/v7.1/multi-image-to-3d"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1607,
            "text": "{\"animation_glb\":null,\"animation_fbx\":null,\"model_glb\":{\"url\":\"https://v3b.fal.media/files/b/0aad25f3/jFpSMM2zoe6ermy7mXCX8_model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":5263072},\"thumbnail\":{\"url\":\"https://v3b.fal.media/files/b/0aad25f4/YqUed5NpR6oN34QH1D-qQ_preview.png\",\"content_type\":\"image/png\",\"file_name\":\"preview.png\",\"file_size\":108215},\"model_urls\":{\"glb\":{\"url\":\"https://v3b.fal.media/files/b/0aad25f3/jFpSMM2zoe6ermy7mXCX8_model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":5263072},\"fbx\":{\"url\":\"https://v3b.fal.media/files/b/0aad25f3/oVDOWzJE_XMidvNDF_p4q_model.fbx\",\"content_type\":\"application/octet-stream\",\"file_name\":\"model.fbx\",\"file_size\":4739660},\"obj\":{\"url\":\"https://v3b.fal.media/files/b/0aad25f3/LuaYn1uutfuSSg8d_T4aK_model.obj\",\"content_type\":\"text/plain\",\"file_name\":\"model.obj\",\"file_size\":3722379},\"usdz\":{\"url\":\"https://v3b.fal.media/files/b/0aad25f3/knF3KClzc_DGOt20pW8Ui_model.usdz\",\"content_type\":\"model/vnd.usdz+zip\",\"file_name\":\"model.usdz\",\"file_size\":5865236},\"blend\":null,\"stl\":{\"url\":\"https://v3b.fal.media/files/b/0aad25f4/F6b_c9psjSD-ckMTJiTjk_model.stl\",\"content_type\":\"application/octet-stream\",\"file_name\":\"model.stl\",\"file_size\":1551534}},\"texture_urls\":[{\"base_color\":{\"url\":\"https://v3b.fal.media/files/b/0aad25f4/xMQeJXmGUQJniw_6fReHs_texture_0.png\",\"content_type\":\"image/png\",\"file_name\":\"texture_0.png\",\"file_size\":4554684},\"metallic\":null,\"normal\":null,\"roughness\":null}],\"seed\":1164767414,\"rigged_character_glb\":null,\"rigged_character_fbx\":null,\"basic_animations\":null,\"rig_task_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1.5"
            },
            {
              "name": "x-fal-served-from",
              "value": "da532b79-0715-48e1-8e25-b3bb47d4908c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 227421,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
