{
  "log": {
    "_recordingName": "binance/fapi-market-data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "49b1cf6448fbe1077e91b6d0911f8921",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://fapi.binance.com/fapi/v1/ping"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "1"
            },
            {
              "name": "x-response-time",
              "value": "0ms"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 343,
      },
      {
        "_id": "a17233f0e919cdbdd242c4de095e616f",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://fapi.binance.com/fapi/v1/time"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 28,
            "text": "{\"serverTime\":1781934858820}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "2"
            },
            {
              "name": "x-response-time",
              "value": "3ms"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 264,
      },
      {
        "_id": "4f4ddb229ac11b34d9eade99de41610d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://fapi.binance.com/fapi/v1/exchangeInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 977148,
            "text": "{\"timezone\":\"UTC\",\"serverTime\":1781928018362,\"futuresType\":\"U_MARGINED\",\"rateLimits\":[{\"rateLimitType\":\"REQUEST_WEIGHT\",\"interval\":\"MINUTE\",\"intervalNum\":1,\"limit\":2400},{\"rateLimitType\":\"ORDERS\",\"interval\":\"MINUTE\",\"intervalNum\":1,\"limit\":1200},{\"rateLimitType\":\"ORDERS\",\"interval\":\"SECOND\",\"intervalNum\":10,\"limit\":300}],\"exchangeFilters\":[],\"assets\":[{\"asset\":\"USDT\",\"marginAvailable\":true,\"autoAssetExchange\":\"-10000\"},{\"asset\":\"BTC\",\"marginAvailable\":true,\"autoAssetExchange\":\"-0.10000000\"},{\"asset\":\"BNB\",\"marginAvailable\":true,\"autoAssetExchange\":\"0\"},{\"asset\":\"ETH\",\"marginAvailable\":true,\"autoAssetExchange\":\"0\"},{\"asset\":\"USDC\",\"marginAvailable\":true,\"autoAssetExchange\":\"-10000\"},{\"asset\":\"FDUSD\",\"marginAvailable\":true,\"autoAssetExchange\":\"0\"},{\"asset\":\"BNFCR\",\"marginAvailable\":true,\"autoAssetExchange\":\"-5000\"},{\"asset\":\"BFUSD\",\"marginAvailable\":true,\"autoAssetExchange\":\"0\"},{\"asset\":\"LDUSDT\",\"marginAvailable\":true,\"autoAssetExchange\":\"0\"},{\"asset\":\"RWUSD\",\"marginAvailable\":true,\"autoAssetExchange\":\"0\"},{\"asset\":\"USD1\",\"marginAvailable\":true,\"autoAssetExchange\":\"-5000\"},{\"asset\":\"U\",\"marginAvailable\":true,\"autoAssetExchange\":\"0\"}],\"symbols\":[{\"symbol\":\"BTCUSDT\",\"pair\":\"BTCUSDT\",\"contractType\":\"PERPETUAL\",\"deliveryDate\":4133404800000,\"onboardDate\":1567965300000,\"status\":\"TRADING\",\"maintMarginPercent\":\"2.5000\",\"requiredMarginPercent\":\"5.0000\",\"baseAsset\":\"BTC\",\"quoteAsset\":\"USDT\",\"marginAsset\":\"USDT\",\"pricePrecision\":2,\"quantityPrecision\":3,\"baseAssetPrecision\":8,\"quotePrecision\":8,\"underlyingType\":\"COIN\",\"underlyingSubType\":[\"PoW\"],\"triggerProtect\":\"0.0500\",\"liquidationFee\":\"0.012500\",\"marketTakeBound\":\"0.05\",\"maxMoveOrderLimit\":10000,\"filters\":[{\"tickSize\":\"0.10\",\"filterType\":\"PRICE_FILTER\",\"minPrice\":\"556.80\",\"maxPrice\":\"4529764\"},{\"maxQty\":\"1000\",\"minQty\":\"0.001\",\"filterType\":\"LOT_SIZE\",\"stepSize\":\"0.001\"},{\"filterType\":\"MARKET_LOT_SIZE\",\"stepSize\":\"0.001\",\"maxQty\":\"120\",\"minQty\":\"0.001\"},{\"filterType\":\"MAX_NUM_ORDERS\",\"limit\":200},{\"filterType\":\"MIN_NOTIONAL\",\"notional\":\"50\"},{\"multiplierDown\":\"0.9500\",\"filterType\":\"PERCENT_PRICE\",\"multiplierDecimal\":\"4\",\"multiplierUp\":\"1.0500\"},{\"positionControlSide\":\"NONE\",\"filterType\":\"POSITION_RISK_CONTROL\"}],\"orderTypes\":[\"LIMIT\",\"MARKET\",\"STOP\",\"STOP_MARKET\",\"TAKE_PROFIT\",\"TAKE_PROFIT_MARKET\",\"TRAILING_STOP_MARKET\"],\"timeInForce\":[\"GTC\",\"IOC\",\"FOK\",\"GTX\",\"GTD\"],\"permissionSets\":[\"GRID\",\"COPY\",\"DCA\",\"PSB\"]},{\"symbol\":\"ETHUSDT\",\"pair\":\"ETHUSDT\",\"contractType\":\"PERPETUAL\",\"deliveryDate\":4133404800000,\"onboardDate\":1574840700000,\"status\":\"TRADING\",\"maintMarginPercent\":\"2.5000\",\"requiredMarginPercent\":\"5.0000\",\"baseAsset\":\"ETH\",\"quoteAsset\":\"USDT\",\"marginAsset\":\"USDT\",\"pricePrecision\":2,\"quantityPrecision\":3,\"baseAssetPrecision\":8,\"quotePrecision\":8,\"underlyingType\":\"COIN\",\"underlyingSubType\":[\"Layer-1\"],\"trig[...]
