{
  "log": {
    "_recordingName": "fal/alibaba-qwen-image-3-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "56507e41b5bdde358d957b8e5363f306",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A serene mountain landscape at sunrise.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/alibaba/qwen-image-3/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 207,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aa77987/4wM2lnb10xV9lEIL6XTsk_f07cNSbI.png\",\"content_type\":\"image/png\",\"file_name\":\"4wM2lnb10xV9lEIL6XTsk_f07cNSbI.png\",\"file_size\":null}],\"seed\":1795837006}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "4.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "6bcca0f7-a444-4f2c-8046-01bdd0d09286"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 53402,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
