{
  "log": {
    "_recordingName": "x/media-upload-initialize",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "91a2a7feb05bb2da991e1644e0df0b5b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"media_type\":\"video/mp4\",\"total_bytes\":64,\"media_category\":\"tweet_video\"}"
          },
          "queryString": [],
          "url": "https://api.x.com/2/media/upload/initialize"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 104,
            "text": "{\"data\":{\"expires_after_secs\":86400,\"id\":\"2050120900222296064\",\"media_key\":\"7_2050120900222296064\"}}"
          },
          ],
          "headers": [
            {
              "name": "api-version",
              "value": "2.162"
            },
            {
              "name": "content-disposition",
              "value": "attachment; filename=json.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "origin-cf-ray",
              "value": "9f4d3376df84d016-SEA"
            },
            {
              "name": "perf",
              "value": "7402827104"
            },
            {
              "name": "x-access-level",
              "value": "read-write"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "1875"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "1870"
            },
            {
              "name": "x-rate-limit-reset",
              "value": "1777622366"
            },
            {
              "name": "x-response-time",
              "value": "35"
            },
            {
              "name": "x-transaction-id",
              "value": "daebc7e8a7a98b58"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 372,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
