{
  "log": {
    "_recordingName": "fal/alibaba-happy-horse-v1-1-reference-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f87670f621168e10e7d5340b58a5f7fd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A horse walks through warm grass.\",\"image_urls\":[\"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/wpimhv/rap.png\"],\"resolution\":\"720p\",\"duration\":3}"
          },
          "queryString": [],
          "url": "https://fal.run/alibaba/happy-horse/v1.1/reference-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 280,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad8683/QZg6AEUUWRuA-fO7J4-H2_U2YnEbs7.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"QZg6AEUUWRuA-fO7J4-H2_U2YnEbs7.mp4\",\"file_size\":2509299,\"width\":1280,\"height\":720,\"fps\":24.0,\"duration\":3.162667,\"num_frames\":73},\"seed\":1447901647}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "3"
            },
            {
              "name": "x-fal-served-from",
              "value": "b7c236bc-cc27-4f86-ad78-e5cb89b759a7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 99496,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
