{
  "log": {
    "_recordingName": "polymarket/gamma-sports-market-types",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ba82ecd58edd44de2f7f8e1bb917dd7f",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://gamma-api.polymarket.com/sports/market-types"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2222,
            "text": "{\"marketTypes\":[\"any_player_rampage\",\"any_player_ultra_kill\",\"anytime_touchdowns\",\"assists\",\"assists_points_rebounds\",\"barrack_handicap_match\",\"barrack_most_2_way_match\",\"basketball_odd_even\",\"basketball_quarter_score\",\"basketball_team_to_score_first\",\"both_teams_beat_roshan\",\"both_teams_destroy_barracks\",\"both_teams_to_score\",\"child_moneyline\",\"correct_score\",\"cricket_completed_match\",\"cricket_first_inning_runs\",\"cricket_match_to_go_till\",\"cricket_most_sixes\",\"cricket_se[...]
