{
  "log": {
    "_recordingName": "polymarket/clob-book",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "53b98788ed413dd6311ae462712140a2",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "token_id",
              "value": "78433024518676680431174478322854148606578065650008220678402966840627347604025"
            }
          ],
          "url": "https://clob.polymarket.com/book?token_id=78433024518676680431174478322854148606578065650008220678402966840627347604025"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1725,
            "text": "{\"market\":\"0x384e2707bbb95da4bfa6f330fe7d5ccbec1c0a85e20be900cbf599987588e1a4\",\"asset_id\":\"78433024518676680431174478322854148606578065650008220678402966840627347604025\",\"timestamp\":\"1778041502325\",\"hash\":\"1b9f35e10dea76a3aab286aa4dc18170c37955c7\",\"bids\":[{\"price\":\"0.01\",\"size\":\"1116.34\"},{\"price\":\"0.02\",\"size\":\"500\"},{\"price\":\"0.03\",\"size\":\"674.34\"},{\"price\":\"0.04\",\"size\":\"70.52\"},{\"price\":\"0.05\",\"size\":\"5\"},{\"price\":\"0.06\",\"size\":\"179.91\"},{\"price\":\"0.07\",\"size\":\"6.09\"},{\"price\":\"0.08\",\"size\":\"137.5\"},{\"price\":\"0.09\",\"size\":\"27\"},{\"price\":\"0.1\",\"size\":\"80\"},{\"price\":\"0.12\",\"size\":\"191.66\"},{\"price\":\"0.13\",\"size\":\"800\"},{\"price\":\"0.15\",\"size\":\"29.17\"},{\"price\":\"0.16\",\"size\":\"99.86\"}],\"asks\":[{\"price\":\"0.99\",\"size\":\"30010\"},{\"price\":\"0.98\",\"size\":\"9.71\"},{\"price\":\"0.97\",\"size\":\"12000\"},{\"price\":\"0.95\",\"size\":\"20\"},{\"price\":\"0.93\",\"size\":\"11635.71\"},{\"price\":\"0.92\",\"size\":\"6.32\"},{\"price\":\"0.91\",\"size\":\"100\"},{\"price\":\"0.89\",\"size\":\"11.99\"},{\"price\":\"0.88\",\"size\":\"58.33\"},{\"price\":\"0.84\",\"size\":\"25\"},{\"price\":\"0.81\",\"size\":\"8300\"},{\"price\":\"0.8\",\"size\":\"27.5\"},{\"price\":\"0.79\",\"size\":\"5500\"},{\"price\":\"0.77\",\"size\":\"60.62\"},{\"price\":\"0.74\",\"size\":\"30.76\"},{\"price\":\"0.69\",\"size\":\"3400\"},{\"price\":\"0.68\",\"size\":\"23.43\"},{\"price\":\"0.67\",\"size\":\"179.2\"},{\"price\":\"0.55\",\"size\":\"10.02\"},{\"price\":\"0.54\",\"size\":\"56.52\"},{\"price\":\"0.53\",\"size\":\"10.02\"},{\"price\":\"0.46\",\"size\":\"20.37\"},{\"price\":\"0.45\",\"size\":\"16.36\"},{\"price\":\"0.44\",\"size\":\"16.07\"},{\"price\":\"0.3\",\"size\":\"5\"},{\"price\":\"0.29\",\"size\":\"160\"},{\"price\":\"0.28\",\"size\":\"1388.89\"},{\"price\":\"0.27\",\"size\":\"800\"},{\"price\":\"0.25\",\"size\":\"55\"},{\"price\":\"0.24\",\"size\":\"25.6\"}],\"min_order_size\":\"5\",\"tick_size\":\"0.01\",\"neg_risk\":false,\"last_trade_price\":\"0.820\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 318,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
