{
  "log": {
    "_recordingName": "fal/elevenlabs-tts-eleven-v4",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b9b0407809f2b7be51ce286e2ee03a90",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"text\":\"A red panda waves once, then holds still.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/elevenlabs/tts/eleven-v4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 180,
            "text": "{\"audio\":{\"url\":\"https://v3b.fal.media/files/b/0aad24e4/Fxlk1RtLbrz27-II0Zrzc_output.mp3\",\"content_type\":\"audio/mpeg\",\"file_name\":\"output.mp3\",\"file_size\":53125},\"timestamps\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.041"
            },
            {
              "name": "x-fal-served-from",
              "value": "85973113-f153-4a89-a82b-6b19e9596066"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1876,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
