{
  "log": {
    "_recordingName": "elevenlabs/workspace-admin",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "53a854d7a91d010b7741be9e65224e67",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.elevenlabs.io/v1/workspace/audit-logs?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84,
            "text": "{\"detail\":{\"status\":\"not_available\",\"message\":\"This feature is not yet available.\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 318,
      },
      {
        "_id": "b6c18319f990fc872e799d54dec9c771",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/workspace/groups"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 328,
            "text": "{\"user_5001khdg6an6e98rgtjwqqbn3jmw\":{\"name\":\"subs@jwtanner.com\",\"id\":\"user_5001khdg6an6e98rgtjwqqbn3jmw\",\"members\":[\"user_5001khdg6an6e98rgtjwqqbn3jmw\"],\"permissions\":[],\"group_usage_limit\":null,\"group_pvc_limit\":null,\"character_count\":null,\"scim_external_id\":null,\"is_scim_synced\":false,\"scim_group\":null,\"scim_frozen\":false}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 290,
      },
      {
        "_id": "7d347252eda813251c3d948f5af79c48",
        "request": {
          "headers": [
            {
              "name": [...]
