{
  "log": {
    "_recordingName": "kie/happyhorse-reference-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"cat1.jpg\",\"contentType\":\"image/jpeg\",\"size\":83558},\"uploadPath\":\"images/test-uploads\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 396,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1777534513914-w11fnaxqf2c.jpg\",\"filePath\":\"kieai/136592/images/test-uploads/1777534513914-w11fnaxqf2c.jpg\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1777534513914-w11fnaxqf2c.jpg\",\"fileSize\":83558,\"mimeType\":\"image/jpeg\",\"uploadedAt\":\"2026-04-30T07:35:14.163Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 771,
      },
      {
        "_id": "b84eba754c9d6b0b273f113524fccc6c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"happyhorse/reference-to-video\",\"input\":{\"prompt\":\"character1 looks at the camera and slowly tilts its head to one side\",\"reference_image\":[\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1777534513914-w11fnaxqf2c.jpg\"],\"resolution\":\"720p\",\"aspect_ratio\":\"16:9\",\"duration\":3,\"seed\":1308038620}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"eea8386634680ca235e37c9227927a87\",\"recordId\":\"eea8386634680ca235e37c9227927a87\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 500,
      },
      {
        "_id": "a7323e29f1212512de018343bc336fa7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "eea8386634680ca235e37c9227927a87"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=eea8386634680ca235e37c9227927a87"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 650,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"eea8386634680ca235e37c9227927a87\",\"model\":\"happyhorse/reference-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":3,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"seed\\\\\\\":1308038620,\\\\\\\"prompt\\\\\\\":\\\\\\\"character1 looks at the camera and slowly tilts its head to one side\\\\\\\",\\\\\\\"reference_image\\\\\\\":[\\\\\\\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1777534513914-w11fnaxqf2c.jpg\\\\\\\"],\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"happyhorse/reference-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1777534514581}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 222,
      },
      {
        "_id": "a7323e29f1212512de018343bc336fa7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
          [...]
