{
  "log": {
    "_recordingName": "elevenlabs/convai-batch-calling",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "211f1e27325f0c948c469690bd82ff20",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "3"
            }
          ],
          "url": "https://api.elevenlabs.io/v1/convai/batch-calling/workspace?limit=3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 51,
            "text": "{\"batch_calls\":[],\"next_doc\":null,\"has_more\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 329,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
