{
  "log": {
    "_recordingName": "fal/flux-3-keyframes-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "870fcdaa5ce37cb47bdc7351fec407fd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A person transforms into a cat in one continuous shot\",\"keyframes\":[{\"image_url\":\"<inline image/jpeg data URL — replace with a real URL or upload>\",\"frame_index\":0},{\"image_url\":\"<inline image/jpeg data URL — replace with a real URL or upload>\",\"frame_index\":48},{\"image_url\":\"<inline image/jpeg data URL — replace with a real URL or upload>\",\"frame_index\":96}],\"resolution\":\"720p\",\"duration\":5,\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/blackforestlabs/flux-3/keyframes-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 181,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa739e2/tGUPZeSZHppLuxYkB5a5t_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":3251601},\"seed\":2757506811}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "10"
            },
            {
              "name": "x-fal-served-from",
              "value": "e208b9b0-fdd6-4bc4-8027-ee12e97c49bf"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 78687,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
