{
  "log": {
    "_recordingName": "elevenlabs/pvc-voice-captcha",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9d25da3e790f5dabe332342f47d241ac",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"recording\":{\"_file\":true,\"filename\":\"blob\",\"contentType\":\"audio/mp3\",\"size\":2528}}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/voices/pvc/hpp4J3VqNfWAUOO0d1Us/captcha"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 237,
            "text": "{\"detail\":{\"type\":\"validation_error\",\"code\":\"invalid_parameters\",\"message\":\"Voice 'hpp4J3VqNfWAUOO0d1Us' is not a professional voice.\",\"status\":\"voice_not_professional\",\"request_id\":\"26818f495641779c5f6627303b03e05d\",\"param\":\"voice_id\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-trace-id",
              "value": "***"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 704,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
