{
  "log": {
    "_recordingName": "kie/suno/add-vocals-submit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "74d7e38149171ce6902524abe38b8a01",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"uploadUrl\":\"https://example.com/instrumental.mp3\",\"prompt\":\"Add soft female vocals about summer dreams\",\"title\":\"Summer Dreams\",\"style\":\"soft pop\",\"callBackUrl\":\"https://example.com/cb\",\"model\":\"V4_5PLUS\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate/add-vocals"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 60,
            "text": "{\"code\":422,\"msg\":\"negativeTags cannot be null\",\"data\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 354,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
