{
  "log": {
    "_recordingName": "kie/suno/add-vocals-submit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "070d860f702984ea4d66cbf5ba6c0da2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"uploadUrl\":\"https://example.com/instrumental.mp3\",\"prompt\":\"Add soft female vocals about summer dreams\",\"title\":\"Summer Dreams\",\"style\":\"soft pop\",\"negativeTags\":\"heavy metal, strong drum beats\",\"callBackUrl\":\"https://example.com/cb\",\"model\":\"V4_5PLUS\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate/add-vocals"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ab13c9bbfe5626395669232e68610c4b\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 484,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
