{
  "log": {
    "_recordingName": "kie/suno/add-vocals-submit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b8b5464d18ebbd44c1f64728ff1453db",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"audioId\":\"test-instrumental-audio-id\",\"prompt\":\"Add soft female vocals about summer dreams\",\"callBackUrl\":\"https://example.com/cb\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/add-vocals/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 130,
            "text": "{\"timestamp\":1778048946861,\"status\":404,\"error\":\"Not Found\",\"message\":\"No message available\",\"path\":\"/api/v1/add-vocals/generate\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 890,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
