{
  "log": {
    "_recordingName": "fal/bytedance-seedance2p5-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5ab74f0ecbbd392cb181a67eaae12451",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A white odd-eyed cat blinks slowly and tilts its head, soft breeze through fur, cinematic close-up.\",\"resolution\":\"480p\",\"duration\":\"4\",\"aspect_ratio\":\"1:1\",\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/bytedance/seedance-2.5/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 178,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa78dd9/jtBqKo0DF3y4fatKXuccE_video.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"video.mp4\",\"file_size\":283122},\"seed\":1458142833}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "38.8"
            },
            {
              "name": "x-fal-served-from",
              "value": "7d3e88b9-0fef-417d-8398-fc760bfaf795"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 254863,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
