{
  "log": {
    "_recordingName": "polymarket/gamma-events-list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "de7c3312d70f0b25e3d941a755ef4a3a",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "2"
            },
            {
              "name": "closed",
              "value": "false"
            }
          ],
          "url": "https://gamma-api.polymarket.com/events?limit=2&closed=false"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 35588,
            "text": "[{\"id\":\"16167\",\"ticker\":\"microstrategy-sell-any-bitcoin-in-2025\",\"slug\":\"microstrategy-sell-any-bitcoin-in-2025\",\"title\":\"MicroStrategy sells any Bitcoin by ___ ?\",\"description\":\"This market will resolve to \\\"Yes\\\" if MicroStrategy sells any of its Bitcoin by December 31, 2025, 11:59 PM ET. Otherwise, this market will resolve to \\\"No\\\".\\n\\nThe primary resolution source for this market will be information from MSTR and on-chain data, however a consensus of credible reporting will also be used.\",\"resolutionSource\":\"\",\"startDate\":\"2024-12-31T18:51:45.506005Z\",\"creationDate\":\"2024-12-31T18:51:45.506002Z\",\"endDate\":\"2025-12-31T12:00:00Z\",\"image\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/will-microstrategy-purchase-bitcoin-july-1-7-mzoE5TYk_cCI.jpg\",\"icon\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/will-microstrategy-purchase-bitcoin-july-1-7-mzoE5TYk_cCI.jpg\",\"active\":true,\"closed\":false,\"archived\":false,\"new\":false,\"featured\":false,\"restricted\":true,\"liquidity\":87814.48205,\"volume\":22739245.34187499,\"openInterest\":668107.421279,\"createdAt\":\"2024-12-31T16:02:31.965903Z\",\"updatedAt\":\"2026-05-06T04:50:46.40794Z\",\"competitive\":0.9928268261808434,\"volume24hr\":329356.1123909999,\"volume1wk\":9511337.148826975,\"volume1mo\":16178550.972337011,\"volume1yr\":20016951.835137,\"enableOrderBook\":true,\"liquidityClob\":87814.48205,\"negRisk\":false,\"commentCount\":246,\"markets\":[{\"id\":\"516926\",\"question\":\"MicroStrategy sells any Bitcoin in 2025?\",\"conditionId\":\"0x19ee98e348c0ccb341d1b9566fa14521566e9b2ea7aed34dc407a0ec56be36a2\",\"slug\":\"microstrategy-sell-any-bitcoin-in-2025\",\"resolutionSource\":\"\",\"endDate\":\"2025-12-31T12:00:00Z\",\"startDate\":\"2024-12-31T18:51:34.648Z\",\"image\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/will-microstrategy-purchase-bitcoin-july-1-7-mzoE5TYk_cCI.jpg\",\"icon\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/will-microstrategy-purchase-bitcoin-july-1-7-mzoE5TYk_cCI.jpg\",\"description\":\"This market will resolve to \\\"Yes\\\" if MicroStrategy sells any of its Bitcoin by December 31, 2025, 11:59 PM ET. Otherwise, this market will resolve to \\\"No\\\".\\n\\nThe primary resolution source for this market will be information from MSTR and on-chain data, however a consensus of credible reporting will also be used.\",\"outcomes\":\"[\\\"Yes\\\", \\\"No\\\"]\",\"outcomePrices\":\"[\\\"0\\\", \\\"1\\\"]\",\"volume\":\"17976157.529867\",\"active\":true,\"closed\":true,\"marketMakerAddress\":\"\",\"createdAt\":\"2024-12-31T16:02:33.362936Z\",\"updatedAt\":\"2026-04-28T11:03:47.827628Z\",\"closedTime\":\"2026-01-05 04:22:25+00\",\"new\":false,\"featured\":false,\"submitted_by\":\"0x91430CaD2d3975766499717fA0D66A78D814E5c5\",\"archived\":false,\"resolvedBy\":\"0x6A9D222616C90FcA5754cd1333cFD9b7fb6a4F74\",\"restricted\":true,\"groupItemTitle\":\"December 31, 2025\",\"groupItemThreshold\":\"0\",\"questionID\":\"0xd5bc605ed30b62d5bba74174a7c59fc2b6716a9d7327be9158a70c08011d41c6\",\"umaEndDate\":\"2026-01-05T04:22:25Z\",\"enableOrderBook\":true,\"orderPriceMinTickSize\":0.001,\"orderMinSize\":5,\"umaResolutionStatus\":\"resolved\",\"volumeNum\":17976157.529867,\"endDateIso\":\"2025-12-31\",\"startDateIso\":\"2024-12-31\",\"hasReviewedDates\":true,\"volume1wk\":9044201.708677975,\"volume1mo\":15487391.095966011,\"volume1yr\":17964243.64944699,\"clobTokenIds\":\"[\\\"93592949212798121127213117304912625505836768562433217537850469496310204567695\\\", \\\"3074539347152748632858978545166555332546941892131779352477699494423276162345\\\"]\",\"umaBond\":\"500\",\"umaReward\":\"5\",\"volume1wkClob\":9044201.708677975,\"volume1moClob\":15487391.095966011,\"volume1yrClob\":17964243.64944699,\"volumeClob\":17976157.529867,\"makerBaseFee\":1000,\"takerBaseFee\":1000,\"customLiveness\":0,\"acceptingOrders\":false,\"negRisk\":false,\"ready\":false,\"funded\":false,\"acceptingOrdersTimestamp\":\"2024-12-31T18:50:22Z\",\"cyom\":false,\"pagerDutyNotificationEnabled\":false,\"approved\":true,\"rewardsMinSize\":100,\"rewardsMaxSpread\":3.5,\"spread\":0.001,\"automaticallyResolved\":true,\"oneDayPriceChange\":-0.001,\"oneWeekPriceChange\":-0.006,\"oneMonthPriceChange\":-0.0235,\"oneYearPriceChange\":-0.1445,\"lastTradePrice\":1,\"bestAsk\":0.001,\"automaticallyActive\":true,\"clearBookOnStart\":true,\"seriesColor\":\"\",\"showGmpSeries\":false,\"showGmpOutcome\":false,\"manualActivation\":false,\"negRiskOther\":false,\"umaResolutionStatuses\":\"[\\\"proposed\\\", \\\"disputed\\\", \\\"proposed\\\", \\\"disputed\\\"]\",\"pendingDeployment\":false,\"deploying\":false,\"rfqEnabled\":false,\"holdingRewardsEnabled\":false,\"feesEnabled\":true,\"requiresTranslation\":false,\"feeType\":\"finance_prices_fees\",\"feeSchedule\":{\"exponent\":1,\"rate\":0.04,\"takerOnly\":true,\"rebateRate\":0.25}},{\"id\":\"824952\",\"question\":\"MicroStrategy sells any Bitcoin by December 31, 2026?\",\"conditionId\":\"0x8213d395e079614d6c4d7f4cbb9be9337ab51648a21cc2a334ae8f1966d164b4\",\"slug\":\"microstrategy-sells-any-bitcoin-by-december-31-2026\",\"resolutionSource\":\"\",\"endDate\":\"2026-07-01T04:00:00Z\",\"liquidity\":\"33063.2289\",\"startDate\":\"2025-12-04T21:46:05.703Z\",\"image\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/will-microstrategy-purchase-bitcoin-july-1-7-mzoE5T[...]
