{
  "log": {
    "_recordingName": "polymarket/clob-prices-history-interval",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a76385f577c34f8fe951164df2a98092",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "market",
              "value": "78433024518676680431174478322854148606578065650008220678402966840627347604025"
            },
            {
              "name": "interval",
              "value": "1h"
            }
          ],
          "url": "https://clob.polymarket.com/prices-history?market=78433024518676680431174478322854148606578065650008220678402966840627347604025&interval=1h"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1579,
            "text": "{\"history\":[{\"t\":1778038444,\"p\":0.215},{\"t\":1778038505,\"p\":0.21},{\"t\":1778038564,\"p\":0.205},{\"t\":1778038624,\"p\":0.205},{\"t\":1778038684,\"p\":0.205},{\"t\":1778038744,\"p\":0.205},{\"t\":1778038818,\"p\":0.2},{\"t\":1778038864,\"p\":0.2},{\"t\":1778038924,\"p\":0.2},{\"t\":1778038987,\"p\":0.2},{\"t\":1778039055,\"p\":0.2},{\"t\":1778039104,\"p\":0.2},{\"t\":1778039163,\"p\":0.2},{\"t\":1778039223,\"p\":0.205},{\"t\":1778039284,\"p\":0.205},{\"t\":1778039344,\"p\":0.205},{\"t\":1778039404,[...]
