{
  "log": {
    "_recordingName": "fal/wan3p0-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f565d9b206cb231938ccf69600b7b4b0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The cat blinks slowly and tilts its head, soft breeze through fur, cinematic close-up.\",\"start_image_url\":\"<inline image/jpeg data URL — replace with a real URL or upload>\",\"resolution\":\"480p\",\"aspect_ratio\":\"1:1\",\"duration\":2,\"audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/alibaba/wan-3.0/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 308,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa7b4cc/2N1V77NaXhzRjKLCEQicU_3uVAqVd1.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"2N1V77NaXhzRjKLCEQicU_3uVAqVd1.mp4\",\"file_size\":1755821,\"width\":632,\"height\":632,\"fps\":30.0,\"duration\":2.0,\"num_frames\":60},\"seed\":67256668,\"duration\":2.0,\"actual_prompt\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "2.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "e1cc2aa8-b166-4e14-9dbb-ea3c73fb596b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 148733,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
