{
  "log": {
    "_recordingName": "kie/kling-30-omni-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"cat1.jpg\",\"contentType\":\"image/jpeg\",\"size\":83558},\"uploadPath\":\"images/test-uploads\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 396,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1787236269353-9rcovm5f1hb.jpg\",\"filePath\":\"kieai/136592/images/test-uploads/1787236269353-9rcovm5f1hb.jpg\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1787236269353-9rcovm5f1hb.jpg\",\"fileSize\":83558,\"mimeType\":\"image/jpeg\",\"uploadedAt\":\"2026-08-20T14:31:10.292Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1251,
      },
      {
        "_id": "b84eba754c9d6b0b273f113524fccc6c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"kling-3.0-omni/image-to-video\",\"input\":{\"prompt\":\"The white cat looks toward the camera, blinks slowly, and gently tilts its head.\",\"image_urls\":[\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1787236269353-9rcovm5f1hb.jpg\"],\"resolution\":\"720p\",\"duration\":5,\"audio\":false,\"customize_multi_shots\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ab58b55b117f84bed432515027706d49\",\"recordId\":\"ab58b55b117f84bed432515027706d49\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 363,
      },
      {
        "_id": "287bdba0560a39e94ddcec012830cb1f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "ab58b55b117f84bed432515027706d49"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=ab58b55b117f84bed432515027706d49"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 799,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ab58b55b117f84bed432515027706d49\",\"model\":\"kling-3.0-omni/image-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":5,\\\\\\\"generate_type\\\\\\\":\\\\\\\"image-to-video\\\\\\\",\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"auto\\\\\\\",\\\\\\\"elements\\\\\\\":[],\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1787236269353-9rcovm5f1hb.jpg\\\\\\\"],\\\\\\\"video_urls\\\\\\\":[],\\\\\\\"audio\\\\\\\":false,\\\\\\\"customize_multi_shots\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"The white cat looks toward the camera, blinks slowly, and gently tilts its head.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"kling-3.0-omni/image-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1787236270577,\"creditsConsumed\":70.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 208,
      },
      {
        "_id": "287bdba0560a39e94ddcec012830cb1f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
     [...]
