{
  "log": {
    "_recordingName": "elevenlabs/voice-pvc-sample-speaker-audio",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "be54fb0ad9f0af85d515ee3f9ca9bd6f",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/voices/pvc/invalid_voice_id/samples/invalid_sample_id/speakers/invalid_speaker_id/audio"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 272,
            "text": "{\"detail\":{\"type\":\"not_found\",\"code\":\"voice_not_found\",\"message\":\"A voice with ID 'invalid_voice_id' was not found or you do not have access to it. Please make sure the voice is shared with you.\",\"status\":\"voice_not_found\",\"request_id\":\"82a29004fb0a27a804bb79bfc6d593e6\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-trace-id",
              "value": "82a29004fb0a27a804bb79bfc6d593e6"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 764,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
