{
  "log": {
    "_recordingName": "binance/time",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ac688c48c18ff17a93daa141cd8b2e4c",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.binance.com/api/v3/time"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 28,
            "text": "{\"serverTime\":1780907032053}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "2"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "2"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 391,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
