{
  "log": {
    "_recordingName": "fal/lightricks-ltx-2-5-text-to-video-fast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "68b6dced9435de473114e85fdacbbfb5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Through-the-veil shot of a bride's face during an Indian wedding ceremony, camera positioned behind the sheer red dupatta fabric, the embroidered pattern creating a textured overlay on her face, her eyes lined with kohl looking down at henna-covered hands, marigold garlands in soft background bokeh, 85mm f/1.2 focused through the fabric layer, warm tungsten and candlelight, Mira Nair Monsoon Wedding intimacy\",\"duration\":6,\"resolution\":\"720p\"}"
          },
          "queryString": [],
          "url": "https://fal.run/lightricks/ltx-2.5/text-to-video/fast"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 259,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad82e9/3rlZxdFkvrELhG6yicvXf_WZPJrqjI.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"3rlZxdFkvrELhG6yicvXf_WZPJrqjI.mp4\",\"file_size\":1480855,\"width\":1280,\"height\":720,\"fps\":25.0,\"duration\":6.12,\"num_frames\":153}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "54.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "ca920ba7-f13e-413b-8fac-d599ba5ffc62"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 24309,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
