{
  "log": {
    "_recordingName": "binance/ui-klines",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ed947fe2209e64e1b81a6be5bc567a53",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            },
            {
              "name": "interval",
              "value": "1m"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.binance.com/api/v3/uiKlines?symbol=BTCUSDT&interval=1m&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 174,
            "text": "[[1780925100000,\"63720.34000000\",\"63741.72000000\",\"63700.00000000\",\"63700.01000000\",\"48.25845000\",1780925159999,\"3075102.40595270\",3610,\"26.86068000\",\"1711519.70575000\",\"0\"]]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "2"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "2"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 547,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
