{
  "log": {
    "_recordingName": "openai/codex-usage",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2b0eefe5aa665f23ab47afdfd6b079b1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "chatgpt-account-id",
              "value": "test-account-id"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://chatgpt.com/backend-api/wham/usage"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 534,
            "text": "{\"plan_type\":\"pro\",\"rate_limit\":{\"allowed\":true,\"limit_reached\":false,\"primary_window\":{\"used_percent\":37,\"limit_window_seconds\":18000,\"reset_after_seconds\":7200,\"reset_at\":1782556800},\"secondary_window\":{\"used_percent\":12,\"limit_window_seconds\":604800,\"reset_after_seconds\":432000,\"reset_at\":1782950400}},\"additional_rate_limits\":[],\"credits\":{\"has_credits\":true,\"unlimited\":false,\"balance\":\"9.99\",\"approx_local_messages\":[],\"approx_cloud_messages\":[]},\"rate_limit_reached_type\":null,\"rate_limit_reset_credits\":{\"available_count\":0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 13,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
