{
  "log": {
    "_recordingName": "fal/tripo3d-p2-text-to-3d",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0484dc9e9e912d5a1372a2aa62e47cc8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red panda waves once, then holds still.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/tripo3d/p2/text-to-3d"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 777,
            "text": "{\"model_mesh\":{\"url\":\"https://v3b.fal.media/files/b/0aad256c/wBrH9EsDTxFI1guQd4yDU_model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":2747476},\"model_urls\":{\"glb\":{\"url\":\"https://v3b.fal.media/files/b/0aad256c/wBrH9EsDTxFI1guQd4yDU_model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":2747476},\"fbx\":null,\"base_model\":null,\"pbr_model\":{\"url\":\"https://v3b.fal.media/files/b/0aad256c/wBrH9EsDTxFI1guQd4yDU_model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":2747476}},\"rendered_image\":{\"url\":\"https://v3b.fal.media/files/b/0aad256c/cIrdpu2pYTatpGDpFnjIT_preview.png\",\"content_type\":\"image/png\",\"file_name\":\"preview.png\",\"file_size\":206579},\"task_id\":\"e8b7eec0-1c82-4c02-a284-df06a4b8b720\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "110"
            },
            {
              "name": "x-fal-served-from",
              "value": "5e81cd9a-0edf-4568-b345-f7f19e15ea8f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 95356,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
