{
  "log": {
    "_recordingName": "elevenlabs/workspace-analytics-requests",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "983f9097ef264805aabeb04b7739e7d6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"start_time\":4102444800000,\"limit\":1,\"sort\":\"asc\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/workspace/analytics/requests"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 438,
            "text": "{\"columns\":[\"workspace_id\",\"timestamp\",\"event_id\",\"trace_id\",\"captured_in_zrm\",\"user_id\",\"hashed_xi_api_key\",\"path_pattern\",\"included_in_schema\",\"path\",\"query\",\"method\",\"response_code\",\"latency_seconds\"],\"column_types\":[\"String\",\"DateTime\",\"String\",\"String\",\"Bool\",\"String\",\"String\",\"String\",\"Bool\",\"String\",\"String\",\"String\",\"Int\",\"Float\"],\"rows\":[],\"column_units\":[null,null,null,null,null,null,null,null,null,null,null,null,null,null]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 867,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
