{
  "log": {
    "_recordingName": "kie/suno/voice-generate-bogus-ids",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0e7ac7c1bb9f4878289925f4967819e2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"taskId\":\"apicity-test-bogus-task-id\",\"verifyUrl\":\"https://invalid-host-apicity-test.invalid/verify.mp3\",\"voiceName\":\"Apicity Test Voice\",\"description\":\"error-path fixture only\",\"style\":\"Pop\",\"callBackUrl\":\"https://example.com/cb\",\"singerSkillLevel\":\"beginner\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/voice/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 58,
            "text": "{\"code\":422,\"msg\":\"Validate record not found\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 658,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
