{
  "log": {
    "_recordingName": "fal/lightricks-ltx-2-5-text-to-video-pro",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "05ea1aaa70f62feee6803bb42e78756c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Through-the-veil shot of a bride's face during an Indian wedding ceremony, camera positioned behind the sheer red dupatta fabric, the embroidered pattern creating a textured overlay on her face, her eyes lined with kohl looking down at henna-covered hands, marigold garlands in soft background bokeh, 85mm f/1.2 focused through the fabric layer, warm tungsten and candlelight, Mira Nair Monsoon Wedding intimacy\",\"duration\":6,\"resolution\":\"720p\"}"
          },
          "queryString": [],
          "url": "https://fal.run/lightricks/ltx-2.5/text-to-video/pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 259,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad8399/jXrwVj2DiXIbJpKPEiMyx_vvPI1RJ3.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"jXrwVj2DiXIbJpKPEiMyx_vvPI1RJ3.mp4\",\"file_size\":1975914,\"width\":1280,\"height\":720,\"fps\":25.0,\"duration\":6.12,\"num_frames\":153}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "72.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "ac0e5e8a-c182-490a-856f-3b95ebaa1c31"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 34094,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
