{
  "log": {
    "_recordingName": "free/filebin-upload-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3348f1a35e0d220da06e0157db456042",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://filebin.net/apicity-test-img/cat1.jpg"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 378,
            "text": "{\n    \"bin\": {\n        \"id\": \"apicity-test-img\",\n        \"readonly\": false,\n        \"bytes\": 83558,\n        \"bytes_readable\": \"84 kB\",\n        \"files\": 1,\n        \"updated_at\": \"2026-04-16T07:19:25.458442Z\",\n        \"updated_at_relative\": \"now\",\n        \"created_at\": \"2026-04-11T07:56:35.588293Z\",\n        \"created_at_relative\": \"4 days ago\",\n        \"expired_at\": \"2026-04-23T07:19:25.458442Z\",\n        \"expired_at_relative\": \"6 days from now\"\n    },\n    \"file\": {\n        \"filename\": \"cat1.jpg\",\n        \"content-type\": \"image/jpeg\",\n        \"bytes\": 83558,\n        \"bytes_readable\": \"84 kB\",\n        \"md5\": \"ORomBIzml7oHKs2DIJkj9w==\",\n        \"sha256\": \"561dbe5dcd0c931cd3b41705ebe00df9181560967cea8b17128373a06ab911a3\",\n        \"updated_at\": \"2026-04-16T07:19:25.449692Z\",\n        \"updated_at_relative\": \"now\",\n        \"created_at\": \"2026-04-11T07:56:35.906369Z\",\n        \"created_at_relative\": \"4 days ago\"\n    }\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-report-abuse",
              "value": "abuse@filebin.net"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 652,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
