{
  "log": {
    "_recordingName": "kie/kling-v3-turbo-text-to-video-rate-limit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5882ad50f1f1b2c884a8541c57fc202f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"kling/v3-turbo-text-to-video\",\"input\":{\"prompt\":\"A cinematic drone shot over glass towers at sunrise.\",\"duration\":\"5\",\"aspect_ratio\":\"16:9\",\"resolution\":\"720p\"}}"
          }
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 52,
            "text": "{\"code\":429,\"msg\":\"Rate limit exceeded\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 429,
          "statusText": "Too Many Requests"
        },
        "time": 0,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
