{
  "log": {
    "_recordingName": "google-flow/contracts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"cookies\":\"SID=fixture;\"}"
          },
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 124,
            "text": "{\"ok\":true,\"method\":\"POST\",\"path\":\"/accounts\",\"query\":{},\"body\":{\"cookies\":\"SID=fixture;\"},\"contentType\":\"application/json\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 63,
        "_id": "8eb262de214f74e590473dea3ec1c6aa"
      },
[...]
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/accounts/user%40example.com"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 75,
            "text": "{\"ok\":true,\"method\":\"GET\",\"path\":\"/accounts/user%40example.com\",\"query\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 6,
        "_id": "e4299073db29786165ba637c8dadde48"
      },
[...]
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"CapSolver\":\"provider-key\"}"
          },
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/accounts/captcha-providers"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 144,
            "text": "{\"ok\":true,\"method\":\"POST\",\"path\":\"/accounts/captcha-providers\",\"query\":{},\"body\":{\"CapSolver\":\"provider-key\"},\"contentType\":\"application/json\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 6,
        "_id": "97b088719ac83045e8ec3115de58a846"
      },
[...]
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "date",
              "value": "2026-06-25"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "anonymized",
              "value": "true"
            }
          ],
          "url": "https://api.useapi.net/v1/google-flow/accounts/captcha-stats?anonymized=true&date=2026-06-25&limit=10"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 122,
            "text": "{\"ok\":true,\"method\":\"GET\",\"path\":\"/accounts/captcha-stats\",\"query\":{\"date\":\"2026-06-25\",\"limit\":\"10\",\"anonymized\":\"true\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4,
        "_id": "32ecdb0037972d71ec11f4aa20c853b2"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "image/png"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "image/png",
            "params": [],
            "text": "fixture-image-bytes"
          },
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/assets/user%40example.com"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 120,
            "text": "{\"ok\":true,\"method\":\"POST\",\"path\":\"/assets/user%40example.com\",\"query\":{},\"body\":{\"bytes\":19},\"contentType\":\"image/png\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4,
        "_id": "328857b8baea1c5a5a413cef324c42c7"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/assets/media-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 62,
            "text": "{\"ok\":true,\"method\":\"GET\",\"path\":\"/assets/media-1\",\"query\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7,
        "_id": "18722c983eaef7392d4271e8630b4fd6"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"displayName\":\"Ari\",\"imageReference_1\":\"media-1\"}"
          },
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/characters"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 150,
            "text": "{\"ok\":true,\"method\":\"POST\",\"path\":\"/characters\",\"query\":{},\"body\":{\"displayName\":\"Ari\",\"imageReference_1\":\"media-1\"},\"contentType\":\"application/json\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 5,
        "_id": "e0a622eabb7e4b364678602795a43aa7"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "email",
              "value": "user@example.com"
            }
          ],
          "url": "https://api.useapi.net/v1/google-flow/characters?email=user%40example.com"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84,
            "text": "{\"ok\":true,\"method\":\"GET\",\"path\":\"/characters\",\"query\":{\"email\":\"user@example.com\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3,
        "_id": "2e6d4ba08c5409df353c075e5b810615"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/characters/char%2Fref"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 69,
            "text": "{\"ok\":true,\"method\":\"GET\",\"path\":\"/characters/char%2Fref\",\"query\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7,
        "_id": "e1949843fc1ab480c34eecb9022792c2"
      },
[...]
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"user@example.com\",\"voice\":\"Aoede\",\"displayName\":\"Narrator\",\"dialog\":\"Hello there\",\"voicePerformance\":\"Warm and clear\"}"
          },
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/voices"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 224,
            "text": "{\"ok\":true,\"method\":\"POST\",\"path\":\"/voices\",\"query\":{},\"body\":{\"email\":\"user@example.com\",\"voice\":\"Aoede\",\"displayName\":\"Narrator\",\"dialog\":\"Hello there\",\"voicePerformance\":\"Warm and clear\"},\"contentType\":\"application/json\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3,
        "_id": "78faef5676bedb429caffb083409d688"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "email",
              "value": "user@example.com"
            },
            {
              "name": "source",
              "value": "user"
            }
          ],
          "url": "https://api.useapi.net/v1/google-flow/voices?email=user%40example.com&source=user"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 96,
            "text": "{\"ok\":true,\"method\":\"GET\",\"path\":\"/voices\",\"query\":{\"email\":\"user@example.com\",\"source\":\"user\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2,
        "_id": "7096fd7768a15479db6c0e8de84ec847"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/voices/voice%2Fref"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 66,
            "text": "{\"ok\":true,\"method\":\"GET\",\"path\":\"/voices/voice%2Fref\",\"query\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2,
        "_id": "f1ce770da8c84c0fa7dc267e2384c1a0"
      },
[...]
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A clean product photo\",\"count\":1}"
          },
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/images"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 140,
            "text": "{\"ok\":true,\"method\":\"POST\",\"path\":\"/images\",\"query\":{},\"body\":{\"prompt\":\"A clean product photo\",\"count\":1},\"contentType\":\"application/json\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2,
        "_id": "e0aacc12c6d9973b21f20023120960ed"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"mediaGenerationId\":\"image-1\",\"resolution\":\"2k\"}"
          },
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/images/upscale"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 153,
            "text": "{\"ok\":true,\"method\":\"POST\",\"path\":\"/images/upscale\",\"query\":{},\"body\":{\"mediaGenerationId\":\"image-1\",\"resolution\":\"2k\"},\"contentType\":\"application/json\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4,
        "_id": "1a98b7512c3d000f021c649e603b0c26"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A slow camera push through a studio\",\"count\":1}"
          },
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/videos"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 154,
            "text": "{\"ok\":true,\"method\":\"POST\",\"path\":\"/videos\",\"query\":{},\"body\":{\"prompt\":\"A slow camera push through a studio\",\"count\":1},\"contentType\":\"application/json\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2,
        "_id": "42ae2e1b858400ff71fb21ef51dcb1cf"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"mediaGenerationId\":\"video-1\",\"resolution\":\"1080p\"}"
          },
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/videos/upscale"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 156,
            "text": "{\"ok\":true,\"method\":\"POST\",\"path\":\"/videos/upscale\",\"query\":{},\"body\":{\"mediaGenerationId\":\"video-1\",\"resolution\":\"1080p\"},\"contentType\":\"application/json\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3,
        "_id": "1539962a1c57d554251ef0e474dce487"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"mediaGenerationId\":\"video-1\"}"
          },
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/videos/gif"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 131,
            "text": "{\"ok\":true,\"method\":\"POST\",\"path\":\"/videos/gif\",\"query\":{},\"body\":{\"mediaGenerationId\":\"video-1\"},\"contentType\":\"application/json\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2,
        "_id": "2d76ae494eb5e87fe4ec986af90cf6b4"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"mediaGenerationId\":\"video-1\",\"prompt\":\"Continue the motion\"}"
          },
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/videos/extend"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 165,
            "text": "{\"ok\":true,\"method\":\"POST\",\"path\":\"/videos/extend\",\"query\":{},\"body\":{\"mediaGenerationId\":\"video-1\",\"prompt\":\"Continue the motion\"},\"contentType\":\"application/json\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2,
        "_id": "bf80d5737980c47a8207eb6dd5aa3eb1"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"media\":[{\"mediaGenerationId\":\"video-1\",\"trimStart\":1},{\"mediaGenerationId\":\"video-2\",\"trimEnd\":1}]}"
          },
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/videos/concatenate"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 209,
            "text": "{\"ok\":true,\"method\":\"POST\",\"path\":\"/videos/concatenate\",\"query\":{},\"body\":{\"media\":[{\"mediaGenerationId\":\"video-1\",\"trimStart\":1},{\"mediaGenerationId\":\"video-2\",\"trimEnd\":1}]},\"contentType\":\"application/json\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3,
        "_id": "90189d24cabaa830dfc9d5cc7e0b90aa"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "options",
              "value": "history"
            }
          ],
          "url": "https://api.useapi.net/v1/google-flow/jobs?options=history"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 71,
            "text": "{\"ok\":true,\"method\":\"GET\",\"path\":\"/jobs\",\"query\":{\"options\":\"history\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2,
        "_id": "1ff3aadc207bd29b42905868c1be4897"
      },
      {
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.useapi.net/v1/google-flow/jobs/job-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 58,
            "text": "{\"ok\":true,\"method\":\"GET\",\"path\":\"/jobs/job-1\",\"query\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2,
        "_id": "202737fb9f794d4c0309c6701201d814"
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
