{
  "log": {
    "_recordingName": "fal/openai-gpt-image-2-5-sunburst-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3fa145817bb7c655f0c7650d5665c141",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red balloon.\",\"image_urls\":[\"https://storage.googleapis.com/falserverless/example_inputs/nano-banana-edit-input.png\"],\"quality\":\"low\"}"
          },
          "queryString": [],
          "url": "https://fal.run/openai/gpt-image-2.5/sunburst/edit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 216,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad8758/UbvrIaAMemxhov1wSMBcE_PS20jh2L.png\",\"content_type\":\"image/png\",\"file_name\":\"UbvrIaAMemxhov1wSMBcE_PS20jh2L.png\",\"file_size\":null,\"width\":null,\"height\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.0142"
            },
            {
              "name": "x-fal-served-from",
              "value": "dc14b60d-c83a-4d91-9e49-93558697b8a4"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 21524,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
