{
  "log": {
    "_recordingName": "fal/models-search-query",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "045d3a676066bd0fc887c48a24941c31",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "flux"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ],
          "url": "https://api.fal.ai/v1/models?q=flux&limit=3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2156,
            "text": "{\"models\":[{\"endpoint_id\":\"fal-ai/flux-2-pro\",\"metadata\":{\"display_name\":\"Flux 2 Pro\",\"category\":\"text-to-image\",\"description\":\"Image editing with FLUX.2 [pro] from Black Forest Labs. Ideal for high-quality image manipulation, style transfer, and sequential editing workflows\",\"status\":\"active\",\"tags\":[],\"updated_at\":\"2026-02-27T22:27:29.257Z\",\"is_favorited\":false,\"thumbnail_url\":\"https://v3b.fal.media/files/b/penguin/UfryXXm9my6IM8HsoP9FL_054c2c2953dc491996904114c6e04836.jpg\",\"model_url\":\"https://fal.run/fal-ai/flux-2-pro\",\"license_type\":\"commercial\",\"date\":\"2025-11-23T00:14:31.608Z\",\"group\":{\"key\":\"Flux2-Pro\",\"label\":\"Text to Image\"},\"highlighted\":false,\"kind\":\"inference\",\"pinned\":false}},{\"endpoint_id\":\"fal-ai/flux-2-pro/edit\",\"metadata\":{\"display_name\":\"Flux 2 Pro\",\"category\":\"image-to-image\",\"description\":\"Text-to-image generation with FLUX.2 [pro] from Black Forest Labs. Optimized for maximum quality, exceptional photorealism and artistic images.\",\"status\":\"active\",\"tags\":[],\"updated_at\":\"2026-02-27T22:27:42.524Z\",\"is_favorited\":false,\"thumbnail_url\":\"https://v3b.fal.media/files/b/penguin/eZetcrsZI6AQLCD3f5gaI_b173ae004bdd4108bd1be54eb6e49c7a.jpg\",\"model_url\":\"https://fal.run/fal-ai/flux-2-pro/edit\",\"license_type\":\"commercial\",\"date\":\"2025-11-23T00:13:41.404Z\",\"group\":{\"key\":\"Flux2-Pro\",\"label\":\"Image Editing\"},\"highlighted\":false,\"kind\":\"inference\",\"pinned\":false}},{\"endpoint_id\":\"fal-ai/flux-2\",\"metadata\":{\"display_name\":\"Flux 2\",\"category\":\"text-to-image\",\"description\":\"Text-to-image generation with FLUX.2 [dev] from Black Forest Labs. Enhanced realism, crisper text generation, and native editing capabilities.\",\"status\":\"active\",\"tags\":[],\"updated_at\":\"2026-02-27T22:14:05.129Z\",\"is_favorited\":false,\"thumbnail_url\":\"https://v3b.fal.media/files/b/penguin/zSBCJtPpeIQwR5AC_IamX_b1e1137961754e4d851907c21f8c20cd.jpg\",\"model_url\":\"https://fal.run/fal-ai/flux-2\",\"license_type\":\"commercial\",\"date\":\"2025-11-23T00:15:07.672Z\",\"group\":{\"key\":\"Flux2\",\"label\":\"Text to Image\"},\"highlighted\":false,\"kind\":\"inference\",\"stream_url\":\"https://fal.ai/models/fal-ai/flux-2/stream\",\"pinned\":false}}],\"next_cursor\":\"Mg\",\"has_more\":true}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::hw879-1774726495992-2d9f3cfba89e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 460,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
