{
  "log": {
    "_recordingName": "polymarket/gamma-markets-by-id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bfe7283422d79fe1ac73908eaf2001b1",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://gamma-api.polymarket.com/markets/540816"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4306,
            "text": "{\"id\":\"540816\",\"question\":\"Russia-Ukraine Ceasefire before GTA VI?\",\"conditionId\":\"0x9c1a953fe92c8357f1b646ba25d983aa83e90c525992db14fb726fa895cb5763\",\"slug\":\"russia-ukraine-ceasefire-before-gta-vi-554\",\"resolutionSource\":\"\",\"endDate\":\"2026-07-31T12:00:00Z\",\"liquidity\":\"52766.6465\",\"startDate\":\"2025-05-02T15:48:00.174Z\",\"image\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/what-will-happen-before-gta-vi-7hpNkEzQEqUE.jpg\",\"icon\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/what-will-happen-before-gta-vi-7hpNkEzQEqUE.jpg\",\"description\":\"This market will resolve to \\\"Yes\\\" if  if there is an official ceasefire agreement, defined as a publicly announced and mutually agreed halt in military engagement, between Russia and Ukraine before Grand Theft Auto VI is officially released in the US. Otherwise, this market will resolve to \\\"No\\\".\\n\\nIf neither occurs by July 31, 2026, 11:59 PM ET, this market will resolve to 50-50.\\n\\nFor the purposes of this market, \\\"release\\\" refers to the game becoming publicly available for purchase or download in the US. Early access, beta versions, other forms of pre-release availability, or leaks will not count as an official release. If the release is only for certain consoles (e.g. Xbox Series X/S) it will count.\\n\\nThe resolution source for the release of GTA VI is official information from Rockstar Games or its parent company, Take-Two Interactive.\\n\\nOnly ceasefires which constitute a general pause in the conflict will qualify. Ceasefires which only apply to energy infrastructure, the Black Sea, or other similar agreements will not qualify.\\n\\nAny form of informal agreement will not be considered an official ceasefire. Humanitarian pauses will not count toward the resolution of this market.\\n\\nThe resolution for a ceasefire will be based on official announcements from both Russia and Ukraine; however, a wide consensus of credible media reporting stating an official ceasefire agreement between Russia and Ukraine has been reached will suffice.\\n\",\"outcomes\":\"[\\\"Yes\\\", \\\"No\\\"]\",\"outcomePrices\":\"[\\\"0.555\\\", \\\"0.445\\\"]\",\"volume\":\"1655968.9173510466\",\"active\":true,\"closed\":false,\"marketMakerAddress\":\"\",\"createdAt\":\"2025-05-02T15:03:10.397014Z\",\"updatedAt\":\"2026-05-06T04:54:08.62849Z\",\"new\":false,\"featured\":false,\"submitted_by\":\"0x91430CaD2d3975766499717fA0D66A78D814E5c5\",\"archived\":false,\"resolvedBy\":\"0x6A9D222616C90FcA5754cd1333cFD9b7fb6a4F74\",\"restricted\":true,\"groupItemTitle\":\"Russia-Ukraine Ceasefire\",\"groupItemThreshold\":\"1\",\"questionID\":\"0x74dcd73f29877722e217723e10f2e8f9a888976f7cfc796234b75a3d3214d1c8\",\"enableOrderBook\":true,\"orderPriceMinTickSize\":0.01,\"orderMinSize\":5,\"volumeNum\":1655968.9173510466,\"liquidityNum\":52766.6465,\"endDateIso\":\"2026-07-31\",\"startDateIso\":\"2025-05-02\",\"hasReviewedDates\":true,\"volume24hr\":3746.0240860000004,\"volume1wk\":31663.920685999972,\"volume1mo\":234838.66720600158,\"volume1yr\":1646906.6815639548,\"clobTokenIds\":\"[\\\"8501497159083948713316135768103773293754490207922884688769443031624417212426\\\", \\\"2527312495175492857904889758552137141356236738032676480522356889996545113869\\\"]\",\"umaBond\":\"500\",\"umaReward\":\"5\",\"volume24hrClob\":3746.0240860000004,\"volume1wkClob\":31663.920685999972,\"volume1moClob\":234838.66720600158,\"volume1yrClob\":1646906.6815639548,\"volumeClob\":1655968.9173510466,\"liquidityClob\":52766.6465,\"makerBaseFee\":1000,\"takerBaseFee\":1000,\"customLiveness\":0,\"acceptingOrders\":true,\"negRisk\":false,\"negRiskRequestID\":\"\",\"ready\":false,\"funded\":false,\"acceptingOrdersTimestamp\":\"2025-05-02T15:47:37Z\",\"cyom\":false,\"competitive\":0.9969841230278408,\"pagerDutyNotificationEnabled\":false,\"approved\":true,\"rewardsMinSize\":0,\"rewardsMaxSpread\":0,\"spread\":0.01,\"oneWeekPriceChange\":0.02,\"oneMonthPriceChange\":0.02,\"oneYearPriceChange\":-0.135,\"lastTradePrice\":0.55,\"bestBid\":0.55,\"bestAsk\":0.56,\"automaticallyActive\":true,\"clearBookOnStart\":true,\"seriesColor\":\"\",\"showGmpSeries\":false,\"showGmpOutcome\":false,\"manualActivation\":false,\"negRiskOther\":false,\"umaResolutionStatuses\":\"[]\",\"pendingDeployment\":false,\"deploying\":false,\"deployingTimestamp\":\"2025-05-02T15:47:04.719613Z\",\"rfqEnabled\":false,\"holdingRewardsEnabled\":false,\"feesEnabled\":true,\"requiresTranslation\":false,\"feeType\":\"general_fees\",\"feeSchedule\":{\"exponent\":1,\"rate\":0.05,\"takerOnly\":true,\"rebateRate\":0.25}}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Wed, 06 May 2026 04:55:41 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 55,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
