{
  "log": {
    "_recordingName": "dolthub/operations-get-unauthenticated",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2b6edc93bf7ef025543e36bb5fccd1df",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://www.dolthub.com/api/v2/operations/fork%2Fdolthub%2Fip-to-country%2Fabc123"
        },
        "response": {
          "content": {
            "mimeType": "application/problem+json",
            "size": 334,
            "text": "{\"type\":\"https://dolthub.com/docs/products/dolthub/api/v2/models/#model-errorcode\",\"title\":\"Unauthenticated\",\"status\":401,\"detail\":\"Authentication credentials were missing or invalid.\",\"code\":\"UNAUTHENTICATED\",\"request_id\":\"5e4d5412-01e6-4f9f-8844-832564182446\",\"instance\":\"/api/v2/operations/fork%2Fdolthub%2Fip-to-country%2Fabc123\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/problem+json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 639,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
