{
  "log": {
    "_recordingName": "kie/happyhorse-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c5b55620d987b328300ba38cd196cc6a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"happyhorse/text-to-video\",\"input\":{\"prompt\":\"A miniature city built from cardboard and bottle caps comes to life at night. A cardboard train slowly passes through, with small lights dotting the scene and illuminating the way ahead.\",\"resolution\":\"720p\",\"aspect_ratio\":\"16:9\",\"duration\":5,\"seed\":1622429582}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f25b8471937c4f62ca6ca1b036f1b52b\",\"recordId\":\"f25b8471937c4f62ca6ca1b036f1b52b\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 417,
      },
      {
        "_id": "e8e9a31aae1b831dabb45163416ff74e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "f25b8471937c4f62ca6ca1b036f1b52b"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=f25b8471937c4f62ca6ca1b036f1b52b"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 630,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f25b8471937c4f62ca6ca1b036f1b52b\",\"model\":\"happyhorse/text-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":5,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"seed\\\\\\\":1622429582,\\\\\\\"prompt\\\\\\\":\\\\\\\"A miniature city built from cardboard and bottle caps comes to life at night. A cardboard train slowly passes through, with small lights dotting the scene and illuminating the way ahead.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"happyhorse/text-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1777533406022}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 214,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
