{
  "log": {
    "_recordingName": "kie/happyhorse-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "06dc51d5031907075ae51e5430ba3140",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"happyhorse/text-to-video\",\"input\":{\"prompt\":\"A miniature city built from cardboard and bottle caps comes to life at night. A cardboard train slowly passes through, with small lights dotting the scene and illuminating the way ahead.\",\"resolution\":\"720p\",\"aspect_ratio\":\"16:9\",\"duration\":3,\"seed\":1622429582}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"75b7b726864920bec61affce7f6fabd8\",\"recordId\":\"75b7b726864920bec61affce7f6fabd8\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 554,
      },
      {
        "_id": "6459a8f6fb8bea2d2e22e85ca8af4eee",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "75b7b726864920bec61affce7f6fabd8"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=75b7b726864920bec61affce7f6fabd8"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 630,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"75b7b726864920bec61affce7f6fabd8\",\"model\":\"happyhorse/text-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":3,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"seed\\\\\\\":1622429582,\\\\\\\"prompt\\\\\\\":\\\\\\\"A miniature city built from cardboard and bottle caps comes to life at night. A cardboard train slowly passes through, with small lights dotting the scene and illuminating the way ahead.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"happyhorse/text-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1777535159006}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 235,
      },
      {
        "_id": "6459a8f6fb8bea2d2e22e85ca8af4eee",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
