{
  "log": {
    "_recordingName": "free-media-upload/gofile-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8a3ba976bf285927cfec9fe94799fed",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"test.txt\",\"contentType\":\"text/plain\",\"size\":14}}"
          },
          "queryString": [],
          "url": "https://upload.gofile.io/uploadfile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 401,
            "text": "{\"data\":{\"createTime\":1781792716,\"downloadPage\":\"https://gofile.io/d/xsp2vI\",\"guestToken\":\"***\",\"id\":\"f487deb1-31fa-49e1-aeb4-9cab2c2e08f7\",\"md5\":\"8a5d8d58c38e8305135c6fd73de87caa\",\"mimetype\":\"text/plain; charset=utf-8\",\"modTime\":1781792716,\"name\":\"test.txt\",\"parentFolder\":\"cde0bb7b-7a06-4b25-accf-2bb710b075a9\",\"parentFolderCode\":\"xsp2vI\",\"servers\":[\"cold5\"],\"size\":14,\"type\":\"file\"},\"status\":\"ok\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2086,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
