{
  "log": {
    "_recordingName": "fal/models-pricing",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9ae42483bfa2b776548ba78e916f0958",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fal.ai/v1/models/pricing"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"error\":{\"type\":\"validation_error\",\"message\":\"Invalid request parameters\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::7dq42-1775192853477-c6b072131444"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 449,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
