{
  "log": {
    "_recordingName": "elevenlabs/docs",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fc01443e2dff5b356ffc089f6cd230ed",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/docs"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "location",
              "value": "https://elevenlabs.io/docs/api-reference/text-to-speech"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-trace-id",
              "value": "***"
            }
          ],
          "status": 301,
          "statusText": "Moved Permanently"
        },
        "time": 588,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
