{
  "log": {
    "_recordingName": "fal/meshy-v7-image-to-3d",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "15312837a1f117354d2353cef9f917ad",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"image_url\":\"https://v3b.fal.media/files/b/zebra/3osHJDI8IZ2wl6sGtEUeB_image.png\",\"model_type\":\"standard\",\"should_texture\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/meshy/v7/image-to-3d"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1386,
            "text": "{\"animation_glb\":null,\"animation_fbx\":null,\"model_glb\":{\"url\":\"https://v3b.fal.media/files/b/0aa81d6f/oispkwqQWdPKMOmoz0Gi__model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":1317200},\"thumbnail\":{\"url\":\"https://v3b.fal.media/files/b/0aa81d70/9wa5gaU2W40aYIepHth8c_preview.png\",\"content_type\":\"image/png\",\"file_name\":\"preview.png\",\"file_size\":107779},\"model_urls\":{\"glb\":{\"url\":\"https://v3b.fal.media/files/b/0aa81d6f/oispkwqQWdPKMOmoz0Gi__model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":1317200},\"fbx\":{\"url\":\"https://v3b.fal.media/files/b/0aa81d6f/QI1Lu773N5SIAynDmdTDK_model.fbx\",\"content_type\":\"application/octet-stream\",\"file_name\":\"model.fbx\",\"file_size\":1301180},\"obj\":{\"url\":\"https://v3b.fal.media/files/b/0aa81d85/GI58E-6CIMc-EOz1-U4D-_model.obj\",\"content_type\":\"text/plain\",\"file_name\":\"model.obj\",\"file_size\":3255764},\"usdz\":{\"url\":\"https://v3b.fal.media/files/b/0aa81d6f/cmsGEcjNCfnOIyxGp1ZO1_model.usdz\",\"content_type\":\"model/vnd.usdz+zip\",\"file_name\":\"model.usdz\",\"file_size\":1834221},\"blend\":null,\"stl\":{\"url\":\"https://v3b.fal.media/files/b/0aa81d70/Y6K65UuwwlnxHjIuc-0Mx_model.stl\",\"content_type\":\"application/octet-stream\",\"file_name\":\"model.stl\",\"file_size\":1560584}},\"texture_urls\":[],\"seed\":1390082019,\"rigged_character_glb\":null,\"rigged_character_fbx\":null,\"basic_animations\":null,\"rig_task_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "a5440d3e-9538-4922-b619-67dd727b5e79"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 60252,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
