{
  "log": {
    "_recordingName": "polymarket/gamma-series-by-id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5a16bf532aa66e9800e55f4affeadd73",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://gamma-api.polymarket.com/series/1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1259613,
            "text": "{\"id\":\"1\",\"ticker\":\"nfl\",\"slug\":\"nfl\",\"title\":\"NFL\",\"seriesType\":\"single\",\"recurrence\":\"daily\",\"description\":\"NFL\",\"layout\":\"default\",\"active\":true,\"closed\":false,\"archived\":false,\"new\":false,\"featured\":false,\"restricted\":true,\"publishedAt\":\"2022-10-13 00:34:49.115+00\",\"createdBy\":\"15\",\"updatedBy\":\"15\",\"createdAt\":\"2022-10-13T00:34:06.557Z\",\"updatedAt\":\"2026-05-06T04:54:42.561881Z\",\"commentsEnabled\":false,\"competitive\":\"0\",\"volume24hr\":7943.585086,\"startDate\":\"2023-07-01T19:00:00Z\",\"events\":[{\"id\":\"12525\",\"ticker\":\"nfl-dailies-2024-09-16\",\"slug\":\"nfl-dailies-2024-09-16\",\"title\":\"NFL Monday\",\"description\":\"This is a market group for NFL games happening on 2024-09-16\",\"startDate\":\"2024-09-11T19:25:12.544936Z\",\"creationDate\":\"2024-09-16T12:00:00Z\",\"endDate\":\"2024-09-16T12:00:00Z\",\"image\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/nfl.png\",\"icon\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/nfl.png\",\"active\":true,\"closed\":true,\"archived\":false,\"new\":false,\"featured\":false,\"restricted\":true,\"volume\":375113.256868,\"openInterest\":0,\"createdAt\":\"2024-09-11T19:20:58.136184Z\",\"updatedAt\":\"2024-09-18T05:22:59.927158Z\",\"volume1wk\":0,\"volume1mo\":0,\"volume1yr\":0,\"enableOrderBook\":true,\"negRisk\":false,\"commentCount\":3787,\"tags\":[{\"id\":\"1\",\"label\":\"Sports\",\"slug\":\"sports\",\"forceShow\":false,\"publishedAt\":\"2023-10-24 22:37:50.296+00\",\"updatedBy\":15,\"createdAt\":\"2023-10-24T22:37:50.31Z\",\"updatedAt\":\"2026-04-17T20:47:16.461062Z\",\"forceHide\":true,\"requiresTranslation\":false},{\"id\":\"450\",\"label\":\"NFL\",\"slug\":\"nfl\",\"forceShow\":false,\"publishedAt\":\"2023-11-02 23:11:18.762+00\",\"createdAt\":\"2023-11-02T23:11:18.767Z\",\"updatedAt\":\"2026-04-17T20:50:50.139142Z\",\"requiresTranslation\":false}],\"cyom\":false,\"closedTime\":\"2024-09-17T05:17:15Z\",\"showAllOutcomes\":false,\"showMarketImages\":true,\"automaticallyResolved\":true,\"enableNegRisk\":false,\"automaticallyActive\":true,\"seriesSlug\":\"nfl\",\"negRiskAugmented\":false,\"pendingDeployment\":false,\"deploying\":false,\"requiresTranslation\":false},{\"id\":\"12575\",\"ticker\":\"nfl-dailies-2024-09-19\",\"slug\":\"nfl-dailies-2024-09-19\",\"title\":\"NFL Thursday\",\"description\":\"This is a market group for NFL games happening on 2024-09-19\",\"startDate\":\"2024-09-13T18:05:06.880035Z\",\"creationDate\":\"2024-09-19T12:00:00Z\",\"endDate\":\"2024-09-19T12:00:00Z\",\"image\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/nfl.png\",\"icon\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com[...]
