{
  "log": {
    "_recordingName": "fal/veo3-1",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0e59e2983d5b75cd240d32d04f2ae929",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A black lab swimming in an inground suburban swimming pool at sunset.\",\"aspect_ratio\":\"16:9\",\"duration\":\"4s\",\"resolution\":\"720p\",\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/veo3.1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 215,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0a96be7f/47dpa2Ds8j2L1ys_izULu_504dc605c6034063b08c679758e4eb99.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"504dc605c6034063b08c679758e4eb99.mp4\",\"file_size\":6584593}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "2.0"
            },
            {
              "name": "x-fal-request-id",
              "value": "019da070-4413-7e61-becd-777ee85fd206"
            },
            {
              "name": "x-fal-served-from",
              "value": "b7a1f169-09a0-4309-a064-ac0dd859c1b8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 68603,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
