{
  "log": {
    "_recordingName": "simplefunctions/public-market-history",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c435e6e9ac3a68efb613e44f5020c04a",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://simplefunctions.dev/api/public/market/KXRATECUT-26DEC31/history"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84385,
            "text": "{\"ticker\":\"KXRATECUT-26DEC31\",\"windowDays\":7,\"indicatorHistory\":[{\"at\":\"2026-05-22T10:30:40.987Z\",\"price\":34,\"delta\":1,\"iy\":316.63288723452905,\"cri\":1.941},{\"at\":\"2026-05-22T10:45:20.043Z\",\"price\":33,\"delta\":-1,\"iy\":331.1869493788433,\"cri\":2.03},{\"at\":\"2026-05-22T14:45:36.578Z\",\"price\":30,\"delta\":-3,\"iy\":380.90041578522886,\"cri\":2.333},{\"at\":\"2026-05-22T15:15:34.050Z\",\"price\":29,\"delta\":-1,\"iy\":399.70152329234986,\"cri\":2.448},{\"at\":\"2026-05-23T00:15:48.990Z\",\"price\":34,\"delta\":5,\"iy\":317.4457594702015,\"cri\":1.941},{\"at\":\"2026-05-23T01:30:22.875Z\",\"price\":29,\"delta\":-5,\"iy\":400.4663737[...]
