{
  "log": {
    "_recordingName": "polymarket/clob-prices-history-window",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "84343ca4a3e5d7cbad268f4aaabd8ddb",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "market",
              "value": "78433024518676680431174478322854148606578065650008220678402966840627347604025"
            },
            {
              "name": "startTs",
              "value": "1777800000"
            },
            {
              "name": "endTs",
              "value": "1778000000"
            },
            {
              "name": "fidelity",
              "value": "60"
            }
          ],
          "url": "https://clob.polymarket.com/prices-history?market=78433024518676680431174478322854148606578065650008220678402966840627347604025&startTs=1777800000&endTs=1778000000&fidelity=60"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1494,
            "text": "{\"history\":[{\"t\":1777802407,\"p\":0.205},{\"t\":1777806021,\"p\":0.205},{\"t\":1777809608,\"p\":0.21},{\"t\":1777813207,\"p\":0.21},{\"t\":1777816807,\"p\":0.21},{\"t\":1777820409,\"p\":0.21},{\"t\":1777824007,\"p\":0.215},{\"t\":1777827610,\"p\":0.215},{\"t\":1777831208,\"p\":0.215},{\"t\":1777834806,\"p\":0.215},{\"t\":1777838406,\"p\":0.215},{\"t\":1777842006,\"p\":0.16},{\"t\":1777845609,\"p\":0.165},{\"t\":1777849204,\"p\":0.165},{\"t\":1777852806,\"p\":0.145},{\"t\":1777856404,\"p\":0.14},{\"t\":17[...]
