{
  "log": {
    "_recordingName": "fal/minimax-h3-max-turbo-extend-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "961a6b6600427aa10c49957f20994b68",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"video_url\":\"https://storage.googleapis.com/falserverless/example_inputs/flux-3-red-panda.mp4\",\"prompt\":\"The red panda keeps walking along the log, then looks up at a bird.\",\"duration\":1,\"resolution\":\"480P\",\"output\":\"continuation\",\"enable_prompt_expansion\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/h3-max-turbo/extend-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1155,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad22d0/kx2WvaqTmZ3Sj_wmUkUjg_minimax-h3.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"kx2WvaqTmZ3Sj_wmUkUjg_minimax-h3.mp4\",\"file_size\":938462},\"checkpoint\":{\"url\":\"https://v3b.fal.media/files/b/0aad22d0/oi63Z9q9eouZ9hFPlPYgr_minimax-h3-av-checkpoint.safetensors\",\"sha256\":\"9ae4e1d4d41c95fa92494869842dc765e4c3a26215c00d4684f9740df83df86f\",\"size_bytes\":942360,\"version\":1,\"model\":\"minimax-h3\",\"transformer_family\":\"ref2va-tdm-k10\",\"encoded_reference_images\":[],\"loras\":[],\"resolution\":\"480p\",\"checkpoint_id\":\"399b79916f0f735748d05637c208eae4\",\"owner_id\":\"e41da255d3ac92a9583ad4601ebb1dddd3b78b750f9fde7cddcfff47a168900a\",\"source_request_id\":\"01a10b1f-d5cd-7873-b693-63b03896d1e0\",\"issued_at\":1791188010,\"expires_at\":1791274410,\"audience\":\"minimax-h3/continue-video\",\"signature\":\"***\"},\"seed\":2057334268,\"frame_count\":73,\"duration\":3.042,\"source\":{\"width\":864,\"height\":480,\"fps\":24.0,\"duration\":10.041667,\"frame_count\":241,\"has_audio\":true},\"expanded_prompt\":null,\"timings\":{\"fetch\":0.924,\"video_moderation\":1.889,\"generation\":10.142,\"source_encode\":2.546,\"denoising\":2.444,\"safety_wait\":0.0,\"total\":12.955}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "2d25eaec-8af9-4730-afff-1b1ccf311e36"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 13446,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
