{
  "log": {
    "_recordingName": "fal/meta-muse-image-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2d900fda0951b45ed748353337a34ea4",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A cinematic editorial portrait in soft window light with crisp typography\"}"
          },
          "queryString": [],
          "url": "https://fal.run/meta/muse-image/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 247,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad8736/guTxwCeQX7JQYmhxf4byH_90ea49af714546faa5c8904d9df1f4fc.webp\",\"content_type\":\"image/webp\",\"file_name\":\"90ea49af714546faa5c8904d9df1f4fc.webp\",\"file_size\":301444,\"width\":1280,\"height\":1920}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-served-from",
              "value": "1c20d0dc-5847-4240-9b53-429f45d75c3c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 14785,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
