{
  "log": {
    "_recordingName": "fal/recraft-v4-1-flash-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8f150a0454daec6ea256431452ee9927",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red panda waves once, then holds still.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/recraft/v4.1/flash/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 192,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad2589/DKa7OkJTOPv1kpEmcgGJD_oWJ7yG7x.webp\",\"content_type\":\"image/webp\",\"file_name\":\"DKa7OkJTOPv1kpEmcgGJD_oWJ7yG7x.webp\",\"file_size\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-served-from",
              "value": "b9635631-72d5-40e9-8c97-0a0e7ecda5d5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7906,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
