{
  "log": {
    "_recordingName": "elevenlabs/speech-engine",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2aadba6c4dd8b04804e6731cafe6f41c",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "1"
            },
            {
              "name": "search",
              "value": "apicity"
            },
            {
              "name": "sort_direction",
              "value": "desc"
            },
            {
              "name": "sort_by",
              "value": "created_at"
            }
          ],
          "url": "https://api.elevenlabs.io/v1/speech-engine?page_size=1&search=apicity&sort_direction=desc&sort_by=created_at"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 67,
            "text": "{\"detail\":{\"status\":\"invalid_api_key\",\"message\":\"Invalid API key\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 388,
      },
      {
        "_id": "74a9066d4cd0fa35d7f86e095248b1d0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Apicity Speech Engine route test\",\"speech_engine\":{\"ws_url\":\"wss://example.com/transcript\",\"request_headers\":{\"authorization\":{\"variable_name\":\"transcript_auth\"}}},\"language\":\"en\",\"tags\":[\"apicity\"]}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/speech-engine"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 67,
            "text": "{\"detail\":{\"status\":\"invalid_api_key\",\"message\":\"Invalid API key\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
           [...]
