{
  "log": {
    "_recordingName": "elevenlabs/user-token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b68abae0dde7cbb517db593e1a69dc59",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 67,
            "text": "{\"detail\":{\"status\":\"invalid_api_key\",\"message\":\"Invalid API key\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 228,
      },
      {
        "_id": "c6f8cf1159d9c7674cdf669448e4be8d",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/single-use-token/realtime_scribe"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 67,
            "text": "{\"detail\":{\"status\":\"invalid_api_key\",\"message\":\"Invalid API key\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 157,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
