{
  "log": {
    "_recordingName": "free/gofile-upload-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8a3ba976bf285927cfec9fe94799fed",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://upload.gofile.io/uploadfile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 426,
            "text": "{\"data\":{\"createTime\":1776323942,\"downloadPage\":\"https://gofile.io/d/hmoMxW\",\"guestToken\":\"LRQfdjEsQo9VXr2Sa4yPohIW1TKdpSco\",\"id\":\"a7feccb4-96b4-4b2c-923a-832106388ad6\",\"md5\":\"391a26048ce697ba072acd83209923f7\",\"mimetype\":\"image/jpeg\",\"modTime\":1776323942,\"name\":\"cat1.jpg\",\"parentFolder\":\"f476d5ba-b74e-4413-a3db-0d296758a97e\",\"parentFolderCode\":\"hmoMxW\",\"servers\":[\"cold-eu-par-1\"],\"size\":83558,\"type\":\"file\"},\"status\":\"ok\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2563,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
