{
  "log": {
    "_recordingName": "free/gofile-upload-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8a3ba976bf285927cfec9fe94799fed",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://upload.gofile.io/uploadfile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 427,
            "text": "{\"data\":{\"createTime\":1775800207,\"downloadPage\":\"https://gofile.io/d/KCZgu4\",\"guestToken\":\"1dIqPix9ZOpibXrqG9xYJMAZYmXIsA0P\",\"id\":\"50fd5e19-e0cf-4f68-a279-4cba1eb4d2eb\",\"md5\":\"391a26048ce697ba072acd83209923f7\",\"mimetype\":\"image/jpeg\",\"modTime\":1775800207,\"name\":\"cat1.jpg\",\"parentFolder\":\"c546c747-1c25-4b60-8840-7607656ac9c5\",\"parentFolderCode\":\"KCZgu4\",\"servers\":[\"store-na-phx-3\"],\"size\":83558,\"type\":\"file\"},\"status\":\"ok\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1742,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
