{
  "log": {
    "_recordingName": "free/gofile-upload-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8a3ba976bf285927cfec9fe94799fed",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://upload.gofile.io/uploadfile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 427,
            "text": "{\"data\":{\"createTime\":1775794007,\"downloadPage\":\"https://gofile.io/d/wNaxo3\",\"guestToken\":\"V9UMFZnynILp8RCttGO7wi9Z1C2U3Gd2\",\"id\":\"3f9298e7-c8c6-4d06-b862-5ec97f892e2e\",\"md5\":\"391a26048ce697ba072acd83209923f7\",\"mimetype\":\"image/jpeg\",\"modTime\":1775794007,\"name\":\"cat1.jpg\",\"parentFolder\":\"de277799-bdbb-4e23-97f4-5ea04fe7b0ca\",\"parentFolderCode\":\"wNaxo3\",\"servers\":[\"store-na-phx-3\"],\"size\":83558,\"type\":\"file\"},\"status\":\"ok\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1952,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
