{
  "log": {
    "_recordingName": "free/gofile-upload-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8a3ba976bf285927cfec9fe94799fed",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://upload.gofile.io/uploadfile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 427,
            "text": "{\"data\":{\"createTime\":1775750549,\"downloadPage\":\"https://gofile.io/d/UhD7ww\",\"guestToken\":\"1ka4eOQjrigi8D1nhquFrFdGdTIeXPQE\",\"id\":\"38bdf79d-305e-4851-a9c0-13d7dcb61984\",\"md5\":\"391a26048ce697ba072acd83209923f7\",\"mimetype\":\"image/jpeg\",\"modTime\":1775750549,\"name\":\"cat1.jpg\",\"parentFolder\":\"a87a8470-e568-4db6-a8a4-317d9997447f\",\"parentFolderCode\":\"UhD7ww\",\"servers\":[\"store-na-phx-3\"],\"size\":83558,\"type\":\"file\"},\"status\":\"ok\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2236,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
