{
  "log": {
    "_recordingName": "kie/minimax-h3-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b8ee6ec56bbb321918523641e31be68a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"minimax-h3/text-to-video\",\"input\":{\"prompt\":\"A paper kite glides above sunlit ocean waves.\",\"aspect_ratio\":\"16:9\",\"duration\":4,\"resolution\":\"768P\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"8129fd21f305e08e7ef377f777fec7f8\",\"recordId\":\"8129fd21f305e08e7ef377f777fec7f8\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 406,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
