{
  "log": {
    "_recordingName": "polymarket/clob-last-trade-price",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "930883ac5949c3d0b2f36c341d9baf7d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "token_id",
              "value": "78433024518676680431174478322854148606578065650008220678402966840627347604025"
            }
          ],
          "url": "https://clob.polymarket.com/last-trade-price?token_id=78433024518676680431174478322854148606578065650008220678402966840627347604025"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 31,
            "text": "{\"price\":\"0.18\",\"side\":\"SELL\"}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 335,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
