{
  "log": {
    "_recordingName": "elevenlabs/voice-library",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fb2dcda317f39dd95f09ab19d92e32f5",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "3"
            }
          ],
          "url": "https://api.elevenlabs.io/v1/shared-voices?page_size=3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 8919,
            "text": "{\"voices\":[{\"public_owner_id\":\"9a69e7d9337fb8215eacdd4ca5f46c266e185a1ea11174938c578279cbf271d8\",\"voice_id\":\"Re06WujjJplgPJjn7M6s\",\"date_unix\":1782687661,\"name\":\"Oksana - Russian Accented English\",\"accent\":\"russian\",\"gender\":\"female\",\"age\":\"young\",\"descriptive\":\"casual\",\"use_case\":\"conversational\",\"category\":\"professional\",\"language\":\"en\",\"locale\":\"en-RU\",\"description\":\"Female voice, English with Russian accent - great for character voiceovers, audiobooks, and storytelling.\",\"preview_url\":\"https://storage.googleapis.com/eleven-public-prod/database/workspace/2f3b9e836e0b4374ba6ce2306bd27629/voices/Re06WujjJplgPJjn7M6s/97f91eff-86e8-4ffe-89cb-74dc331f69e6.mp3\",\"usage_character_count_1y\":0,\"usage_character_count_7d\":0,\"play_api_usage_character_count_1y\":0,\"cloned_by_count\":0,\"rate\":1.0,\"fiat_rate\":null,\"free_users_allowed\":false,\"live_moderation_enabled\":false,\"featured\":false,\"verified_languages\":[{\"language\":\"en\",\"model_id\":\"eleven_multilingual_v2\",\"accent\":\"russian\",\"locale\":\"en-RU\",\"preview_url\":\"https://storage.googleapis.com/eleven-public-prod/database/workspace/2f3b9e836e0b4374ba6ce2306bd27629/voices/Re06WujjJplgPJjn7M6s/97f91eff-86e8-4ffe-89cb-74dc331f69e6.mp3\"},{\"language\":\"en\",\"model_id\":\"eleven_turbo_v2_5\",\"accent\":\"russian\",\"locale\":\"en-RU\",\"preview_url\":\"https://storage.googleapis.com/eleven-public-prod/database/workspace/2f3b9e836e0b4374ba6ce2306bd27629/voices/Re06WujjJp[...]
