{
  "log": {
    "_recordingName": "binance/ping",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a47ce54bd27e5ad7d999b6db1719cc39",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.binance.com/api/v3/ping"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "1"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "1"
            },
            {
              "name": "x-mbx-uuid",
              "value": "***"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 676,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
