{
  "log": {
    "_recordingName": "fal/luma-agent-ray-v3-2-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2a2b28925bd2ce2b6699b9019aec7d5a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Low-angle shot of a majestic tiger prowling through a snowy landscape, leaving paw prints on the white blanket.\",\"image_url\":\"https://storage.googleapis.com/falserverless/gallery/example_inputs_liuyifei.png\",\"duration\":\"5s\",\"resolution\":\"540p\"}"
          },
          "queryString": [],
          "url": "https://fal.run/luma/agent/ray/v3.2/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 179,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad888e/q-HHpgAxPkjwL_NlfoUA9_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":3062283},\"exr_file\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "5"
            },
            {
              "name": "x-fal-served-from",
              "value": "3d007417-b347-4929-84d7-c2a3436a683a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 65906,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
