{
  "log": {
    "_recordingName": "kie/happyhorse-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"cat1.jpg\",\"contentType\":\"image/jpeg\",\"size\":83558},\"uploadPath\":\"images/test-uploads\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 393,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1777533406248-8ek1rzo5y2.jpg\",\"filePath\":\"kieai/136592/images/test-uploads/1777533406248-8ek1rzo5y2.jpg\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1777533406248-8ek1rzo5y2.jpg\",\"fileSize\":83558,\"mimeType\":\"image/jpeg\",\"uploadedAt\":\"2026-04-30T07:16:46.565Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 872,
      },
      {
        "_id": "b84eba754c9d6b0b273f113524fccc6c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"happyhorse/image-to-video\",\"input\":{\"prompt\":\"A cat stretches and yawns, then turns to look at the camera\",\"image_urls\":[\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1777533406248-8ek1rzo5y2.jpg\"],\"resolution\":\"720p\",\"duration\":5,\"seed\":1546095068}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3f2ad8dbc464b303ae846736ffc8d2c9\",\"recordId\":\"3f2ad8dbc464b303ae846736ffc8d2c9\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 478,
      },
      {
        "_id": "190f58882de177f342464baad9dcc0d6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "3f2ad8dbc464b303ae846736ffc8d2c9"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=3f2ad8dbc464b303ae846736ffc8d2c9"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 593,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3f2ad8dbc464b303ae846736ffc8d2c9\",\"model\":\"happyhorse/image-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":5,\\\\\\\"seed\\\\\\\":1546095068,\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1777533406248-8ek1rzo5y2.jpg\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"A cat stretches and yawns, then turns to look at the camera\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"happyhorse/image-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1777533406884}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 230,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
