{
  "log": {
    "_recordingName": "kie/happyhorse-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"cat1.jpg\",\"contentType\":\"image/jpeg\",\"size\":83558},\"uploadPath\":\"images/test-uploads\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 393,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1777534514383-w5dsj9ctw1.jpg\",\"filePath\":\"kieai/136592/images/test-uploads/1777534514383-w5dsj9ctw1.jpg\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1777534514383-w5dsj9ctw1.jpg\",\"fileSize\":83558,\"mimeType\":\"image/jpeg\",\"uploadedAt\":\"2026-04-30T07:35:14.654Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 705,
      },
      {
        "_id": "b84eba754c9d6b0b273f113524fccc6c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"happyhorse/image-to-video\",\"input\":{\"prompt\":\"The cat blinks slowly and turns its head toward the camera\",\"image_urls\":[\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1777534514383-w5dsj9ctw1.jpg\"],\"resolution\":\"720p\",\"duration\":3,\"seed\":1546095068}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"db9b3e9d0f28c2b06a57f1e43f8fb2e8\",\"recordId\":\"db9b3e9d0f28c2b06a57f1e43f8fb2e8\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 559,
      },
      {
        "_id": "bbcd2dc48204827955d2349bd00c27c8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "db9b3e9d0f28c2b06a57f1e43f8fb2e8"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=db9b3e9d0f28c2b06a57f1e43f8fb2e8"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 592,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"db9b3e9d0f28c2b06a57f1e43f8fb2e8\",\"model\":\"happyhorse/image-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":3,\\\\\\\"seed\\\\\\\":1546095068,\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1777534514383-w5dsj9ctw1.jpg\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"The cat blinks slowly and turns its head toward the camera\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"happyhorse/image-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1777534515134}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 222,
      },
      {
        "_id": "bbcd2dc48204827955d2349bd00c27c8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
          [...]
