{
  "log": {
    "_recordingName": "kimicoding/models-list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d5378d4bdec7e2319f2ab1e43c9242a9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "x-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kimi.com/coding/v1/models"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 157,
            "text": "{\"error\":{\"message\":\"We're unable to verify your membership benefits at this time. Please ensure your membership is active.\",\"type\":\"invalid_request_error\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-trace-id",
              "value": "f0f79b47677ca3b3f37060c2bdbfb2bd"
            }
          ],
          "status": 402,
          "statusText": "Payment Required"
        },
        "time": 431,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
