{
  "log": {
    "_recordingName": "kie/bytedance-seedance-2-mini-i2v",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"cat1.jpg\",\"contentType\":\"image/jpeg\",\"size\":83558},\"uploadPath\":\"images/test-uploads\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 393,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1782283477674-mmia3fdg67.jpg\",\"filePath\":\"kieai/136592/images/test-uploads/1782283477674-mmia3fdg67.jpg\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1782283477674-mmia3fdg67.jpg\",\"fileSize\":83558,\"mimeType\":\"image/jpeg\",\"uploadedAt\":\"2026-06-24T06:44:38.831Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1496,
      },
      {
        "_id": "b84eba754c9d6b0b273f113524fccc6c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"bytedance/seedance-2-mini\",\"input\":{\"prompt\":\"The cat in the reference photo blinks slowly and turns toward the camera.\",\"reference_image_urls\":[\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1782283477674-mmia3fdg67.jpg\"],\"resolution\":\"480p\",\"aspect_ratio\":\"16:9\",\"duration\":4,\"generate_audio\":false,\"web_search\":false,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"40151124d89b3f17b419b1af3ce66521\",\"recordId\":\"40151124d89b3f17b419b1af3ce66521\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 414,
      },
      {
        "_id": "c48d6f4c27d339279e0e155886f72745",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "40151124d89b3f17b419b1af3ce66521"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=40151124d89b3f17b419b1af3ce66521"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 731,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"40151124d89b3f17b419b1af3ce66521\",\"model\":\"bytedance/seedance-2-mini\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":4,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"web_search\\\\\\\":false,\\\\\\\"generate_audio\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"The cat in the reference photo blinks slowly and turns toward the camera.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\",\\\\\\\"reference_image_urls\\\\\\\":[\\\\\\\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1782283477674-mmia3fdg67.jpg\\\\\\\"],\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"bytedance/seedance-2-mini\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1782283479179,\"creditsConsumed\":38.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 201,
      },
      {
        "_id": "c48d6f4c27d339279e0e155886f72745",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
     [...]
