{
  "log": {
    "_recordingName": "fal/wan3p0-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "06208e1129711408635571533f874ab7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red panda walks slowly through a bamboo forest at sunrise, cinematic close-up.\",\"resolution\":\"480p\",\"aspect_ratio\":\"1:1\",\"duration\":2,\"audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/alibaba/wan-3.0/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 310,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa7b4d0/jRnOp1256bpesfoeWxUr__PYLIPYda.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"jRnOp1256bpesfoeWxUr__PYLIPYda.mp4\",\"file_size\":2908384,\"width\":624,\"height\":624,\"fps\":30.0,\"duration\":2.0,\"num_frames\":60},\"seed\":1138678693,\"duration\":2.0,\"actual_prompt\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "2.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "5d3b9f23-464d-4057-b8aa-7737e934451b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 194513,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
