{
  "log": {
    "_recordingName": "kie/wan-30-video-prime",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5e33581b8d2aec3690164834bbfd0361",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/3-0-video-prime\",\"input\":{\"prompt\":\"A red panda pads through bamboo at sunrise, soft light, smooth cinematic camera movement\",\"resolution\":\"480P\",\"aspect_ratio\":\"1:1\",\"duration\":2,\"audio\":false,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"6f3964810fb39483ee0cd8440551df4e\",\"recordId\":\"6f3964810fb39483ee0cd8440551df4e\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 278,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
