{
  "log": {
    "_recordingName": "polymarket/clob-markets-by-id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8a81cfc0f25abbd7da3609061bad9cb1",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://clob.polymarket.com/markets/0x384e2707bbb95da4bfa6f330fe7d5ccbec1c0a85e20be900cbf599987588e1a4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2131,
            "text": "{\"enable_order_book\":true,\"active\":true,\"closed\":false,\"archived\":false,\"accepting_orders\":true,\"accepting_order_timestamp\":\"2025-11-26T16:55:29Z\",\"minimum_order_size\":5,\"minimum_tick_size\":0.01,\"condition_id\":\"0x384e2707bbb95da4bfa6f330fe7d5ccbec1c0a85e20be900cbf599987588e1a4\",\"question_id\":\"0x5f48e52f1d722e63dbeba350622eb0ab70e23fb9ddd8e6f1286571a9222f60d8\",\"question\":\"Reya FDV above $200M one day after launch?\",\"description\":\"This market will resolve to \\\"Yes\\\" if the Fully Diluted Valuation of Reya's token is greater than the value specified in the title 1 day after launch. Otherwise, the market will resolve to \\\"No.\\\"\\n\\nThe token must be actively, publicly transferable and tradable to be considered a launch.\\n\\nThe FDV will be determined using the total token supply multiplied by the token price.\\n\\n\\\"1 day after launch\\\" is defined as 4:00 PM ET on the calendar day following launch. The resolution source for this market is the most liquid price source available. If Reya (https://x.com/reya_xyz) doesn't launch a token by December 31, 2026, 11:59 PM ET, this market will resolve to \\\"No\\\".\",\"market_slug\":\"reya-fdv-above-200m-one-day-after-launch-645-575\",\"end_date_iso\":\"2027-01-01T00:00:00Z\",\"game_start_time\":null,\"seconds_delay\":0,\"fpmm\":\"\",\"maker_base_fee\":1000,\"taker_base_fee\":1000,\"notifications_enabled\":true,\"neg_risk\":false,\"neg_risk_market_id\":\"\",\"neg_risk_request_id\":\"\",\"icon\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/reya-fdv-above-one-day-after-launch-XOYUN61AHrW4.jpg\",\"image\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/reya-fdv-above-one-day-after-launch-XOYUN61AHrW4.jpg\",\"rewards\":{\"rates\":[{\"asset_address\":\"0x2791bca1f2de4661ed88a30c99a7a9449aa84174\",\"rewards_daily_rate\":0.001}],\"min_size\":20,\"max_spread\":3.5},\"is_50_50_outcome\":false,\"tokens\":[{\"token_id\":\"78433024518676680431174478322854148606578065650008220678402966840627347604025\",\"outcome\":\"Yes\",\"price\":0.2,\"winner\":false},{\"token_id\":\"50346565575310273995396997144874891836871065259829083228393044602519086496922\",\"outcome\":\"No\",\"price\":0.8,\"winner\":false}],\"tags\":[\"Crypto\",\"FDV\",\"Pre-Market\",\"Reya\"]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 279,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
