{
  "log": {
    "_recordingName": "kie/seedream-5-flash-layer-decomposition",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0dc9731e226e97bff27934f6fe012dbc",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"seedream/5-flash-layer-decomposition\",\"input\":{\"image_url\":\"https://storage.googleapis.com/falserverless/model_tests/wan/dragon-warrior.jpg\",\"prompt\":\"Separate the foreground subject from the background while preserving its silhouette. <bbox>100 120 900 950</bbox>\",\"size\":\"1K\",\"output_format\":\"jpeg\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"d5415ae4622618de9858a51e317d5aae\",\"recordId\":\"d5415ae4622618de9858a51e317d5aae\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 310,
      },
      {
        "_id": "97502042bb64aeee478fac6135996c45",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "d5415ae4622618de9858a51e317d5aae"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=d5415ae4622618de9858a51e317d5aae"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1115,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"d5415ae4622618de9858a51e317d5aae\",\"model\":\"seedream/5-flash-layer-decomposition\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"size\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"jpeg\\\\\\\",\\\\\\\"image_url\\\\\\\":\\\\\\\"https://storage.googleapis.com/falserverless/model_tests/wan/dragon-warrior.jpg\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"Separate the foreground subject from the background while preserving its silhouette. <bbox>100 120 900 950</bbox>\\\\\\\"}\\\",\\\"model\\\":\\\"seedream/5-flash-layer-decomposition\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1791186374558,\"creditsConsumed\":0.0,\"operationType\":\"seedream/5-flash-layer-decomposition\",\"successFlag\":0,\"paramJson\":\"{\\\"input\\\":\\\"{\\\\\\\"size\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"jpeg\\\\\\\",\\\\\\\"image_url\\\\\\\":\\\\\\\"https://storage.googleapis.com/falserverless/model_tests/wan/dragon-warrior.jpg\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"Separate the foreground subject from the background while preserving its silhouette. <bbox>100 120 900 950</bbox>\\\\\\\"}\\\",\\\"model\\\":\\\"seedream/5-flash-layer-decomposition\\\"}\"}}"
          },
          "headers": [
      [...]
