{
  "log": {
    "_recordingName": "fal/meta-muse-image-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f0139aae37ac429ecc31a6d2925bb14d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A cinematic editorial portrait in soft window light with crisp typography\",\"image_urls\":[\"https://storage.googleapis.com/falserverless/example_inputs/kontext_example_input.webp\"]}"
          },
          "queryString": [],
          "url": "https://fal.run/meta/muse-image/edit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 247,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad8746/SiSHLOUtqyTSx3_rWQSwO_61b3f8cbc8d4417e9c9f6347e1003021.webp\",\"content_type\":\"image/webp\",\"file_name\":\"61b3f8cbc8d4417e9c9f6347e1003021.webp\",\"file_size\":280704,\"width\":2080,\"height\":1120}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-served-from",
              "value": "142f07cb-097d-4385-9595-e3761679606b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 13803,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
