{
  "log": {
    "_recordingName": "fal/flux-3-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7c5026616a094088af6f118d2434cc2b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A paper boat glides through a quiet rain puddle\",\"resolution\":\"720p\",\"duration\":5,\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/blackforestlabs/flux-3/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 181,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa73947/uJSId7IvQZzbycZy5Gmwy_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":2583570},\"seed\":1870581191}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "10"
            },
            {
              "name": "x-fal-served-from",
              "value": "e2b57d2f-39bb-4659-82e3-b4f46315d5ec"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 49437,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
