{
  "log": {
    "_recordingName": "fal/kling-video-v3-turbo-pro-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4e4a88929226d2dfc46791d147dd1f42",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A lioness and her cubs in warm grass, camera drifting closer.\",\"duration\":\"3\",\"aspect_ratio\":\"16:9\"}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/kling-video/v3/turbo/pro/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 163,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad8641/J05SJMx_AzpNEf6sARNdv_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":8956279}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "3"
            },
            {
              "name": "x-fal-served-from",
              "value": "91174b89-b628-42c3-ac04-11a149ba5fd7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 61633,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
