{
  "log": {
    "_recordingName": "fal/minimax-h3-max-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1840163925bbbd8624efa0439a917dc7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A white kitten chases a butterfly across a sunlit garden. Gentle camera tracking, natural movement, soft afternoon light filtering through the leaves.\",\"duration\":0.92,\"resolution\":\"480P\",\"prompt_expansion_mode\":\"disabled\"}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/h3-max/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 256,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad79f7/smareNL--tw7HYgvXfKmL_minimax-h3.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"smareNL--tw7HYgvXfKmL_minimax-h3.mp4\",\"file_size\":592522},\"expanded_prompt\":null,\"timings\":{\"inference\":0.69557960703969}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.92"
            },
            {
              "name": "x-fal-served-from",
              "value": "a942d2af-125f-46ca-b602-60116a4e71c9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1628,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
