{
  "log": {
    "_recordingName": "kie/xai-models",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "40cd60de3f8b7c33dfe9cdc6b4956600",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/xai/v1/models"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 334,
            "text": "{\"object\":\"list\",\"data\":[{\"id\":\"grok-4-7\",\"aliases\":[],\"object\":\"model\",\"owned_by\":\"kie\",\"created\":0},{\"id\":\"grok-4-6\",\"aliases\":[],\"object\":\"model\",\"owned_by\":\"kie\",\"created\":0},{\"id\":\"grok-4-5\",\"aliases\":[],\"object\":\"model\",\"owned_by\":\"kie\",\"created\":0},{\"id\":\"grok-4-3\",\"aliases\":[],\"object\":\"model\",\"owned_by\":\"kie\",\"created\":0}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 207,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
