{
  "log": {
    "_recordingName": "kie/qwen2-image-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fc54db8f65fafd2112b46de9a97cd32b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"qwen2/image-edit\",\"input\":{\"prompt\":\"Add sunglasses to the subject\",\"image_url\":[\"https://static.aiquickdraw.com/tools/example/1773473208660_6EO8TFjh.webp\"],\"image_size\":\"1:1\",\"output_format\":\"png\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"a318981ef6c935cc7c16b136e18b6da3\",\"recordId\":\"a318981ef6c935cc7c16b136e18b6da3\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 510,
      },
      {
        "_id": "ea718f7188612d5e846a677dd4ca84a9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "a318981ef6c935cc7c16b136e18b6da3"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=a318981ef6c935cc7c16b136e18b6da3"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 514,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"a318981ef6c935cc7c16b136e18b6da3\",\"model\":\"qwen2/image-edit\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"image_size\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"image_url\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1773473208660_6EO8TFjh.webp\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"Add sunglasses to the subject\\\\\\\"}\\\",\\\"model\\\":\\\"qwen2/image-edit\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775314911991}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 291,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
