{
  "log": {
    "_recordingName": "kie/elevenlabs/dialogue-submit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a3c7fa9bc3be299bd0f6c184f79865ce",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"elevenlabs/text-to-dialogue-v3\",\"input\":{\"dialogue\":[{\"text\":\"Hello there.\",\"voice\":\"Adam\"}],\"stability\":0.5}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f94272c8f7ef2fd6a6d4fa5ae944ad81\",\"recordId\":\"f94272c8f7ef2fd6a6d4fa5ae944ad81\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 409,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
