{
  "log": {
    "_recordingName": "fal/xai-grok-imagine-video-v1-5-reference-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "986f4443819147937ff1129f8325708d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The person from <IMAGE_0> walks through a rainy neon-lit street\",\"reference_image_urls\":[\"<inline image/jpeg data URL — replace with a real URL or upload>\"],\"duration\":4,\"resolution\":\"480p\",\"aspect_ratio\":\"16:9\"}"
          },
          "queryString": [],
          "url": "https://fal.run/xai/grok-imagine-video/v1.5/reference-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 261,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa8211e/Y6ilubFdW3fHZ8osdfd-L_oedJVNyf.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"Y6ilubFdW3fHZ8osdfd-L_oedJVNyf.mp4\",\"file_size\":1694505,\"width\":848,\"height\":480,\"fps\":24.0,\"duration\":4.041667,\"num_frames\":97}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "33.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "7a65f242-d815-44d9-94a8-f2217fced6bf"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 24467,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
