{
  "log": {
    "_recordingName": "dolthub/pulls-create-unauthenticated",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "609aaa6b0f672aa30cad1daa23c1689e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"apicity-pull-probe\",\"from_branch\":{\"database\":{\"owner\":\"dolthub\",\"name\":\"ip-to-country\"},\"branch_name\":\"apicity-branch-probe\"},\"to_branch\":{\"database\":{\"owner\":\"dolthub\",\"name\":\"ip-to-country\"},\"branch_name\":\"main\"}}"
          },
          "queryString": [],
          "url": "https://www.dolthub.com/api/v2/databases/dolthub/ip-to-country/pulls"
        },
        "response": {
          "content": {
            "mimeType": "application/problem+json",
            "size": 321,
            "text": "{\"type\":\"https://dolthub.com/docs/products/dolthub/api/v2/models/#model-errorcode\",\"title\":\"Unauthenticated\",\"status\":401,\"detail\":\"Authentication credentials were missing or invalid.\",\"code\":\"UNAUTHENTICATED\",\"request_id\":\"01704014-36a7-4d6e-8125-e69a31dd6009\",\"instance\":\"/api/v2/databases/dolthub/ip-to-country/pulls\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/problem+json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 590,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
