{
  "log": {
    "_recordingName": "kie/seedream-5-pro-image-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0bce4b82eeeae64cd9fb8ead00d9f4d9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"seedream/5-pro-image-to-image\",\"input\":{\"prompt\":\"Keep the model's pose and the flowing shape of the liquid dress unchanged. Change the clothing material from silver metal to completely transparent clear water.\",\"image_urls\":[\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\"],\"aspect_ratio\":\"1:1\",\"quality\":\"basic\",\"output_format\":\"png\",\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"57f2e5cf96511d160e5cce41501c502e\",\"recordId\":\"57f2e5cf96511d160e5cce41501c502e\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 408,
      },
      {
        "_id": "7c055b96f29eb279497c32f22eb798f2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "57f2e5cf96511d160e5cce41501c502e"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=57f2e5cf96511d160e5cce41501c502e"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 753,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"57f2e5cf96511d160e5cce41501c502e\",\"model\":\"seedream/5-pro-image-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"Keep the model's pose and the flowing shape of the liquid dress unchanged. Change the clothing material from silver metal to completely transparent clear water.\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false,\\\\\\\"quality\\\\\\\":\\\\\\\"basic\\\\\\\"}\\\",\\\"model\\\":\\\"seedream/5-pro-image-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1783661147201,\"creditsConsumed\":0.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 215,
      },
      {
        "_id": "7c055b96f29eb279497c32f22eb798f2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
      [...]
