{
  "log": {
    "_recordingName": "kie/veo/record-info-not-found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d4d7a3cc71e536cd5e9b903a2da24852",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "apicity-test-nonexistent-veo-task-id-do-not-record-real"
            }
          ],
          "url": "https://api.kie.ai/api/v1/veo/record-info?taskId=apicity-test-nonexistent-veo-task-id-do-not-record-real"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 117,
            "text": "{\"code\":422,\"msg\":\"Record not found for taskId: apicity-test-nonexistent-veo-task-id-do-not-record-real\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 493,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
