{
  "log": {
    "_recordingName": "binance/ticker",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6102ce4e96a79456556352da4f0b5e0f",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            },
            {
              "name": "windowSize",
              "value": "1d"
            }
          ],
          "url": "https://api.binance.com/api/v3/ticker?symbol=BTCUSDT&windowSize=1d"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 252,
            "text": "{\"symbol\":\"BTCUSDT\",\"priceChange\":\"1968.98000000\",\"priceChangePercent\":\"3.187\",\"weightedAvgPrice\":\"62982.03789840\",\"openPrice\":\"61783.02000000\",\"highPrice\":\"64234.68000000\",\"lowPrice\":\"61184.00000000\",\"lastPrice\":\"63752.00000000\",\"volume\":\"24780.96035000\",\"quoteVolume\":\"1560755383.92248060\",\"openTime\":1780841280000,\"closeTime\":1780927680330,\"firstId\":6382922354,\"lastId\":6388111660,\"count\":5189307}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "4"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "4"
            },
            {
              "name": "x-mbx-uuid",
              "value": "***"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 561,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
