{
  "log": {
    "_recordingName": "kie/flux-kontext-generate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ffa447ff5232b1d65d42aee72b393b83",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A cinematic night city poster with neon reflections on a rainy street.\",\"aspectRatio\":\"16:9\",\"model\":\"flux-kontext-pro\",\"outputFormat\":\"jpeg\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/flux/kontext/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"e730dcfe4e5d59332daf52c08a960085\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 533,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
