{
  "log": {
    "_recordingName": "kie/gpt-image-2-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "468535fa98d24f3cec83ccc03d743833",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"gpt-image-2-text-to-image\",\"input\":{\"prompt\":\"A cinematic night city poster with neon reflections on a rainy street.\",\"aspect_ratio\":\"16:9\",\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"330a9433fd309e9e18df1c567ae38471\",\"recordId\":\"330a9433fd309e9e18df1c567ae38471\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 441,
      },
      {
        "_id": "b9e57b6e7cd2febe039ffbd5349f1a9f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "330a9433fd309e9e18df1c567ae38471"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=330a9433fd309e9e18df1c567ae38471"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 471,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"330a9433fd309e9e18df1c567ae38471\",\"model\":\"gpt-image-2-text-to-image\",\"state\":\"generating\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A cinematic night city poster with neon reflections on a rainy street.\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"gpt-image-2-text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1776862567160}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 306,
      },
      {
        "_id": "b9e57b6e7cd2febe039ffbd5349f1a9f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
