{
  "log": {
    "_recordingName": "kie/suno-generate-instrumental",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0a0809848f5bd540e1211c1a4d74e450",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"An ambient soundscape for meditation and relaxation\",\"model\":\"V5\",\"instrumental\":true,\"customMode\":false,\"callBackUrl\":\"https://example.com/cb\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"1672496af58ea8f2ef3d2c0ea17ee396\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 230,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
