{
  "log": {
    "_recordingName": "fal/nano-banana-2-lite-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b38abfa7f893635144119fdd02dff259",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Turn this portrait into a polished studio editorial image with a muted teal backdrop, preserving the person.\",\"image_urls\":[\"<inline image/jpeg data URL — replace with a real URL or upload>\"],\"num_images\":1,\"aspect_ratio\":\"1:1\",\"output_format\":\"png\",\"safety_tolerance\":\"4\",\"limit_generations\":true}"
          },
          "queryString": [],
          "url": "https://fal.run/google/nano-banana-lite/edit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 233,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aa0a9cd/uCr_nDmqORxRGabz1KvbI_GS9zkIA5.png\",\"content_type\":\"image/png\",\"file_name\":\"uCr_nDmqORxRGabz1KvbI_GS9zkIA5.png\",\"file_size\":null,\"width\":1024,\"height\":1024}],\"description\":\"\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.042356"
            },
            {
              "name": "x-fal-served-from",
              "value": "ee11a29f-0522-4c8a-a4a4-6b997bc6ef27"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4748,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
