{
  "log": {
    "_recordingName": "elevenlabs/user-subscription",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "20d25ae7feef0cefa82118a196bca04d",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/user/subscription"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 82,
            "text": "{\"tier\":\"creator\",\"character_count\":61,\"character_limit\":299683,\"status\":\"active\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-trace-id",
              "value": "***"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2171,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
