{
  "log": {
    "_recordingName": "kie/grok-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fb375933e6cb65f11502f67d298d977b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/text-to-video\",\"input\":{\"prompt\":\"A golden sunset over calm ocean waves\",\"duration\":\"6\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c95c767d7cd2fdc3764a9413fe95cdce\",\"recordId\":\"c95c767d7cd2fdc3764a9413fe95cdce\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 510,
      },
      {
        "_id": "6609f4a876a7340e9681f572b97075d9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "c95c767d7cd2fdc3764a9413fe95cdce"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=c95c767d7cd2fdc3764a9413fe95cdce"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 395,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c95c767d7cd2fdc3764a9413fe95cdce\",\"model\":\"grok-imagine/text-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":6,\\\\\\\"prompt\\\\\\\":\\\\\\\"A golden sunset over calm ocean waves\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775650114995}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 235,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
