{
  "log": {
    "_recordingName": "kie/grok-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fb375933e6cb65f11502f67d298d977b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/text-to-video\",\"input\":{\"prompt\":\"A golden sunset over calm ocean waves\",\"duration\":\"6\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f9ae24b343c25c59f67977dbf5b1cde5\",\"recordId\":\"f9ae24b343c25c59f67977dbf5b1cde5\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 508,
      },
      {
        "_id": "9b95b1daa3a44e0a557a7b21d4496845",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "f9ae24b343c25c59f67977dbf5b1cde5"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=f9ae24b343c25c59f67977dbf5b1cde5"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 403,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f9ae24b343c25c59f67977dbf5b1cde5\",\"model\":\"grok-imagine/text-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":\\\\\\\"6\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A golden sunset over calm ocean waves\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1774428642561}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 225,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
