{
  "log": {
    "_recordingName": "polymarket/gamma-markets-tags",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ad36fa98d51a35de0e9b831cf9a28133",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://gamma-api.polymarket.com/markets/540816/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 802,
            "text": "[{\"id\":\"2\",\"label\":\"Politics\",\"slug\":\"politics\",\"forceShow\":false,\"publishedAt\":\"2023-10-25 18:55:50.674+00\",\"updatedBy\":13,\"createdAt\":\"2023-10-25T18:55:50.681Z\",\"updatedAt\":\"2026-04-17T20:39:54.201881Z\",\"forceHide\":true,\"requiresTranslation\":false},{\"id\":\"596\",\"label\":\"Culture\",\"slug\":\"pop-culture\",\"forceShow\":false,\"publishedAt\":\"2023-11-29 18:40:13.013+00\",\"createdAt\":\"2023-11-29T18:40:14.63Z\",\"updatedAt\":\"2026-04-17T20:31:50.147585Z\",\"requiresTranslation\":false},{\"id\":\"100215\",\"label\":\"All\",\"slug\":\"all\",\"forceShow\":false,\"updatedAt\":\"2026-04-17T20:23:54.340488Z\",\"requiresTranslation\":false},{\"id\":\"102109\",\"label\":\"GTA VI\",\"slug\":\"gta-vi\",\"forceShow\":false,\"createdAt\":\"2025-05-06T18:59:54.453812Z\",\"updatedAt\":\"2026-03-09T22:33:58.598479Z\",\"isCarousel\":false,\"requiresTranslation\":false}]\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Wed, 06 May 2026 04:56:25 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 117,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
