{
  "log": {
    "_recordingName": "dolthub/database-create-unauthenticated",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d49f9fc0622a193b7d4df81d4b6478b5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"owner\":\"apicity\",\"name\":\"apicity-database-probe\",\"visibility\":\"private\"}"
          },
          "queryString": [],
          "url": "https://www.dolthub.com/api/v2/databases"
        },
        "response": {
          "content": {
            "mimeType": "application/problem+json",
            "size": 293,
            "text": "{\"type\":\"https://dolthub.com/docs/products/dolthub/api/v2/models/#model-errorcode\",\"title\":\"Unauthenticated\",\"status\":401,\"detail\":\"Authentication credentials were missing or invalid.\",\"code\":\"UNAUTHENTICATED\",\"request_id\":\"b9731b7e-ff4a-4d1d-a04b-99ef06509760\",\"instance\":\"/api/v2/databases\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/problem+json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 619,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
