{
  "log": {
    "_recordingName": "free/tflink-upload-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "947eca8a0e1757a19fa2db2d9052903d",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://tmpfile.link/api/upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 293,
            "text": "{\"fileName\":\"cat1.jpg\",\"downloadLink\":\"https://d.tmpfile.link/public/2026-04-16/049e428c-8162-4b44-bf18-99442f42b7e4/cat1.jpg\",\"downloadLinkEncoded\":\"https://d.tmpfile.link/public/2026-04-16/049e428c-8162-4b44-bf18-99442f42b7e4/cat1.jpg\",\"size\":83558,\"type\":\"image/jpeg\",\"uploadedTo\":\"public\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 517,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
