{
  "log": {
    "_recordingName": "kie/suno/add-instrumental-submit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5c8afc11a3ffc7fa562f66bc6b63c8d1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"uploadUrl\":\"https://example.com/vocal.mp3\",\"title\":\"Gentle Acoustic Backing\",\"tags\":\"gentle acoustic guitar, piano\",\"callBackUrl\":\"https://example.com/cb\",\"model\":\"V4_5PLUS\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate/add-instrumental"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 59,
            "text": "{\"code\":422,\"msg\":\"Please enter negativeTags.\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 342,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
