{
  "log": {
    "_recordingName": "fal/minimax-h3-max-recast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3404ff4cd333fa3102d2350a8766fd3f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"video_url\":\"https://v3b.fal.media/files/b/0aac0919/5NYtHn5-5dxFlbH_U9oQW_video.mp4\",\"reference_image_urls\":[\"https://v3b.fal.media/files/b/0aac0904/DYyrpDKza8aflsP6mMm0i_76qcS0F8.png\"],\"resolution\":\"768P\"}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/h3-max/recast"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 162,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad233a/6zARGHi4tC7VPHO3iBvoO_recast.mp4\",\"content_type\":null,\"file_name\":null,\"file_size\":null},\"seed\":565673419}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "48.25"
            },
            {
              "name": "x-fal-served-from",
              "value": "3e9f9b29-e54e-41d4-bc37-f74b9b05a158"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 122377,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
