{
  "log": {
    "_recordingName": "kie/seedance-2-fast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "717c83352de68697f83f9b7e91c824f6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"bytedance/seedance-2-fast\",\"input\":{\"prompt\":\"A calm lake at dawn with mist rising over the water\",\"resolution\":\"480p\",\"aspect_ratio\":\"16:9\",\"duration\":4,\"generate_audio\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"a0db891b702a6a18a7597d997fca79e4\",\"recordId\":\"a0db891b702a6a18a7597d997fca79e4\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 638,
      },
      {
        "_id": "c66467130273f26a4b2f6e7abb7e0590",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "a0db891b702a6a18a7597d997fca79e4"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=a0db891b702a6a18a7597d997fca79e4"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 502,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"a0db891b702a6a18a7597d997fca79e4\",\"model\":\"bytedance/seedance-2-fast\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":4,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"generate_audio\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"A calm lake at dawn with mist rising over the water\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\"}\\\",\\\"model\\\":\\\"bytedance/seedance-2-fast\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775317196992}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 224,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
