{
  "log": {
    "_recordingName": "kie/seedance-2-fast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "717c83352de68697f83f9b7e91c824f6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"bytedance/seedance-2-fast\",\"input\":{\"prompt\":\"A calm lake at dawn with mist rising over the water\",\"resolution\":\"480p\",\"aspect_ratio\":\"16:9\",\"duration\":4,\"generate_audio\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"a0891438c9fcdbb727e46ad6c23bd4fc\",\"recordId\":\"a0891438c9fcdbb727e46ad6c23bd4fc\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 519,
      },
      {
        "_id": "ca352f5fce3a6753943007855ad71fbd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "a0891438c9fcdbb727e46ad6c23bd4fc"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=a0891438c9fcdbb727e46ad6c23bd4fc"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 542,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"a0891438c9fcdbb727e46ad6c23bd4fc\",\"model\":\"bytedance/seedance-2-fast\",\"state\":\"fail\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":4,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"generate_audio\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"A calm lake at dawn with mist rising over the water\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\"}\\\",\\\"model\\\":\\\"bytedance/seedance-2-fast\\\"}\",\"resultJson\":\"\",\"failCode\":\"422\",\"failMsg\":\"generate playground failed, task id is blank\",\"costTime\":null,\"completeTime\":null,\"createTime\":1775445452483}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 229,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
