{
  "log": {
    "_recordingName": "kie/seedance-2-fast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7a0532e7ac9b42683c170045d7893c1c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"bytedance/seedance-2-fast\",\"input\":{\"prompt\":\"A calm lake at dawn with mist rising over the water\",\"resolution\":\"480p\",\"aspect_ratio\":\"16:9\",\"duration\":4,\"generate_audio\":false,\"web_search\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"6937592287ce8316c876b81a987ccffb\",\"recordId\":\"6937592287ce8316c876b81a987ccffb\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 532,
      },
      {
        "_id": "d5d5cc7317cce16d64564f26ce128f55",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "6937592287ce8316c876b81a987ccffb"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=6937592287ce8316c876b81a987ccffb"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 527,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"6937592287ce8316c876b81a987ccffb\",\"model\":\"bytedance/seedance-2-fast\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":4,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"web_search\\\\\\\":false,\\\\\\\"generate_audio\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"A calm lake at dawn with mist rising over the water\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\"}\\\",\\\"model\\\":\\\"bytedance/seedance-2-fast\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1776323933795}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 223,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
