{
  "log": {
    "_recordingName": "polymarket/data-health",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "58fb02a68ed1a22c754b5ca6f1da9d5d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://data-api.polymarket.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 13,
            "text": "{\"data\":\"OK\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 116,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
