{
  "log": {
    "_recordingName": "x/media-upload-finalize",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e72037abce070d62ae12e2847a83f208",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.x.com/2/media/upload/2050120900222296064/finalize"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 143,
            "text": "{\"data\":{\"expires_after_secs\":86400,\"id\":\"2050120900222296064\",\"media_key\":\"7_2050120900222296064\",\"processing_info\":{\"check_after_secs\":1,\"state\":\"pending\"},\"size\":64}}"
          },
          ],
          "headers": [
            {
              "name": "api-version",
              "value": "2.162"
            },
            {
              "name": "content-disposition",
              "value": "attachment; filename=json.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "origin-cf-ray",
              "value": "9f4d33c6bef67b50-SEA"
            },
            {
              "name": "perf",
              "value": "7402827104"
            },
            {
              "name": "x-access-level",
              "value": "read-write"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "1875"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "1870"
            },
            {
              "name": "x-rate-limit-reset",
              "value": "1777622563"
            },
            {
              "name": "x-response-time",
              "value": "148"
            },
            {
              "name": "x-transaction-id",
              "value": "b41e607d3ef39a2c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 429,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
