{
  "log": {
    "_recordingName": "free-media-upload/tflink-upload-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "947eca8a0e1757a19fa2db2d9052903d",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"cat1.jpg\",\"contentType\":\"image/jpeg\",\"size\":83558}}"
          },
          "queryString": [],
          "url": "https://tmpfile.link/api/upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 293,
            "text": "{\"fileName\":\"cat1.jpg\",\"downloadLink\":\"https://d.tmpfile.link/public/2026-06-18/9759976a-4f7c-4287-9a3a-bc878ab7f9de/cat1.jpg\",\"downloadLinkEncoded\":\"https://d.tmpfile.link/public/2026-06-18/9759976a-4f7c-4287-9a3a-bc878ab7f9de/cat1.jpg\",\"size\":83558,\"type\":\"image/jpeg\",\"uploadedTo\":\"public\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 979,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
