{
  "log": {
    "_recordingName": "binance/historical-trades",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1faeadf6bfc646b0887ad212fd23c47b",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://api.binance.com/api/v3/historicalTrades?symbol=BTCUSDT&limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 218,
            "text": "[{\"id\":6387272217,\"price\":\"63759.01000000\",\"qty\":\"0.00255000\",\"quoteQty\":\"162.58547550\",\"time\":1780918796423,\"isBuyerMaker\":true,\"isBestMatch\":true},{\"id\":6387272218,\"price\":\"63758.88000000\",\"qty\":\"0.00009000\",\"quoteQty\":\"5.73829920\",\"time\":1780918796423,\"isBuyerMaker\":true,\"isBestMatch\":true},{\"id\":6387272219,\"price\":\"63758.77000000\",\"qty\":\"0.00008000\",\"quoteQty\":\"5.10070160\",\"time\":1780918796423,\"isBuyerMaker\":true,\"isBestMatch\":true},{\"id\":6387272220,\"price\":\"63758.77000000\",\"qty\":\"0.00082000\",\"quoteQty\":\"52.28219140\",\"time\":1780918796423,\"isBuyerMaker\":true,\"isBestMatch\":true},{\"id\":6387272221,\"price\":\"63758.76000000\",\"qty\":\"0.01264000\",\"quoteQty\":\"805.91072640\",\"time\":1780918796587,\"isBuyerMaker\":false,\"isBestMatch\":true}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "25"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "25"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 603,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
