{
  "log": {
    "_recordingName": "kie/gpt-image-2-image-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "698e57ccdde5f3a98076186fc6d3d9df",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"gpt-image-2-image-to-image\",\"input\":{\"prompt\":\"Transform this product image into a premium e-commerce poster style.\",\"input_urls\":[\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\"],\"aspect_ratio\":\"1:1\",\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f8979ca2ef2635ecbead815bfad6ff24\",\"recordId\":\"f8979ca2ef2635ecbead815bfad6ff24\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 442,
      },
      {
        "_id": "7688a99155f63c832b02ceb0dce06e55",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "f8979ca2ef2635ecbead815bfad6ff24"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=f8979ca2ef2635ecbead815bfad6ff24"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 569,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f8979ca2ef2635ecbead815bfad6ff24\",\"model\":\"gpt-image-2-image-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"Transform this product image into a premium e-commerce poster style.\\\\\\\",\\\\\\\"input_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\\\\\\\"],\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"gpt-image-2-image-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1776850322264}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 242,
      },
      {
        "_id": "7688a99155f63c832b02ceb0dce06e55",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
          [...]
