{
  "log": {
    "_recordingName": "kie/elevenlabs/tts-multilingual-submit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3b202e2f3cbade39e9a101ab70d8da12",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"elevenlabs/text-to-speech-multilingual-v2\",\"input\":{\"text\":\"Bonjour.\",\"voice\":\"Sarah\",\"language_code\":\"fr\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"338d65abf727c289bead525a17d13466\",\"recordId\":\"338d65abf727c289bead525a17d13466\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 686,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
