{
  "log": {
    "_recordingName": "fal/bytedance-seedance2p5-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bed534c1dae9c65a7a2bcc37a698f136",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A white odd-eyed cat blinks slowly and tilts its head, soft breeze through fur, cinematic close-up.\",\"image_url\":\"<inline image/jpeg data URL — replace with a real URL or upload>\",\"resolution\":\"480p\",\"duration\":\"4\",\"aspect_ratio\":\"1:1\",\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/bytedance/seedance-2.5/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 178,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa78e94/NyXHrg24ZZqMQ_Mgmww9m_video.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"video.mp4\",\"file_size\":319229},\"seed\":1465536831}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "38.671"
            },
            {
              "name": "x-fal-served-from",
              "value": "ee407ba0-5a41-47e6-bb6c-8973bdbe1f11"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 203296,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
