{
  "log": {
    "_recordingName": "fal/wan-v2p7-pro-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c1173e974635c04022a704ebec982307",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"An astronaut riding a horse in a photorealistic style.\",\"max_images\":1,\"enable_safety_checker\":true}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/wan/v2.7/pro/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 210,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a96b7fc/0psxhmOvVFu0ak-BPDNUw_output_1.png\",\"content_type\":\"image/png\",\"file_name\":\"output_1.png\",\"file_size\":2055366}],\"generated_text\":null,\"seed\":1230437807}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-request-id",
              "value": "019d9f72-6516-7350-8763-85135f8c5e2e"
            },
            {
              "name": "x-fal-served-from",
              "value": "c00906ba-5981-4d71-8867-032afdb50e3d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 34526,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
