{
  "log": {
    "_recordingName": "simplefunctions/public-market-detail",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e5cc60fd8c735286adb0321f89caa13c",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "depth",
              "value": "true"
            }
          ],
          "url": "https://simplefunctions.dev/api/public/market/KXRATECUT-26DEC31?depth=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2562,
            "text": "{\"ticker\":\"KXRATECUT-26DEC31\",\"venue\":\"kalshi\",\"title\":\"Will the Federal Reserve cut rates before 2027?\",\"description\":\"If the Federal Reserve cuts its target federal funds rate range at least once between February 26, 2026 and December 31, 2026, then the market resolves to Yes.\",\"price\":22,\"bestBid\":22,\"bestAsk\":23,\"spread\":1,\"volume\":480214.07,\"volume24h\":2631.96,\"openInterest\":239728.08,\"status\":\"active\",\"closeTime\":\"2027-01-01T04:59:00Z\",\"bidLevels\":[{\"price\":22,\"size\":548},{\"price\":22,\"size\":49},{\"price\":22,\"size\":158},{\"price\":21,\"size\":5000},{\"price\":21,\"size\":1005}],\"askLevels\":[{\"price\":23,\"size\":6},{\"price\":23,\"size\":114},{\"price\":24,\"size\":1025},{\"price\":24,\"size\":500},{\"price\":24,\"size\":1}],\"liquidityScore\":\"high\",\"edges\":[{\"thesisTitle\":\"Stagflation traps the Fed in an impossible triangle. Powell stays until Warsh co\",\"thesisSlug\":\"powell-warsh-fed-succession\",\"thesisPrice\":35,\"edge\":-12,\"direction\":\"no\",\"firstDetectedAt\":\"2026-05-01T06:06:42.334Z\",\"firstDetectedPrice\":49}],\"slug\":\"will-the-federal-reserve-cut-rates-before-2027-kalshi-kxratecut-26dec31\",\"indicators\":{\"tauDays\":193,\"iyYes\":670.1765998906814,\"iyNo\":53.31450926152035,\"cri\":3.545,\"ee\":-13,\"eeSource\":\"thesis\",\"las\":0.0455,\"cvr\":null,\"overround\":null,\"rv\":471,\"vr\":1.675,\"iar\":0.78,\"adjIy\":639.68,\"daysToEvent\":null,\"expectedVr\":null,\"residualVr\":null,\"hasThesis\":true,\"hasOrderbook\":true,\"lastComputedAt\":\"2026-06-22T02:38:43.178Z\"},\"crossVenue\":null,\"regime\":{\"score\":0.577,\"label\":\"neutral\",\"signals\":{\"spreadCents\":1,\"bidDepthUsd\":6760,\"askDepthUsd\":1646,\"volume24h\":2631.96,\"observability\":\"high\",\"eventType\":\"data_release\",\"asPrior\":0.5,\"sfEdgeCents\":-12,\"sfEdgeDirection\":\"no\"},\"computedAt\":\"2026-06-22T02:41:45.537Z\",\"fresh\":true},\"nextActions\":{\"inspect\":[{\"description\":\"Full dossier for KXRATECUT-26DEC31\",\"method\":\"GET\",\"url\":\"https://simplefunctions.dev/api/agent/inspect/KXRATECUT-26DEC31\"}],\"related\":[{\"description\":\"Contagion — lagging siblings\",\"method\":\"GET\",\"url\":\"https://simplefunctions.dev/api/public/contagion?window=6h\"},{\"description\":\"Top edges across theses\",\"method\":\"GET\",\"url\":\"https://simplefunctions.dev/api/edges\"},{\"description\":\"Salience snapshot\",\"method\":\"GET\",\"url\":\"https://simplefunctions.dev/api/agent/world\"}]},\"pageUrl\":\"https://simplefunctions.dev/markets/will-the-federal-reserve-cut-rates-before-2027-kalshi-kxratecut-26dec31\",\"apiUrl\":\"https://simplefunctions.dev/api/public/market/KXRATECUT-26DEC31\",\"inspectUrl\":\"https://simplefunctions.dev/api/agent/inspect/KXRATECUT-26DEC31\",\"fetchedAt\":\"2026-06-22T02:41:45.538Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-attribution",
              "value": "SimpleFunctions (simplefunctions.dev)"
            },
            {
              "name": "x-license",
              "value": "https://creativecommons.org/licenses/by/4.0/"
            },
            {
              "name": "x-matched-path",
              "value": "/api/public/market/[ticker]"
            },
            {
              "name": "x-terms",
              "value": "https://simplefunctions.dev/terms#13"
            },
            {
              "name": "x-vercel-cache",
              "value": "MISS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::w6n7p-1782096105259-a605cb8f1cda"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 646,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
