{
  "log": {
    "_recordingName": "fal/usage",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "eb25ef257c9b2b2dc4c597435e3f9c64",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "endpoint_id",
              "value": "fal-ai/flux/dev"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://api.fal.ai/v1/models/usage?endpoint_id=fal-ai%2Fflux%2Fdev&limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 313,
            "text": "{\"next_cursor\":\"Mg\",\"has_more\":true,\"time_series\":[{\"bucket\":\"2026-03-27T19:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-27T20:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-27T21:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-27T22:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-27T23:00:00+00:00\",\"results\":[]}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::f9667-1774726497356-8e60c095b394"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1556,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
