{
  "log": {
    "_recordingName": "fal/usage",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "eb25ef257c9b2b2dc4c597435e3f9c64",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "endpoint_id",
              "value": "fal-ai/flux/dev"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://api.fal.ai/v1/models/usage?endpoint_id=fal-ai%2Fflux%2Fdev&limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 276,
            "text": "{\"next_cursor\":null,\"has_more\":false,\"time_series\":[{\"bucket\":\"2026-03-27T00:00:00+00:00\",\"results\":[{\"endpoint_id\":\"fal-ai/flux/dev\",\"unit\":\"step\",\"quantity\":12,\"unit_price\":0.005,\"cost\":0.06,\"currency\":\"USD\"}]}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::usage-1774591466688-a1b2c3d4e5f6"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 450,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
