{
  "log": {
    "_recordingName": "kie/wan-22-auxiliary-media/animate-move",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3cc0ab4e0c48dd01c56744ab2ff710ae",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/2-2-animate-move\",\"input\":{\"video_url\":\"https://static.aiquickdraw.com/tools/example/1767525918769_QyvTNib2.mp4\",\"image_url\":\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\",\"resolution\":\"480p\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"0fbb05f8027e990faae69a82ca0a66ec\",\"recordId\":\"0fbb05f8027e990faae69a82ca0a66ec\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 381,
      },
      {
        "_id": "2f0c1d48ed4e30abcd0d61f92d9c16a3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "0fbb05f8027e990faae69a82ca0a66ec"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=0fbb05f8027e990faae69a82ca0a66ec"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 573,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"0fbb05f8027e990faae69a82ca0a66ec\",\"model\":\"wan/2-2-animate-move\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":8,\\\\\\\"video_url\\\\\\\":\\\\\\\"https://static.aiquickdraw.com/tools/example/1767525918769_QyvTNib2.mp4\\\\\\\",\\\\\\\"image_url\\\\\\\":\\\\\\\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\"}\\\",\\\"model\\\":\\\"wan/2-2-animate-move\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1786514135965,\"creditsConsumed\":48.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 182,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
