{
  "log": {
    "_recordingName": "fal/bytedance-seedance2p0-fast-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4e278ec245403b76b41e12a0461624c4",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A white odd-eyed cat blinks slowly and tilts its head, soft breeze through fur, cinematic close-up.\",\"resolution\":\"480p\",\"duration\":\"4\",\"aspect_ratio\":\"1:1\",\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/bytedance/seedance-2.0/fast/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 178,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0a96c205/dQvJscx0Bj1kOIhu3PlJp_video.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"video.mp4\",\"file_size\":627687},\"seed\":1542293812}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "38.8"
            },
            {
              "name": "x-fal-request-id",
              "value": "019da0fa-0d7a-7a32-9837-77e45131cdd7"
            },
            {
              "name": "x-fal-served-from",
              "value": "befff761-99d9-4cbf-b4b5-94395b70e064"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 61275,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
