{
  "log": {
    "_recordingName": "polymarket/clob-last-trades-prices-batch",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "432ba757961ced590a38874657448394",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"token_id\":\"78433024518676680431174478322854148606578065650008220678402966840627347604025\"}]"
          },
          "queryString": [],
          "url": "https://clob.polymarket.com/last-trades-prices"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 124,
            "text": "[{\"price\":\"0.18\",\"side\":\"SELL\",\"token_id\":\"78433024518676680431174478322854148606578065650008220678402966840627347604025\"}]\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 214,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
