{
  "log": {
    "_recordingName": "elevenlabs/convai-misc",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "67a588da2dc4e6816a4d9a6a27f33f64",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "1"
            },
            {
              "name": "sort_by",
              "value": "last_contact_unix_secs"
            }
          ],
          "url": "https://api.elevenlabs.io/v1/convai/users?page_size=1&sort_by=last_contact_unix_secs"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 576,
            "text": "{\"users\":[{\"user_id\":\"user_5001khdg6an6e98rgtjwqqbn3jmw\",\"last_contact_unix_secs\":1781694496,\"first_contact_unix_secs\":1781693457,\"conversation_count\":7,\"last_contact_agent_id\":\"agent_7701kvak8r92e03921wqazqbb5kc\",\"last_contact_conversation_id\":\"conv_8701kvam8zcee8brysrhdcgg3qcp\",\"last_contact_agent_name\":\"Ecommerce Customer Experience\",\"sentiment\":{\"scored_conversation_count\":0,\"positive_count\":0,\"neutral_count\":0,\"negative_count\":0,\"average_sentiment_score\":null,\"average_frustration_score\":null},\"most_frustrated_conversations\":[]}],\"next_cursor\":null,\"has_more\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 497,
      },
      {
        "_id": "3a6d1462ad9c966ed25083d6c1951511",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/llm/list"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 36947,
            "text": "{\"llms\":[{\"llm\":\"gpt-4o-mini\",\"is_checkpoint\":false,\"max_tokens_limit\":16384,\"max_context_limit\":128000,\"supports_image_input\":true,\"supports_document_input\":true,\"supports_parallel_tool_calls\":true,\"available_reasoning_efforts\":null,\"deprecation_info\":null,\"regional_processing_surcharge\":null},{\"llm\":\"gpt-4o\",\"is_checkpoint\":false,\"max_tokens_limit\":4096,\"max_context_limit\":128000,\"supports_image_input\":true,\"supports_document_input\":true,\"supports_parallel_tool_calls\":true,\"available_reasoning_efforts\":null,\"deprecation_info\":null,\"regional_processing_surcharge\":null},{\"llm\":\"gpt-4\",\"is_checkpoint\":false,\"max_tokens_limit\":8192,\"max_context_limit\":8192,\"supports_image_input\":false,\"supports_document_input\":false,\"supports_parallel_tool_calls\":false,\"available_reasoning_efforts\":null,\"deprecation_info\":null,\"regional_processing_surcharge\":null},{\"llm\":\"gpt-4-turbo\",\"is_checkpoint\":false,\"max_tokens_limit\":4096,\"max_context_limit\":128000,\"supports_image_input\":true,\"supports_document_input\":true,\"supports_parallel_tool_calls\":true,\"available_reasoning_efforts\":null,\"deprecation_info\":{\"llm\":\"gpt-4-turbo\",\"is_deprecated\":true,\"is_in_warning_period\":true,\"is_in_fallback_period\":false,\"fallback_percentage\":0,\"provider_deprecation_date\":\"2026-08-15T00:00:00Z\",\"replacement_model\":\"gpt-5.5\",\"deprecation_config\":{\"warning_start_days\":90,\"fallback_start_days\":30,\"fallback_complete_days\":0,\"fallback_start_percentage\":25,\"fallback_complete_percentage\":100}},\"regional_processing_surcharge\":null},{\"llm\":\"gpt-4.1\",\"is_checkpoint\":false,\"max_tokens_limit\":32768,\"max_context_limit\":1047576,\"supports_image_input\":true,\"supports_document_input\":true,\"supports_parallel_tool_calls\":true,\"available_reasoning_efforts\":null,\"deprecation_info\":null,\"regional_processing_surcharge\":null},{\"llm\":\"gpt-4.1-mini\",\"is_checkpoint\":false,\"max_tokens_limit\":32768,\"max_context_limit\":1047576,\"supports_image_input\":true,\"supports_[...]
