{
  "log": {
    "_recordingName": "kie/openai-models-auth-error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a7aac42e72bbd06b50b69de2def6c1a7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/openai/v1/models"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 141,
            "text": "{\"code\":401,\"msg\":\"Unauthorized – Authentication failed. Please check that your Authorization and Content-Type headers are correctly set.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 277,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
