{
  "log": {
    "_recordingName": "fal/wan3p0-prime-reference-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3f0733bb4801252b5546a8d4a0bfed8d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The cat in Image 1 blinks slowly and tilts its head, cinematic close-up.\",\"reference_image_urls\":[\"<inline image/jpeg data URL — replace with a real URL or upload>\"],\"resolution\":\"480p\",\"aspect_ratio\":\"1:1\",\"duration\":2,\"audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/alibaba/wan-3.0-prime/reference-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 309,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa7b509/kGX23uwGIJ7PBjeYhZ15N_MD9SsBrW.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"kGX23uwGIJ7PBjeYhZ15N_MD9SsBrW.mp4\",\"file_size\":1463547,\"width\":624,\"height\":624,\"fps\":30.0,\"duration\":2.0,\"num_frames\":60},\"seed\":803655182,\"duration\":2.0,\"actual_prompt\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "2.72"
            },
            {
              "name": "x-fal-served-from",
              "value": "b5e7f2d6-8deb-4719-827f-4ecc68bd95bc"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 70077,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
