{
  "log": {
    "_recordingName": "youtube/videos-insert",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c3e8bac36ad60ee42424ef0a3ed73cdf",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "multipart/related; boundary=foo_bar_baz"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/related; boundary=foo_bar_baz",
            "params": []
          },
          "queryString": [
            {
              "name": "uploadType",
              "value": "multipart"
            },
            {
              "name": "part",
              "value": "snippet,status,recordingDetails,localizations"
            }
          ],
          "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=multipart&part=snippet%2Cstatus%2CrecordingDetails%2Clocalizations"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1563,
            "text": "{\n  \"kind\": \"youtube#video\",\n  \"etag\": \"z8d32yMgyLnES7jOv-xvOjNqFbE\",\n  \"id\": \"LOZHQJMAmpk\",\n  \"snippet\": {\n    \"publishedAt\": \"2026-05-14T05:49:22Z\",\n    \"channelId\": \"UCa-CiD2Cn3M4v5bCyIgZT8A\",\n    \"title\": \"Apicity jump.mp4 test upload\",\n    \"description\": \"Integration test video uploaded via @apicity/youtube\",\n    \"thumbnails\": {\n      \"default\": {\n        \"url\": \"https://i.ytimg.com/vi/LOZHQJMAmpk/default.jpg\",\n        \"width\": 120,\n        \"height\": 90\n      },\n      \"medium\": {\n        \"url\": \"https://i.ytimg.com/vi/LOZHQJMAmpk/mqdefault.jpg\",\n        \"width\": 320,\n        \"height\": 180\n      },\n      \"high\": {\n        \"url\": \"https://i.ytimg.com/vi/LOZHQJMAmpk/hqdefault.jpg\",\n        \"width\": 480,\n        \"height\": 360\n      }\n    },\n    \"channelTitle\": \"Justin W. Tanner\",\n    \"tags\": [\n      \"apicity\",\n      \"integration\",\n      \"test\"\n    ],\n    \"categoryId\": \"22\",\n    \"liveBroadcastContent\": \"none\",\n    \"defaultLanguage\": \"en\",\n    \"localized\": {\n      \"title\": \"Apicity jump.mp4 test upload\",\n      \"description\": \"Integration test video uploaded via @apicity/youtube\"\n    }\n  },\n  \"status\": {\n    \"uploadStatus\": \"uploaded\",\n    \"privacyStatus\": \"unlisted\",\n    \"license\": \"youtube\",\n    \"embeddable\": true,\n    \"publicStatsViewable\": true,\n    \"selfDeclaredMadeForKids\": false,\n    \"containsSyntheticMedia\": false\n  },\n  \"recordingDetails\": {\n    \"recordingDate\": \"2026-05-14T00:00:00Z\"\n  },\n  \"localizations\": {\n    \"es\": {\n      \"title\": \"Prueba de subida jump.mp4\",\n      \"description\": \"Video de prueba de integracion\"\n    }\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "warning",
              "value": "214 UploadServer gzipped"
            },
            {
              "name": "x-guploader-response-body-transformations",
              "value": "gzipped"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2877,
      },
      {
        "_id": "5ec2b3dceb674cd132c996fe6649a2a7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "part",
              "value": "snippet,status"
            },
            {
              "name": "id",
              "value": "LOZHQJMAmpk"
            }
          ],
          "url": "https://www.googleapis.com/youtube/v3/videos?part=snippet%2Cstatus&id=LOZHQJMAmpk"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1706,
            "text": "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"d1wSpXJnTLwgYap1hDtFOGC34no\",\n  \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\": \"Zmf9iD8sOXeV79EW6QpT8y4EOzw\",\n      \"id\": \"LOZHQJMAmpk\",\n      \"snippet\": {\n        \"publishedAt\": \"2026-05-14T05:49:22Z\",\n        \"channelId\": \"UCa-CiD2Cn3M4v5bCyIgZT8A\",\n        \"title\": \"Apicity jump.mp4 test upload\",\n        \"description\": \"Integration test video uploaded via @apicity/youtube\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/LOZHQJ[...]
