{
  "log": {
    "_recordingName": "fal/minimax-h3-max-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "147383091dc97fcda43a151ce0e0b305",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The camera slowly pulls back from the scene, revealing the full landscape as clouds drift overhead and light shifts across the terrain.\",\"image_url\":\"https://storage.googleapis.com/falserverless/example_inputs/hailuo23/pro_i2v_in.jpg\",\"duration\":0.92,\"resolution\":\"480P\",\"prompt_expansion_mode\":\"disabled\"}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/h3-max/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 258,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad7947/4dAGNh9YSCrBT6JCy4fKD_minimax-h3.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"4dAGNh9YSCrBT6JCy4fKD_minimax-h3.mp4\",\"file_size\":615563},\"expanded_prompt\":null,\"timings\":{\"inference\":0.5395553529961035}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.92"
            },
            {
              "name": "x-fal-served-from",
              "value": "66630aa9-bc17-4afb-b01f-d8f4e01df6d1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2011,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
