{
  "log": {
    "_recordingName": "fal/minimax-h3-max-insert-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fbbf5dfc36274fe96151b4d7a0c7314f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"video_url\":\"https://v3b.fal.media/files/b/0aac0919/5NYtHn5-5dxFlbH_U9oQW_video.mp4\",\"prompt\":\"A red panda waves once, then holds still.\",\"duration\":5,\"resume_time\":2.125,\"resolution\":\"480p\",\"start_time\":1.625}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/h3-max/insert-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 5050,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad24c6/uASnzMo3lh1Mr5N77uAvu_minimax-h3.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"uASnzMo3lh1Mr5N77uAvu_minimax-h3.mp4\",\"file_size\":2835893,\"width\":832,\"height\":480,\"fps\":24.0,\"duration\":12.541666666666666,\"num_frames\":301},\"seed\":1198401229,\"width\":832,\"height\":480,\"frame_count\":301,\"duration\":12.541666666666666,\"start_time\":1.625,\"resume_time\":2.125,\"injected_duration\":5.0,\"expanded_prompt\":\"subject_definitions:\\n<Audio 1> is the audio reference for the source clip, featuring quiet ambient room tone and subtle soft rustling movement friction.\\n\\nsummary:\\n[video continuation + audio reference] The target video continues the low-angle tracking shot of the runner sprinting along the reddish athletic track, as a red panda sitting near the track border waves once and holds still while the runner powers forward into the return frame composition.\\n\\nretention_analysis:\\n<Audio 1>: reference - preserves the subt[...]
