{
  "log": {
    "_recordingName": "fal/luma-agent-ray-v3-2-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c0b00054fe9a8417840b694a666a1e75",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A herd of wild horses galloping across a dusty desert plain under a blazing midday sun, their manes flying in the wind; wide tracking shot.\",\"duration\":\"5s\",\"resolution\":\"540p\"}"
          },
          "queryString": [],
          "url": "https://fal.run/luma/agent/ray/v3.2/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 179,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad88a3/Nzt3rOdM8optguQulY6_8_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":1949225},\"exr_file\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "5"
            },
            {
              "name": "x-fal-served-from",
              "value": "3d007417-b347-4929-84d7-c2a3436a683a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 28133,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
