{
  "log": {
    "_recordingName": "fal/flux-video-upscale",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9b8981ec82eaa407b4fd6272b0b02fe7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"video_url\":\"<inline video/mp4 data URL — replace with a real URL or upload>\",\"upscale_factor\":1.5,\"creativity\":0}"
          },
          "queryString": [],
          "url": "https://fal.run/blackforestlabs/flux-video-upscale"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 163,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa74ead/TvofSr_i36IxReH5NeqVa_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":4144895}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "7.0237"
            },
            {
              "name": "x-fal-served-from",
              "value": "cec83019-925e-407e-9eb4-7b3e2b4db595"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 59880,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
