{
  "log": {
    "_recordingName": "fal/ideogram-v4-5",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d9356d501e76e8216fd728756df30411",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"num_images\":1,\"quality\":\"low\",\"prompt\":\"A red panda waves once, then holds still.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/ideogram/v4.5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 207,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad24ae/I2vsCZK_S1kZuBPRPU7K9_POfZyxNM.png\",\"content_type\":\"image/png\",\"file_name\":\"I2vsCZK_S1kZuBPRPU7K9_POfZyxNM.png\",\"file_size\":null}],\"seed\":1489291730}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "30"
            },
            {
              "name": "x-fal-served-from",
              "value": "f689679f-9cf6-4d37-a835-a84c32984b00"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7902,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
