{
  "log": {
    "_recordingName": "kie/wan-27-i2v/upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 418,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1775638903493-8uhskrvrrtt.jpg\",\"filePath\":\"kieai/136592/uploads/1775638903039_cat1.jpg/1775638903493-8uhskrvrrtt.jpg\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/uploads/1775638903039_cat1.jpg/1775638903493-8uhskrvrrtt.jpg\",\"fileSize\":83558,\"mimeType\":\"image/jpeg\",\"uploadedAt\":\"2026-04-08T09:01:43.780Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 712,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
