{
  "log": {
    "_recordingName": "polymarket/data-combo-activity",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "722621ccca7d1214785c8cf61958b1ed",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "user",
              "value": "0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://data-api.polymarket.com/v1/activity/combos?user=0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 87,
            "text": "{\"activity\":[],\"pagination\":{\"limit\":1,\"offset\":0,\"has_more\":false,\"next_cursor\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Sat, 20 Jun 2026 05:02:21 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 353,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
