{
  "log": {
    "_recordingName": "free-media-upload/uguu-upload-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e080bd538a9ca8ab1c7fe6aee099814e",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"files[]\":{\"_file\":true,\"filename\":\"jump.mp4\",\"contentType\":\"video/mp4\",\"size\":1318021}}"
          },
          "queryString": [],
          "url": "https://uguu.se/upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 312,
            "text": "{\n    \"success\": true,\n    \"files\": [\n        {\n            \"hash\": \"6bf33b1edad66687\",\n            \"filename\": \"rvtHZBvK.mp4\",\n            \"mimetype\": \"video\\/mp4\",\n            \"url\": \"https:\\/\\/h.uguu.se\\/rvtHZBvK.mp4\",\n            \"size\": 1318021,\n            \"dupe\": false\n        }\n    ],\n    \"errors\": []\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1116,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
