{
  "log": {
    "_recordingName": "fal/models-search",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1e60ee00efc6fbd31e63a80cbf9758b2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://api.fal.ai/v1/models?limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3449,
            "text": "{\"models\":[{\"endpoint_id\":\"fal-ai/nano-banana-2/edit\",\"metadata\":{\"display_name\":\"Nano Banana 2\",\"category\":\"image-to-image\",\"description\":\"Nano Banana 2 is Google's new state-of-the-art image generation and editing model\\n\",\"status\":\"active\",\"tags\":[],\"updated_at\":\"2026-03-10T18:30:04.004Z\",\"is_favorited\":false,\"thumbnail_url\":\"https://v3b.fal.media/files/b/0a900b75/DHb_RgXoXsYLdvzQz6mdn_95e87a44239c43448939b4c382dd957c.jpg\",\"model_url\":\"https://fal.run/fal-ai/nano-banana-2/edit\",\"license_type\":\"commercial\",\"date\":\"2026-02-26T16:20:09.685Z\",\"group\":{\"key\":\"nano-banana-2\",\"label\":\"Image Editing\"},\"highlighted\":false,\"kind\":\"inference\",\"pinned\":false}},{\"endpoint_id\":\"fal-ai/nano-banana-pro/edit\",\"metadata\":{\"display_name\":\"Nano Banana Pro\",\"category\":\"image-to-image\",\"description\":\"Nano Banana Pro is Google's new state-of-the-art image generation and editing model\",\"status\":\"active\",\"tags\":[\"realism\",\"typography\"],\"updated_at\":\"2026-02-27T22:41:40.321Z\",\"is_favorited\":false,\"thumbnail_url\":\"https://v3b.fal.media/files/b/0a86920c/NHZJWHJsy3Sve0Kroa6hV_8767c85d62f6486495d2d4978c1b1de3.jpg\",\"model_u[...]
