{
  "log": {
    "_recordingName": "kie/wan-27-i2v-man-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"man.jpg\",\"contentType\":\"image/jpeg\",\"size\":262255},\"uploadPath\":\"images/test-uploads\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 397,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1787367056765-rtxw8tkj4ur.jpg\",\"filePath\":\"kieai/136592/images/test-uploads/1787367056765-rtxw8tkj4ur.jpg\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1787367056765-rtxw8tkj4ur.jpg\",\"fileSize\":262255,\"mimeType\":\"image/jpeg\",\"uploadedAt\":\"2026-08-22T02:50:57.725Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1423,
      },
      {
        "_id": "b84eba754c9d6b0b273f113524fccc6c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/2-7-image-to-video\",\"input\":{\"prompt\":\"The man turns his head slowly toward the camera and smiles, subtle natural motion\",\"negative_prompt\":\"blurry, low quality, distorted\",\"first_frame_url\":\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1787367056765-rtxw8tkj4ur.jpg\",\"resolution\":\"720p\",\"duration\":5,\"prompt_extend\":true,\"watermark\":false,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c7bf6e881138ab1250c2e2e66e39b933\",\"recordId\":\"c7bf6e881138ab1250c2e2e66e39b933\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 333,
      },
      {
        "_id": "e4cf6bed6f83a75498d3f18bb8b72085",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "c7bf6e881138ab1250c2e2e66e39b933"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=c7bf6e881138ab1250c2e2e66e39b933"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 753,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c7bf6e881138ab1250c2e2e66e39b933\",\"model\":\"wan/2-7-image-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":5,\\\\\\\"first_frame_url\\\\\\\":\\\\\\\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1787367056765-rtxw8tkj4ur.jpg\\\\\\\",\\\\\\\"watermark\\\\\\\":false,\\\\\\\"negative_prompt\\\\\\\":\\\\\\\"blurry, low quality, distorted\\\\\\\",\\\\\\\"prompt_extend\\\\\\\":true,\\\\\\\"prompt\\\\\\\":\\\\\\\"The man turns his head slowly toward the camera and smiles, subtle natural motion\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"wan/2-7-image-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1787367058029,\"creditsConsumed\":80.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 205,
      },
      {
        "_id": "e4cf6bed6f83a75498d3f18bb8b72085",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
     [...]
