{
  "log": {
    "_recordingName": "elevenlabs/convai-agent-testing",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f5f2cfff01f175435a1f2051db7066b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Apicity agent testing route test\",\"conversation_config\":{\"agent\":{\"prompt\":{\"prompt\":\"You are a concise Apicity route-test assistant.\"},\"first_message\":\"Hello from Apicity.\",\"language\":\"en\"}},\"tags\":[\"apicity-test\"]}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/agents/create"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 165,
            "text": "{\"agent_id\":\"agent_4801kw9vazcbedyt8wgke5n8z0x6\",\"main_branch_id\":\"agtbrch_2801kw9vb07re7ybgea44ckwkyaa\",\"initial_version_id\":\"agtvrsn_2801kw9vb0ace7jtystj5eshfbpd\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-warning",
              "value": "The ASR provider 'elevenlabs' (Original ASR) is deprecated and will be replaced by the current default 'scribe_realtime' (Scribe v2.2 Realtime) on 2026-07-08."
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1586,
      },
      {
        "_id": "87dbedb4891ec3d85b05413a679b8b4a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Apicity route test folder\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/agent-testing/folders"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"id\":\"tfld_4801kw9vb0v1ewp9h2c1dc7893yv\",\"name\":\"Apicity route test folder\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 203,
      },
      {
        "_id": "00b442d28410c6aa6bf11223751f7d8b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Apicity route response test\",\"type\":\"llm\",\"chat_history\":[{\"role\":\"user\",\"message\":\"Say hello from Apicity in one short sentence.\",\"time_in_call_secs\":0}],\"success_condition\":\"The agent responds with a short greeting that mentions Apicity.\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/agent-testing/create"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 42,
            "text": "{\"id\":\"test_7801kw9vb11jfs0vfpn8x9148vmn\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 218,
      },
      {
        "_id": "15d46465a13f917dc86d9253da070bbf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"entity_ids\":[\"test_7801kw9vb11jfs0vfpn8x9148vmn\"],\"move_to\":\"tfld_4801kw9vb0v1ewp9h2c1dc7893yv\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/agent-testing/bulk-move"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 176,
      },
      {
        "_id": "7997447fe330e756b3a8ff6416896c83",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/agent-testing/folders/tfld_4801kw9vb0v1ewp9h2c1dc7893yv"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 113,
            "text": "{\"id\":\"tfld_4801kw9vb0v1ewp9h2c1dc7893yv\",\"name\":\"Apicity route test folder\",\"folder_path\":[],\"children_count\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 193,
      },
      {
        "_id": "4a80dec07e03b18ae3b15269e3dfbcb7",
        "request": {
          "headers": [
            {
              "name": "cont[...]
