{
  "log": {
    "_recordingName": "fal/bytedance-seedance2p5-reference-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3bde89bf9fe494326c465ca3a1597847",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"@Image1 follows the gentle head movement from @Video1, cinematic close-up.\",\"image_urls\":[\"<inline image/jpeg data URL — replace with a real URL or upload>\"],\"video_urls\":[\"<inline video/mp4 data URL — replace with a real URL or upload>\"],\"resolution\":\"480p\",\"duration\":\"4\",\"aspect_ratio\":\"1:1\",\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/bytedance/seedance-2.5/reference-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 178,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa78ede/rJjWZlOHURQnl19roUE1G_video.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"video.mp4\",\"file_size\":474184},\"seed\":1311691055}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "46.32"
            },
            {
              "name": "x-fal-served-from",
              "value": "ee407ba0-5a41-47e6-bb6c-8973bdbe1f11"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 175038,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
