{
  "log": {
    "_recordingName": "elevenlabs/pvc-voice-captcha-get",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "07e854b9dc39f0a438885c156b85c83a",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/voices/pvc/apicity-test-nonexistent-pvc-voice/captcha"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 248,
            "text": "{\"detail\":{\"type\":\"invalid_request\",\"code\":\"bad_request\",\"message\":\"An invalid ID has been received: 'apicity-test-nonexistent-pvc-voice'. Make sure to provide a correct one.\",\"status\":\"invalid_uid\",\"request_id\":\"4f2c8e0ca75e8a1b30a81cebd9a36c45\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-trace-id",
              "value": "***"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 613,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
