{
  "log": {
    "_recordingName": "binance/exchange-info",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d5aafab2d0c2411462284e7fddd7196b",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            },
            {
              "name": "showPermissionSets",
              "value": "false"
            }
          ],
          "url": "https://api.binance.com/api/v3/exchangeInfo?symbol=BTCUSDT&showPermissionSets=false"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 852,
            "text": "{\"timezone\":\"UTC\",\"serverTime\":1780907307447,\"rateLimits\":[{\"rateLimitType\":\"REQUEST_WEIGHT\",\"interval\":\"MINUTE\",\"intervalNum\":1,\"limit\":6000},{\"rateLimitType\":\"ORDERS\",\"interval\":\"SECOND\",\"intervalNum\":10,\"limit\":100},{\"rateLimitType\":\"ORDERS\",\"interval\":\"DAY\",\"intervalNum\":1,\"limit\":200000},{\"rateLimitType\":\"RAW_REQUESTS\",\"interval\":\"MINUTE\",\"intervalNum\":5,\"limit\":300000}],\"exchangeFilters\":[],\"symbols\":[{\"symbol\":\"BTCUSDT\",\"status\":\"TRADING\",\"baseAsset\":\"BTC\",\"baseAssetPrecision\":8,\"quoteAsset\":\"USDT\",\"quotePrecision\":8,\"quoteAssetPrecision\":8,\"baseCommissionPrecision\":8,\"quoteCommissionPrecision\":8,\"orderTypes\":[\"LIMIT\",\"LIMIT_MAKER\",\"MARKET\",\"STOP_LOSS\",\"STOP_LOSS_LIMIT\",\"TAKE_PROFIT\",\"TAKE_PROFIT_LIMIT\"],\"icebergAllowed\":true,\"ocoAllowed\":true,\"otoAllowed\":true,\"opoAllowed\":true,\"quoteOrderQtyMarketAllowed\":true,\"allowTrailingStop\":true,\"cancelReplaceAllowed\":true,\"amendAllowed\":true,\"pegInstructionsAllowed\":true,\"isSpotTradingAllowed\":true,\"isMarginTradingAllowed\":true,\"filters\":[{\"filterType\":\"PRICE_FILTER\",\"minPrice\":\"0.01000000\",\"maxPrice\":\"1000000.00000000\",\"tickSize\":\"0.01000000\"},{\"filterType\":\"LOT_SIZE\",\"minQty\":\"0.00001000\",\"maxQty\":\"9000.00000000\",\"stepSize\":\"0.00001000\"},{\"filterType\":\"ICEBERG_PARTS\",\"limit\":100},{\"filterType\":\"MARKET_LOT_SIZE\",\"minQty\":\"0.00000000\",\"maxQty\":\"154.83815920\",\"stepSize\":\"0.00000000\"},{\"filterType\":\"TRAILING_DELTA\",\"minTrailingAboveDelta\":10,\"maxTrailingAboveDelta\":2000,\"minTrailingBelowDelta\":10,\"maxTrailingBelowDelta\":2000},{\"filterType\":\"PERCENT_PRICE_BY_SIDE\",\"bidMultiplierUp\":\"2\",\"bidMultiplierDown\":\"0.5\",\"askMultiplierUp\":\"2\",\"askMultiplierDown\":\"0.5\",\"avgPriceMins\":5},{\"filterType\":\"NOTIONAL\",\"minNotional\":\"5.00000000\",\"applyMinToMarket\":true,\"maxNotional\":\"9000000.00000000\",\"applyMaxToMarket\":false,\"avgPriceMins\":5},{\"filterType\":\"MAX_NUM_ORDERS\",\"maxNumOrders\":200},{\"filterType\":\"MAX_NUM_ORDER_LISTS\",\"maxNumOrderLists\":20},{\"filterType\":\"MAX_NUM_ALGO_ORDERS\",\"maxNumAlgoOrders\":5},{\"filterType\":\"MAX_NUM_ORDER_AMENDS\",\"maxNumOrderAmends\":10}],\"permissions\":[],\"permissionSets\":[],\"defaultSelfTradePreventionMode\":\"EXPIRE_MAKER\",\"allowedSelfTradePreventionModes\":[\"EXPIRE_TAKER\",\"EXPIRE_MAKER\",\"EXPIRE_BOTH\",\"DECREMENT\",\"TRANSFER\"]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "20"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "20"
            },
            {
              "name": "x-mbx-uuid",
              "value": "***"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 508,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
