{
  "log": {
    "_recordingName": "fal/minimax-h3-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a642c188a5ef8c9e9a6c9c1b51f40b25",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The camera drifts slowly forward as soft afternoon light moves across the scene.\",\"image_url\":\"https://storage.googleapis.com/falserverless/example_inputs/hailuo23/pro_i2v_in.jpg\",\"duration\":5,\"resolution\":\"480P\",\"prompt_expansion_mode\":\"disabled\"}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/h3/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 216,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa8200b/KF2sr-CxDpqTdnt9lHCZW_minimax-h3.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"KF2sr-CxDpqTdnt9lHCZW_minimax-h3.mp4\",\"file_size\":3496940},\"expanded_prompt\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "5.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "81731d64-6dab-4db7-bf0c-2155c621d155"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4800,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
