{
  "log": {
    "_recordingName": "elevenlabs/music-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8bcb7573771d694f01a1063c48f94b4",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"blob\",\"contentType\":\"audio/wav\",\"size\":384044}}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/music/upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 89,
            "text": "{\"song_id\":\"i2kqFLu623bmjtxGd1bE_upload\",\"composition_plan\":null,\"words_timestamps\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "song-id",
              "value": "i2kqFLu623bmjtxGd1bE_upload"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1256,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
