{
  "log": {
    "_recordingName": "free-media-upload/tflink-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "947eca8a0e1757a19fa2db2d9052903d",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"test.txt\",\"contentType\":\"text/plain\",\"size\":14}}"
          },
          "queryString": [],
          "url": "https://tmpfile.link/api/upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 290,
            "text": "{\"fileName\":\"test.txt\",\"downloadLink\":\"https://d.tmpfile.link/public/2026-06-18/7dcc5684-5ab3-4f79-84f0-e5db4291b1fd/test.txt\",\"downloadLinkEncoded\":\"https://d.tmpfile.link/public/2026-06-18/7dcc5684-5ab3-4f79-84f0-e5db4291b1fd/test.txt\",\"size\":14,\"type\":\"text/plain\",\"uploadedTo\":\"public\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1201,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
