{
  "log": {
    "_recordingName": "fal/google-gemini-omni-flash-v1-1-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "26c7f78f495b850aaed8db94b761da4f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A cinematic wide shot of a lighthouse on a rocky cliff at dusk, waves crashing below, the beam sweeping across the dark sea.\",\"resolution\":\"360p\",\"duration\":3}"
          },
          "queryString": [],
          "url": "https://fal.run/google/gemini-omni-flash/v1.1/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 215,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad8249/HcNeLDuQgcBOcLX-S_frp_33b9f70191d445d49c82a0850b516f96.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"33b9f70191d445d49c82a0850b516f96.mp4\",\"file_size\":1406420}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "3.029333"
            },
            {
              "name": "x-fal-served-from",
              "value": "cefd17d8-a21e-448e-8a30-8b64a4d2eaa6"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 35792,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
