{
  "log": {
    "_recordingName": "kie/suno-generate-vocal",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fd5c961f25ff25141e9ed154fbaa2c2a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A cheerful indie pop song about summer adventures\",\"model\":\"V5\",\"instrumental\":false,\"customMode\":false}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 58,
            "text": "{\"code\":422,\"msg\":\"Please enter callBackUrl.\",\"data\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 407,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
