{
  "log": {
    "_recordingName": "kie/suno-generate-vocal",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "76cf2dbd0e7ae008b57a06217b1dbeed",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A cheerful indie pop song about summer adventures\",\"model\":\"V5\",\"instrumental\":false,\"customMode\":false,\"callBackUrl\":\"https://example.com/cb\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"0481fd5e86a004b30b52d402e4a4632b\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 325,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
