{
  "log": {
    "_recordingName": "simplefunctions/public-index",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7de1810b155e7b926be1c33f61207a5c",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://simplefunctions.dev/api/public/index"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1256,
            "text": "{\"disagreement\":42,\"breadth\":0.13,\"geoRisk\":0,\"activity\":0,\"components\":{\"geoVol\":0,\"geoDelta\":0,\"geoLevel\":0,\"breadthUp\":1401,\"breadthDown\":1068,\"breadthTotal\":2469,\"metricVersion\":2,\"geoBasketSize\":64,\"disagreementSigma\":1.7,\"qualifyingTickers\":532,\"geoTheatersActive\":0,\"activityBelowCount\":0,\"activityChanges_24h\":27462,\"activityBaselineDays\":6},\"timestamp\":\"2026-06-21T15:00:00.100Z\",\"dataStartDate\":\"2026-04-09\",\"dataNote\":\"SimpleFunctions Index v2 launched 2026-04-09. Earlier history used a different formula and is not displayed.\",\"latencyMs\":5,\"nextActions\":{\"drill\":[{\"description\":\"24h history\",\"method\":\"GET\",\"url\":\"https://simplefunctions.dev/api/public/index/history?days=1\"},{\"description\":\"7d history\",\"method\":\"GET\",\"url\":\"https://simplefunctions.dev/api/public/index/history?days=7\"}],\"related\":[{\"description\":\"Full world state\",\"method\":\"GET\",\"url\":\"https://simplefunctions.dev/api/agent/world?format=json\"},{\"description\":\"High-yield screen\",\"method\":\"GET\",\"url\":\"https://simplefunctions.dev/api/public/screen?sort=iy&limit=10\"},{\"description\":\"Contagion gaps\",\"method\":\"GET\",\"url\":\"https://simplefunctions.dev/api/public/contagion\"},{\"description\":\"Trade ideas\",\"method\":\"GET\",\"url\":\"https://simplefunctions.dev/api/public/ideas\"}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-attribution",
              "value": "SimpleFunctions (simplefunctions.dev)"
            },
            {
              "name": "x-license",
              "value": "https://creativecommons.org/licenses/by/4.0/"
            },
            {
              "name": "x-matched-path",
              "value": "/api/public/index"
            },
            {
              "name": "x-terms",
              "value": "https://simplefunctions.dev/terms#13"
            },
            {
              "name": "x-vercel-cache",
              "value": "MISS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::kzld6-1782054630507-63d94e498b8f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 589,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
