{
  "log": {
    "_recordingName": "kie/kling-v3-turbo-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c1a9a643e0edc05f0173cd21c28bd934",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"kling/v3-turbo-image-to-video\",\"input\":{\"image_urls\":[\"https://static.aiquickdraw.com/tools/example/1770688028208_jxcvxCQm.png\"],\"prompt\":\"Camera slowly pushes in while morning light crosses the table.\",\"duration\":\"5\",\"resolution\":\"720p\"}}"
          }
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 147,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"task_kling_v3_turbo_image_to_video_apicity\",\"recordId\":\"task_kling_v3_turbo_image_to_video_apicity\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 0,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
