{
  "log": {
    "_recordingName": "kie/kling-v3-turbo-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c1a9a643e0edc05f0173cd21c28bd934",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"kling/v3-turbo-image-to-video\",\"input\":{\"image_urls\":[\"https://static.aiquickdraw.com/tools/example/1770688028208_jxcvxCQm.png\"],\"prompt\":\"Camera slowly pushes in while morning light crosses the table.\",\"duration\":\"5\",\"resolution\":\"720p\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"e11c0c5012136098f645da0ed5283e29\",\"recordId\":\"e11c0c5012136098f645da0ed5283e29\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 426,
      },
      {
        "_id": "7178e0db0cac908f4ec7e5438842dce3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "e11c0c5012136098f645da0ed5283e29"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=e11c0c5012136098f645da0ed5283e29"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 582,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"e11c0c5012136098f645da0ed5283e29\",\"model\":\"kling/v3-turbo-image-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":5,\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1770688028208_jxcvxCQm.png\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"Camera slowly pushes in while morning light crosses the table.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"kling/v3-turbo-image-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1782615194927,\"creditsConsumed\":90.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 186,
      },
      {
        "_id": "7178e0db0cac908f4ec7e5438842dce3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
     [...]
