{
  "log": {
    "_recordingName": "dolthub/sql-read-v2-show-tables",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1e8b2d2ebcf13029d8b6f679094424b5",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "ref",
              "value": "master"
            },
            {
              "name": "q",
              "value": "SHOW TABLES"
            }
          ],
          "url": "https://www.dolthub.com/api/v2/databases/dolthub/ip-to-country/sql?ref=master&q=SHOW%20TABLES"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 180,
            "text": "{\"data\":{\"columns\":[{\"name\":\"Tables_in_ip-to-country\",\"type\":\"longtext\",\"is_primary_key\":false,\"source_table\":\"\"}],\"rows\":[[\"IPv4ToCountry\"],[\"IPv6ToCountry\"]],\"status\":\"success\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"ld1eu854n450\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1036,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
