{
  "log": {
    "_recordingName": "dolthub/branch-create-unauthenticated",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "dcd695f7060a3cc0c9dcbd1370f94e7b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"apicity-branch-probe\",\"from\":{\"branch\":\"main\"}}"
          },
          "queryString": [],
          "url": "https://www.dolthub.com/api/v2/databases/dolthub/ip-to-country/branches"
        },
        "response": {
          "content": {
            "mimeType": "application/problem+json",
            "size": 324,
            "text": "{\"type\":\"https://dolthub.com/docs/products/dolthub/api/v2/models/#model-errorcode\",\"title\":\"Unauthenticated\",\"status\":401,\"detail\":\"Authentication credentials were missing or invalid.\",\"code\":\"UNAUTHENTICATED\",\"request_id\":\"9f4d6274-cbd3-4caa-a204-4ba039ff9af9\",\"instance\":\"/api/v2/databases/dolthub/ip-to-country/branches\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/problem+json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 613,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
