{
  "log": {
    "_recordingName": "x/media-upload-status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0c32b671544df65785c34744d94f979b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "media_id",
              "value": "2050120900222296064"
            },
            {
              "name": "command",
              "value": "STATUS"
            }
          ],
          "url": "https://api.x.com/2/media/upload?media_id=2050120900222296064&command=STATUS"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 130,
            "text": "{\"data\":{\"id\":\"2050120900222296064\",\"media_key\":\"7_2050120900222296064\",\"processing_info\":{\"progress_percent\":99,\"state\":\"failed\"},\"size\":64}}"
          },
          ],
          "headers": [
            {
              "name": "api-version",
              "value": "2.162"
            },
            {
              "name": "content-disposition",
              "value": "attachment; filename=json.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "origin-cf-ray",
              "value": "9f4d34b5dcfd7b6c-SEA"
            },
            {
              "name": "perf",
              "value": "7402827104"
            },
            {
              "name": "x-access-level",
              "value": "read-write"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "1000"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "994"
            },
            {
              "name": "x-rate-limit-reset",
              "value": "1777622442"
            },
            {
              "name": "x-response-time",
              "value": "28"
            },
            {
              "name": "x-transaction-id",
              "value": "22ab3b9c221c583f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 293,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
