{
  "log": {
    "_recordingName": "kie/helpers/submit-media-job",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "76079d8e609113b1b7ae7bbbf53de5b2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/text-to-image\",\"input\":{\"prompt\":\"A red apple on a wooden table\",\"aspect_ratio\":\"1:1\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"283b106a43c9fdf8a8476deee6d1c18e\",\"recordId\":\"283b106a43c9fdf8a8476deee6d1c18e\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 510,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
