{
  "log": {
    "_recordingName": "kie/suno/upload-extend-bogus-url",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "dc95e2378f3f08b6b428a640f173e138",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"uploadUrl\":\"https://invalid-host-apicity-test.invalid/song.mp3\",\"defaultParamFlag\":true,\"instrumental\":false,\"continueAt\":60,\"model\":\"V5\",\"callBackUrl\":\"https://example.com/cb\",\"prompt\":\"Continue the chorus then resolve\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate/upload-extend"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"4923d291ca0ec6bd1062b4817432de1c\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 569,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
