{
  "log": {
    "_recordingName": "elevenlabs/music-plan",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2795a5791eb5d2fd7f3e6652909fec85",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"calm lo-fi piano loop\",\"music_length_ms\":10000}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/music/plan"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 539,
            "text": "{\"positive_global_styles\":[\"lo-fi\",\"lofi hip hop\",\"chillhop\",\"calm piano loop\",\"ambient crackle\",\"warm vinyl tape hiss\",\"soothing\",\"relaxing\",\"gentle key strokes\"],\"negative_global_styles\":[\"upbeat\",\"fast\",\"aggressive\",\"vocals\",\"rock\",\"heavy drums\"],\"sections\":[{\"section_name\":\"Lofi Piano Loop Intro\",\"positive_local_styles\":[\"warm rhodes piano chords\",\"dusty vinyl sound\",\"mellow synthesizer pad\",\"laid-back atmospheric loop\"],\"negative_local_styles\":[\"heavy percussion\",\"trap beats\",\"singing\",\"vocals\"],\"duration_ms\":10000,\"lines\":[]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2397,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
