{
  "log": {
    "_recordingName": "kie/suno/vocal-removal-record-info-not-found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "82c245fd27aff071c71700576119e6e2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "apicity-test-nonexistent-task-id-do-not-record-real"
            }
          ],
          "url": "https://api.kie.ai/api/v1/vocal-removal/record-info?taskId=apicity-test-nonexistent-task-id-do-not-record-real"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 40,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 545,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
