{
  "log": {
    "_recordingName": "fal/google-gemini-omni-flash-reference-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "93973d49f5d2755db7c9d7a23d0abe59",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"<IMAGE_REF_0> walks slowly through a sunlit meadow, camera holding still.\",\"image_urls\":[\"https://storage.googleapis.com/falserverless/example_inputs/veo31-r2v-input-1.png\"],\"aspect_ratio\":\"16:9\",\"duration\":3}"
          },
          "queryString": [],
          "url": "https://fal.run/google/gemini-omni-flash/reference-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 214,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa824fd/02hllnym96MOo-XP1Z4q-_057c3e3544774a1ca5524efdf8a5a192.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"057c3e3544774a1ca5524efdf8a5a192.mp4\",\"file_size\":658655}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.386938"
            },
            {
              "name": "x-fal-served-from",
              "value": "2ea6917a-9d75-49cd-9e1c-f29774f70ca8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 45200,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
