{
  "log": {
    "_recordingName": "dolthub/fork-create-unauthenticated",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a03a116177271dd40e83ff085f8afd7f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"owner\":\"apicity-fork-probe\"}"
          },
          "queryString": [],
          "url": "https://www.dolthub.com/api/v2/databases/dolthub/ip-to-country/forks"
        },
        "response": {
          "content": {
            "mimeType": "application/problem+json",
            "size": 321,
            "text": "{\"type\":\"https://dolthub.com/docs/products/dolthub/api/v2/models/#model-errorcode\",\"title\":\"Unauthenticated\",\"status\":401,\"detail\":\"Authentication credentials were missing or invalid.\",\"code\":\"UNAUTHENTICATED\",\"request_id\":\"5cf080be-1bc4-4366-a7c0-2844f0f75dc5\",\"instance\":\"/api/v2/databases/dolthub/ip-to-country/forks\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/problem+json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 729,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
