{
  "log": {
    "_recordingName": "fal/wan3p0-prime-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fa67496feeeb7109dcd0a97035c94d7c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The cat blinks slowly and tilts its head, soft breeze through fur, cinematic close-up.\",\"start_image_url\":\"<inline image/jpeg data URL — replace with a real URL or upload>\",\"resolution\":\"480p\",\"aspect_ratio\":\"1:1\",\"duration\":2,\"audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/alibaba/wan-3.0-prime/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 310,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa7b4ed/T_Vr9pRizo_hw08Jv5Xcn_CfDLpLdS.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"T_Vr9pRizo_hw08Jv5Xcn_CfDLpLdS.mp4\",\"file_size\":1772575,\"width\":632,\"height\":632,\"fps\":30.0,\"duration\":2.0,\"num_frames\":60},\"seed\":1228958509,\"duration\":2.0,\"actual_prompt\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "2.72"
            },
            {
              "name": "x-fal-served-from",
              "value": "b5e7f2d6-8deb-4719-827f-4ecc68bd95bc"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 69710,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
