{
  "log": {
    "_recordingName": "polymarket/data-oi",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2f46cc59fbbc9b884eebf1cdc9440ec7",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://data-api.polymarket.com/oi"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "[{\"market\":\"GLOBAL\",\"value\":456134223.12305933}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Wed, 06 May 2026 05:11:04 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 44,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
