{
  "log": {
    "_recordingName": "fal/grok-15-lite-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3a3f5bc7c8126f3937a984b65ad30f87",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Gentle natural motion in the scene. Static camera.\",\"duration\":1,\"resolution\":\"480p\",\"image_url\":\"https://v3b.fal.media/files/b/0a8b90e0/BFLE9VDlZqsryU-UA3BoD_image_004.png\"}"
          },
          "queryString": [],
          "url": "https://fal.run/xai/grok-imagine-video/v1.5/lite/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 260,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad23a4/Axr_o7nUTeNpdUDIylTqy_6e1lDLQ1.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"Axr_o7nUTeNpdUDIylTqy_6e1lDLQ1.mp4\",\"file_size\":627920,\"width\":736,\"height\":400,\"fps\":24.0,\"duration\":1.041667,\"num_frames\":25}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "3.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "a69e4ce8-e30c-4c20-a1c8-9a177fe53622"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 24563,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
