{
  "log": {
    "_recordingName": "kie/grok-imagine-lifecycle/step-1-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b992877e3a8e7eb4e231d4a1b02babc5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/chat/credit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 42,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":667.04}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 344,
      },
      {
        "_id": "76cad802856834776a3b2620d2506bca",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/text-to-image\",\"input\":{\"prompt\":\"A red panda sitting on a mossy log in a bamboo forest\",\"aspect_ratio\":\"1:1\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ad3f40c6ca564e3678f7f3e18639ac80\",\"recordId\":\"ad3f40c6ca564e3678f7f3e18639ac80\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 437,
      },
      {
        "_id": "756dcb148fe91ab6454217d466127bed",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "ad3f40c6ca564e3678f7f3e18639ac80"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=ad3f40c6ca564e3678f7f3e18639ac80"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 425,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ad3f40c6ca564e3678f7f3e18639ac80\",\"model\":\"grok-imagine/text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A red panda sitting on a mossy log in a bamboo forest\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775650105414}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 219,
      },
      {
        "_id": "756dcb148fe91ab6454217d466127bed",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "ad3f40c6ca564e3678f7f3e18639ac80"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=ad3f40c6ca564e3678f7f3e18639ac80"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 930,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ad3f40c6ca564e3678f7f3e18639ac80\",\"model\":\"grok-imagine/text-to-image\",\"state\":\"success\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A red panda sitting on a mossy log in a bamboo forest\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-image\\\"}\",\"resultJson\":\"{\\\"resultUrls\\\":[\\\"https://tempfile.aiquickdraw.com/r/e052cb16-de86-4a7c-b56b-e27781b9b922.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/00515bb1-9984-460f-9cc5-6b02035cdc08.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/d6da50ea-88dd-4393-8f25-ebfbe209e464.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/559f0041-142f-4df2-a4ba-c4f3630c4dd9.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/1e9a597d-7631-4961-9831-7d5374ef1016.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/a7216a30-fd22-43a7-8f05-4f8410c291ac.jpg\\\"]}\",\"failCode\":null,\"failMsg\":null,\"costTime\":14,\"completeTime\":1775650119720,\"createTime\":1775650105414}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 412,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
