{
  "log": {
    "_recordingName": "kie/grok-imagine-lifecycle/step-1-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b992877e3a8e7eb4e231d4a1b02babc5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/chat/credit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 42,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":563.39}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 304,
      },
      {
        "_id": "76cad802856834776a3b2620d2506bca",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/text-to-image\",\"input\":{\"prompt\":\"A red panda sitting on a mossy log in a bamboo forest\",\"aspect_ratio\":\"1:1\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"82f0cb12dd709d3d77fb4b6a97369067\",\"recordId\":\"82f0cb12dd709d3d77fb4b6a97369067\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 295,
      },
      {
        "_id": "48e67360805a4eb91dec70f99c1e0558",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "82f0cb12dd709d3d77fb4b6a97369067"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=82f0cb12dd709d3d77fb4b6a97369067"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 425,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"82f0cb12dd709d3d77fb4b6a97369067\",\"model\":\"grok-imagine/text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A red panda sitting on a mossy log in a bamboo forest\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1774680370145}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 188,
      },
      {
        "_id": "48e67360805a4eb91dec70f99c1e0558",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
