{
  "log": {
    "_recordingName": "kie/grok-imagine-lifecycle/step-1-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b992877e3a8e7eb4e231d4a1b02babc5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/chat/credit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 43,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":8492.17}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 339,
      },
      {
        "_id": "76cad802856834776a3b2620d2506bca",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/text-to-image\",\"input\":{\"prompt\":\"A red panda sitting on a mossy log in a bamboo forest\",\"aspect_ratio\":\"1:1\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3b6f1fb91aa784c7db90c2d1f1caefe0\",\"recordId\":\"3b6f1fb91aa784c7db90c2d1f1caefe0\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 389,
      },
      {
        "_id": "32ae65669c0716ffacaf7030fd028415",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "3b6f1fb91aa784c7db90c2d1f1caefe0"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=3b6f1fb91aa784c7db90c2d1f1caefe0"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 425,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3b6f1fb91aa784c7db90c2d1f1caefe0\",\"model\":\"grok-imagine/text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A red panda sitting on a mossy log in a bamboo forest\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775445437005}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 217,
      },
      {
        "_id": "32ae65669c0716ffacaf7030fd028415",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "3b6f1fb91aa784c7db90c2d1f1caefe0"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=3b6f1fb91aa784c7db90c2d1f1caefe0"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 930,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3b6f1fb91aa784c7db90c2d1f1caefe0\",\"model\":\"grok-imagine/text-to-image\",\"state\":\"success\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A red panda sitting on a mossy log in a bamboo forest\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-image\\\"}\",\"resultJson\":\"{\\\"resultUrls\\\":[\\\"https://tempfile.aiquickdraw.com/r/8e6c7740-02cc-4f87-b876-44ba645a752b.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/a42c8645-d2c3-49e3-8bc5-40a3a9a9312a.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/6595126b-d30f-4c41-8235-e060d43a916b.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/670559f9-bc89-4c17-b41f-a5f2ffe6ec7c.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/ecf8e7e8-ac6b-4bcc-8cef-f6e55784c14f.jpg\\\",\\\"https://tempfile.aiquickdraw.com/r/3ae974f8-c67f-4572-a689-234703303c60.jpg\\\"]}\",\"failCode\":null,\"failMsg\":null,\"costTime\":12,\"completeTime\":1775445449932,\"createTime\":1775445437005}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 339,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
