{
  "log": {
    "_recordingName": "polymarket/gamma-tags-list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "62635be2d752d4ac009e08ccef1115ac",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "2"
            }
          ],
          "url": "https://gamma-api.polymarket.com/tags?limit=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 399,
            "text": "[{\"id\":\"101867\",\"label\":\"product marekt fit\",\"slug\":\"product-marekt-fit\",\"createdAt\":\"2025-02-18T16:58:25.464578Z\",\"updatedAt\":\"2026-04-17T17:23:11.67487Z\",\"requiresTranslation\":false},{\"id\":\"1512\",\"label\":\"caitlin clark\",\"slug\":\"caitlin-clark\",\"publishedAt\":\"2024-02-28 22:13:06.246+00\",\"createdAt\":\"2024-02-28T22:13:09.166Z\",\"updatedAt\":\"2026-04-17T17:23:11.676843Z\",\"requiresTranslation\":false}]\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Wed, 06 May 2026 04:59:09 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
