{
  "log": {
    "_recordingName": "simplefunctions/data-search-fed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f032b87b2815cede5a26f5df6a919c21",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "fed"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ],
          "url": "https://data.simplefunctions.dev/v1/search?q=fed&limit=3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 679,
            "text": "{\"query\":\"fed\",\"results\":[{\"ticker\":\"FEDHIKE-26JUN30\",\"venue\":\"kalshi\",\"title\":\"Will the Federal Reserve hike rates by June 30, 2026?\",\"subtitle\":\"By Jun 30, 2026\",\"outcome\":\"Before July 2026\",\"lastPrice\":0.01,\"volume24h\":32369.06,\"score\":600},{\"ticker\":\"FEDHIKE-26DEC31\",\"venue\":\"kalshi\",\"title\":\"Will the Federal Reserve hike rates by December 31, 2026?\",\"subtitle\":\"By Dec 31, 2026\",\"outcome\":\"Before 2027\",\"lastPrice\":0.57,\"volume24h\":18048.24,\"score\":600},{\"ticker\":\"FEDHIKE-27JUN30\",\"venue\":\"kalshi\",\"title\":\"Will the Federal Reserve hike rates by June 30, 2027?\",\"subtitle\":\"By Jun 30, 2027\",\"outcome\":\"Before July 2027\",\"lastPrice\":0.74,\"volume24h\":533.14,\"score\":600}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-matched-path",
              "value": "/v1/[...path]"
            },
            {
              "name": "x-vercel-cache",
              "value": "MISS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::pxt6v-1782054569214-10595619d98a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3746,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
