{
  "log": {
    "_recordingName": "polymarket/clob-books-batch",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a260c39260fddb3e189989b8956a29d6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"token_id\":\"78433024518676680431174478322854148606578065650008220678402966840627347604025\"},{\"token_id\":\"50346565575310273995396997144874891836871065259829083228393044602519086496922\"}]"
          },
          "queryString": [],
          "url": "https://clob.polymarket.com/books"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3448,
            "text": "[{\"market\":\"0x384e2707bbb95da4bfa6f330fe7d5ccbec1c0a85e20be900cbf599987588e1a4\",\"asset_id\":\"50346565575310273995396997144874891836871065259829083228393044602519086496922\",\"timestamp\":\"1778042725411\",\"hash\":\"6178f7cc3cd89fdc6425c48487a2502e6fd2b29d\",\"bids\":[{\"price\":\"0.01\",\"size\":\"30010\"},{\"price\":\"0.02\",\"size\":\"9.71\"},{\"price\":\"0.03\",\"size\":\"12000\"},{\"price\":\"0.05\",\"size\":\"20\"},{\"price\":\"0.07\",\"size\":\"11635.71\"},{\"price\":\"0.08\",\"size\":\"6.32\"},{\"price\":\"0.09\",\"size\":\"100\"},{\"price\":\"0.11\",\"size\":\"11.99\"},{\"price\":\"0.12\",\"size\":\"58.33\"},{\"price\":\"0.16\",\"size\":\"25\"},{\"price\":\"0.19\",\"size\":\"8300\"},{\"price\":\"0.2\",\"size\":\"27.5\"},{\"price\":\"0.21\",\"size\":\"5500\"},{\"price\":\"0.23\",\"size\":\"60.62\"},{\"price\":\"0.26\",\"size\":\"30.76\"},{\"price\":\"0.31\",\"size\":\"3400\"},{\"price\":\"0.32\",\"size\":\"23.43\"},{\"price\":\"0.33\",\"size\":\"179.2\"},{\"price\":\"0.45\",\"size\":\"10.02\"},{\"price\":\"0.46\",\"size\":\"56.52\"},{\"price\":\"0.47\",\"size\":\"10.02\"},{\"price\":\"0.55\",\"size\":\"16.36\"},{\"price\":\"0.56\",\"size\":\"16.07\"},{\"price\":\"0.57\",\"size\":\"19.29\"},{\"price\":\"0.7\",\"size\":\"5\"},{\"price\":\"0.71\",\"size\":\"160\"},{\"price\":\"0.72\",\"size\":\"1388.89\"},{\"price\":\"0.73\",\"size\":\"800\"},{\"price\":\"0.75\",\"size\":\"55\"},{\"price\":\"0.76\",\"size\":\"25.6\"}],\"asks\":[{\"price\":\"0.99\",\"size\":\"1116.34\"},{\"price\":\"0.98\",\"size\":\"500\"},{\"price\":\"0.97\",\"size\":\"674.34\"},{\"price\":\"0.96\",\"size\":\"70.52\"},{\"price\":\"0.95\",\"size\":\"5\"},{\"price\":\"0.94\",\"size\":\"179.91\"},{\"price\":\"0.93\",\"size\":\"6.09\"},{\"price\":\"0.92\",\"size\":\"137.5\"},{\"price\":\"0.91\",\"size\":\"27\"},{\"price\":\"0.9\",\"size\":\"190\"},{\"price\":\"0.88\",\"size\":\"100\"},{\"price\":\"0.87\",\"size\":\"800\"},{\"price\":\"0.85\",\"size\":\"110.63\"},{\"price\":\"0.84\",\"size\":\"18.4\"}],\"min_order_size\":\"5\",\"tick_size\":\"0.01\",\"neg_risk\":false,\"last_trade_price\":\"0.820\"},{\"market\":\"0x384e2707bbb95da4bfa6f330fe7d5ccbec1c0a85e20be900cbf599987588e1a4\",\"asset_id\":\"78433024518676680431174478322854148606578065650008220678402966840627347604025\",\"timestamp\":\"1778042725411\",\"hash\":\"d361b5bee619f6613eb54561a33c2e0c0a7bbea0\",\"bids\":[{\"price\":\"0.01\",\"size\":\"1116.34\"},{\"price\":\"0.02\",\"size\":\"500\"},{\"price\":\"0.03\",\"size\":\"674.34\"},{\"price\":\"0.04\",\"size\":\"70.52\"},{\"price\":\"0.05\",\"size\":\"5\"},{\"price\":\"0.06\[...]
