{
  "log": {
    "_recordingName": "meta/media-create",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "500a5edb69498cfa5e7ef502ace40a1c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"media_type\":\"REELS\",\"video_url\":\"https://files.catbox.moe/example-reel.mp4\",\"caption\":\"hello from @apicity/meta\"}"
          },
          "queryString": [],
          "url": "https://graph.instagram.com/v25.0/17841400000000000/media"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 26,
            "text": "{\"id\":\"17926334055288548\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "instagram-api-version",
              "value": "v25.0"
            },
            {
              "name": "x-app-usage",
              "value": "{\"call_volume\":0,\"cpu_time\":0}"
            },
            {
              "name": "x-stack",
              "value": "www"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2557,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
