{
  "log": {
    "_recordingName": "binance/klines",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "96404aa72b3f60ac48d6d0188850a04f",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            },
            {
              "name": "interval",
              "value": "1m"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=1m&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 170,
            "text": "[[1780924800000,\"63749.99000000\",\"63757.99000000\",\"63730.74000000\",\"63734.79000000\",\"8.65541000\",1780924859999,\"551736.59613710\",2420,\"5.51752000\",\"351713.32032570\",\"0\"]]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "2"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "2"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 609,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
