{
  "log": {
    "_recordingName": "polymarket/clob-midpoint",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7769bcded8f201af68c7b0a35af2b298",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "token_id",
              "value": "78433024518676680431174478322854148606578065650008220678402966840627347604025"
            }
          ],
          "url": "https://clob.polymarket.com/midpoint?token_id=78433024518676680431174478322854148606578065650008220678402966840627347604025"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 14,
            "text": "{\"mid\":\"0.2\"}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 315,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
