{
  "log": {
    "_recordingName": "elevenlabs/convai-tags",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2aea58f5f95fe3d98f82c1c510bab18e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"apicity_route_test_mqzetota\",\"description\":\"Apicity route coverage tag.\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 263,
            "text": "{\"tag_id\":\"tag_4001kwa22ze7etqbasvdfqhb4z3z\",\"workspace_id\":\"2a3eed25e26d4a69b09acfe73a627ea3\",\"owner_user_id\":\"user_5001khdg6an6e98rgtjwqqbn3jmw\",\"title\":\"apicity_route_test_mqzetota\",\"description\":\"Apicity route coverage tag.\",\"created_at_unix_secs\":1782749167}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 358,
      },
      {
        "_id": "3b25eeb4d6caf8e3da169fcee20724ef",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/tags/tag_4001kwa22ze7etqbasvdfqhb4z3z"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 263,
  [...]
