{
  "log": {
    "_recordingName": "google/antigravity-usage",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4097e97f32ffaf34595eed591fa53a3f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://cloudcode-pa.googleapis.com/v1internal:retrieveUserQuota"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 642,
            "text": "{\n  \"buckets\": [\n    {\n      \"resetTime\": \"2026-06-28T07:53:31Z\",\n      \"tokenType\": \"REQUESTS\",\n      \"modelId\": \"gemini-2.5-flash\",\n      \"remainingFraction\": 1\n    },\n    {\n      \"resetTime\": \"2026-06-28T07:53:31Z\",\n      \"tokenType\": \"REQUESTS\",\n      \"modelId\": \"gemini-2.5-flash-lite\",\n      \"remainingFraction\": 1\n    },\n    {\n      \"resetTime\": \"2026-06-28T07:53:31Z\",\n      \"tokenType\": \"REQUESTS\",\n      \"modelId\": \"gemini-2.5-pro\",\n      \"remainingFraction\": 1\n    },\n    {\n      \"resetTime\": \"2026-06-28T07:53:31Z\",\n      \"tokenType\": \"REQUESTS\",\n      \"modelId\": \"gemini-3.1-flash-lite\",\n      \"remainingFraction\": 1\n    }\n  ]\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 437,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
