{
  "log": {
    "_recordingName": "fal/tripo3d-p2-image-to-3d",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "be699c25010b091eb9366002e1fbcfff",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"image_url\":\"https://v3b.fal.media/files/b/0a8b90e0/BFLE9VDlZqsryU-UA3BoD_image_004.png\"}"
          },
          "queryString": [],
          "url": "https://fal.run/tripo3d/p2/image-to-3d"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 777,
            "text": "{\"model_mesh\":{\"url\":\"https://v3b.fal.media/files/b/0aad257e/4nxJY1XfBDwCzyYaBfk_g_model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":3933696},\"model_urls\":{\"glb\":{\"url\":\"https://v3b.fal.media/files/b/0aad257e/4nxJY1XfBDwCzyYaBfk_g_model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":3933696},\"fbx\":null,\"base_model\":null,\"pbr_model\":{\"url\":\"https://v3b.fal.media/files/b/0aad257e/4nxJY1XfBDwCzyYaBfk_g_model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":3933696}},\"rendered_image\":{\"url\":\"https://v3b.fal.media/files/b/0aad257f/tiHO0GpmC1jlRkZ7m7ylN_preview.png\",\"content_type\":\"image/png\",\"file_name\":\"preview.png\",\"file_size\":209433},\"task_id\":\"13e8cfe0-c442-462a-a9ac-04e8ed4479a0\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "110"
            },
            {
              "name": "x-fal-served-from",
              "value": "5e81cd9a-0edf-4568-b345-f7f19e15ea8f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 95371,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
