{
  "log": {
    "_recordingName": "dolthub/branches-list-v2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c1e436e991d7e2643dded0cbedee52a7",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://www.dolthub.com/api/v2/databases/dolthub/ip-to-country/branches"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 126,
            "text": "{\"data\":[{\"name\":\"master\",\"head_commit_sha\":\"3lfb707n4qmo7j4g4rgvs9e7o0mc6ous\",\"last_updated_at\":\"2021-09-20T17:11:35.954Z\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"161xwp0knl93i\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 906,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
