{
  "log": {
    "_recordingName": "elevenlabs/convai-mcp-servers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2294be31eab3fec096096b24dcfd321f",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/mcp-servers"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 18,
            "text": "{\"mcp_servers\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 366,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
