{
  "log": {
    "_recordingName": "kie/gpt-image-2-5-sunburst-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "338447dcf299b960289a45d22d1fa95c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"gpt-image-2-5-sunburst-text-to-image\",\"input\":{\"prompt\":\"A hot-air balloon festival over a river valley at sunrise, dozens of balloons, soft morning haze, photorealistic.\",\"aspect_ratio\":\"16:9\",\"resolution\":\"1K\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"d3ae2f2a30160c174c3b02886486f85b\",\"recordId\":\"d3ae2f2a30160c174c3b02886486f85b\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 274,
      },
      {
        "_id": "8ac19c5ca9152410bf7409cf3f893d7a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "d3ae2f2a30160c174c3b02886486f85b"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=d3ae2f2a30160c174c3b02886486f85b"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 916,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"d3ae2f2a30160c174c3b02886486f85b\",\"model\":\"gpt-image-2-5-sunburst-text-to-image\",\"state\":\"generating\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A hot-air balloon festival over a river valley at sunrise, dozens of balloons, soft morning haze, photorealistic.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"1K\\\\\\\"}\\\",\\\"model\\\":\\\"gpt-image-2-5-sunburst-text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1789126602580,\"creditsConsumed\":6.0,\"operationType\":\"gpt-image-2-5-sunburst-text-to-image\",\"successFlag\":0,\"paramJson\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A hot-air balloon festival over a river valley at sunrise, dozens of balloons, soft morning haze, photorealistic.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"1K\\\\\\\"}\\\",\\\"model\\\":\\\"gpt-image-2-5-sunburst-text-to-image\\\"}\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
 [...]
