{
  "log": {
    "_recordingName": "fal/bytedance-seedream-v5-flash-layerize",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8d0bc288ca1fc65ebcd5d8676f45028c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"image_url\":\"https://v3b.fal.media/files/b/0a8b90e0/BFLE9VDlZqsryU-UA3BoD_image_004.png\",\"prompt\":\"A red panda waves once, then holds still.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/bytedance/seedream/v5/flash/layerize"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 9384,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad2541/9X9BeZ839Cqi7HpShkgD2_31e60b3351054ccfb932266c599f52db.png\",\"content_type\":\"image/png\",\"file_name\":\"31e60b3351054ccfb932266c599f52db.png\",\"file_size\":1911610,\"width\":null,\"height\":null},{\"url\":\"https://v3b.fal.media/files/b/0aad2541/8ikcpGrekhXKDMPHkD2ca_d0d4f2fd923e46a38649ea7f011d09dc.png\",\"content_type\":\"image/png\",\"file_name\":\"d0d4f2fd923e46a38649ea7f011d09dc.png\",\"file_size\":3123599,\"width\":null,\"height\":null},{\"url\":\"https://v3b.fal.media/files/b/0aad2541/I-aWo0h-Beb7uTEHJB7ab_8f937a980a9e4c8c8a3ac4c734883e53.png\",\"content_type\":\"image/png\",\"file_name\":\"8f937a980a9e4c8c8a3ac4c734883e53.png\",\"file_size\":2670234,\"width\":null,\"height\[...]
