{
  "log": {
    "_recordingName": "kie/mj-generate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ef0d42125832bb24f91f5f8113dd98ea",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"taskType\":\"mj_txt2img\",\"prompt\":\"A sci-fi themed fighter jet in a beautiful sky, computer wallpaper\",\"speed\":\"relaxed\",\"aspectRatio\":\"16:9\",\"version\":\"7\",\"stylization\":100,\"weirdness\":0}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/mj/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"1d9c2bc4c7d0d3b7036971db1562b935\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 467,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
