{
  "log": {
    "_recordingName": "fal/google-gemini-omni-flash-v1-1-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b0573ad497afe1696b30cede252ba693",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Make this video anime. Keep everything else the same.\",\"video_url\":\"https://storage.googleapis.com/falserverless/model_tests/video_models/mmaudio_input.mp4\",\"resolution\":\"360p\"}"
          },
          "queryString": [],
          "url": "https://fal.run/google/gemini-omni-flash/v1.1/edit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 215,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad8063/q7RTck-268IvFGTKfv62y_707e910a8a724c03b830952b1963494b.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"707e910a8a724c03b830952b1963494b.mp4\",\"file_size\":2317794}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "5.034667"
            },
            {
              "name": "x-fal-served-from",
              "value": "803e9576-eda4-4256-a8f7-dc2e933b6a90"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 42376,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
