{
  "log": {
    "_recordingName": "free-media-upload/gofile-upload-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8a3ba976bf285927cfec9fe94799fed",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"jump.mp4\",\"contentType\":\"video/mp4\",\"size\":1318021}}"
          },
          "queryString": [],
          "url": "https://upload.gofile.io/uploadfile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 398,
            "text": "{\"data\":{\"createTime\":1781792722,\"downloadPage\":\"https://gofile.io/d/FBO55H\",\"guestToken\":\"***\",\"id\":\"83254dd8-b1c8-4b3d-8ed5-0ff687c824a7\",\"md5\":\"6edeaf5ef1980b76589b822a98c171e1\",\"mimetype\":\"video/mp4\",\"modTime\":1781792722,\"name\":\"jump.mp4\",\"parentFolder\":\"ec0cdc29-acc9-4998-9f28-51026170cd99\",\"parentFolderCode\":\"FBO55H\",\"servers\":[\"cold-eu-par-1\"],\"size\":1318021,\"type\":\"file\"},\"status\":\"ok\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3106,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
