{
  "log": {
    "_recordingName": "free-media-upload/gofile-upload-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8a3ba976bf285927cfec9fe94799fed",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"jump.mp4\",\"contentType\":\"video/mp4\",\"size\":1318021}}"
          },
          "queryString": [],
          "url": "https://upload.gofile.io/uploadfile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 391,
            "text": "{\"data\":{\"createTime\":1778680826,\"downloadPage\":\"https://gofile.io/d/TgtV3w\",\"guestToken\":\"***\",\"id\":\"c60c5813-6853-4982-ae9f-7a6103f7c3e0\",\"md5\":\"6edeaf5ef1980b76589b822a98c171e1\",\"mimetype\":\"video/mp4\",\"modTime\":1778680826,\"name\":\"jump.mp4\",\"parentFolder\":\"a0aabafe-b9d9-47a3-bacf-1aab89cfcff5\",\"parentFolderCode\":\"TgtV3w\",\"servers\":[\"store1\"],\"size\":1318021,\"type\":\"file\"},\"status\":\"ok\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1647,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
