{
  "log": {
    "_recordingName": "kie/bytedance-seedance-2-4k",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "07fa0b0caa08fd6b5114f32386b2feed",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"bytedance/seedance-2\",\"input\":{\"prompt\":\"A cat stretches lazily then looks up toward the camera\",\"first_frame_url\":\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\",\"resolution\":\"4k\",\"duration\":4,\"generate_audio\":false,\"web_search\":false,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"7d4b06547dbfc7eb0b44824446f1bf48\",\"recordId\":\"7d4b06547dbfc7eb0b44824446f1bf48\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 388,
      },
      {
        "_id": "4faf93242634fadb9a394e92b5154ad0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "7d4b06547dbfc7eb0b44824446f1bf48"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=7d4b06547dbfc7eb0b44824446f1bf48"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 639,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"7d4b06547dbfc7eb0b44824446f1bf48\",\"model\":\"bytedance/seedance-2\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":4,\\\\\\\"first_frame_url\\\\\\\":\\\\\\\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\\\\\\\",\\\\\\\"web_search\\\\\\\":false,\\\\\\\"generate_audio\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"A cat stretches lazily then looks up toward the camera\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"4k\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"bytedance/seedance-2\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1786052936765,\"creditsConsumed\":832.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 182,
      },
      {
        "_id": "4faf93242634fadb9a394e92b5154ad0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
    [...]
