{
  "log": {
    "_recordingName": "polymarket/data-positions",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "11b41193babf4f7d998ca84379b6d4c1",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "user",
              "value": "0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e"
            },
            {
              "name": "limit",
              "value": "2"
            }
          ],
          "url": "https://data-api.polymarket.com/positions?user=0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e&limit=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1927,
            "text": "[{\"proxyWallet\":\"0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e\",\"asset\":\"114795982188663428564917597167716379346421811703835638076510302263064007011486\",\"conditionId\":\"0x42945ea5657d6f6e77969a06661b29d6f6295083d1ef3479b42efd90647c9dfc\",\"size\":1000,\"avgPrice\":0.8499,\"initialValue\":849.999,\"currentValue\":425,\"cashPnl\":-424.9989,\"percentPnl\":-49.9999,\"totalBought\":1000,\"realizedPnl\":0,\"percentRealizedPnl\":-49.9999,\"curPrice\":0.425,\"redeemable\":false,\"mergeable\":false,\"title\":\"Will Ethereum reach $3,500 by December 31, 2026?\",\"slug\":\"will-ethereum-reach-3500-by-december-31-2026\",\"icon\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/ETH+fullsize.jpg\",\"eventId\":\"89519\",\"eventSlug\":\"what-price-will-ethereum-hit-before-2027\",\"outcome\":\"Yes\",\"outcomeIndex\":0,\"oppositeOutcome\":\"No\",\"oppositeAsset\":\"51285366506638443435367264019285898921368420617675748461983918574312009250254\",\"endDate\":\"2027-01-01\",\"negativeRisk\":false},{\"proxyWallet\":\"0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e\",\"asset\":\"11941591959393922646818837304923279193381647193368590717078836000466185896447\",\"conditionId\":\"0xffe381a80c1e36f9e0b03a542aa8fe56e74a67d2566a4e29396d4427aa4244c9\",\"size\":1000,\"avgPrice\":0.95,\"initialValue\":950,\"currentValue\":975.5,\"cashPnl\":25.5,\"percentPnl\":2.6842,\"totalBought\":1000,\"realizedPnl\":0,\"percentRealizedPnl\":2.6842,\"curPrice\":0.9755,\"redeemable\":false,\"mergeable\":false,\"title\":\"Strait of Hormuz traffic returns to normal by May 15?\",\"slug\":\"strait-of-hormuz-traffic-returns-to-normal-by-may-15\",\"icon\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/will-ships-transit-the-strait-of-hormuz-on-any-day-in-march-ERARnetK0FJm.jpg\",\"eventId\":\"407225\",\"eventSlug\":\"strait-of-hormuz-traffic-returns-to-normal-by-may-15\",\"outcome\":\"No\",\"outcomeIndex\":1,\"oppositeOutcome\":\"Yes\",\"oppositeAsset\":\"9476445326282666463762072399564010356029268509631635291163637063240758755114\",\"endDate\":\"2026-05-15\",\"negativeRisk\":false}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Wed, 06 May 2026 05:11:30 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 630,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
