{
  "log": {
    "_recordingName": "kie/suno/get-timestamped-lyrics-not-found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "dad092cd4d6b1a2f8d2e0da3ba45de92",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"taskId\":\"apicity-test-nonexistent-task-id-do-not-record-real\",\"audioId\":\"apicity-test-nonexistent-audio-id-do-not-record-real\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate/get-timestamped-lyrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 72,
            "text": "{\"code\":422,\"msg\":\"The corresponding record does not exist\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 629,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
