{
  "log": {
    "_recordingName": "elevenlabs/models",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f07456d5d2284cda72fb92887da16a42",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/models"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 14836,
            "text": "[{\"model_id\":\"eleven_v3\",\"name\":\"Eleven v3\",\"can_be_finetuned\":false,\"can_do_text_to_speech\":true,\"can_do_voice_conversion\":false,\"can_use_style\":false,\"can_use_speaker_boost\":false,\"serves_pro_voices\":false,\"token_cost_factor\":1.0,\"description\":\"The most expressive model. Supports 70+ languages. Requires more prompt engineering than our previous models.\",\"requires_alpha_access\":false,\"max_characters_request_free_user\":5000,\"max_characters_request_subscribed_user\":5000,\"maximum_text_length_per_request\":5000,\"languages\":[{\"language_id\":\"af\",\"name\":\"Afrikaans\"},{\"language_id\":\"ar\",\"name\":\"Arabic\"},{\"language_id\":\"hy\",\"name\":\"Armenian\"},{\"language_id\":\"as\",\"name\":\"Assamese\"},{\"language_id\":\"az\",\"name\":\"Azerbaijani\"},{\"language_id\":\"be\",\"name\":\"Belarusian\"},{\"language_id\":\"bn\",\"name\":\"Bengali\"},{\"language_id\":\"bs\",\"name\":\"Bosnian\"},{\"language_id\":\"bg\",\"name\":\"Bulgarian\"},{\"language_id\":\"ca\",\"name\":\"Catalan\"},{\"language_id\":\"ceb\",\"name\":\"Cebuano\"[...]
