{
  "log": {
    "_recordingName": "kie/seedream-5-lite-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2c1a093d156eac7bc2e0793f2f09812d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"seedream/5-lite-text-to-image\",\"input\":{\"prompt\":\"A serene mountain landscape at sunrise, photorealistic\",\"aspect_ratio\":\"16:9\",\"quality\":\"basic\",\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f400b7ea65483c2f983d61fdaeeceea8\",\"recordId\":\"f400b7ea65483c2f983d61fdaeeceea8\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 696,
      },
      {
        "_id": "493cb9bf3ba9a7b15384e4c9a53af3fb",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "f400b7ea65483c2f983d61fdaeeceea8"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=f400b7ea65483c2f983d61fdaeeceea8"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 493,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f400b7ea65483c2f983d61fdaeeceea8\",\"model\":\"seedream/5-lite-text-to-image\",\"state\":\"generating\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A serene mountain landscape at sunrise, photorealistic\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false,\\\\\\\"quality\\\\\\\":\\\\\\\"basic\\\\\\\"}\\\",\\\"model\\\":\\\"seedream/5-lite-text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1776484279847}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 234,
      },
      {
        "_id": "493cb9bf3ba9a7b15384e4c9a53af3fb",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
          [...]
