{
  "log": {
    "_recordingName": "kie/seedream-5-lite-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2c1a093d156eac7bc2e0793f2f09812d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"seedream/5-lite-text-to-image\",\"input\":{\"prompt\":\"A serene mountain landscape at sunrise, photorealistic\",\"aspect_ratio\":\"16:9\",\"quality\":\"basic\",\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3ada3c03fac11f7d23f562190b6a3a48\",\"recordId\":\"3ada3c03fac11f7d23f562190b6a3a48\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 426,
      },
      {
        "_id": "fe7bebd3d1d5063ff5c81f20a29702fb",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "3ada3c03fac11f7d23f562190b6a3a48"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=3ada3c03fac11f7d23f562190b6a3a48"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 490,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3ada3c03fac11f7d23f562190b6a3a48\",\"model\":\"seedream/5-lite-text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A serene mountain landscape at sunrise, photorealistic\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false,\\\\\\\"quality\\\\\\\":\\\\\\\"basic\\\\\\\"}\\\",\\\"model\\\":\\\"seedream/5-lite-text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1776482463594}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 229,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
