{
  "log": {
    "_recordingName": "kie/nano-banana-2-1",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "46c5c01a06c03c9dbdeb6f30b9bd42fa",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"nano-banana-2-1\",\"input\":{\"prompt\":\"A red apple on a white table\",\"aspect_ratio\":\"1:1\",\"resolution\":\"1K\",\"output_format\":\"jpg\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"6d6b250464a2eeeab142f702bff39b6d\",\"recordId\":\"6d6b250464a2eeeab142f702bff39b6d\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 277,
      },
      {
        "_id": "3c44199d05f240a0386bf69219b9301a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "6d6b250464a2eeeab142f702bff39b6d"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=6d6b250464a2eeeab142f702bff39b6d"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 725,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"6d6b250464a2eeeab142f702bff39b6d\",\"model\":\"nano-banana-2-1\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"jpg\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A red apple on a white table\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"1K\\\\\\\"}\\\",\\\"model\\\":\\\"nano-banana-2-1\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1791457746525,\"creditsConsumed\":4.0,\"operationType\":\"nano-banana-2-1\",\"successFlag\":0,\"paramJson\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"jpg\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A red apple on a white table\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"1K\\\\\\\"}\\\",\\\"model\\\":\\\"nano-banana-2-1\\\"}\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusTex[...]
