{
  "log": {
    "_recordingName": "fal/luma-agent-ray-v3-2-reframe",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5c99c80ab55706e134b841f382bf4fde",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Extend the scene into cinematic widescreen with matching lighting and background detail.\",\"video_url\":\"https://storage.googleapis.com/falserverless/example_inputs/birefnet-video-input.mp4\",\"aspect_ratio\":\"21:9\",\"resolution\":\"540p\",\"duration\":\"5s\"}"
          },
          "queryString": [],
          "url": "https://fal.run/luma/agent/ray/v3.2/reframe"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 179,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad883d/etm8pELOU8LyiDnicffKl_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":2487048},\"exr_file\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "16"
            },
            {
              "name": "x-fal-served-from",
              "value": "3d007417-b347-4929-84d7-c2a3436a683a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 88900,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
