{
  "log": {
    "_recordingName": "kie/pixverse-v6-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0a65f55665ba2873e463ca05f6c46461",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"pixverse-v6/text-to-video\",\"input\":{\"prompt\":\"A cinematic sunrise illuminates a mist-shrouded mountain lake; the camera slowly sweeps across the water's surface as a flock of birds flies overhead.\",\"aspect_ratio\":\"16:9\",\"quality\":\"720p\",\"duration\":5,\"generate_audio_switch\":false,\"generate_multi_clip_switch\":false,\"seed\":123456789}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"789252a4b943f3a155874a23545ed1e1\",\"recordId\":\"789252a4b943f3a155874a23545ed1e1\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 497,
      },
      {
        "_id": "6bae9975505ffdb672a39e3af141013b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "789252a4b943f3a155874a23545ed1e1"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=789252a4b943f3a155874a23545ed1e1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 692,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"789252a4b943f3a155874a23545ed1e1\",\"model\":\"pixverse-v6/text-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":5,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"generate_audio_switch\\\\\\\":false,\\\\\\\"seed\\\\\\\":123456789,\\\\\\\"generate_multi_clip_switch\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"A cinematic sunrise illuminates a mist-shrouded mountain lake; the camera slowly sweeps across the water's surface as a flock of birds flies overhead.\\\\\\\",\\\\\\\"quality\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"pixverse-v6/text-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1785269004270,\"creditsConsumed\":36.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 205,
      },
      {
        "_id": "6bae9975505ffdb672a39e3af141013b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
     [...]
