{
  "log": {
    "_recordingName": "kie/grok-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "159737b749047e67eceac2e2d2a6b266",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/image-to-video\",\"input\":{\"image_urls\":[\"https://static.aiquickdraw.com/tools/example/1767602105243_0MmMCrwq.png\"],\"prompt\":\"Slow zoom in as the subject blinks and turns their head slightly to the left, soft natural lighting shifts across the face\",\"mode\":\"normal\",\"duration\":\"6\",\"resolution\":\"480p\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ecf8cf8611cc40ff28e6f1ff8ebc4a12\",\"recordId\":\"ecf8cf8611cc40ff28e6f1ff8ebc4a12\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 396,
      },
      {
        "_id": "77d70f676f3b1e438b44a47a0901df2a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "ecf8cf8611cc40ff28e6f1ff8ebc4a12"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=ecf8cf8611cc40ff28e6f1ff8ebc4a12"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 651,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ecf8cf8611cc40ff28e6f1ff8ebc4a12\",\"model\":\"grok-imagine/image-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"mode\\\\\\\":\\\\\\\"normal\\\\\\\",\\\\\\\"duration\\\\\\\":\\\\\\\"6\\\\\\\",\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1767602105243_0MmMCrwq.png\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"Slow zoom in as the subject blinks and turns their head slightly to the left, soft natural lighting shifts across the face\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/image-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1772794427106}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 304,
      },
      {
        "_id": "77d70f676f3b1e438b44a47a0901df2a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
