{
  "log": {
    "_recordingName": "kie/seedream-5-flash-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "867a3050c460bcaebafbab09e0324a0f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"seedream/5-flash-text-to-image\",\"input\":{\"prompt\":\"A full-process cafe design tool for entrepreneurs and designers, covering store layout, functional zoning, decoration style, and equipment selection. A clean promotional image for a cafe design SaaS product.\",\"aspect_ratio\":\"16:9\",\"size\":\"1K\",\"output_format\":\"png\",\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c15671567a1fe23b405402613c045cc1\",\"recordId\":\"c15671567a1fe23b405402613c045cc1\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 246,
      },
      {
        "_id": "126b93a16ab71d3a522ecb091db50438",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "c15671567a1fe23b405402613c045cc1"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=c15671567a1fe23b405402613c045cc1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1188,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c15671567a1fe23b405402613c045cc1\",\"model\":\"seedream/5-flash-text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"size\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A full-process cafe design tool for entrepreneurs and designers, covering store layout, functional zoning, decoration style, and equipment selection. A clean promotional image for a cafe design SaaS product.\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"seedream/5-flash-text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1791185262495,\"creditsConsumed\":3.24,\"operationType\":\"seedream/5-flash-text-to-image\",\"successFlag\":0,\"paramJson\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"size\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A full-process cafe design tool for entrepreneurs and designers, covering store layout, functional zoning, decoration style, and equipment selection. A clean promotional image for a cafe design SaaS product.\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"seedream/5-flash-text-to-image\\\[...]
