{
  "log": {
    "_recordingName": "fal/xai-grok-imagine-video-v1-5-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1037f2b37f174b0ececd07725cd44330",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Medieval knight in ornate armor walking through a mystical forest, bioluminescent plants pulsing with light, ancient stone ruins overgrown with glowing vines, over-the-shoulder camera, dark fantasy aesthetic, volumetric fog and Lumen lighting\",\"duration\":1,\"resolution\":\"480p\",\"image_url\":\"https://v3b.fal.media/files/b/0a8b90e0/BFLE9VDlZqsryU-UA3BoD_image_004.png\"}"
          },
          "queryString": [],
          "url": "https://fal.run/xai/grok-imagine-video/v1.5/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 260,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad7fbb/7g36EFBF7VzDc-EhONlsm_VBVipapi.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"7g36EFBF7VzDc-EhONlsm_VBVipapi.mp4\",\"file_size\":747196,\"width\":736,\"height\":400,\"fps\":24.0,\"duration\":1.041667,\"num_frames\":25}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "9.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "d5bf446d-28c7-4f1c-a9f1-fd8d2057f8d6"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 25585,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
