{
  "log": {
    "_recordingName": "kie/grok-imagine-video-1-5-preview",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"man.jpg\",\"contentType\":\"image/jpeg\",\"size\":262255},\"uploadPath\":\"images/test-uploads\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 397,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1780634970254-cyc1u75b23f.jpg\",\"filePath\":\"kieai/136592/images/test-uploads/1780634970254-cyc1u75b23f.jpg\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1780634970254-cyc1u75b23f.jpg\",\"fileSize\":262255,\"mimeType\":\"image/jpeg\",\"uploadedAt\":\"2026-06-05T04:49:31.039Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2298,
      },
      {
        "_id": "b84eba754c9d6b0b273f113524fccc6c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine-video-1-5-preview\",\"input\":{\"prompt\":\"The man smiles warmly and waves at the camera, gentle natural light, subtle head movement.\",\"image_urls\":[\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1780634970254-cyc1u75b23f.jpg\"],\"aspect_ratio\":\"16:9\",\"resolution\":\"480p\",\"duration\":8,\"nsfw_checker\":true}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ef21669c76fa393e3903c7c1c7f16323\",\"recordId\":\"ef21669c76fa393e3903c7c1c7f16323\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 823,
      },
      {
        "_id": "80ee3c7a11dfb74a39d9eb8e544a3e14",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "ef21669c76fa393e3903c7c1c7f16323"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=ef21669c76fa393e3903c7c1c7f16323"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 695,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ef21669c76fa393e3903c7c1c7f16323\",\"model\":\"grok-imagine-video-1-5-preview\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":8,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1780634970254-cyc1u75b23f.jpg\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"The man smiles warmly and waves at the camera, gentle natural light, subtle head movement.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":true}\\\",\\\"model\\\":\\\"grok-imagine-video-1-5-preview\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1780634971793,\"creditsConsumed\":118.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 274,
      },
      {
        "_id": "80ee3c7a11dfb74a39d9eb8e544a3e14",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
    [...]
