{
  "log": {
    "_recordingName": "youtube/video-metadata-url",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c1e628910185c2079641bafc565ebcd5",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "url",
              "value": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
            },
            {
              "name": "format",
              "value": "json"
            }
          ],
          "url": "https://www.youtube.com/oembed?url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DdQw4w9WgXcQ&format=json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 868,
            "text": "{\"title\":\"Rick Astley - Never Gonna Give You Up (Official Video) (4K Remaster)\",\"author_name\":\"Rick Astley\",\"author_url\":\"https://www.youtube.com/@RickAstleyYT\",\"type\":\"video\",\"height\":113,\"width\":200,\"version\":\"1.0\",\"provider_name\":\"YouTube\",\"provider_url\":\"https://www.youtube.com/\",\"thumbnail_height\":360,\"thumbnail_width\":480,\"thumbnail_url\":\"https://i.ytimg.com/vi/dQw4w9WgXcQ/hqdefault.jpg\",\"html\":\"\\u003ciframe width=\\u0022200\\u0022 height=\\u0022113\\u0022 src=\\u0022https://www.youtube.com/embed/dQw4w9WgXcQ?feature=oembed\\u0022 frameborder=\\u00220\\u0022 allow=\\u0022accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\\u0022 referrerpolicy=\\u0022strict-origin-when-cross-origin\\u0022 allowfullscreen title=\\u0022Rick Astley - Never Gonna Give You Up (Official Video) (4K Remaster)\\u0022\\u003e\\u003c/iframe\\u003e\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 15,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
