{
  "log": {
    "_recordingName": "kie/wan-27-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b086eb7d35f6f0b5732bef1241fcc277",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/2-7-image\",\"input\":{\"prompt\":\"A serene mountain landscape at sunrise with misty valleys and golden light.\",\"n\":1,\"resolution\":\"2K\",\"aspect_ratio\":\"1:1\",\"enable_sequential\":false,\"thinking_mode\":false,\"watermark\":false,\"seed\":0,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"a1608c9b62375baf6139a211fa71f875\",\"recordId\":\"a1608c9b62375baf6139a211fa71f875\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 467,
      },
      {
        "_id": "7a6c4c2e6f2b3674a5dc5690ea2c0272",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "a1608c9b62375baf6139a211fa71f875"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=a1608c9b62375baf6139a211fa71f875"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 589,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"a1608c9b62375baf6139a211fa71f875\",\"model\":\"wan/2-7-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"watermark\\\\\\\":false,\\\\\\\"seed\\\\\\\":0,\\\\\\\"thinking_mode\\\\\\\":false,\\\\\\\"enable_sequential\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"A serene mountain landscape at sunrise with misty valleys and golden light.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"2K\\\\\\\",\\\\\\\"n\\\\\\\":1,\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"wan/2-7-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775650113964}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 237,
      },
      {
        "_id": "7a6c4c2e6f2b3674a5dc5690ea2c0272",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
