{
  "log": {
    "_recordingName": "polymarket/clob-tick-size",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8d5791b544036316a82ef95edc44ce9a",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://clob.polymarket.com/tick-size/78433024518676680431174478322854148606578065650008220678402966840627347604025"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 27,
            "text": "{\"minimum_tick_size\":0.01}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 376,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
