{
  "log": {
    "_recordingName": "kie/veo/get-1080p-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "aff3812382f1842428be7264e3855f09",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "apicity-test-veo-1080p-not-found"
            },
            {
              "name": "index",
              "value": "0"
            }
          ],
          "url": "https://api.kie.ai/api/v1/veo/get-1080p-video?taskId=apicity-test-veo-1080p-not-found&index=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 54,
            "text": "{\"code\":422,\"msg\":\"Record does not exist\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 487,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
