{
  "log": {
    "_recordingName": "kie/happyhorse-video-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"jump.mp4\",\"contentType\":\"video/mp4\",\"size\":1318021},\"uploadPath\":\"videos/test-uploads\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 394,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1777534532485-yol4b2vocb.mp4\",\"filePath\":\"kieai/136592/videos/test-uploads/1777534532485-yol4b2vocb.mp4\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/videos/test-uploads/1777534532485-yol4b2vocb.mp4\",\"fileSize\":1318021,\"mimeType\":\"video/mp4\",\"uploadedAt\":\"2026-04-30T07:35:32.855Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1030,
      },
      {
        "_id": "b84eba754c9d6b0b273f113524fccc6c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"happyhorse/video-edit\",\"input\":{\"prompt\":\"Restyle the scene to look like a watercolor painting\",\"video_url\":\"https://tempfile.redpandaai.co/kieai/136592/videos/test-uploads/1777534532485-yol4b2vocb.mp4\",\"resolution\":\"720p\",\"audio_setting\":\"auto\",\"seed\":1764574909}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"cb413bab91269909e4df1a8a6025b74c\",\"recordId\":\"cb413bab91269909e4df1a8a6025b74c\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 399,
      },
      {
        "_id": "9b512e0c6a116c75fe67136b15f8baee",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "cb413bab91269909e4df1a8a6025b74c"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=cb413bab91269909e4df1a8a6025b74c"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 591,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"cb413bab91269909e4df1a8a6025b74c\",\"model\":\"happyhorse/video-edit\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"audio_setting\\\\\\\":\\\\\\\"auto\\\\\\\",\\\\\\\"video_url\\\\\\\":\\\\\\\"https://tempfile.redpandaai.co/kieai/136592/videos/test-uploads/1777534532485-yol4b2vocb.mp4\\\\\\\",\\\\\\\"seed\\\\\\\":1764574909,\\\\\\\"prompt\\\\\\\":\\\\\\\"Restyle the scene to look like a watercolor painting\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"happyhorse/video-edit\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1777534533177}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 234,
      },
      {
        "_id": "9b512e0c6a116c75fe67136b15f8baee",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
