{
  "log": {
    "_recordingName": "fal/lightricks-ltx-2-5-audio-to-video-fast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fde8d1c2a974e55cf650dec9bc51be4d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"audio_url\":\"https://v3b.fal.media/files/b/0aad2527/MgFeC76hf4IYXYdYTcAbM_gemini_tts_output.wav\",\"image_url\":\"https://v3b.fal.media/files/b/0a90dfd2/G1zBOgd-17yqZ-2S5TN4j_M3nzt3Sp.png\",\"prompt\":\"A woman whispering to the microphone\"}"
          },
          "queryString": [],
          "url": "https://fal.run/lightricks/ltx-2.5/audio-to-video/fast"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 263,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad84f8/W1VC-J8kx-jPyoa5nUZaM_UTf93EVb.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"W1VC-J8kx-jPyoa5nUZaM_UTf93EVb.mp4\",\"file_size\":1591866,\"width\":1920,\"height\":1080,\"fps\":24.0,\"duration\":3.041667,\"num_frames\":73}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "42.64"
            },
            {
              "name": "x-fal-served-from",
              "value": "9a9187de-e6e8-4a1c-ad73-2f6ea01e4af0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 34180,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
