{
  "log": {
    "_recordingName": "kie/seedream-5-lite-image-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0d8d272ea2b999ac39b43ace1526e456",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"seedream/5-lite-image-to-image\",\"input\":{\"prompt\":\"Transform the scene into a vibrant cyberpunk cityscape at night, neon lighting, photorealistic\",\"image_urls\":[\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\"],\"aspect_ratio\":\"1:1\",\"quality\":\"basic\",\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ce18826cf06d8aaca05c28048f3dae6f\",\"recordId\":\"ce18826cf06d8aaca05c28048f3dae6f\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 478,
      },
      {
        "_id": "0361274ee363c345b94302488ba532d7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "ce18826cf06d8aaca05c28048f3dae6f"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=ce18826cf06d8aaca05c28048f3dae6f"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 636,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ce18826cf06d8aaca05c28048f3dae6f\",\"model\":\"seedream/5-lite-image-to-image\",\"state\":\"generating\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"Transform the scene into a vibrant cyberpunk cityscape at night, neon lighting, photorealistic\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false,\\\\\\\"quality\\\\\\\":\\\\\\\"basic\\\\\\\"}\\\",\\\"model\\\":\\\"seedream/5-lite-image-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1776485923438}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 221,
      },
      {
        "_id": "0361274ee363c345b94302488ba532d7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
