{
  "log": {
    "_recordingName": "kie/gpt4o-image/record-info-not-found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0388306a9a3b16e0e06859fd0938f762",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "apicity-test-nonexistent-task-id-do-not-record-real"
            }
          ],
          "url": "https://api.kie.ai/api/v1/gpt4o-image/record-info?taskId=apicity-test-nonexistent-task-id-do-not-record-real"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 58,
            "text": "{\"code\":422,\"msg\":\"The record does not exist\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 514,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
