{
  "log": {
    "_recordingName": "fal/analytics",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2d3fdf965647904bc70e9b672accbc37",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "endpoint_id",
              "value": "fal-ai/flux/dev"
            }
          ],
          "url": "https://api.fal.ai/v1/models/analytics?endpoint_id=fal-ai%2Fflux%2Fdev"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1457,
            "text": "{\"next_cursor\":null,\"has_more\":false,\"time_series\":[{\"bucket\":\"2026-03-27T19:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-27T20:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-27T21:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-27T22:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-27T23:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T00:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T01:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T02:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T03:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T04:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T05:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T06:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T07:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T08:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T09:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T10:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T11:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T12:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T13:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T14:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T15:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T16:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T17:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T18:00:00+00:00\",\"results\":[]},{\"bucket\":\"2026-03-28T19:00:00+00:00\",\"results\":[{\"endpoint_id\":\"fal-ai/flux/dev\",\"request_count\":2}]},{\"bucket\":\"2026-03-28T20:00:00+00:00\",\"results\":[]}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::f9667-1774726498913-1b7c0aa8457f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1465,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
