{
  "log": {
    "_recordingName": "elevenlabs/speech-to-text-transcripts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "480f1cce902464e1bd83219a93a664ed",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"blob\",\"contentType\":\"audio/mp3\",\"size\":2528},\"model_id\":\"scribe_v2\",\"language_code\":\"eng\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/speech-to-text"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 250,
            "text": "{\"language_code\":\"eng\",\"language_probability\":1.0,\"text\":\"[dial tone]\",\"words\":[{\"text\":\"[dial tone]\",\"start\":0.079,\"end\":0.439,\"type\":\"audio_event\",\"logprob\":-0.19005912534412345}],\"transcription_id\":\"swHLAfkecFpnciS3J98k\",\"audio_duration_secs\":0.5}"
          },
          "headers": [
            {
              "name": "character-cost",
              "value": "0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "current-concurrent-requests",
              "value": "1"
            },
            {
              "name": "fiat-cost-before-overages",
              "value": "0.0"
            },
            {
              "name": "fiat-currency",
              "value": "usd"
            },
            {
              "name": "maximum-concurrent-requests",
              "value": "20"
            },
            {
              "name": "workspace-concurrent-requests",
              "value": "1"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 599,
      },
      {
        "_id": "3afd1c86e1ef8f7f3b239526192ebea7",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/speech-to-text/transcripts/swHLAfkecFpnciS3J98k"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 250,[...]
