{
  "log": {
    "_recordingName": "fal/minimax-music-3",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c4a5e9f2c650b9d8690cc563499027ca",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Genre: acoustic pop. BPM: 96. Key: C major. Warm and intimate. Vocals: soft female lead. Arrangement: fingerpicked guitar and soft piano.\",\"lyrics\":\"[verse]\\nMorning light filtering through the pine\\n\",\"duration\":8,\"num_inference_steps\":8,\"seed\":42}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/music-3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 211,
            "text": "{\"audio\":{\"url\":\"https://v3b.fal.media/files/b/0aa81b74/EpzVypONeFIVK2BD_uS-P_8J7z0oJ6.wav\",\"content_type\":\"audio/wav\",\"file_name\":\"EpzVypONeFIVK2BD_uS-P_8J7z0oJ6.wav\",\"file_size\":null},\"seed\":42,\"duration\":8.0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "8.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "0ba95edc-322b-4a60-a668-754ddcebe2e7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 201380,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
