{
  "log": {
    "_recordingName": "kimicoding/embeddings-hello",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c88b1cf62b737f7ffd809d5806a018d5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"k2p5\",\"input\":\"Hello world\"}"
          },
          "queryString": [],
          "url": "https://api.kimi.com/coding/v1/embeddings"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 12862,
            "text": "{\"object\":\"list\",\"model\":\"bge_m3_embed\",\"data\":[{\"index\":0,\"embedding\":[-0.040139534,0.032212265,-0.028215906,0.02462968,-0.033103682,-0.041666612,-0.056860603,-0.042782973,0.008332444,-0.00119655,-0.008856832,0.013744575,0.028526759,-0.013167558,0.022318482,0.000025592572,0.026341837,-0.02766374,-0.030869365,-0.034283504,-0.044395212,-0.010097252,0.018569117,-0.025874518,0.0122944545,0.05799944,-0.035337385,0.00010735588,-0.00024240837,-0.055141456,0.04237141,0.07778885,-0.010337821,-0.044965852,-0.023880446,-0.033356737,-0.0037362918,-0.006807717,-0.06041027,0.01[...]
