{
  "log": {
    "_recordingName": "kimicoding/embeddings-hello",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c88b1cf62b737f7ffd809d5806a018d5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"k2p5\",\"input\":\"Hello world\"}"
          },
          "queryString": [],
          "url": "https://api.kimi.com/coding/v1/embeddings"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 157,
            "text": "{\"error\":{\"message\":\"We're unable to verify your membership benefits at this time. Please ensure your membership is active.\",\"type\":\"invalid_request_error\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-trace-id",
              "value": "93dfac461a59a0713197f2a681ba3f46"
            }
          ],
          "status": 402,
          "statusText": "Payment Required"
        },
        "time": 593,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
