{
  "log": {
    "_recordingName": "polymarket/gamma-tags-by-id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b1d6c63661eb0ed94118ed656f2d1a61",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://gamma-api.polymarket.com/tags/2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 250,
            "text": "{\"id\":\"2\",\"label\":\"Politics\",\"slug\":\"politics\",\"forceShow\":false,\"publishedAt\":\"2023-10-25 18:55:50.674+00\",\"updatedBy\":13,\"createdAt\":\"2023-10-25T18:55:50.681Z\",\"updatedAt\":\"2026-04-17T20:39:54.201881Z\",\"forceHide\":true,\"requiresTranslation\":false}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Wed, 06 May 2026 05:01:02 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 414,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
