{
  "log": {
    "_recordingName": "dolthub/pulls-list-v2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bb7e814908fa1652d4b531dd7248c1cf",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://www.dolthub.com/api/v2/databases/dolthub/SHAQ/pulls"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 278,
            "text": "{\"data\":[{\"pull_number\":2,\"title\":\"Changes from workspace a611861\",\"state\":\"open\",\"created_at\":\"2023-10-04T17:03:15.000Z\",\"creator\":\"tbantle\"},{\"pull_number\":1,\"title\":\"Changes from workspace 9d66cdd\",\"state\":\"open\",\"created_at\":\"2023-10-04T17:01:20.000Z\",\"creator\":\"tbantle\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"d1hkby1clw7q\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 890,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
