{
  "log": {
    "_recordingName": "polymarket/gamma-comments-by-id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e2879e17f3dd1b006bccc811331abec8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://gamma-api.polymarket.com/comments/2887316"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 671,
            "text": "[{\"id\":\"2887316\",\"body\":\"SO MANY MFERS WILL GET CARRED FROM THAT TWEET\",\"parentEntityType\":\"Event\",\"parentEntityID\":16167,\"userAddress\":\"0x11acc648a3252c67eb55542a4d1625047527cb98\",\"createdAt\":\"2026-05-06T02:44:03.692972Z\",\"updatedAt\":\"2026-05-06T02:44:16.743134Z\",\"profile\":{\"name\":\"RATHMA4\",\"pseudonym\":\"Previous-Seafood\",\"displayUsernamePublic\":true,\"bio\":\"STUDY, LESSON IN THERE\",\"proxyWallet\":\"0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e\",\"baseAddress\":\"0x11acc648a3252c67eb55542a4d1625047527cb98\",\"profileImage\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/profile-image-624421-13e657b4-e104-4e07-8593-6cfab0181559.jpg\"},\"reportCount\":0,\"reactionCount\":0}]\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Wed, 06 May 2026 05:05:08 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 369,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
