{
  "log": {
    "_recordingName": "youtube/videos-list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bbeab0cd2735586ec9168920cd2a8e8d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "id",
              "value": "dQw4w9WgXcQ"
            }
          ],
          "url": "https://www.googleapis.com/youtube/v3/videos?part=snippet&id=dQw4w9WgXcQ"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 7491,
            "text": "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"wXsgbxYgT7Gk7mzdR9VHxWjuQIc\",\n  \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\": \"9Uge1pG2pLtF5lyes_Z02H0ZyIE\",\n      \"id\": \"dQw4w9WgXcQ\",\n      \"snippet\": {\n        \"publishedAt\": \"2009-10-25T06:57:33Z\",\n        \"channelId\": \"UCuAXFkgsw1L7xaCfnd5JJOw\",\n        \"title\": \"Rick Astley - Never Gonna Give You Up (Official Video) (4K Remaster)\",\n        \"description\": \"The official video for “Never Gonna Give You Up” by Rick Astley. \\n\\nNever: The Autobiography 📚 OUT NOW! \\nFollow this link to get your copy and listen to Rick’s ‘Never’ playlist ❤️ #RickAstleyNever\\nhttps://linktr.ee/rickastleynever\\n\\n“Never Gonna Give You Up” was a global smash on its release in July 1987, topping the charts in 25 countries including Rick’s native UK and the US Billboard Hot 100.  It also won the Brit Award for Best single in 1988. Stock Aitken and Waterman wrote and[...]
