{
  "log": {
    "_recordingName": "elevenlabs/speech-to-text",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cd704e00173e0893fe3f8a4258d543da",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"blob\",\"contentType\":\"audio/mp3\",\"size\":2528},\"model_id\":\"scribe_v2\",\"language_code\":\"eng\",\"tag_audio_events\":\"true\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/speech-to-text"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 255,
            "text": "{\"language_code\":\"eng\",\"language_probability\":1.0,\"text\":\"[phone beeping]\",\"words\":[{\"text\":\"[phone beeping]\",\"start\":0.0,\"end\":0.439,\"type\":\"audio_event\",\"logprob\":-0.3350230964333085}],\"transcription_id\":\"CeeidI2QJ8kkN1mcq8HX\",\"audio_duration_secs\":0.5}"
          },
          "headers": [
            {
              "name": "character-cost",
              "value": "0"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "current-concurrent-requests",
              "value": "1"
            },
            {
              "name": "fiat-cost-before-overages",
              "value": "0.0"
            },
            {
              "name": "fiat-currency",
              "value": "usd"
            },
            {
              "name": "maximum-concurrent-requests",
              "value": "20"
            },
            {
              "name": "workspace-concurrent-requests",
              "value": "1"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-trace-id",
              "value": "ba4c4fb01bb27ea25c27a1f931d9d81e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 804,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
