{
  "log": {
    "_recordingName": "fal/flux-3-extend-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0786b1b6452692855b2797eb94637378",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The jump continues into a smooth landing\",\"video_url\":\"<inline video/mp4 data URL — replace with a real URL or upload>\",\"resolution\":\"720p\",\"duration\":5,\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/blackforestlabs/flux-3/extend-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 181,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa73a10/hn3I_4rhuaaPBHIV69z56_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":1023350},\"seed\":2931871047}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "10"
            },
            {
              "name": "x-fal-served-from",
              "value": "ec00793d-d35e-4fe5-ad1c-39c741a5bb05"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 208434,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
