{
  "log": {
    "_recordingName": "fal/bytedance-seedream-v5-lite-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ef4055714f8be4539564f7d1b8597e1c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A photorealistic red fox sitting in a snowy forest clearing at golden hour\",\"num_images\":1,\"enable_safety_checker\":true}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/bytedance/seedream/v5/lite/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 262,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a96748d/6J5uUWknynSdRuwTAtpCE_77d987bed8c94c4b9efc00aba0410f9e.png\",\"content_type\":\"image/png\",\"file_name\":\"77d987bed8c94c4b9efc00aba0410f9e.png\",\"file_size\":4352742,\"width\":null,\"height\":null}],\"seed\":977618444}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-request-id",
              "value": "019d9528-4c8a-7ac3-baa7-adfd61c34697"
            },
            {
              "name": "x-fal-served-from",
              "value": "961b1e82-440e-40f4-9a5b-229f2f82e914"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 40033,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
