{
  "log": {
    "_recordingName": "fal/bytedance-seedream-v5-lite-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fed1ac49bdd9bd7ae01152453a0d8185",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A photorealistic red fox sitting in a snowy forest clearing at golden hour\",\"num_images\":1,\"enable_safety_checker\":true}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/bytedance/seedream/v5/lite/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 262,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a95f364/fDgYkKoTu-x7NsslBAu_3_386ce3dea0124dcd9ed1655d67637564.png\",\"content_type\":\"image/png\",\"file_name\":\"386ce3dea0124dcd9ed1655d67637564.png\",\"file_size\":4373895,\"width\":null,\"height\":null}],\"seed\":672668269}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-request-id",
              "value": "019d8173-1c9a-7ea3-be4c-5ff70fa7e566"
            },
            {
              "name": "x-fal-served-from",
              "value": "36b615f1-1715-423c-bd70-357cd7ce7354"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 30557,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
