{
  "log": {
    "_recordingName": "elevenlabs/pvc-voice-sample-waveform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9729ad2304844b6cf4ae44abf9e18bb8",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/voices/pvc/apicity-test-nonexistent-pvc-voice/samples/apicity-test-nonexistent-pvc-sample/waveform"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 248,
            "text": "{\"detail\":{\"type\":\"invalid_request\",\"code\":\"bad_request\",\"message\":\"An invalid ID has been received: 'apicity-test-nonexistent-pvc-voice'. Make sure to provide a correct one.\",\"status\":\"invalid_uid\",\"request_id\":\"39ac1b8421212fdb08f335d7b3a46975\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-trace-id",
              "value": "***"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 777,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
