{
  "log": {
    "_recordingName": "fal/workflows",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cbb500b887d33f52404cf8d4e487b105",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fal.ai/v1/workflows"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 63,
            "text": "{\"workflows\":[],\"next_cursor\":null,\"has_more\":false,\"total\":0}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::r6dk2-1775140060975-cef3c6f1fd6c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 753,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
