{
  "log": {
    "_recordingName": "meta/media-publish",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9ba79b39047ff3a998ae8e7cf1ca4023",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"reqtype\":\"fileupload\",\"time\":\"1h\",\"fileToUpload\":{\"_file\":true,\"filename\":\"jump.mp4\",\"contentType\":\"video/mp4\",\"size\":1318021}}"
          },
          "queryString": [],
          "url": "https://litterbox.catbox.moe/resources/internals/api.php"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 36,
            "text": "https://litter.catbox.moe/5fyb5k.mp4"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1718,
      },
      {
        "_id": "7765c5417ee6bb668c1fe95f32c215a1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"media_type\":\"REELS\",\"video_url\":\"https://litter.catbox.moe/5fyb5k.mp4\",\"caption\":\"test\"}"
          },
          "queryString": [],
          "url": "https://graph.instagram.com/v25.0/17841468656422628/media"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 26,
            "text": "{\"id\":\"17927223327288548\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "instagram-api-version",
              "value": "v25.0"
            },
            {
              "name": "x-app-usage",
              "value": "{\"call_volume\":0,\"cpu_time\":0}"
            },
            {
              "name": "x-stack",
              "value": "www"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 460,
      },
      {
        "_id": "55186b6958deeb738d26bc2ff8647882",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "fields",
              "value": "status_code,status"
            }
          ],
          "url": "https://graph.instagram.com/v25.0/17927223327288548?fields=status_code%2Cstatus"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 77,
            "text": "{\"status_code\":\"IN_PROGRESS\",\"status\":\"IN_PROGRESS\",\"id\":\"17927223327288548\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "etag",
              "value": "\"a7a684b11a034420feabdd6760a613a161b87b62\""
            },
            {
              "name": "instagram-api-version",
              "value": "v25.0"
            },
            {
              "n[...]
