{
  "log": {
    "_recordingName": "meta/media-publish",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "670b62ee523b91ec8a8858a6eca7df37",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"creation_id\":\"17841400000000000\"}"
          },
          "queryString": [],
          "url": "https://graph.instagram.com/v25.0/17841400000000000/media_publish"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 152,
            "text": "{\"error\":{\"message\":\"Invalid OAuth access token - Cannot parse access token\",\"type\":\"OAuthException\",\"code\":190,\"fbtrace_id\":\"A_4kE-FxjFAwDkSZPY54RFg\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "debug-link",
              "value": "https://www.meta.com/debug/?mid=a9b2cd9ce2cbed770b42a4de719c256c"
            },
            {
              "name": "error-mid",
              "value": "a9b2cd9ce2cbed770b42a4de719c256c"
            },
            {
              "nam[...]
