{
  "log": {
    "_recordingName": "fal/elevenlabs-tts-eleven-v4-turbo",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "57edb0e500afaaf0fbf4bac479b7fc73",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"text\":\"A red panda waves once, then holds still.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/elevenlabs/tts/eleven-v4-turbo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 180,
            "text": "{\"audio\":{\"url\":\"https://v3b.fal.media/files/b/0aad24de/IpBlUK8Dn4d9O0PbD9JyY_output.mp3\",\"content_type\":\"audio/mpeg\",\"file_name\":\"output.mp3\",\"file_size\":53125},\"timestamps\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.041"
            },
            {
              "name": "x-fal-served-from",
              "value": "dabc50b2-53e5-46df-bc1e-41214ff1cffc"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2534,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
