{
  "log": {
    "_recordingName": "polymarket/data-leaderboard",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5dba2318bebc786766f75d10be42875f",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "timePeriod",
              "value": "DAY"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://data-api.polymarket.com/v1/leaderboard?timePeriod=DAY&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 200,
            "text": "[{\"rank\":\"1\",\"proxyWallet\":\"0x0130afd6f3efddf1c3e16e01217b172dd9befb49\",\"userName\":\"123987456\",\"xUsername\":\"\",\"verifiedBadge\":false,\"vol\":3277.1395869999997,\"pnl\":36014577.24979065,\"profileImage\":\"\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Sat, 20 Jun 2026 05:02:23 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 70,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
