{
  "log": {
    "_recordingName": "polymarket/data-traded",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0272769a07166bc3f256f10e31f7edc4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "user",
              "value": "0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e"
            }
          ],
          "url": "https://data-api.polymarket.com/traded?user=0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 67,
            "text": "{\"user\":\"0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e\",\"traded\":3557}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Sat, 20 Jun 2026 05:02:20 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 221,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
