{
  "log": {
    "_recordingName": "kie/wan-30-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fb6d277235b88b70dbf840c06146b433",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/3-0-video\",\"input\":{\"prompt\":\"Under the moonlight, a small cat walks along a rooftop; distant neon flickers, smooth cinematic camera movement\",\"resolution\":\"480P\",\"aspect_ratio\":\"1:1\",\"duration\":2,\"audio\":false,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"00c3eef4cbdb04764ce7efc22a117d72\",\"recordId\":\"00c3eef4cbdb04764ce7efc22a117d72\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 476,
      },
      {
        "_id": "212e645f35bc2408b7d8c0fc41849b16",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "00c3eef4cbdb04764ce7efc22a117d72"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=00c3eef4cbdb04764ce7efc22a117d72"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 577,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"00c3eef4cbdb04764ce7efc22a117d72\",\"model\":\"wan/3-0-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":2,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"audio\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"Under the moonlight, a small cat walks along a rooftop; distant neon flickers, smooth cinematic camera movement\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480P\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"wan/3-0-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1787638949148,\"creditsConsumed\":0.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 233,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
