{
  "log": {
    "_recordingName": "telegram/send-all-types",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2dd27519cf65cdca9e2852a79bcb936b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"chat_id\":\"@apicity_fixture\",\"text\":\"apicity telegram HAR text 2026-06-06T16:29:37.784Z\"}"
          },
          "queryString": [],
          "url": "https://api.telegram.org/bot***/sendMessage"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 287,
            "text": "{\"ok\":true,\"result\":{\"message_id\":3,\"from\":{\"id\":0,\"is_bot\":true,\"first_name\":\"apicity\",\"username\":\"apicitylogbot\"},\"chat\":{\"id\":0,\"first_name\":\"Fixture\",\"last_name\":\"User\",\"username\":\"apicity_fixture\",\"type\":\"private\"},\"date\":1780763379,\"text\":\"apicity telegram HAR text 2026-06-06T16:29:37.784Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1405,
      },
      {
        "_id": "2a114720fa64d4484a462aa4e44713fb",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"chat_id\":\"@apicity_fixture\",\"photo\":{\"_file\":true,\"filename\":\"blob\",\"contentType\":\"image/png\",\"size\":334},\"caption\":\"apicity telegram HAR photo 2026-06-06T16:29:37.784Z\"}"
          },
          "queryString": [],
          "url": "https://api.telegram.org/bot***/sendPhoto"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 463,
            "text": "{\"ok\":true,\"result\":{\"message_id\":4,\"from\":{\"id\":0,\"is_bot\":true,\"first_name\":\"apicity\",\"username\":\"apicitylogbot\"},\"chat\":{\"id\":0,\"first_name\":\"Fixture\",\"last_name\":\"User\",\"username\":\"apicity_fixture\",\"type\":\"private\"},\"date\":1780763380,\"photo\":[{\"file_id\":\"***\",\"file_unique_id\":\"***\",\"file_size\":341,\"width\":90,\"height\":90},{\"file_id\":\"***\",\"file_unique_id\":\"***\",\"file_size\":361,\"width\":100,\"height\":100}],\"caption\":\"apicity telegram HAR photo 2026-06-06T16:29:37.784Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1534,
      },
      {
        "_id": "c8f2a07056ca90739ebb611de8a5fdd1",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"chat_id\":\"@apicity_fixture\",\"video\":{\"_file\":true,\"filename\":\"blob\",\"contentType\":\"video/mp4\",\"size\":1318021},\"caption\":\"apicity telegram HAR video 2026-06-06T16:29:37.784Z\",\"supports_streaming\":\"true\"}"
          },
          "queryString": [],
          "url": "https://api.telegram.org/bot***/sendVideo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 627,
            "text": "{\"ok\":true,\"result\":{\"message_id\":5,\"from\":{\"id\":0,\"is_bot\":true,\"first_name\":\"apicity\",\"username\":\"apicitylogbot\"},\"chat\":{\"id\":0,\"first_name\":\"Fixture\",\"last_name\":\"User\",\"username\":\"apicity_fixture\",\"type\":\"private\"},\"date\":1780763383,\"video\":{\"duration\":9,\"width\":848,\"height\":480,\"file_name\":\"blob\",\"mime_type\":\"video/mp4\",\"thumbnail\":{\"file_id\":\"***\",\"file_unique_id\":\"***\",\"file_size\":6662,\"width\":320,\"height\":181},\"thumb\":{\"file_id\":\"***\",\"file_unique_id\":\"***\",\"file_size\":6662,\"width\":320,\"height\":181},\"file_id\":\"***\",\"file_unique_id\":\"***\",\"file_size\":1318021},\"caption\":\"apicity telegram HAR video 2026-06-06T16:29:37.784Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3176,
      },
      {
        "_id": "5676560c4e73b4b4e9b472e64471e3ee",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"chat_id\":\"@apicity_fixture\",\"audio\":{\"_file\":true,\"filename\":\"blob\",\"contentType\":\"audio/mpeg\",\"size\":2528},\"caption\":\"apicity telegram HAR audio 2026-06-06T16:29:37.784Z\",\"title\":\"apicity HAR tone\",\"performer\":\"apicity\"}"
          },
          "queryString": [],
          "url": "https://api.telegram.org/bot***/sendAudio"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 463,
            "text": "{\"ok\":true,\"result\":{\"message_id\":6,\"from\":{\"id\":0,\"is_bot\":true,\"first_name\":\"apicity\",\"username\":\"apicitylogbot\"},\"chat\":{\"id\":0,\"first_name\":\"Fixture\",\"last_name\":\"User\",\"username\":\"apicity_fixture\",\"type\":\"private\"},\"date\":1780763384,\"audio\":{\"duration\":0,\"file_name\":\"blob\",\"mime_type\":\"audio/mpeg\",\"title\":\"apicity HAR tone\",\"performer\":\"apicity\",\"file_id\":\"***\",\"file_unique_id\":\"***\",\"file_size\":2528},\"caption\":\"apicity telegram HAR audio 2026-06-06T16:29:37.784Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 609,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
