{
  "log": {
    "_recordingName": "kie/elevenlabs/stt-bogus-audio-url",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fd3c50de66ec69ebc00c9c034951f150",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"elevenlabs/speech-to-text\",\"input\":{\"audio_url\":\"https://invalid-host-apicity-test.invalid/voice.mp3\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 73,
            "text": "{\"code\":500,\"msg\":\"Server exception, please try again later\",\"data\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 423,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
