{
  "log": {
    "_recordingName": "fal/xai-grok-imagine-video-extend-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9f22957a0c80937fad1be62341476ff5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The camera slowly zooms out to reveal the city skyline at sunset\",\"video_url\":\"<inline video/mp4 data URL — replace with a real URL or upload>\",\"duration\":4}"
          },
          "queryString": [],
          "url": "https://fal.run/xai/grok-imagine-video/extend-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 263,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0a96f600/ErkClgrnRi1bU6-fccxSD_vYiKbFpv.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"ErkClgrnRi1bU6-fccxSD_vYiKbFpv.mp4\",\"file_size\":2102669,\"width\":848,\"height\":480,\"fps\":24.0,\"duration\":12.041667,\"num_frames\":289}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "5.6"
            },
            {
              "name": "x-fal-served-from",
              "value": "7c149fa4-f767-4654-bfbe-2240d69208db"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 31428,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
