{
  "log": {
    "_recordingName": "elevenlabs/convai-tools",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "acc0bbb13d66617ee94e1570d30320da",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tool_config\":{\"type\":\"webhook\",\"name\":\"apicity_route_test_tool\",\"description\":\"Apicity tools route test webhook.\",\"api_schema\":{\"url\":\"https://example.com/apicity/route-test\",\"method\":\"GET\"}}}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/tools"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1036,
            "text": "{\"id\":\"tool_6901kw9sgjatfb98mjk2e4bs2sdq\",\"tool_config\":{\"type\":\"webhook\",\"name\":\"apicity_route_test_tool\",\"description\":\"Apicity tools route test webhook.\",\"response_timeout_secs\":20,\"disable_interruptions\":false,\"force_pre_tool_speech\":false,\"pre_tool_speech\":\"auto\",\"assignments\":[],\"tool_call_sound\":null,\"tool_call_sound_behavior\":\"auto\",\"tool_error_handling_mode\":\"auto\",\"dynamic_variables\":{\"dynamic_variable_placeholders\":{}},\"execution_mode\":\"immediate\",\"api_schema\":{\"request_headers\":{},\"url\":\"https://example.com/apicity/route-test\",\"method\":\"GET\",\"path_params_schema\":{},\"query_params_schema\":null,\"request_body_schema\":null,\"response_body_schema\":null,\"response_filter\":null,\"content_type\":\"application/json\",\"auth_resolved_params\":[],\"auth_connection\":null}},\"access_info\":{\"is_creator\":true,\"creator_name\":\"subs@jwtanner.com\",\"creator_email\":\"subs@jwtanner.com\",\"role\":\"admin\",\"anonymous_access_level_override\":null,\"access_source\":\"creator\"},\"usage_stats\":{\"total_calls\":0,\"avg_latency_secs\":0.0},\"response_mocks\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 389,
      },
      {
        "_id": "d115b07ea917b9aa7cef381d312408f5",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/tools/tool_6901kw9sgjatfb98mjk2e4bs2sdq"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1036,[...]
