{
  "log": {
    "_recordingName": "fal/logs-history",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "000450f41fbaab025338e4ae606d07b5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "limit",
              "value": "10"
            }
          ],
          "url": "https://api.fal.ai/v1/serverless/logs/history?limit=10"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 299,
            "text": "{\"items\":[{\"timestamp\":\"2026-03-29T01:30:45.123Z\",\"level\":\"info\",\"message\":\"Application started successfully\",\"app\":\"my-app\",\"revision\":\"rev_abc123\",\"labels\":{\"fal_job_id\":\"job_001\"}},{\"timestamp\":\"2026-03-29T01:30:44.000Z\",\"level\":\"warn\",\"message\":\"High memory usage detected\",\"app\":\"my-app\",\"revision\":\"rev_abc123\"}],\"next_cursor\":\"2026-03-29T01:30:44.000Z\",\"has_more\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
