{
  "log": {
    "_recordingName": "fal/microsoft-mai-image-2-5-pro-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7cbdf4005c111e7ac0da209a30348117",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red balloon.\",\"image_url\":\"https://storage.googleapis.com/falserverless/example_inputs/nano-banana-edit-input.png\"}"
          },
          "queryString": [],
          "url": "https://fal.run/microsoft/mai-image-2.5-pro/edit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 233,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad87c7/oA9yFkIABaDaoRVsgxJ6M_4exyE8v8.png\",\"content_type\":\"image/png\",\"file_name\":\"oA9yFkIABaDaoRVsgxJ6M_4exyE8v8.png\",\"file_size\":null,\"width\":null,\"height\":null}],\"description\":\"\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.119"
            },
            {
              "name": "x-fal-served-from",
              "value": "d5a4e363-8f54-48c2-a02c-e98480ee0d1c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 134733,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
