{
  "log": {
    "_recordingName": "fal/xai-grok-imagine-video-v1-5-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a5ad4ee14ffe39df161178c9ab0127c8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Anime schoolgirl bursting out of house door, cherry blossoms blowing, morning light, speed lines indicating rush, chibi-ready expressions, classic shojo aesthetic, vibrant colors\",\"duration\":1,\"resolution\":\"480p\"}"
          },
          "queryString": [],
          "url": "https://fal.run/xai/grok-imagine-video/v1.5/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 261,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad7f0c/q1yNdyPvhNkJO9bc4umLD_a8n4td29.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"q1yNdyPvhNkJO9bc4umLD_a8n4td29.mp4\",\"file_size\":1162862,\"width\":848,\"height\":480,\"fps\":24.0,\"duration\":1.041667,\"num_frames\":25}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "8.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "95e39ffa-cd3f-405b-9417-29a4e89f73e9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 29308,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
