{
  "log": {
    "_recordingName": "kie/kling-motion-control",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "440c1dc74764f76a7d5a8cb13d81eb97",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"kling-3.0/motion-control\",\"input\":{\"input_urls\":[\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\"],\"video_urls\":[\"https://static.aiquickdraw.com/tools/example/1767525918769_QyvTNib2.mp4\"],\"prompt\":\"The cartoon character is dancing.\",\"mode\":\"720p\",\"character_orientation\":\"video\",\"background_source\":\"input_video\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"cb3eaf2d427ff49e132469d34a7c7b61\",\"recordId\":\"cb3eaf2d427ff49e132469d34a7c7b61\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1043,
      },
      {
        "_id": "8fec5a718dfd2da6e09c935c11116238",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "cb3eaf2d427ff49e132469d34a7c7b61"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=cb3eaf2d427ff49e132469d34a7c7b61"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 686,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"cb3eaf2d427ff49e132469d34a7c7b61\",\"model\":\"kling-3.0/motion-control\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"mode\\\\\\\":\\\\\\\"720p\\\\\\\",\\\\\\\"background_source\\\\\\\":\\\\\\\"input_video\\\\\\\",\\\\\\\"video_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1767525918769_QyvTNib2.mp4\\\\\\\"],\\\\\\\"character_orientation\\\\\\\":\\\\\\\"video\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"The cartoon character is dancing.\\\\\\\",\\\\\\\"input_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\\\\\\\"]}\\\",\\\"model\\\":\\\"kling-3.0/motion-control\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775800220774}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 231,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
