{
  "log": {
    "_recordingName": "fal/google-virtual-try-on",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "38adebc32c0908ff44b1a0cfd831e6ca",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"person_image_url\":\"https://storage.googleapis.com/falserverless/model_tests/leffa/person_image.jpg\",\"product_image_url\":\"https://storage.googleapis.com/falserverless/model_tests/leffa/tshirt_image.jpg\",\"num_images\":1}"
          },
          "queryString": [],
          "url": "https://fal.run/google/virtual-try-on"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 216,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aa7fbb5/GAp6n2kstPbO7vGg1dHbf_ZajQNnAx.png\",\"content_type\":\"image/png\",\"file_name\":\"GAp6n2kstPbO7vGg1dHbf_ZajQNnAx.png\",\"file_size\":null,\"width\":null,\"height\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-served-from",
              "value": "99679eb0-0e42-4026-8e8b-f03b50491fb7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 38196,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
