{
  "log": {
    "_recordingName": "fal/kling-video-v3-pro-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "31d61ac36edff8274fdf6dca11df7609",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A white odd-eyed cat blinks slowly and tilts its head, soft breeze through fur, cinematic close-up.\",\"aspect_ratio\":\"1:1\",\"duration\":\"5\",\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/kling-video/v3/pro/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 163,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0a96c2ff/MjQhW7Am1-SbYnjeENdsH_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":9570310}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "4.0"
            },
            {
              "name": "x-fal-request-id",
              "value": "019da11f-c23b-7e43-8dcd-be7b083ac160"
            },
            {
              "name": "x-fal-served-from",
              "value": "43976d15-a9df-40b0-92cc-a427d7e38fe5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 85300,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
