{
  "log": {
    "_recordingName": "fal/alibaba-happy-horse-v1-1-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "88d566252f447c87f6575618bc72b25e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A horse walks through warm grass.\",\"resolution\":\"720p\",\"duration\":3}"
          },
          "queryString": [],
          "url": "https://fal.run/alibaba/happy-horse/v1.1/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 280,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad86b3/JDRjKgyZESc0us3Ama1kj_e2O90fW6.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"JDRjKgyZESc0us3Ama1kj_e2O90fW6.mp4\",\"file_size\":3370714,\"width\":1280,\"height\":720,\"fps\":24.0,\"duration\":3.162667,\"num_frames\":73},\"seed\":1590143532}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "3"
            },
            {
              "name": "x-fal-served-from",
              "value": "b7c236bc-cc27-4f86-ad78-e5cb89b759a7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 95580,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
