{
  "log": {
    "_recordingName": "kie/elevenlabs/sfx-submit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0a0eeeb246a923f335aa54540958c761",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"elevenlabs/sound-effect-v2\",\"input\":{\"text\":\"soft ui click\",\"duration_seconds\":1,\"prompt_influence\":0.3}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"2bd2c5036d8943964f8c26409335a4c5\",\"recordId\":\"2bd2c5036d8943964f8c26409335a4c5\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 517,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
