{
  "log": {
    "_recordingName": "dropbox/current-token-baseline",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e0d362748e7d5f14d9fa771aca0b748",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"justin\"}"
          },
          "queryString": [],
          "url": "https://api.dropboxapi.com/2/check/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 19,
            "text": "{\"result\":\"justin\"}"
          },
          "headers": [
            {
              "name": "content-disposition",
              "value": "attachment"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-content-security-policy",
              "value": "sandbox"
            },
            {
              "name": "x-dropbox-response-origin",
              "value": "far_remote"
            },
            {
              "name": "x-webkit-csp",
              "value": "sandbox"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 293,
      },
      {
        "_id": "2c5ce0e4b2c94a10d7e0fe58b3fd30e7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "null"
          },
          "queryString": [],
          "url": "https://api.dropboxapi.com/2/users/get_current_account"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 433,
            "text": "{\"account_id\":\"dbid:***\",\"account_type\":{\".tag\":\"pro\"},\"country\":\"**\",\"disabled\":false,\"email\":\"user@example.com\",\"email_verified\":true,\"is_paired\":false,\"locale\":\"en\",\"name\":{\"abbreviated_name\":\"**\",\"display_name\":\"Example User\",\"familiar_name\":\"Example\",\"given_name\":\"Example\",\"surname\":\"User\"},\"referral_link\":\"https://www.dropbox.com/referrals/***\",\"root_info\":{\".tag\":\"user\",\"home_namespace_id\":\"***\",\"root_namespace_id\":\"***\"}}"
          },
          "headers": [
            {
              "name": "content-disposition",
              "value": "attachment"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-content-security-policy",
              "value": "sandbox"
            },
            {
              "name": "x-dropbox-response-origin",
              "value": "far_remote"
            },
            {
              "name": "x-webkit-csp",
              "value": "sandbox"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 644,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
