{
  "log": {
    "_recordingName": "kie/bytedance-seedance-2-first-frame",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 396,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1776488469865-2d25qim1p88.jpg\",\"filePath\":\"kieai/136592/images/test-uploads/1776488469865-2d25qim1p88.jpg\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1776488469865-2d25qim1p88.jpg\",\"fileSize\":83558,\"mimeType\":\"image/jpeg\",\"uploadedAt\":\"2026-04-18T05:01:10.163Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 899,
      },
      {
        "_id": "b84eba754c9d6b0b273f113524fccc6c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"bytedance/seedance-2\",\"input\":{\"prompt\":\"The cat blinks slowly and turns its head, gentle breeze through fur\",\"first_frame_url\":\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1776488469865-2d25qim1p88.jpg\",\"resolution\":\"480p\",\"aspect_ratio\":\"16:9\",\"duration\":4,\"generate_audio\":false,\"web_search\":false,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"5fdec09dc604e83ec6eb26b40c1b64d8\",\"recordId\":\"5fdec09dc604e83ec6eb26b40c1b64d8\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 450,
      },
      {
        "_id": "bb2c6c574a771ec96fddc703f65e4cad",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "5fdec09dc604e83ec6eb26b40c1b64d8"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=5fdec09dc604e83ec6eb26b40c1b64d8"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 686,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"5fdec09dc604e83ec6eb26b40c1b64d8\",\"model\":\"bytedance/seedance-2\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":4,\\\\\\\"first_frame_url\\\\\\\":\\\\\\\"https://tempfile.redpandaai.co/kieai/136592/images/test-uploads/1776488469865-2d25qim1p88.jpg\\\\\\\",\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"web_search\\\\\\\":false,\\\\\\\"generate_audio\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"The cat blinks slowly and turns its head, gentle breeze through fur\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"bytedance/seedance-2\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1776488470625}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 219,
      },
      {
        "_id": "bb2c6c574a771ec96fddc703f65e4cad",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
