{
  "log": {
    "_recordingName": "kie/gpt-image-2-5-flare-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "47a0b194b1cc1f7cd72b0fe4d1a5dfb6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"gpt-image-2-5-flare-text-to-image\",\"input\":{\"prompt\":\"A lighthouse on a rocky headland at dusk, warm lamp glow against a violet sky, photorealistic.\",\"aspect_ratio\":\"16:9\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"366e2065ed94e590a9e1201e1f1e1704\",\"recordId\":\"366e2065ed94e590a9e1201e1f1e1704\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 307,
      },
      {
        "_id": "81cbd44b2ffea3bd0f3e9a499b266471",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "366e2065ed94e590a9e1201e1f1e1704"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=366e2065ed94e590a9e1201e1f1e1704"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 806,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"366e2065ed94e590a9e1201e1f1e1704\",\"model\":\"gpt-image-2-5-flare-text-to-image\",\"state\":\"generating\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A lighthouse on a rocky headland at dusk, warm lamp glow against a violet sky, photorealistic.\\\\\\\"}\\\",\\\"model\\\":\\\"gpt-image-2-5-flare-text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1789126694807,\"creditsConsumed\":6.0,\"operationType\":\"gpt-image-2-5-flare-text-to-image\",\"successFlag\":0,\"paramJson\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A lighthouse on a rocky headland at dusk, warm lamp glow against a violet sky, photorealistic.\\\\\\\"}\\\",\\\"model\\\":\\\"gpt-image-2-5-flare-text-to-image\\\"}\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
  [...]
