{
  "log": {
    "_recordingName": "kie/helpers/upload-file",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"test.png\",\"contentType\":\"image/png\",\"size\":70},\"uploadPath\":\"uploads\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 368,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1781795807257-kpeuoaf4pgi.png\",\"filePath\":\"kieai/136592/uploads/1781795807257-kpeuoaf4pgi.png\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/uploads/1781795807257-kpeuoaf4pgi.png\",\"fileSize\":70,\"mimeType\":\"image/png\",\"uploadedAt\":\"2026-06-18T15:16:48.927Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2440,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
