{
  "log": {
    "_recordingName": "fal/grok-15-lite-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3728bbb0e99887ffda0c28d2db97f357",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red panda waves gently at the camera in a sunlit forest. Static camera.\",\"duration\":1,\"resolution\":\"480p\",\"aspect_ratio\":\"16:9\"}"
          },
          "queryString": [],
          "url": "https://fal.run/xai/grok-imagine-video/v1.5/lite/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 260,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad22dd/s3SiNlq9wCkrEwjRBjJ_6_29ntgX49.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"s3SiNlq9wCkrEwjRBjJ_6_29ntgX49.mp4\",\"file_size\":775143,\"width\":848,\"height\":480,\"fps\":24.0,\"duration\":1.041667,\"num_frames\":25}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "2.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "0c1f1485-ed0d-48cd-ac16-35c6199933ec"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 23356,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
