{
  "log": {
    "_recordingName": "kie/audio/gemini-omni-audio-create",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e9aa5475fa6a6b3b99f4971758decce7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"audio_id\":\"achernar\",\"name\":\"Apicity HAR Test Narrator\",\"voice_description\":\"A calm, clear, friendly voice for a short API smoke test.\",\"example_dialogue\":\"Hello from the Apicity Kie audio HAR test.\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/omni/audio/create"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 117,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"audioId\":\"550d4b0111b0423f902494dcd468be91\",\"name\":\"Apicity HAR Test Narrator\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 263,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
