{
  "log": {
    "_recordingName": "zaicoding/usage-quota-limit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ddd1e643f4fe5b7138560e5f1d1c4f1a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.z.ai/api/monitor/usage/quota/limit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 527,
            "text": "{\"code\":200,\"msg\":\"Operation successful\",\"data\":{\"limits\":[{\"type\":\"TOKENS_LIMIT\",\"unit\":3,\"number\":5,\"percentage\":20,\"nextResetTime\":1782542182094},{\"type\":\"TOKENS_LIMIT\",\"unit\":6,\"number\":1,\"percentage\":22,\"nextResetTime\":1783054557993},{\"type\":\"TIME_LIMIT\",\"unit\":5,\"number\":1,\"usage\":100,\"currentValue\":4,\"remaining\":96,\"percentage\":4,\"nextResetTime\":1785041757997,\"usageDetails\":[{\"modelCode\":\"search-prime\",\"usage\":4},{\"modelCode\":\"web-reader\",\"usage\":0},{\"modelCode\":\"zread\",\"usage\":0}]}],\"level\":\"lite\"},\"success\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-log-id",
              "value": "202606271306290846426b3ac44586"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 970,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
