{
  "log": {
    "_recordingName": "zaicoding/usage-quota-limit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ddd1e643f4fe5b7138560e5f1d1c4f1a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.z.ai/api/monitor/usage/quota/limit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 192,
            "text": "{\"code\":0,\"msg\":\"success\",\"success\":true,\"data\":{\"level\":\"Pro\",\"limits\":[{\"type\":\"token\",\"unit\":\"TOKEN\",\"number\":10000000,\"percentage\":5,\"currentValue\":500000,\"nextResetTime\":1751068800000}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 98,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
