{
  "log": {
    "_recordingName": "kie/qwen2-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7cebca638684036befc56f63dc65ba65",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"qwen2/text-to-image\",\"input\":{\"prompt\":\"A serene mountain landscape at sunrise\",\"image_size\":\"16:9\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"7a27a79c50d14979af8e49b7ad7eaec9\",\"recordId\":\"7a27a79c50d14979af8e49b7ad7eaec9\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 448,
      },
      {
        "_id": "d59ab83960d8e9eac355bb44d1f56dc4",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "7a27a79c50d14979af8e49b7ad7eaec9"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=7a27a79c50d14979af8e49b7ad7eaec9"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 395,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"7a27a79c50d14979af8e49b7ad7eaec9\",\"model\":\"qwen2/text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"image_size\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A serene mountain landscape at sunrise\\\\\\\"}\\\",\\\"model\\\":\\\"qwen2/text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775794025750}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 229,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
