{
  "log": {
    "_recordingName": "fal/minimax-h3-max-3d-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3d2f0f8c246f40d9304cfabe1c5bbd0a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"video_url\":\"https://v3b.fal.media/files/b/0aaaaf78/M5dPeIbYcdI5BaIrbHuXq_blender-source.mp4\",\"reference_image_urls\":[\"https://v3b.fal.media/files/b/0aaab04d/YHhN06SXKgl5ufCWnYRfy_UIb6gaXa.jpg\"],\"resolution\":\"480P\"}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/h3-max/3d-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 195,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad7c22/tw_-2lGBxm67ZzroipqKz_3d-to-video.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"tw_-2lGBxm67ZzroipqKz_3d-to-video.mp4\",\"file_size\":4833311}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "15.9832"
            },
            {
              "name": "x-fal-served-from",
              "value": "0f53b848-4635-47be-b22b-f744886de963"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 65618,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
