{
  "log": {
    "_recordingName": "polymarket/gamma-comments-list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e563c10663c46e908d1005d881f5c493",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "parent_entity_type",
              "value": "Event"
            },
            {
              "name": "parent_entity_id",
              "value": "16167"
            },
            {
              "name": "limit",
              "value": "2"
            }
          ],
          "url": "https://gamma-api.polymarket.com/comments?parent_entity_type=Event&parent_entity_id=16167&limit=2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1689,
            "text": "[{\"id\":\"2887316\",\"body\":\"SO MANY MFERS WILL GET CARRED FROM THAT TWEET\",\"parentEntityType\":\"Event\",\"parentEntityID\":16167,\"userAddress\":\"0x11acc648a3252c67eb55542a4d1625047527cb98\",\"createdAt\":\"2026-05-06T02:44:03.692972Z\",\"updatedAt\":\"2026-05-06T02:44:16.743134Z\",\"profile\":{\"name\":\"RATHMA4\",\"pseudonym\":\"Previous-Seafood\",\"displayUsernamePublic\":true,\"bio\":\"STUDY, LESSON IN THERE\",\"proxyWallet\":\"0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e\",\"baseAddress\":\"0x11acc648a3252c67eb55542a4d1625047527cb98\",\"profileImage\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/profile-image-624421-13e657b4-e104-4e07-8593-6cfab0181559.jpg\"},\"reportCount\":0,\"reactionCount\":0},{\"id\":\"2887186\",\"body\":\"BUY NOO IS FREE LET'S SEE IF HE SELL\",\"parentEntityType\":\"Event\",\"parentEntityID\":16167,\"userAddress\":\"0x3fe1035e361c74f0dcab7d4c3cfbfcc3f3403bf9\",\"createdAt\":\"2026-05-06T00:41:16.799146Z\",\"updatedAt\":\"2026-05-06T00:41:23.595116Z\",\"profile\":{\"name\":\"Vlkva\",\"pseudonym\":\"Made-Up-Meat\",\"displayUsernamePublic\":true,\"bio\":\"ELON MUSK\",\"proxyWallet\":\"0xae50b1620d8619fe3892d5fba408e79b8dd41c9d\",\"baseAddress\":\"0x3fe1035e361c74f0dcab7d4c3cfbfcc3f3403bf9\",\"profileImage\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/profile-image-1510854-b8b253ad-5c75-4079-9802-770ef3417184.png\"},\"reportCount\":0,\"reactionCount\":0,\"media\":[{\"id\":\"10103\",\"commentID\":2887186,\"provider\":\"giphy\",\"providerMediaId\":\"ntzVNgwAQtpN0vw76e\",\"url\":\"https://media2.giphy.com/media/v1.Y2lkPTVjMjlhNTcwb2p6aW53dzJiNGFhNzE3YW84Z3MweWZqbjVuYjU1ZWtpcDg5NGlnbCZlcD12MV9naWZzX2dpZklkJmN0PWc/ntzVNgwAQtpN0vw76e/200.webp\",\"mediaType\":\"gif\",\"altText\":\"Star Wars Bitcoin GIF by LitVM\",\"createdAt\":\"2026-05-06T00:41:16.799146Z\"}]}]\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Wed, 06 May 2026 05:05:08 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 339,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
