{
  "log": {
    "_recordingName": "kie/qwen3-pro-image-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1b3ec1d351cd8cf769de748ef1388f26",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"qwen3/pro-image-to-image\",\"input\":{\"prompt\":\"Turn the reference into a polished watercolor travel poster with warm morning light.\",\"image_urls\":[\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\"],\"resolution\":\"1K\",\"image_size\":\"16:9\",\"output_format\":\"png\",\"prompt_extend\":false,\"nsfw_checker\":false,\"negative_prompt\":\"blurry, distorted, low contrast\",\"seed\":1}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"15566f4c2c77141842e8cc3115d9a80b\",\"recordId\":\"15566f4c2c77141842e8cc3115d9a80b\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 337,
      },
      {
        "_id": "57fe627d5608a2e3fead0b12e0ab7397",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "15566f4c2c77141842e8cc3115d9a80b"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=15566f4c2c77141842e8cc3115d9a80b"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 772,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"15566f4c2c77141842e8cc3115d9a80b\",\"model\":\"qwen3/pro-image-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"seed\\\\\\\":1,\\\\\\\"image_size\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt_extend\\\\\\\":false,\\\\\\\"negative_prompt\\\\\\\":\\\\\\\"blurry, distorted, low contrast\\\\\\\",\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"Turn the reference into a polished watercolor travel poster with warm morning light.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"qwen3/pro-image-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1786513842441,\"creditsConsumed\":6.9}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 197,
      },
      {
        "_id": "57fe627d5608a2e3fead0b12e0ab7397",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
      [...]
