{
  "log": {
    "_recordingName": "binance/ticker-book-ticker",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3b4484a9b2b4fb22a607ed26c0ee3576",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            }
          ],
          "url": "https://api.binance.com/api/v3/ticker/bookTicker?symbol=BTCUSDT"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 120,
            "text": "{\"symbol\":\"BTCUSDT\",\"bidPrice\":\"63759.99000000\",\"bidQty\":\"4.08952000\",\"askPrice\":\"63760.00000000\",\"askQty\":\"0.02613000\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "2"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "2"
            },
            {
              "name": "x-mbx-uuid",
              "value": "45ff789b-963c-46df-a990-3b7f32e7092d"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 628,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
