{
  "log": {
    "_recordingName": "kie/seedream-5-pro-layer-decomposition",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6e771954e4cd4ce0d522087bb7aaf27a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"seedream/5-pro-layer-decomposition\",\"input\":{\"image_url\":\"https://storage.googleapis.com/falserverless/model_tests/wan/dragon-warrior.jpg\",\"prompt\":\"Separate the foreground subject from the background while preserving its silhouette. <bbox>100 120 900 950</bbox>\",\"size\":\"auto\",\"output_format\":\"jpeg\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"64458e3a8a1956fead2ddd3af963d4ed\",\"recordId\":\"64458e3a8a1956fead2ddd3af963d4ed\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 418,
      },
      {
        "_id": "873e2c7dfa149d3ace79062ce50f1caa",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "64458e3a8a1956fead2ddd3af963d4ed"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=64458e3a8a1956fead2ddd3af963d4ed"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 657,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"64458e3a8a1956fead2ddd3af963d4ed\",\"model\":\"seedream/5-pro-layer-decomposition\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"size\\\\\\\":\\\\\\\"auto\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"jpeg\\\\\\\",\\\\\\\"image_url\\\\\\\":\\\\\\\"https://storage.googleapis.com/falserverless/model_tests/wan/dragon-warrior.jpg\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"Separate the foreground subject from the background while preserving its silhouette. <bbox>100 120 900 950</bbox>\\\\\\\"}\\\",\\\"model\\\":\\\"seedream/5-pro-layer-decomposition\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1786196470134,\"creditsConsumed\":0.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 193,
      },
      {
        "_id": "873e2c7dfa149d3ace79062ce50f1caa",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
      [...]
