{
  "log": {
    "_recordingName": "polymarket/gamma-events-tags",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "93c0b58dd426b44406bbe2231b9a922f",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://gamma-api.polymarket.com/events/16167/tags"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1474,
            "text": "[{\"id\":\"120\",\"label\":\"Finance\",\"slug\":\"finance\",\"forceShow\":false,\"publishedAt\":\"2023-11-02 21:22:21.615+00\",\"createdAt\":\"2023-11-02T21:22:21.62Z\",\"updatedAt\":\"2026-04-17T20:17:43.066649Z\",\"isCarousel\":false,\"requiresTranslation\":false},{\"id\":\"100328\",\"label\":\"Economy\",\"slug\":\"economy\",\"forceShow\":false,\"createdAt\":\"2024-08-05T05:34:54.235643Z\",\"updatedAt\":\"2026-04-17T20:29:06.948273Z\",\"requiresTranslation\":false},{\"id\":\"107\",\"label\":\"Business\",\"slug\":\"business\",\"forceShow\":false,\"publishedAt\":\"2023-11-02 21:20:37.48+00\",\"createdAt\":\"2023-11-02T21:20:37.488Z\",\"updatedAt\":\"2026-04-17T20:26:28.786983Z\",\"requiresTranslation\":false},{\"id\":\"101588\",\"label\":\"2025 Predictions\",\"slug\":\"2025-predictions\",\"forceShow\":false,\"createdAt\":\"2024-12-30T20:11:13.144816Z\",\"updatedAt\":\"2026-04-15T20:30:55.933838Z\",\"requiresTranslation\":false},{\"id\":\"21\",\"label\":\"Crypto\",\"slug\":\"crypto\",\"forceShow\":false,\"publishedAt\":\"2023-11-02 21:03:54.55+00\",\"updatedBy\":15,\"createdAt\":\"2023-11-02T21:03:54.564Z\",\"updatedAt\":\"2026-03-09T22:28:03.349847Z\",\"requiresTranslation\":false},{\"id\":\"101473\",\"label\":\"MicroStrategy\",\"slug\":\"microstrategy\",\"createdAt\":\"2024-12-11T19:33:06.949509Z\",\"updatedAt\":\"2026-04-17T17:19:39.116494Z\",\"requiresTranslation\":false},{\"id\":\"604\",\"label\":\"Stocks\",\"slug\":\"stocks\",\"forceShow\":false,\"publishedAt\":\"2023-11-30 17:42:57.475+00\",\"createdAt\":\"2023-11-30T17:42:57.5Z\",\"updatedAt\":\"2026-04-17T20:14:09.518934Z\",\"isCarousel\":false,\"requiresTranslation\":false}]\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Wed, 06 May 2026 04:47:34 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 51,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
