{
  "log": {
    "_recordingName": "binance/ticker-24hr",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4f7504adfd5316406228bf5618e6d314",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            }
          ],
          "url": "https://api.binance.com/api/v3/ticker/24hr?symbol=BTCUSDT"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 304,
            "text": "{\"symbol\":\"BTCUSDT\",\"priceChange\":\"1746.46000000\",\"priceChangePercent\":\"2.829\",\"weightedAvgPrice\":\"62952.88321291\",\"prevClosePrice\":\"61739.53000000\",\"lastPrice\":\"63485.99000000\",\"lastQty\":\"0.00497000\",\"bidPrice\":\"63485.99000000\",\"bidQty\":\"0.47098000\",\"askPrice\":\"63486.00000000\",\"askQty\":\"1.45300000\",\"openPrice\":\"61739.53000000\",\"highPrice\":\"64234.68000000\",\"lowPrice\":\"61184.00000000\",\"volume\":\"24677.37359000\",\"quoteVolume\":\"1553511817.61255250\",\"openTime\":1780839898011,\"closeTime\":1780926298011,\"firstId\":6382857671,\"lastId\":6387960664,\"count\":5102994}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "2"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "2"
            },
            {
              "name": "x-mbx-uuid",
              "value": "dbc19ca6-a504-4e9a-ad4d-5d121527dc5a"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 669,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
