{
  "log": {
    "_recordingName": "fal/logs-history-filtered",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "63dfa7e6a09a7e089f8ca87deeb0069c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"key\":\"fal_job_id\",\"value\":\"test-job\"}]"
          },
          "queryString": [
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "level",
              "value": "error"
            }
          ],
          "url": "https://api.fal.ai/v1/serverless/logs/history?limit=5&level=error"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 120,
            "text": "{\"items\":[],\"next_cursor\":null,\"has_more\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
