{
  "log": {
    "_recordingName": "fal/flux-3-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c43be4a58bc72eb24be85a339ee10172",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The person turns toward the camera and smiles\",\"image_url\":\"<inline image/jpeg data URL — replace with a real URL or upload>\",\"resolution\":\"720p\",\"duration\":5,\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/blackforestlabs/flux-3/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 181,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa73988/PBGWbOpMRLAvrH1w0m8uq_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":1332720},\"seed\":1525136357}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "10"
            },
            {
              "name": "x-fal-served-from",
              "value": "abdc26b1-1992-4da7-806c-b6089404e0ff"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 74517,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
