{
  "log": {
    "_recordingName": "dropbox/check-user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e0d362748e7d5f14d9fa771aca0b748",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"justin\"}"
          },
          "queryString": [],
          "url": "https://api.dropboxapi.com/2/check/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 19,
            "text": "{\"result\":\"justin\"}"
          },
          "headers": [
            {
              "name": "content-disposition",
              "value": "attachment"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-content-security-policy",
              "value": "sandbox"
            },
            {
              "name": "x-dropbox-response-origin",
              "value": "far_remote"
            },
            {
              "name": "x-webkit-csp",
              "value": "sandbox"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 288,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
