{
  "log": {
    "_recordingName": "dolthub/branches-list-v2-pagination",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e34160bc6cbd0266f52b60609770fe9f",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://www.dolthub.com/api/v2/databases/dolthub/SHAQ/branches"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 537,
            "text": "{\"data\":[{\"name\":\"main\",\"head_commit_sha\":\"u6qjmherm9lrp6henu8rr1efs8vjm7op\",\"last_updated_at\":\"2021-11-10T23:19:38.622Z\"},{\"name\":\"tbantle/workspace-banking-rottweiler\",\"head_commit_sha\":\"9e3qvkr233ncfirbu0em60cr4boscsdf\",\"last_updated_at\":\"2023-10-04T17:03:11.291Z\"},{\"name\":\"tbantle/workspace-whimsical-kitten\",\"head_commit_sha\":\"lpciql40eh23r0n56n88pfa2gj5pbhri\",\"last_updated_at\":\"2023-10-04T17:01:16.764Z\"},{\"name\":\"update-player\",\"head_commit_sha\":\"c5seedcgn87h5vad6kj0glmshkdf334b\",\"last_updated_at\":\"2023-10-05T22:25:06.496Z\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"ov7l1gtawvex\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 730,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
