{
  "log": {
    "_recordingName": "kie/kling-30-omni-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "538e6d4c09ca171291f5e3b91cf25948",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"kling-3.0-omni/text-to-video\",\"input\":{\"prompt\":\"A white cat explores a sunlit greenhouse while the camera follows in one smooth cinematic shot.\",\"resolution\":\"720p\",\"duration\":5,\"audio\":false,\"customize_multi_shots\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"4cc9f14b3b1d99f44b0aee35bd68cefa\",\"recordId\":\"4cc9f14b3b1d99f44b0aee35bd68cefa\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 432,
      },
      {
        "_id": "8df9b90110d9a8e815d3b0a39e35e3b1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "4cc9f14b3b1d99f44b0aee35bd68cefa"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=4cc9f14b3b1d99f44b0aee35bd68cefa"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 710,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"4cc9f14b3b1d99f44b0aee35bd68cefa\",\"model\":\"kling-3.0-omni/text-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":5,\\\\\\\"generate_type\\\\\\\":\\\\\\\"text-to-video\\\\\\\",\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"elements\\\\\\\":[],\\\\\\\"image_urls\\\\\\\":[],\\\\\\\"video_urls\\\\\\\":[],\\\\\\\"audio\\\\\\\":false,\\\\\\\"customize_multi_shots\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"A white cat explores a sunlit greenhouse while the camera follows in one smooth cinematic shot.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"kling-3.0-omni/text-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1787235578913,\"creditsConsumed\":70.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 194,
      },
      {
        "_id": "8df9b90110d9a8e815d3b0a39e35e3b1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
     [...]
