{
  "log": {
    "_recordingName": "elevenlabs/pvc-manual-verification",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "801ca627dc54792941a5afa3faa50b01",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"files\":{\"_file\":true,\"filename\":\"blob\",\"contentType\":\"text/plain\",\"size\":28},\"extra_text\":\"Manual verification integration coverage.\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/voices/pvc/apicity-invalid-pvc-voice/verification"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 239,
            "text": "{\"detail\":{\"type\":\"invalid_request\",\"code\":\"bad_request\",\"message\":\"An invalid ID has been received: 'apicity-invalid-pvc-voice'. Make sure to provide a correct one.\",\"status\":\"invalid_uid\",\"request_id\":\"3035fccfdb79c26b5fc25ca083f7136f\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-trace-id",
              "value": "***"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 712,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
