{
  "log": {
    "_recordingName": "kie/aleph/generate-invalid-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1b15243ae3f3fbf60c54899983b31d59",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A slow cinematic pan across misty mountains at dawn.\",\"videoUrl\":\"https://example.com/apicity-test-nonexistent-video-do-not-record-real.mp4\",\"callBackUrl\":\"https://example.com/aleph-callback\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/aleph/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"7bf0274cd0c4581e1583cf46efae930a\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 519,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
