{
  "log": {
    "_recordingName": "fal/workflows-list-search",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3ae29591a6ed6f5f028519128a639796",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "search",
              "value": "flux"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ],
          "url": "https://api.fal.ai/v1/workflows?search=flux&limit=3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 63,
            "text": "{\"workflows\":[],\"next_cursor\":null,\"has_more\":false,\"total\":0}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "arn1::iad1::psqd2-1774726502211-5f2327148450"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 357,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
