{
  "log": {
    "_recordingName": "fal/google-gemini-omni-flash-v1-1-reference-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "682dd68b93b9c132bd434a3272cc59f8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The family in <IMAGE_REF_0> waves from the lawn in front of the white farmhouse, camera holding still.\",\"image_urls\":[\"https://v3b.fal.media/files/b/0aa7d0a6/Zxzqx2mbFF7Ey3YVnD-g4_084_monochrome_expressionism.jpg\"],\"resolution\":\"360p\",\"duration\":3}"
          },
          "queryString": [],
          "url": "https://fal.run/google/gemini-omni-flash/v1.1/reference-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 215,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad8112/aZpzzXLoVrBLrFVJPqsC8_21b82ed77ae1459fb2a8a73be8419b18.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"21b82ed77ae1459fb2a8a73be8419b18.mp4\",\"file_size\":1706482}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "3.029333"
            },
            {
              "name": "x-fal-served-from",
              "value": "b1a5d5e5-4fde-464d-a2ea-49d79a094fec"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 19958,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
