{
  "log": {
    "_recordingName": "elevenlabs/voice-settings",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "973dfcc3b5fbf0312dda663957af5778",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/voices/hpp4J3VqNfWAUOO0d1Us/settings"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 90,
            "text": "{\"stability\":0.5,\"use_speaker_boost\":true,\"similarity_boost\":0.75,\"style\":0.0,\"speed\":1.0}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 764,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
