{
  "log": {
    "_recordingName": "fal/kling-video-v3-standard-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ecb4753493ed0ee48a5cc19fb2c901ff",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A white odd-eyed cat blinks slowly and tilts its head, soft breeze through fur, cinematic close-up.\",\"aspect_ratio\":\"1:1\",\"duration\":\"5\",\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/kling-video/v3/standard/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 163,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0a96c2fa/TCuOHUNmLn9_4ibzyL1R-_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":3036369}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "3.0"
            },
            {
              "name": "x-fal-request-id",
              "value": "019da11f-b347-74a0-a2cb-46c7fef74836"
            },
            {
              "name": "x-fal-served-from",
              "value": "28d6de3d-68fb-4d96-9c36-e209a6c0bc3c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 48026,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
