{
  "log": {
    "_recordingName": "fal/alibaba-happy-horse-v1-1-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "612d73e45f1a4606fed77ccbd97b0861",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"image_url\":\"https://help-static-aliyun-doc.aliyuncs.com/file-manage-files/zh-CN/20250925/wpimhv/rap.png\",\"prompt\":\"A horse walks through warm grass.\",\"resolution\":\"720p\",\"duration\":3}"
          },
          "queryString": [],
          "url": "https://fal.run/alibaba/happy-horse/v1.1/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 280,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad869e/eB2eDBGDpAOtSUqnIzG34_QlLCDX6a.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"eB2eDBGDpAOtSUqnIzG34_QlLCDX6a.mp4\",\"file_size\":1762603,\"width\":1266,\"height\":728,\"fps\":24.0,\"duration\":3.162667,\"num_frames\":73},\"seed\":1983580231}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "3"
            },
            {
              "name": "x-fal-served-from",
              "value": "b7c236bc-cc27-4f86-ad78-e5cb89b759a7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 144145,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
