{
  "log": {
    "_recordingName": "binance/historical-block-trades",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ac860833b45a94764d0d6aa82ccf9360",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            },
            {
              "name": "fromId",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.binance.com/api/v3/historicalBlockTrades?symbol=BTCUSDT&fromId=1&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 119,
            "text": "[{\"id\":1,\"price\":\"62284.35000000\",\"qty\":\"0.00000010\",\"quoteQty\":\"0.00622843\",\"time\":1780573138447,\"isBuyerMaker\":true}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "25"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "25"
            },
            {
              "name": "x-mbx-uuid",
              "value": "***"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 627,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
