{
  "log": {
    "_recordingName": "fal/elevenlabs-music-v2-5",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0d32b8d6ddf583e57ebacccda20d640c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Mysterious original soundtrack, themes of jungle, rainforest, nature, woodwinds, busy rhythmic tribal percussion.\",\"music_length_ms\":3000}"
          },
          "queryString": [],
          "url": "https://fal.run/elevenlabs/music/v2.5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 180,
            "text": "{\"audio\":{\"url\":\"https://v3b.fal.media/files/b/0aad8724/HV8LTrw-kpV8AOelO8x-Q_music_generated.mp3\",\"content_type\":\"audio/mpeg\",\"file_name\":\"music_generated.mp3\",\"file_size\":72621}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-served-from",
              "value": "7814b2bb-293d-42b0-916e-1ef54fd4ab34"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 5358,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
