{
  "log": {
    "_recordingName": "kie/google-gemini-omni-flash-1-1-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d78118643df27cf44ccda2ffb74c65b0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"google/gemini-omni-flash-1-1\",\"input\":{\"prompt\":\"A paper boat drifts down a gentle stream through a mossy forest while the camera glides alongside in one continuous shot.\",\"duration\":\"4\",\"resolution\":\"720p\",\"aspect_ratio\":\"16:9\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"e8644341781e5ecd0b8a8bb7594f8da9\",\"recordId\":\"e8644341781e5ecd0b8a8bb7594f8da9\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 283,
      },
      {
        "_id": "2de0d89438633ca40f3afb5e97c81ace",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "e8644341781e5ecd0b8a8bb7594f8da9"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=e8644341781e5ecd0b8a8bb7594f8da9"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 956,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"e8644341781e5ecd0b8a8bb7594f8da9\",\"model\":\"google/gemini-omni-flash-1-1\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":\\\\\\\"4\\\\\\\",\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A paper boat drifts down a gentle stream through a mossy forest while the camera glides alongside in one continuous shot.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"google/gemini-omni-flash-1-1\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1789127039783,\"creditsConsumed\":63.0,\"operationType\":\"google/gemini-omni-flash-1-1\",\"successFlag\":0,\"paramJson\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":\\\\\\\"4\\\\\\\",\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A paper boat drifts down a gentle stream through a mossy forest while the camera glides alongside in one continuous shot.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"google/gemini-omni-flash-1-1\\\"}\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "ap[...]
