{
  "log": {
    "_recordingName": "kie/suno/mashup-submit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5adabc412ea9348c290a85170eb54e2b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"firstAudioId\":\"test-audio-id-1\",\"secondAudioId\":\"test-audio-id-2\",\"callBackUrl\":\"https://example.com/cb\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/mashup/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 126,
            "text": "{\"timestamp\":1778048946786,\"status\":404,\"error\":\"Not Found\",\"message\":\"No message available\",\"path\":\"/api/v1/mashup/generate\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 807,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
