{
  "log": {
    "_recordingName": "kie/kling-v3-turbo-text-to-video-1080p",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f682fe9f7caced544b8d0fd0f8207720",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"kling/v3-turbo-text-to-video\",\"input\":{\"prompt\":\"A cinematic drone shot over glass towers at sunrise.\",\"duration\":\"10\",\"aspect_ratio\":\"16:9\",\"resolution\":\"1080p\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 157,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"task_kling_v3_turbo_text_to_video_1080p_apicity\",\"recordId\":\"task_kling_v3_turbo_text_to_video_1080p_apicity\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 9,
      },
      {
        "_id": "f98e36a520b644ea914c66c1d6943980",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "task_kling_v3_turbo_text_to_video_1080p_apicity"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=task_kling_v3_turbo_text_to_video_1080p_apicity"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 624,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"task_kling_v3_turbo_text_to_video_1080p_apicity\",\"model\":\"kling/v3-turbo-text-to-video\",\"state\":\"success\",\"param\":\"{\\\"model\\\":\\\"kling/v3-turbo-text-to-video\\\",\\\"input\\\":{\\\"prompt\\\":\\\"A cinematic drone shot over glass towers at sunrise.\\\",\\\"duration\\\":\\\"10\\\",\\\"aspect_ratio\\\":\\\"16:9\\\",\\\"resolution\\\":\\\"1080p\\\"}}\",\"resultJson\":\"{\\\"resultUrls\\\":[\\\"https://example.com/kie/kling-v3-turbo-text-to-video-1080p.mp4\\\"]}\",\"failCode\":\"\",\"failMsg\":\"\",\"costTime\":30000,\"completeTime\":1782351900000,\"createTime\":1782351870000,\"updateTime\":1782351900000,\"progress\":100,\"creditsConsumed\":100}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
