{
  "log": {
    "_recordingName": "fal/xai-grok-imagine-image-v2p0-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d1a87cddb29c6502d3ac0599462a556b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A serene mountain landscape at sunrise.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/xai/grok-imagine-image/v2.0/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 239,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aa786d9/2L57IbeOhtj0izMO4OXbk_X6mHKV5Q.jpg\",\"content_type\":\"image/jpeg\",\"file_name\":\"2L57IbeOhtj0izMO4OXbk_X6mHKV5Q.jpg\",\"file_size\":null,\"width\":1024,\"height\":1024}],\"revised_prompt\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "6.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "c41a8479-1a0f-4ea2-99aa-1a760a3b6ee3"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 87994,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
