{
  "log": {
    "_recordingName": "binance/execution-rules",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b8bd9d89382f9b6e21463249d47ccce5",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            }
          ],
          "url": "https://api.binance.com/api/v3/executionRules?symbol=BTCUSDT"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 183,
            "text": "{\"symbolRules\":[{\"symbol\":\"BTCUSDT\",\"rules\":[{\"ruleType\":\"PRICE_RANGE\",\"bidLimitMultUp\":\"1.1500\",\"bidLimitMultDown\":\"0.8500\",\"askLimitMultUp\":\"1.1500\",\"askLimitMultDown\":\"0.8500\"}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "2"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "2"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 350,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
