{
  "log": {
    "_recordingName": "fal/files-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b9bd636144494ded2fe1de7f3698ae7f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fal.ai/v1/serverless/files/file/undefined"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 62,
            "text": "{\"error\":{\"type\":\"server_error\",\"message\":\"Download failed\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::q9zjz-1775140069868-c9ae2bfe147f"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 544,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
