{
  "log": {
    "_recordingName": "fal/flux-3-first-last-frame-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "33d499ecc14ceccceb9931c9ced120d2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A cat walks across the frame in one continuous shot\",\"start_image_url\":\"<inline image/jpeg data URL — replace with a real URL or upload>\",\"end_image_url\":\"<inline image/jpeg data URL — replace with a real URL or upload>\",\"resolution\":\"720p\",\"duration\":5,\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/blackforestlabs/flux-3/first-last-frame-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 181,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa739b9/8xbddFqMOGXuo-tPeHfJQ_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":4216511},\"seed\":3963148811}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "10"
            },
            {
              "name": "x-fal-served-from",
              "value": "0ff84dc1-9d5f-46ae-8c3a-2f76572ee17a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 78964,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
