{
  "log": {
    "_recordingName": "kie/aleph/generate-upstream-failure",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"jump.mp4\",\"contentType\":\"video/mp4\",\"size\":1318021},\"uploadPath\":\"videos/test-uploads\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 397,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1787093498568-wd60liaaio8.mp4\",\"filePath\":\"kieai/136592/videos/test-uploads/1787093498568-wd60liaaio8.mp4\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/videos/test-uploads/1787093498568-wd60liaaio8.mp4\",\"fileSize\":1318021,\"mimeType\":\"video/mp4\",\"uploadedAt\":\"2026-08-18T22:51:39.643Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1375,
      },
      {
        "_id": "da64e7bb3b6bd3e7bfb2c64d69d6a468",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Transform the clip into a hand-painted watercolor animation.\",\"videoUrl\":\"https://tempfile.redpandaai.co/kieai/136592/videos/test-uploads/1787093498568-wd60liaaio8.mp4\",\"uploadCn\":false}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/aleph/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c0d088df35254cc3e7187fb7116b2efa\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 371,
      },
      {
        "_id": "6a1e6b615685bec08bef07dd27dff208",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "c0d088df35254cc3e7187fb7116b2efa"
            }
          ],
          "url": "https://api.kie.ai/api/v1/aleph/record-info?taskId=c0d088df35254cc3e7187fb7116b2efa"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 419,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c0d088df35254cc3e7187fb7116b2efa\",\"paramJson\":\"{\\\"videoUrl\\\":\\\"https://tempfile.redpandaai.co/kieai/136592/videos/test-uploads/1787093498568-wd60liaaio8.mp4\\\",\\\"uploadCn\\\":false,\\\"prompt\\\":\\\"Transform the clip into a hand-painted watercolor animation.\\\"}\",\"response\":null,\"completeTime\":null,\"createTime\":1787093500000,\"successFlag\":0,\"errorCode\":null,\"errorMessage\":null}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 199,
      },
      {
        "_id": "6a1e6b615685bec08bef07dd27dff208",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
     [...]
