{
  "log": {
    "_recordingName": "free-media-upload/gofile-upload-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8a3ba976bf285927cfec9fe94799fed",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"cat1.jpg\",\"contentType\":\"image/jpeg\",\"size\":83558}}"
          },
          "queryString": [],
          "url": "https://upload.gofile.io/uploadfile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 389,
            "text": "{\"data\":{\"createTime\":1781792719,\"downloadPage\":\"https://gofile.io/d/SyYY5L\",\"guestToken\":\"***\",\"id\":\"ca02be6a-3228-4001-89ec-94614fc4eba3\",\"md5\":\"391a26048ce697ba072acd83209923f7\",\"mimetype\":\"image/jpeg\",\"modTime\":1781792719,\"name\":\"cat1.jpg\",\"parentFolder\":\"903ad21a-08fa-4f0d-842f-91fa6fd08a4e\",\"parentFolderCode\":\"SyYY5L\",\"servers\":[\"cold5\"],\"size\":83558,\"type\":\"file\"},\"status\":\"ok\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2278,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
