{
  "log": {
    "_recordingName": "fal/bytedance-seedance2p0-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ec13c6ec6d165c94a5addaee96bc0817",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A white odd-eyed cat blinks slowly and tilts its head, soft breeze through fur, cinematic close-up.\",\"resolution\":\"480p\",\"duration\":\"4\",\"aspect_ratio\":\"1:1\",\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/bytedance/seedance-2.0/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 178,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0a96ba2c/JigCxZybBPRMQaeYp5lLx_video.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"video.mp4\",\"file_size\":605475},\"seed\":1684234207}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "38.8"
            },
            {
              "name": "x-fal-request-id",
              "value": "019d9fc7-59b7-7e50-912b-1c69681c2468"
            },
            {
              "name": "x-fal-served-from",
              "value": "2790b1b3-bd22-4b19-b2cf-e166c56ac5a4"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 72233,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
