{
  "log": {
    "_recordingName": "polymarket/clob-fee-rate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "921b2a4fc08055aa5619153f771003a8",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://clob.polymarket.com/fee-rate/78433024518676680431174478322854148606578065650008220678402966840627347604025"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 18,
            "text": "{\"base_fee\":1000}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Wed, 06 May 2026 04:29:46 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 212,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
