{
  "log": {
    "_recordingName": "kie/suno/voice-regenerate-bogus-task",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2171722f1a7dbea963457bcbd192492a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"taskId\":\"apicity-test-bogus-task-id\",\"calBackUrl\":\"https://example.com/cb\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/voice/regenerate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 115,
            "text": "{\"code\":422,\"msg\":\"The record is not found or does not need to be rebuilt or does not require a retry\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 695,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
