{
  "log": {
    "_recordingName": "kie/e2e-motion-control/step-1-generate-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "124dda1bf922fd0594aa421d7451ebd3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"nano-banana-pro\",\"input\":{\"prompt\":\"A young woman in a bright red hoodie and dark jeans, standing upright facing the camera, full body visible from head to feet, friendly expression, simple solid light gray background, clean studio lighting, sharp details, character design, portrait photography\",\"aspect_ratio\":\"9:16\",\"resolution\":\"1K\",\"output_format\":\"png\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3a24adee0832eb1478717154e925e9e4\",\"recordId\":\"3a24adee0832eb1478717154e925e9e4\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 552,
      },
      {
        "_id": "77ddf1c56b0ed82f0c067befd9253457",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "3a24adee0832eb1478717154e925e9e4"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=3a24adee0832eb1478717154e925e9e4"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 674,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"3a24adee0832eb1478717154e925e9e4\",\"model\":\"nano-banana-pro\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"9:16\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A young woman in a bright red hoodie and dark jeans, standing upright facing the camera, full body visible from head to feet, friendly expression, simple solid light gray background, clean studio lighting, sharp details, character design, portrait photography\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"1K\\\\\\\"}\\\",\\\"model\\\":\\\"nano-banana-pro\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1774428642608}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 325,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
