{
  "log": {
    "_recordingName": "fal/alibaba-qwen-audio-3-tts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fc5df95866d5c8467e875aa72cd891e8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"text\":\"A\"}"
          },
          "queryString": [],
          "url": "https://fal.run/alibaba/qwen-audio-3-tts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 252,
            "text": "{\"audio\":{\"url\":\"https://v3b.fal.media/files/b/0aad8669/46_QqjQOq3-x2HJziFgmN_m8Qpfg2a.wav\",\"content_type\":\"audio/wav\",\"file_name\":\"46_QqjQOq3-x2HJziFgmN_m8Qpfg2a.wav\",\"file_size\":null,\"duration\":1.36,\"channels\":1,\"sample_rate\":24000,\"bitrate\":384258}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.001"
            },
            {
              "name": "x-fal-served-from",
              "value": "54757f47-321d-427f-9477-dc09f47a38fa"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 22961,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
