{
  "log": {
    "_recordingName": "kie/suno/generate-persona-not-found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "01b18136446c0a2288788fdb36bd75f3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"taskId\":\"apicity-test-nonexistent-task-id-do-not-record-real\",\"audioId\":\"apicity-test-nonexistent-audio-id-do-not-record-real\",\"name\":\"Apicity Test Persona\",\"description\":\"error-path fixture only — nonexistent task/audio ids\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate/generate-persona"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 53,
            "text": "{\"code\":422,\"msg\":\"Music does not exist\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 703,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
