{
  "log": {
    "_recordingName": "fal/nvidia-cosmos-3-super-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d98c7b22c1c6e722c729aeb8a3215346",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A photorealistic close-up of two damp hands shaping a spinning cylinder of wet gray clay on a pottery wheel, fingers pinching the walls upward into a narrow-necked vase, water glistening on the clay, soft studio lighting, shallow depth of field.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/nvidia/cosmos-3-super/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 263,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad8823/ppp3GxTp8lMrggYISTov1_nhbiXMe4.jpg\",\"content_type\":\"image/jpeg\",\"file_name\":\"ppp3GxTp8lMrggYISTov1_nhbiXMe4.jpg\",\"file_size\":null,\"width\":1024,\"height\":1024}],\"seed\":1005792664,\"has_nsfw_concepts\":[false]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-served-from",
              "value": "0b07f4f9-6c25-4b2d-82ce-0fe35878fb3f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 7574,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
