{
  "log": {
    "_recordingName": "free/tflink-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "947eca8a0e1757a19fa2db2d9052903d",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://tmpfile.link/api/upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 290,
            "text": "{\"fileName\":\"test.txt\",\"downloadLink\":\"https://d.tmpfile.link/public/2026-04-16/53981d8e-c098-4c14-a324-feb7f36af2a0/test.txt\",\"downloadLinkEncoded\":\"https://d.tmpfile.link/public/2026-04-16/53981d8e-c098-4c14-a324-feb7f36af2a0/test.txt\",\"size\":14,\"type\":\"text/plain\",\"uploadedTo\":\"public\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 653,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
