{
  "log": {
    "_recordingName": "binance/agg-trades",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5e2148231d8b7a7990454244eb37dcbe",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://api.binance.com/api/v3/aggTrades?symbol=BTCUSDT&limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 185,
            "text": "[{\"a\":3983190334,\"p\":\"63518.00000000\",\"q\":\"0.01035000\",\"f\":6387299519,\"l\":6387299519,\"T\":1780919256587,\"m\":false,\"M\":true},{\"a\":3983190335,\"p\":\"63518.00000000\",\"q\":\"0.00082000\",\"f\":6387299520,\"l\":6387299520,\"T\":1780919256661,\"m\":false,\"M\":true},{\"a\":3983190336,\"p\":\"63518.00000000\",\"q\":\"0.00025000\",\"f\":6387299521,\"l\":6387299521,\"T\":1780919256828,\"m\":false,\"M\":true},{\"a\":3983190337,\"p\":\"63517.99000000\",\"q\":\"0.00153000\",\"f\":6387299522,\"l\":6387299522,\"T\":1780919257236,\"m\":true,\"M\":true},{\"a\":3983190338,\"p\":\"63517.99000000\",\"q\":\"0.00211000\",\"f\":6387299523,\"l\":6387299523,\"T\":1780919257439,\"m\":true,\"M\":true}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "4"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "4"
            },
            {
              "name": "x-mbx-uuid",
              "value": "***"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 635,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
