{
  "log": {
    "_recordingName": "fal/bytedance-seedream-v5-flash-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6e445d507d12feb8e14ad7adf310a9c2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"num_images\":1,\"prompt\":\"A red panda waves once, then holds still.\",\"image_urls\":[\"https://v3b.fal.media/files/b/0a8b90e0/BFLE9VDlZqsryU-UA3BoD_image_004.png\"]}"
          },
          "queryString": [],
          "url": "https://fal.run/bytedance/seedream/v5/flash/edit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 245,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad254e/ZgGvgqBEhYrHYCXvZfFMF_bd354f3b897f490da7e9418cb5be3cf6.jpg\",\"content_type\":\"image/jpeg\",\"file_name\":\"bd354f3b897f490da7e9418cb5be3cf6.jpg\",\"file_size\":736723,\"width\":null,\"height\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-served-from",
              "value": "648fb5de-71b9-4ed2-9da6-16bf612a3a51"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 22292,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
