{
  "log": {
    "_recordingName": "elevenlabs/workspace-usage-by-product-over-time",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5323e118714ccff1b4b76be8593a7782",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"start_time\":1767225600000,\"end_time\":1767312000000,\"interval_seconds\":86400,\"group_by\":[\"product_type\"],\"time_zone\":\"UTC\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/workspace/analytics/query/usage-by-product-over-time"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 260,
            "text": "{\"columns\":[\"product_type\",\"timestamp\",\"total_usage\",\"total_minutes\",\"total_cost\",\"usage_count\",\"total_charge_count\"],\"column_types\":[\"String\",\"DateTime\",\"Int\",\"Float\",\"Float\",\"Int\",\"Float\"],\"rows\":[],\"column_units\":[null,null,\"credits\",\"min\",\"usd\",null,null]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-trace-id",
              "value": "***"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 618,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
