{
  "log": {
    "_recordingName": "fal/luma-agent-ray-v3-2-video-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "508df72090440b1931bc03f83156746e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Restyle the footage as a hand-painted watercolor animation with soft pastel colors.\",\"video_url\":\"https://storage.googleapis.com/falserverless/example_inputs/birefnet-video-input.mp4\",\"duration\":\"5s\",\"resolution\":\"540p\"}"
          },
          "queryString": [],
          "url": "https://fal.run/luma/agent/ray/v3.2/video-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 179,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad8868/HBP1wlXyEuhKkgsGokrOZ_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":2647648},\"exr_file\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "24"
            },
            {
              "name": "x-fal-served-from",
              "value": "3d007417-b347-4929-84d7-c2a3436a683a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 189859,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
