{
  "log": {
    "_recordingName": "binance/trades",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "60f96af22a64d301a598ae1656bb10f9",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://api.binance.com/api/v3/trades?symbol=BTCUSDT&limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 176,
            "text": "[{\"id\":6387230001,\"price\":\"63662.80000000\",\"qty\":\"0.00008000\",\"quoteQty\":\"5.09302400\",\"time\":1780918321557,\"isBuyerMaker\":true,\"isBestMatch\":true},{\"id\":6387230002,\"price\":\"63662.80000000\",\"qty\":\"0.00009000\",\"quoteQty\":\"5.72965200\",\"time\":1780918321557,\"isBuyerMaker\":true,\"isBestMatch\":true},{\"id\":6387230003,\"price\":\"63662.80000000\",\"qty\":\"0.00008000\",\"quoteQty\":\"5.09302400\",\"time\":1780918321557,\"isBuyerMaker\":true,\"isBestMatch\":true},{\"id\":6387230004,\"price\":\"63662.80000000\",\"qty\":\"0.00009000\",\"quoteQty\":\"5.72965200\",\"time\":1780918321557,\"isBuyerMaker\":true,\"isBestMatch\":true},{\"id\":6387230005,\"price\":\"63662.80000000\",\"qty\":\"0.00117000\",\"quoteQty\":\"74.48547600\",\"time\":1780918321557,\"isBuyerMaker\":true,\"isBestMatch\":true}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "25"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "25"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 602,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
