{
  "log": {
    "_recordingName": "kie/veo/get-4k-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9a461e9fa70106c20a9eabb29df0f72c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"taskId\":\"apicity-test-veo-4k-not-found\",\"index\":0}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/veo/get-4k-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 54,
            "text": "{\"code\":422,\"msg\":\"Record does not exist\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 679,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
