{
  "log": {
    "_recordingName": "kie/veo/aspect-ratio-probe",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f321817aacb29e4ef8e0544a8ba2453d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Apicity aspect probe snake_case: solid blue sky, still camera, no people\",\"model\":\"veo3_lite\",\"generationType\":\"TEXT_2_VIDEO\",\"aspect_ratio\":\"9:16\",\"duration\":4,\"resolution\":\"720p\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/veo/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"0819326cc7fddfd620baf6e1f0db7e2b\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 328,
      },
      {
        "_id": "e21873393a8ed9d3595c8185a619e6d7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "0819326cc7fddfd620baf6e1f0db7e2b"
            }
          ],
          "url": "https://api.kie.ai/api/v1/veo/record-info?taskId=0819326cc7fddfd620baf6e1f0db7e2b"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 496,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"0819326cc7fddfd620baf6e1f0db7e2b\",\"paramJson\":\"{\\\"duration\\\":4,\\\"enableTranslation\\\":true,\\\"generationType\\\":\\\"TEXT_2_VIDEO\\\",\\\"aspectRatio\\\":\\\"9:16\\\",\\\"model\\\":\\\"veo3_lite\\\",\\\"enableFallback\\\":false,\\\"resolution\\\":\\\"720p\\\",\\\"prompt\\\":\\\"Apicity aspect probe snake_case: solid blue sky, still camera, no people\\\"}\",\"response\":null,\"successFlag\":0,\"fallbackFlag\":false,\"completeTime\":null,\"createTime\":1785999477000,\"errorCode\":null,\"errorMessage\":\"\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 236,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
