{
  "log": {
    "_recordingName": "kie/veo/aspect-ratio-probe",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "51ed352f014c376abd90e64625135a7d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Apicity aspect probe camelCase: solid blue sky, still camera, no people\",\"model\":\"veo3_lite\",\"generationType\":\"TEXT_2_VIDEO\",\"aspectRatio\":\"9:16\",\"duration\":4,\"resolution\":\"720p\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/veo/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"833080d158b26214aeb43071aadac0d0\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 508,
      },
      {
        "_id": "b3cc5b3f851714d4823044c6bc308e03",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "833080d158b26214aeb43071aadac0d0"
            }
          ],
          "url": "https://api.kie.ai/api/v1/veo/record-info?taskId=833080d158b26214aeb43071aadac0d0"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 495,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"833080d158b26214aeb43071aadac0d0\",\"paramJson\":\"{\\\"duration\\\":4,\\\"enableTranslation\\\":true,\\\"generationType\\\":\\\"TEXT_2_VIDEO\\\",\\\"aspectRatio\\\":\\\"9:16\\\",\\\"model\\\":\\\"veo3_lite\\\",\\\"enableFallback\\\":false,\\\"resolution\\\":\\\"720p\\\",\\\"prompt\\\":\\\"Apicity aspect probe camelCase: solid blue sky, still camera, no people\\\"}\",\"response\":null,\"successFlag\":0,\"fallbackFlag\":false,\"completeTime\":null,\"createTime\":1786000823000,\"errorCode\":null,\"errorMessage\":\"\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 230,
      },
      {
        "_id": "f321817aacb29e4ef8e0544a8ba2453d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Apicity aspect probe snake_case: solid blue sky, still camera, no people\",\"model\":\"veo3_lite\",\"generationType\":\"TEXT_2_VIDEO\",\"aspect_ratio\":\"9:16\",\"duration\":4,\"resolution\":\"720p\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/veo/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"07549fca47f22f25338d33099fa80d97\"}}"
          },
          "headers": [
            {
              "name": "content-type",
        [...]
