{
  "log": {
    "_recordingName": "elevenlabs/service-accounts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f55d9599705ca63cccb2691bf7dca1fb",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/service-accounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 23,
            "text": "{\"service-accounts\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 356,
      },
      {
        "_id": "af532698d257ea6331a027a00acb6c19",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/service-accounts/apicity-nonexistent-service-account/api-keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 282,
            "text": "{\"detail\":{\"status\":\"service_account_not_found\",\"message\":\"Service account apicity-nonexistent-service-account does not exist in the workspace. This request was made by an API key from workspace '2a3eed25e26d4a69b09acfe73a627ea3'. Please check that you are using the correct key.\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 177,
      },
      {
        "_id": "c0ddd1d1a8a2b20592bf3b60273b8fbb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"apicity-route-test\",\"permissions\":[\"workspace_read\",\"service_account_write\"],\"character_limit\":null,\"allowed_ips\":[\"203.0.113.10\"],\"third_party_disable_allowed\":null}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/service-accounts/apicity-nonexistent-service-account/api-keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 179,
            "text": "{\"detail\":[{\"type\":\"value_error\",\"loc\":[\"body\",\"allowed_ips\",0],\"msg\":\"Value error, Private IP ranges are not allowed: '203.0.113.10'\",\"input\":\"203.0.113.10\",\"ctx\":{\"error\":{}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 175,
      },
      {
        "_id": "f6e8096dfebfe3eb19b92668fbbf6f66",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"is_enabled\":\"no_update\",\"name\":null,\"permissions\":\"no_update\",\"character_limit\":\"no_update\",\"allowed_ips\":\"clear\",\"third_party_disable_allowed\":\"no_update\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/service-accounts/apicity-nonexistent-service-account/api-keys/apicity-nonexistent-api-key"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 231,
            "text": "{\"detail\":{\"type\":\"invalid_request\",\"code\":\"bad_request\",\"message\":\"IP whitelisting for API keys is only available on enterprise plans.\",\"status\":\"bad_request\",\"request_id\":\"d984db68a766b577a58ebe194e2ca1d0\",\"param\":\"allowed_ips\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 174,
      },
      {
        "_id": "433e7cf694bf8c18a0e6c28e0c62bc9a",
        "request": {
          "headers": [
            {
   [...]
