{
  "log": {
    "_recordingName": "elevenlabs/convai-outbound-calls",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b3704c144d3d0742a7f1fdf0c057c38e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"agent_id\":\"apicity-route-test-agent\",\"agent_phone_number_id\":\"apicity-route-test-phone\",\"to_number\":\"+15005550006\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/twilio/outbound-call"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 202,
            "text": "{\"detail\":{\"type\":\"not_found\",\"code\":\"document_not_found\",\"message\":\"Document with id apicity-route-test-phone not found.\",\"status\":\"document_not_found\",\"request_id\":\"0ec041c927a6cb49676fd31465a2e336\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 187,
      },
      {
        "_id": "7bb3028bc870ba84de3c862394f0892b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"agent_id\":\"apicity-route-test-agent\",\"agent_phone_number_id\":\"apicity-route-test-phone\",\"to_number\":\"+15005550006\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/sip-trunk/outbound-call"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 202,
            "text": "{\"detail\":{\"type\":\"not_found\",\"code\":\"document_not_found\",\"message\":\"Document with id apicity-route-test-phone not found.\",\"status\":\"document_not_found\",\"request_id\":\"2814336cce7379212d2dffa042ca215c\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 169,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
