{
  "log": {
    "_recordingName": "kie/runway-generate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1b15f0def77a6d34cb3b166bd559270d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A serene drone shot flying over a misty pine forest at dawn.\",\"duration\":5,\"quality\":\"720p\",\"aspectRatio\":\"16:9\",\"callBackUrl\":\"https://example.com/runway-callback\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/runway/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"df1f4f6e6d4d0f2878be5773c21766d7\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 557,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
