{
  "log": {
    "_recordingName": "binance/depth",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "27ebcfd622221d3bcb74714a95e26ed9",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://api.binance.com/api/v3/depth?symbol=BTCUSDT&limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 155,
            "text": "{\"lastUpdateId\":95352827011,\"bids\":[[\"63625.99000000\",\"4.84175000\"],[\"63625.98000000\",\"0.61625000\"],[\"63625.97000000\",\"0.00016000\"],[\"63625.95000000\",\"0.00008000\"],[\"63625.90000000\",\"0.00008000\"]],\"asks\":[[\"63626.00000000\",\"0.01922000\"],[\"63626.01000000\",\"0.00088000\"],[\"63626.02000000\",\"0.00016000\"],[\"63626.64000000\",\"0.00008000\"],[\"63627.00000000\",\"0.00009000\"]]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "5"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "5"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 568,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
