{
  "log": {
    "_recordingName": "kie/suno/lyrics-submit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "13f384a64e248c609174d00468f82bee",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A short song about morning coffee\",\"callBackUrl\":\"https://example.com/cb\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/lyrics"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"e5d2b14c95a93b325215f4490867d8c6\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 348,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
