{
  "log": {
    "_recordingName": "kie/pixverse-v6-extend",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b4450b7f374a471dfeaa74490d5d98a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"jump.mp4\",\"contentType\":\"video/mp4\",\"size\":1318021},\"uploadPath\":\"videos/test-uploads\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-stream-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 397,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"1785293330087-g202xsn16na.mp4\",\"filePath\":\"kieai/136592/videos/test-uploads/1785293330087-g202xsn16na.mp4\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/videos/test-uploads/1785293330087-g202xsn16na.mp4\",\"fileSize\":1318021,\"mimeType\":\"video/mp4\",\"uploadedAt\":\"2026-07-29T02:48:51.120Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1326,
      },
      {
        "_id": "b84eba754c9d6b0b273f113524fccc6c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"pixverse-v6/extend\",\"input\":{\"prompt\":\"The camera holds steady as the motion continues naturally into the next moment.\",\"video_url\":\"https://tempfile.redpandaai.co/kieai/136592/videos/test-uploads/1785293330087-g202xsn16na.mp4\",\"quality\":\"360p\",\"duration\":1,\"generate_audio_switch\":false,\"seed\":123456789}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"6c4a43f05f7308e0a6b2b6a9d4964915\",\"recordId\":\"6c4a43f05f7308e0a6b2b6a9d4964915\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 733,
      },
      {
        "_id": "fb09775a3d47f9429e03daf2d948a800",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "6c4a43f05f7308e0a6b2b6a9d4964915"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=6c4a43f05f7308e0a6b2b6a9d4964915"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 651,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"6c4a43f05f7308e0a6b2b6a9d4964915\",\"model\":\"pixverse-v6/extend\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":1,\\\\\\\"video_url\\\\\\\":\\\\\\\"https://tempfile.redpandaai.co/kieai/136592/videos/test-uploads/1785293330087-g202xsn16na.mp4\\\\\\\",\\\\\\\"generate_audio_switch\\\\\\\":false,\\\\\\\"seed\\\\\\\":123456789,\\\\\\\"prompt\\\\\\\":\\\\\\\"The camera holds steady as the motion continues naturally into the next moment.\\\\\\\",\\\\\\\"quality\\\\\\\":\\\\\\\"360p\\\\\\\"}\\\",\\\"model\\\":\\\"pixverse-v6/extend\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1785293331783,\"creditsConsumed\":4.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 175,
      },
      {
        "_id": "fb09775a3d47f9429e03daf2d948a800",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
      [...]
