{
  "log": {
    "_recordingName": "polymarket/data-closed-positions",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "604b4ef65fd4a3a360dce3f249fbc81d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "user",
              "value": "0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://data-api.polymarket.com/closed-positions?user=0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 759,
            "text": "[{\"proxyWallet\":\"0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e\",\"asset\":\"31103209775225588337523792255777227692910387902160391058413821517273972893526\",\"conditionId\":\"0x3e95ed01362f6b3ad6584d991ccfd9614f28849fab49501474466e90b8b6f9af\",\"avgPrice\":0.29,\"totalBought\":1500,\"realizedPnl\":1055.995837,\"curPrice\":1,\"title\":\"Will Solana reach $190 in May?\",\"slug\":\"will-solana-reach-190-in-may\",\"icon\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/what-price-will-solana-hit-in-january-qzsv3_SfDort.png\",\"eventSlug\":\"what-price-will-solana-hit-in-may\",\"outcome\":\"No\",\"outcomeIndex\":1,\"oppositeOutcome\":\"Yes\",\"oppositeAsset\":\"35601964300918629410534992775359655988256358090026188931825170661272593755499\",\"endDate\":\"2025-05-31T00:00:00Z\",\"timestamp\":1748621809}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "deprecation",
              "value": "true"
            },
            {
              "name": "last-modified",
              "value": "Sat, 20 Jun 2026 04:54:37 GMT"
            },
            {
              "name": "warning",
              "value": "299 - \"Deprecated: use /v1/closed-positions\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 16,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
