{
  "log": {
    "_recordingName": "x/media-upload-append",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7e5e688d990bb1034ca9cf3402194183",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"media\":{\"_file\":true,\"filename\":\"blob\",\"contentType\":\"video/mp4\",\"size\":64},\"segment_index\":\"0\"}"
          },
          "queryString": [],
          "url": "https://api.x.com/2/media/upload/2050120900222296064/append"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 62,
            "text": "{\"data\":{\"expires_at\":1777708286677}}"
          },
          ],
          "headers": [
            {
              "name": "content-disposition",
              "value": "attachment; filename=json.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "origin-cf-ray",
              "value": "9f4d33c6b931ee46-SEA"
            },
            {
              "name": "perf",
              "value": "7402827104"
            },
            {
              "name": "x-access-level",
              "value": "read-write"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "1875"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "1869"
            },
            {
              "name": "x-rate-limit-reset",
              "value": "1777622424"
            },
            {
              "name": "x-response-time",
              "value": "44"
            },
            {
              "name": "x-transaction-id",
              "value": "0a5b687e56e9c1a7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 350,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
