{
  "log": {
    "_recordingName": "fal/bytedance-seedream-v5-flash-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "eb6602f3e8694e2a03d7561701c3f900",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"num_images\":1,\"prompt\":\"A red panda waves once, then holds still.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/bytedance/seedream/v5/flash/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 245,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad2555/9wsY7suzIFdPRjwC9jZ5v_4be7412fe4fa4db485ca480a96b90f02.jpg\",\"content_type\":\"image/jpeg\",\"file_name\":\"4be7412fe4fa4db485ca480a96b90f02.jpg\",\"file_size\":682909,\"width\":null,\"height\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-served-from",
              "value": "85c04e4b-0993-4c1f-a431-5b7bbe3643bf"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 17172,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
