{
  "log": {
    "_recordingName": "elevenlabs/forced-alignment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b5e8cc96ba31406de1adf0ec124f22b4",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"blob\",\"contentType\":\"audio/mp3\",\"size\":48317},\"text\":\"Hello, how are you doing today?\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/forced-alignment"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1967,
            "text": "{\"characters\":[{\"text\":\"H\",\"start\":0.159,\"end\":0.179},{\"text\":\"e\",\"start\":0.179,\"end\":0.239},{\"text\":\"l\",\"start\":0.239,\"end\":0.259},{\"text\":\"l\",\"start\":0.259,\"end\":0.479},{\"text\":\"o\",\"start\":0.479,\"end\":0.519},{\"text\":\",\",\"start\":0.519,\"end\":0.519},{\"text\":\" \",\"start\":0.519,\"end\":0.779},{\"text\":\"h\",\"start\":0.779,\"end\":0.859},{\"text\":\"o\",\"start\":0.859,\"end\":0.879},{\"text\":\"w\",\"start\":0.879,\"end\":0.879},{\"text\":\" \",\"start\":0.879,\"end\":0.879},{\"text\":\"a\",\"start\":0.879,\"end\":1.36},{\"text\":\"r\",\"start\":1.36,\"end\":1.379},{\"text\":\"e\",\"start\":1.379,\"end\":1.379},{\"text\":\" \",\"start\":1.379,\"end\":1.399},{\"text\":\"y\",\"start\":1.399,\"end\":1.399},{\"text\":\"o\",\"start\":1.399,\"end\":1.419},{\"text\":\"u\",\"start\":1.419,\"end\":1.899},{\"text\":\" \",\"start\":1.899,\"end\":1.919},{\"text\":\"d\",\"start\":1.919,\"end\":1.919},{\"text\":\"o\",\"start\":1.919,\"end\":1.919},{\"text\":\"i\",\"start\":1.919,\"end\":1.919},{\"text\":\"n\",\"start\":1.919,\"end\":1.919},{\"text\":\"g\",\"start\":1.919,\"end\":2.159},{\"text\":\" \",\"start\":2.159,\"end\":2.459},{\"text\":\"t\",\"start\":2.46,\"end\":2.48},{\"text\":\"o\",\"start\":2.48,\"end\":2.539},{\"text\":\"d\",\"start\":2.539,\"end\":2.559},{\"text\":\"a\",\"start\":2.559,\"end\":2.74},{\"text\":\"y\",\"start\":2.74,\"end\":2.899},{\"text\":\"?\",\"start\":2.899,\"end\":2.899}],\"words\":[{\"text\":\"Hello,\",\"start\":0.159,\"end\":0.519,\"loss\":0.1155565579732259},{\"text\":\" \",\"start\":0.519,\"end\":0.779,\"loss\":5.936622619628906e-05},{\"text\":\"how\",\"start\":0.779,\"end\":0.879,\"loss\":6.398111979166667},{\"text\":\" \",\"start\":0.879,\"end\":0.88,\"loss\":0.181640625},{\"text\":\"are\",\"start\":0.88,\"end\":1.379,\"loss\":3.2494710286458335},{\"text\":\" \",\"start\":1.379,\"end\":1.399,\"loss\":0.0184326171875},{\"text\":\"you\",\"start\":1.399,\"end\":1.899,\"loss\":0.9042485555013021},{\"text\":\" \",\"start\":1.899,\"end\":1.919,\"loss\":0.373046875},{\"text\":\"doing\",\"start\":1.919,\"end\":2.159,\"loss\":2.0472732543945313},{\"text\":\" \",\"start\":2.159,\"end\":2.459,\"loss\":0.030517578125},{\"text\":\"today?\",\"start\":2.46,\"end\":2.899,\"loss\":1.5940797726313274}],\"loss\":1.7017218066800026}"
          },
          "headers": [
            {
              "name": "character-cost",
              "value": "3"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 481,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
