{
  "log": {
    "_recordingName": "kie/e2e-motion-control/step-3-motion-reference",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7d3ac1b5870510e7dc77851221813f09",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/text-to-video\",\"input\":{\"prompt\":\"A regular man in casual clothes dancing energetically in a studio with a plain white background, full body visible, smooth movements, well-lit\",\"duration\":\"6\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c15c011a1ee6a0e8c2ad3d23a9a87233\",\"recordId\":\"c15c011a1ee6a0e8c2ad3d23a9a87233\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 334,
      },
      {
        "_id": "3dc0ff4afa29fe9be090f5cbf017c05c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "c15c011a1ee6a0e8c2ad3d23a9a87233"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=c15c011a1ee6a0e8c2ad3d23a9a87233"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 508,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c15c011a1ee6a0e8c2ad3d23a9a87233\",\"model\":\"grok-imagine/text-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":\\\\\\\"6\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A regular man in casual clothes dancing energetically in a studio with a plain white background, full body visible, smooth movements, well-lit\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/text-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1774428643276}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 232,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
