{
  "log": {
    "_recordingName": "dolthub/sql-write-v2-unauthenticated",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f5c892e3d2a11cfbc5bad4aaaf2f0259",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"from_branch\":\"main\",\"to_branch\":\"apicity-probe\",\"q\":\"INSERT INTO apicity_probe (id) VALUES (1)\"}"
          },
          "queryString": [],
          "url": "https://www.dolthub.com/api/v2/databases/dolthub/ip-to-country/sql-writes"
        },
        "response": {
          "content": {
            "mimeType": "application/problem+json",
            "size": 326,
            "text": "{\"type\":\"https://dolthub.com/docs/products/dolthub/api/v2/models/#model-errorcode\",\"title\":\"Unauthenticated\",\"status\":401,\"detail\":\"Authentication credentials were missing or invalid.\",\"code\":\"UNAUTHENTICATED\",\"request_id\":\"b5a2f340-4710-4c23-9d87-4a4f1714942c\",\"instance\":\"/api/v2/databases/dolthub/ip-to-country/sql-writes\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/problem+json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 648,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
