{
  "log": {
    "_recordingName": "meta/post-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cd93ebfe913b105dab784ebc2e57a865",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"jump.mp4\",\"contentType\":\"video/mp4\",\"size\":1318021}}"
          },
          "queryString": [],
          "url": "https://tmpfile.link/api/upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 294,
            "text": "{\"fileName\":\"jump.mp4\",\"downloadLink\":\"https://d.tmpfile.link/public/2026-05-14/0d460a68-fdc7-487f-871e-ae784a5939b2/jump.mp4\",\"downloadLinkEncoded\":\"https://d.tmpfile.link/public/2026-05-14/0d460a68-fdc7-487f-871e-ae784a5939b2/jump.mp4\",\"size\":1318021,\"type\":\"video/mp4\",\"uploadedTo\":\"public\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1582,
      },
      {
        "_id": "89fc10740f4dd24f02fd6d54942d213b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"media_type\":\"REELS\",\"video_url\":\"https://d.tmpfile.link/public/2026-05-14/0d460a68-fdc7-487f-871e-ae784a5939b2/jump.mp4\",\"caption\":\"jump\"}"
          },
          "queryString": [],
          "url": "https://graph.instagram.com/v25.0/17841468656422628/media"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 26,
            "text": "{\"id\":\"17927224251288548\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "instagram-api-version",
              "value": "v25.0"
            },
            {
              "name": "x-app-usage",
              "value": "{\"call_volume\":0,\"cpu_time\":0}"
            },
            {
              "name": "x-stack",
              "value": "www"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 470,
      },
      {
        "_id": "a8901711a8a39894250c2e40a826cc17",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "fields",
              "value": "status_code,status"
            }
          ],
          "url": "https://graph.instagram.com/v25.0/17927224251288548?fields=status_code%2Cstatus"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 77,
            "text": "{\"status_code\":\"IN_PROGRESS\",\"status\":\"IN_PROGRESS\",\"id\":\"17927224251288548\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "etag",
              "value": "\"9538b29f4efc19d31eb5642b526d4c0fea62a549\""
            },
            {
              "name": "instagram-api-version",
              "value": "v25.0"
            },
            {
              "n[...]
