{
  "log": {
    "_recordingName": "meta/post-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "37548067ea2dc3eb2f4b4540cf21b860",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"media_type\":\"REELS\",\"video_url\":\"https://o.uguu.se/VVVMQJbN.mp4\",\"caption\":\"jump\"}"
          },
          "queryString": [],
          "url": "https://graph.instagram.com/v25.0/17841468656422628/media"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 26,
            "text": "{\"id\":\"17927213565288548\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "instagram-api-version",
              "value": "v25.0"
            },
            {
              "name": "x-app-usage",
              "value": "{\"call_volume\":0,\"cpu_time\":0}"
            },
            {
              "name": "x-stack",
              "value": "www"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 436,
      },
      {
        "_id": "2ad6f2b8bad2566bccb764b1bb56e6f4",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "fields",
              "value": "status_code,status"
            }
          ],
          "url": "https://graph.instagram.com/v25.0/17927213565288548?fields=status_code%2Cstatus"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 77,
            "text": "{\"status_code\":\"IN_PROGRESS\",\"status\":\"IN_PROGRESS\",\"id\":\"17927213565288548\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "etag",
              "value": "\"5ef9d6cfc87dee7f37b24a9e04d46b369f0cb723\""
            },
            {
              "name": "instagram-api-version",
              "value": "v25.0"
            },
            {
              "n[...]
