{
  "log": {
    "_recordingName": "kie/models-catalog-filtered",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "daf17e5571ea00647a66fb8626b8ca7f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskType",
              "value": "Text to Video,Image to Video"
            },
            {
              "name": "provider",
              "value": "Kling"
            }
          ],
          "url": "https://api.kie.ai/api/v1/models?taskType=Text%20to%20Video%2CImage%20to%20Video&provider=Kling"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 6965,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"total\":13,\"models\":[{\"model\":\"kling/v2-1-master-text-to-video\",\"slug\":\"kling/v2-1-master-text-to-video\",\"title\":\"Affordable Kling 2.1 Master API — Premium Text-to-Video Generation\",\"provider\":\"Kling\",\"taskType\":[\"Text to Video\"],\"description\":\"Kling 2.1 Master API is the premium endpoint of the Kling 2.1 model developed by Kuaishou. It enables text-to-video and image-to-video generation with cinematic quality, motion fluidity, and prompt precision in 1080p resolution.\",\"pricingDesc\":\"A 5-second video costs 160 credits ($0.80), and a 10-second video costs 320 credits ($1.60).\\nHigh-tier top-ups (+10% bonus) bring effective pricing down to ~$0.72 for a 5-second video and ~$1.44 for a 10-second video.\"},{\"model\":\"kling/v2-1-master-image-to-video\",\"slug\":\"kling/v2-1-master-image-to-video\",\"title\":\"Kling v2.1 Master API: AI Image to Video API\",\"provider\":\"Kling\",\"taskType\":[\"Image to Video\"],\"description\":\"Unleash Cinematic Magic: Turn Static Images int[...]
