{
  "log": {
    "_recordingName": "youtube/channels-list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2a70679a52f5755cb2a58900a3615dec",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "mine",
              "value": "true"
            }
          ],
          "url": "https://www.googleapis.com/youtube/v3/channels?part=snippet&mine=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1438,
            "text": "{\n  \"kind\": \"youtube#channelListResponse\",\n  \"etag\": \"BhTGtilB0DANfoyudlccSVkJYwU\",\n  \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\": 5\n  },\n  \"items\": [\n    {\n      \"kind\": \"youtube#channel\",\n      \"etag\": \"1VDP36nUXsT4j-8fssJkuVb403Q\",\n      \"id\": \"UCa-CiD2Cn3M4v5bCyIgZT8A\",\n      \"snippet\": {\n        \"title\": \"Justin W. Tanner\",\n        \"description\": \"Justin Tanner hosts 'Zoomer News' and is the author of no books.\",\n        \"customUrl\": \"@justinwadetanner\",\n        \"publishedAt\": \"2008-09-27T01:34:39Z\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\": \"https://yt3.ggpht.com/yG9dDn1jrVtRsyfxFOT4FwUb0SylVde2OcFM51h-0_0BEPREuxVf814QEQox6NPAZjLQda6gFw=s88-c-k-c0x00ffffff-no-rj\",\n            \"width\": 88,\n            \"height\": 88\n          },\n          \"medium\": {\n            \"url\": \"https://yt3.ggpht.com/yG9dDn1jrVtRsyfxFOT4FwUb0SylVde2OcFM51h-0_0BEPREuxVf814QEQox6NPAZjLQda6gFw=s240-c-k-c0x00ffffff-no-rj\",\n            \"width\": 240,\n            \"height\": 240\n          },\n          \"high\": {\n            \"url\": \"https://yt3.ggpht.com/yG9dDn1jrVtRsyfxFOT4FwUb0SylVde2OcFM51h-0_0BEPREuxVf814QEQox6NPAZjLQda6gFw=s800-c-k-c0x00ffffff-no-rj\",\n            \"width\": 800,\n            \"height\": 800\n          }\n        },\n        \"localized\": {\n          \"title\": \"Justin W. Tanner\",\n          \"description\": \"Justin Tanner hosts 'Zoomer News' and is the author of no books.\"\n        }\n      }\n    }\n  ]\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
