{
  "log": {
    "_recordingName": "kie/seedream-5-flash-image-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5387aedc09cb0c08b8ea88ce797193a1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"seedream/5-flash-image-to-image\",\"input\":{\"prompt\":\"Restyle the reference as a watercolor illustration, preserving the subject and composition.\",\"image_urls\":[\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\"],\"aspect_ratio\":\"1:1\",\"size\":\"1K\",\"output_format\":\"png\",\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"2bbd8c00eb932d15d0063914a427da92\",\"recordId\":\"2bbd8c00eb932d15d0063914a427da92\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 269,
      },
      {
        "_id": "6ad526228ca5ac713e0f4b8e7c548442",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "2bbd8c00eb932d15d0063914a427da92"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=2bbd8c00eb932d15d0063914a427da92"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1162,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"2bbd8c00eb932d15d0063914a427da92\",\"model\":\"seedream/5-flash-image-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"size\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"Restyle the reference as a watercolor illustration, preserving the subject and composition.\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"seedream/5-flash-image-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1791186132715,\"creditsConsumed\":3.24,\"operationType\":\"seedream/5-flash-image-to-image\",\"successFlag\":0,\"paramJson\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"size\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1764851484363_ScV1s2aq.webp\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"Restyle the reference as a watercolor illustration, preserving the subject and composition.\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"seedream/5-flash-image-to-image\[...]
