{
  "log": {
    "_recordingName": "elevenlabs/convai-agent-branches",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b5e0e0c984b84220bbe26e7a9598b7b7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Apicity agent-branches route test\",\"conversation_config\":{\"agent\":{\"prompt\":{\"prompt\":\"You are a helpful Apicity route-test assistant.\"},\"first_message\":\"Hello from Apicity.\",\"language\":\"en\"}},\"tags\":[\"apicity-test\"]}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/agents/create"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 165,
            "text": "{\"agent_id\":\"agent_9801kw7c5j0xeq5tm079nh38vpcr\",\"main_branch_id\":\"agtbrch_2101kw7c5jmgemtt2a0d82pchz0k\",\"initial_version_id\":\"agtvrsn_0801kw7c5jr6f8k8jcnk6kaacbmd\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-warning",
              "value": "The ASR provider 'elevenlabs' (Original ASR) is deprecated and will be replaced by the current default 'scribe_realtime' (Scribe v2.2 Realtime) on 2026-07-08."
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1272,
      },
      {
        "_id": "49387e225cecd3465bea0a7290e9acca",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include_archived",
              "value": "true"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ],
          "url": "https://api.elevenlabs.io/v1/convai/agents/agent_9801kw7c5j0xeq5tm079nh38vpcr/branches?include_archived=true&limit=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 608,
            "text": "{\"meta\":{\"total\":1,\"page\":1,\"page_size\":1},\"results\":[{\"id\":\"agtbrch_2101kw7c5jmgemtt2a0d82pchz0k\",\"name\":\"Main\",\"agent_id\":\"agent_9801kw7c5j0xeq5tm079nh38vpcr\",\"description\":\"The default branch for your agent.\",\"created_at\":1782659074,\"last_committed_at\":1782659074,\"is_archived\":false,\"protection_status\":\"writer_perms_required\",\"access_info\":{\"is_creator\":true,\"creator_name\":\"subs@jwtanner.com\",\"creator_email\":\"subs@jwtanner.com\",\"role\":\"admin\",\"anonymous_access_level_override\":null,\"access_source\":\"creator\"},\"current_live_percentage\":100.0,\"parent_branch_id\":null,\"draft_exists\":false,\"calls_7d\":0}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 194,
      },
      {
        "_id": "79080e8d7e5fe1c39b5670d9a6a5718b",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/agents/agent_9801kw7c5j0xeq5tm079nh38vpcr"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 763,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
