{
  "log": {
    "_recordingName": "kie/file-base64-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "82f2ccb8726515bc47e187392de91663",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"base64Data\":\"SGVsbG8gV29ybGQ=\",\"uploadPath\":\"documents/test-uploads\",\"fileName\":\"test.txt\"}"
          },
          "queryString": [],
          "url": "https://kieai.redpandaai.co/api/file-base64-upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 336,
            "text": "{\"success\":true,\"code\":200,\"msg\":\"File uploaded successfully\",\"data\":{\"success\":true,\"fileName\":\"test.txt\",\"filePath\":\"kieai/136592/documents/test-uploads/test.txt\",\"downloadUrl\":\"https://tempfile.redpandaai.co/kieai/136592/documents/test-uploads/test.txt\",\"fileSize\":11,\"mimeType\":\"text/plain\",\"uploadedAt\":\"2026-04-09T13:24:35.696Z\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 797,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
