{
  "log": {
    "_recordingName": "fal/openai-gpt-image-2-5-sunburst-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a70f51bbaa4a03d50a6e8e91028b11db",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red balloon.\",\"quality\":\"low\"}"
          },
          "queryString": [],
          "url": "https://fal.run/openai/gpt-image-2.5/sunburst/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 216,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad876a/C6pkJKFTbtyYbiKkW31sE_SLp0CX8s.png\",\"content_type\":\"image/png\",\"file_name\":\"C6pkJKFTbtyYbiKkW31sE_SLp0CX8s.png\",\"file_size\":null,\"width\":null,\"height\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.0041"
            },
            {
              "name": "x-fal-served-from",
              "value": "b2fceb43-1c5d-455b-992e-20d6b7cd63a7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 9870,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
