{
  "log": {
    "_recordingName": "kie/kling-30-omni-transformation",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ca4de69b4bc492fcbae4d7d09ed5584c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"kling-3.0-omni/transformation\",\"input\":{\"prompt\":\"Restyle this clip as a hand-painted watercolor animation while preserving the original motion.\",\"video_urls\":[\"https://tempfile.aiquickdraw.com/k/4cc9f14b3b1d99f44b0aee35bd68cefa_1_1787236220_9378.mp4\"],\"resolution\":\"720p\",\"aspect_ratio\":\"auto\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"9519b5360739294edcf63390b54e6428\",\"recordId\":\"9519b5360739294edcf63390b54e6428\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 457,
      },
      {
        "_id": "40212b67005bc15d6a2b3ec2d6dc1434",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "9519b5360739294edcf63390b54e6428"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=9519b5360739294edcf63390b54e6428"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 735,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"9519b5360739294edcf63390b54e6428\",\"model\":\"kling-3.0-omni/transformation\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"auto\\\\\\\",\\\\\\\"generate_type\\\\\\\":\\\\\\\"transformation\\\\\\\",\\\\\\\"elements\\\\\\\":[],\\\\\\\"image_urls\\\\\\\":[],\\\\\\\"video_urls\\\\\\\":[\\\\\\\"https://tempfile.aiquickdraw.com/k/4cc9f14b3b1d99f44b0aee35bd68cefa_1_1787236220_9378.mp4\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"Restyle this clip as a hand-painted watercolor animation while preserving the original motion.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"kling-3.0-omni/transformation\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1787237335813,\"creditsConsumed\":100.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 226,
      },
      {
        "_id": "40212b67005bc15d6a2b3ec2d6dc1434",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
    [...]
