{
  "log": {
    "_recordingName": "fal/ideogram45-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b4d577c38784c8c9e319df43f3692d3f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Render this scene as a watercolor painting while preserving its composition.\",\"image_url\":\"https://v3b.fal.media/files/b/0a8b90e0/BFLE9VDlZqsryU-UA3BoD_image_004.png\",\"quality\":\"very_low\",\"num_images\":1}"
          },
          "queryString": [],
          "url": "https://fal.run/ideogram/v4.5/edit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 206,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad23b7/OcRJnzqu-hjCP0aoMVayB_xn7hUy9S.png\",\"content_type\":\"image/png\",\"file_name\":\"OcRJnzqu-hjCP0aoMVayB_xn7hUy9S.png\",\"file_size\":null}],\"seed\":539462116}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "8"
            },
            {
              "name": "x-fal-served-from",
              "value": "f689679f-9cf6-4d37-a835-a84c32984b00"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 8908,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
