{
  "log": {
    "_recordingName": "kie/suno/replace-music-section-submit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e3e929b6a996ff3d8fe76dd51063a215",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"taskId\":\"test-task-id\",\"audioId\":\"test-audio-id\",\"prompt\":\"Replace with upbeat electronic section\",\"tags\":\"electronic, upbeat\",\"title\":\"Test Replacement\",\"infillStartS\":10,\"infillEndS\":20,\"callBackUrl\":\"https://example.com/cb\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate/replace-section"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 59,
            "text": "{\"code\":422,\"msg\":\"fullLyrics cannot be blank\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 380,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
