{
  "log": {
    "_recordingName": "elevenlabs/voice",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "34082f18c2b5b5ec140a98a828ef1cf2",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "with_settings",
              "value": "false"
            }
          ],
          "url": "https://api.elevenlabs.io/v1/voices/hpp4J3VqNfWAUOO0d1Us?with_settings=false"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3871,
            "text": "{\"voice_id\":\"hpp4J3VqNfWAUOO0d1Us\",\"name\":\"Bella - Professional, Bright, Warm\",\"samples\":null,\"category\":\"premade\",\"fine_tuning\":{\"is_allowed_to_fine_tune\":true,\"state\":{\"eleven_multilingual_v2\":\"fine_tuned\",\"eleven_turbo_v2_5\":\"fine_tuned\",\"eleven_flash_v2\":\"fine_tuned\",\"eleven_v2_5_flash\":\"fine_tuned\",\"eleven_flash_v2_5\":\"fine_tuned\",\"eleven_v2_flash\":\"fine_tuned\",\"eleven_turbo_v2\":\"fine_tuned\"},\"verification_failures\":[],\"verification_attempts_count\":0,\"manual_verification_requested\":false,\"language\":\"en\",\"progress\":{},\"message\":{\"eleven_multilingual_v2\":\"\",\"eleven_turbo_v2_5\":\"\",\"eleven_flash_v2\":\"\",\"eleven_v2_5_flash\":\"\",\"eleven_flash_v2_5\":\"\",\"eleven_v2_flash\":\"\",\"eleven_turbo_v2\":\"\"},\"dataset_duration_seconds\":null,\"verification_attempts\":null,\"slice_ids\":null,\"manual_verification\":null,\"max_verification_attempts\":0,\"next_max_verification_attempts_reset_unix_ms\":0},\"labels\":{\"descriptive\":\"professional\",\"accent\":\"american\",\"use_case\":\"informative_educational\",\"gender\":\"female\",\"language\":\"en\",\"age\":\"middle_aged\"},\"description\":\"This voice is warm, bright, and professional, characterized by a Standard American accent and a polished, narrative quality. It features a medium-high pitch with crisp diction and a deliberate, rhythmic pace that makes it highly intelligible and engaging for long-form listening.\",\"preview_url\":\"https://storage.googleapis.com/eleven-public-prod/premade/voices/hpp4J3VqNfWAUOO0d1Us/dab0f5ba-3aa4-48a8-9fad-f138fea1126d.mp3\",\"available_for_tiers\":[],\"settings\":{\"stability\":0.5,\"use_speaker_boost\":true,\"similarity_boost\":0.75,\"style\":0.0,\"speed\":1.0},\"sharing\":null,\"high_quality_base_model_ids\":[\"eleven_turbo_v2_5\",\"eleven_v2_5_flash\",\"eleven_flash_v2_5\",\"eleven_turbo_v2\",\"eleven_v2_flash\",\"eleven_flash_v2\",\"eleven_multilingual_v2\"],\"verified_languages\":[{\"language\":\"en\",\"model_id\":\"eleven_turbo_v2_5\",\"accent\":\"american\",\"locale\":\"en-US\",\"preview_url\":\"https://storage.googleapis.com/eleven-public-prod/premade/voices/hpp4J3VqNfWAUOO0d1Us/dab0f5ba-3aa4-48a8-9fad-f138fea1126d.mp3\"},{\"language\":\"en\",\"model_id\":\"eleven_v2_5_flash\",\"accent\":\"american\",\"locale\":\"en-US\",\"preview_url\":\"https://storage.googleapis.com/eleven-public-prod/premade/voices/hpp4J3VqNfWAUOO0d1Us/dab0f5ba-3aa4-48a8-9fad-f138fea1126d.mp3\"},{\"language\":\"en\",\"model_id\":\"eleven_flash_v2_5\",\"accent\":\"american\",\"locale\":\"[...]
