{
  "log": {
    "_recordingName": "fal/google-gemini-3-8-flash-lite-tts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d60d315918e65fa00dc2386d3fb15273",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red panda waves once, then holds still.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/google/gemini-3.8-flash-lite-tts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 184,
            "text": "{\"audio\":{\"url\":\"https://v3b.fal.media/files/b/0aad2527/MgFeC76hf4IYXYdYTcAbM_gemini_tts_output.wav\",\"content_type\":\"audio/wav\",\"file_name\":\"gemini_tts_output.wav\",\"file_size\":163504}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.041"
            },
            {
              "name": "x-fal-served-from",
              "value": "826b73e0-59c8-4428-8470-fd1d69628a3d"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 22702,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
