{
  "log": {
    "_recordingName": "free-media-upload/filebin-upload-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "53d24348abae75257b97fb96ae297d7c",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://filebin.net/apicity-test-video/jump.mp4"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 366,
            "text": "{\n    \"bin\": {\n        \"id\": \"apicity-test-video\",\n        \"readonly\": false,\n        \"bytes\": 0,\n        \"bytes_readable\": \"0 B\",\n        \"files\": 0,\n        \"updated_at\": \"2026-05-13T14:01:40.990121Z\",\n        \"updated_at_relative\": \"now\",\n        \"created_at\": \"2026-05-13T14:01:40.839596Z\",\n        \"created_at_relative\": \"now\",\n        \"expired_at\": \"2026-05-20T14:01:40.990121Z\",\n        \"expired_at_relative\": \"6 days from now\"\n    },\n    \"file\": {\n        \"filename\": \"jump.mp4\",\n        \"content-type\": \"video/mp4\",\n        \"bytes\": 1318021,\n        \"bytes_readable\": \"1.3 MB\",\n        \"md5\": \"bt6vXvGYC3ZYm4IqmMFx4Q==\",\n        \"sha256\": \"6f1e2c3db9b8ebe3977322d40b425549e0ca3304a61615e3a30dbac1651808b1\",\n        \"updated_at\": \"2026-05-13T14:01:40.954136Z\",\n        \"updated_at_relative\": \"now\",\n        \"created_at\": \"2026-05-13T14:01:40.954136Z\",\n        \"created_at_relative\": \"now\"\n    }\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-report-abuse",
              "value": "abuse@filebin.net"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 298,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
