{
  "log": {
    "_recordingName": "kie/runway/extend-not-found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2af11a90a0833ed310f1856bf700c4fa",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"taskId\":\"apicity-test-nonexistent-task-id-do-not-record-real\",\"prompt\":\"Continue the scene with a slow zoom out.\",\"quality\":\"720p\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/runway/extend"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"1b6952ef959c5a5c1ef7d791db1522f2\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 400,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
