{
  "log": {
    "_recordingName": "fal/minimax-h3-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "912655c37810fc89c61f50ca5ca5145a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A white kitten chases a butterfly across a sunlit garden. Gentle camera tracking, natural movement, soft afternoon light.\",\"duration\":5,\"resolution\":\"480P\",\"prompt_expansion_mode\":\"disabled\"}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/h3/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 216,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa81f98/MlLuhwjEmYL6wuSYLIP1h_minimax-h3.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"MlLuhwjEmYL6wuSYLIP1h_minimax-h3.mp4\",\"file_size\":3556188},\"expanded_prompt\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "5.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "de2e10fb-d40c-4912-b44b-40b03915f442"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3838,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
