{
  "log": {
    "_recordingName": "elevenlabs/voice-pvc-update",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e7bf7ac8c5012d4f32bd8058a7a29798",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Apicity PVC Voice\",\"language\":\"en\",\"description\":null,\"labels\":{\"accent\":\"neutral\"}}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/voices/pvc/invalid_voice_id"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 272,
            "text": "{\"detail\":{\"type\":\"not_found\",\"code\":\"voice_not_found\",\"message\":\"A voice with ID 'invalid_voice_id' was not found or you do not have access to it. Please make sure the voice is shared with you.\",\"status\":\"voice_not_found\",\"request_id\":\"d0945343c908d702226a467188333c43\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-trace-id",
              "value": "d0945343c908d702226a467188333c43"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 894,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
