{
  "log": {
    "_recordingName": "kie/models-schema",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ab6b10d5d62c9addadb10278982488e0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/models/kling/v2-1-master-text-to-video/schema"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 9918,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"model\":\"kling/v2-1-master-text-to-video\",\"openapi\":{\"openapi\":\"3.1.0\",\"info\":{\"title\":\"kie.ai\",\"description\":\"kie.ai API 文档\",\"version\":\"1.0.0\",\"contact\":{\"name\":\"技术支持\",\"email\":\"support@kie.ai\"}},\"tags\":[],\"paths\":{\"/api/v1/jobs/createTask\":{\"post\":{\"summary\":\"Kling V2.1 Master Text to Video\",\"deprecated\":false,\"description\":\"## Query Task Status\\n\\nAfter submitting a task, use the unified query endpoint to check progress and retrieve results:\\n\\n<Card title=\\\"Get Task Details\\\" icon=\\\"lucide-search\\\" href=\\\"/market/common/get-task-detail\\\">\\n  Learn how to query task status and retrieve generation results\\n</Card>\\n\\n::: tip[]\\nFor production use, we recommend using the `callBackUrl` parameter to receive automatic notifications when generation completes, rather than polling the status endpoint.\\n:::\\n\\n## Related Resources\\n\\n<CardGroup cols={2}>\\n  <Card title=\\\"Market Overview\\\" icon=\\\"lucide-store\\\" href=\\\"/market/quickstart\\\">\\n    Explore all available models\\n  </Card>\\n  <Card title=\\\"Common API\\\" icon=\\\"lucide-cog\\\" href=\\\"/common-api/get-account-credits\\\">\\n    Check credits and account usage\\n  </Card>\\n</CardGroup>\\n\",\"operationId\":\"kling-v2-1-master-text-to-video\",\"tags\":[],\"parameters\":[],\"requestBody\":{\"content\":{\"application/json\":{\"schema\":{\"type\":\"object\",\"required\":[\"model\"],\"properties\":{\"model\":{\"type\":\"string\",\"enum\":[\"kling/v2-1-master-text-to-video\"],\"default\":\"kling/v2-1-master-text-to-video\",\"description\":\"The model name to use for generation. Required field.\\n\\n- Must be `kling/v2-1-master-text-to-video` for this endpoint\",\"examples\":[\"kling/v2-1-master-text-to-video\"]},\"callBackUrl\":{\"type\":\"string\",\"format\":\"uri\",\"description\":\"The URL to receive generation task completion updates. Optional but recommended for production use.\\n\\n- System will POST task status and results to this URL when generation completes\\n- Callback includes generated content URLs and task information\\n- Your callback endpoint should accept POST requests with JSON payload containing results\\n- Alternatively, use the Get Task Details endpoint to poll task status\\n- To ensure callback security, see [Webhook Verification Guide](/common-api/webhook-verification) for signature verification implementation\",\"examples\":[\"https://your-domain.com/api/callback\"]},\"input\":{\"type\":\"object\",\"description\":\"Input parameters for the generation task\",\"properties\":{\"prompt\":{\"description\":\"The text prompt describing the video you want to generate (Max length: 5000 characters)\",\"type\":\"string\",\"maxLength\":5000,\"examples\":[\"First-person view from a soldier jumping from a transport plane — the camera shakes with turbulence, oxygen mask reflections flicker — as the clouds part, the battlefield below pulses with anti-air fire and missile trails.\"]},\"duration\":{\"description\":\"The duration of the generated video in seconds\",\"type\":\"string\",\"enum\":[\"5\",\"10\"],\"default\":\"5\",\"examples\":[\"5\"]},\"aspect_ratio\":{\"description\":\"The aspect ratio of the generated video frame\",\"type\":\"string\",\"enum\":[\"16:9\",\"9:16\",\"1:1\"],\"default\":\"16:9\",\"examples\":[\"16:9\"]},\"negative_prompt\":{\"description\":\"Elements to avoid in the generated video (Max length: 500 characters)\",\"type\":\"string\",\"maxLength\":500,\"examples\":[\"blur, distort, and low quality\"]},\"cfg_scale\":{\"description\":\"The CFG (Classifier Free Guidance) scale is a measure of how close you want the model to stick to your prompt (Min: 0, Max: 1, Step: 0.1) (step: 0.1)\",\"type\":\"number\",\"minimum\":0,\"maximum\":1,\"default\":0.5,\"examples\":[0.5]}},\"required\":[\"prompt\"]}}},\"example\":{\"model\":\"kling/v2-1-master-text-to-video\",\"callBackUrl\":\"https://your-domain.com/api/callback\",\"input\":{\"prompt\":\"First-person view from a soldier jumping from a transport plane — the camera shakes with turbulence, oxygen mask reflections flicker — as the clouds part, the battlefield below pulses with anti-air fire and missile trails.\",\"duration\":\"5\",\"aspect_ratio\":\"16:9\",\"negative_prompt\":\"blur, distort, and low quality\",\"cfg_scale\":0.5}}}},\"required\":true},\"responses\":{\"200\":{\"description\":\"Request successful\",\"content\":{\"application/json\":{\"schema\":{\"allOf\":[{\"$ref\":\"#/components/schemas/response%20not%20with%20recordId\"}]},\"example\":{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"task_kling_1765187781310\"}}}},\"headers\":{}}},\"security\":[{\"BearerAuth\":[]}],\"callbacks\":{\"videoTaskCompleted\":{\"{request.body#/callBackUrl}\":{\"post\":{\"description\":\"The system sends this callback when the `kling/v2-1-master-text-to-video` task succeeds or fails.\",\"requestBody\":{\"required\":true,\"content\":{\"application/json\":{\"schema\":{\"type\":\"object\",\"required\":[\"code\",\"msg\",\"data\"],\"properties\":{\"code\":{\"type\":\"integer\",\"description\":\"Unified callback code: 200 for success, 501 for failure.\",\"enum\":[200,501]},\"msg\":{\"type\":\"string\",\"description\":\"Unified callback message.\",\"enum\":[\"Playground task completed successfully.\",\"Playground task failed.\"]},\"data\":{\"type\":\"object\",\"required\":[\"taskId\",\"model\",\"state\",\"param\",\"resultJson\",\"failCode\",\"failMsg\"],\"properties\":{\"taskId\":{\"type\":\"string\",\"description\":\"The unique task identifier.\"},\"model\":{\"type\":\"string\",\"description\":\"The model used for the task.\",\"enum\":[\"kling/v2-1-master-text-to-video\"]},\"state\":{\"type\":\"string\",\"description\":\"Terminal task state.\",\"enum\":[\"success\",\"fail\"]},\"param\":{\"type\":\"string\",\"description\":\"JSON string containing the submitted task parameters.\"},\"resultJson\":{\"type\":\"string\",\"nullable\":true,\"description\":\"JSON string containing resultUrls, firstFrameUrl, lastFrameUrl, or resultObject when successful. Null when failed.\"},\"failCode\":{\"type\":\"string\",\"nullable\":true,\"description\":\"Null when successful; failure code when failed.\"},\"failMsg\":{\"type\":\"string\",\"nullable\":true,\"description\":\"Null when successful; failure message when failed.\"},\"costTime\":{\"type\":\"integer\",\"format\":\"int64\",\"description\":\"Task processing time. Present on successful callbacks.\"},\"completeTime\":{\"type\":\"integer\",\"format\":\"int64\",\"description\":\"Task completion timestamp.\"},\"createTime\":{\"type\":\"integer\",\"format\":\"int64\",\"description\":\"Task creation timestamp.\"},\"updateTime\":{\"type\":\"integer\",\"format\":\"int64\",\"description\":\"Task update timestamp.\"},\"creditsConsumed\":{\"type\":\"number\",\"description\":\"Credits consumed by the task. Present on successful callbacks.\"}}}}},\"examples\":{\"success\":{\"summary\":\"Task completed successfully\",\"value\":{\"code\":200,\"msg\":\"Playground task completed successfully.\",\"data\":{\"taskId\":\"task_example_video_webhook_001\",\"model\":\"kling/v2-1-master-text-to-video\",\"state\":\"success\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"prompt\\\\\\\":\\\\\\\"First-person view from a soldier jumping from a transport plane — the camera shakes with turbulence, oxygen mask refl...\\\\\\\",\\\\\\\"duration\\\\\\\":\\\\\\\"5\\\\\\\",\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"negative_prompt\\\\\\\":\\\\\\\"blur, distort, and low quality\\\\\\\",\\\\\\\"cfg_scale\\\\\\\":0.5}\\\",\\\"callBackUrl\\\":\\\"https://example.com/callback\\\",\\\"model\\\":\\\"kling/v2-1-master-text-to-video\\\"}\",\"resultJson\":\"{\\\"resultUrls\\\":[\\\"https://example.com/generated-video.mp4\\\"]}\",\"costTime\":12,\"completeTime\":1234567890,\"createTime\":1234560000,\"updateTime\":1234567890,\"creditsConsumed\":1.23}}},\"failure\":{\"summary\":\"Task failed\",\"value\":{\"code\":501,\"msg\":\"Playground task failed.\",\"data\":{\"taskId\":\"task_example_video_webhook_001\",\"model\":\"kling/v2-1-master-text-to-video\",\"state\":\"fail\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"prompt\\\\\\\":\\\\\\\"First-person view from a soldier jumping from a transport plane — the camera shakes with turbulence, oxygen mask refl...\\\\\\\",\\\\\\\"duration\\\\\\\":\\\\\\\"5\\\\\\\",\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"negative_prompt\\\\\\\":\\\\\\\"blur, distort, and low quality\\\\\\\",\\\\\\\"cfg_scale\\\\\\\":0.5}\\\",\\\"callBackUrl\\\":\\\"https://example.com/callback\\\",\\\"model\\\":\\\"kling/v2-1-master-text-to-video\\\"}\",\"failCode\":\"GENERATION_FAILED\",\"failMsg\":\"The generation task failed.\"}}}}}}},\"responses\":{\"200\":{\"description\":\"Callback received successfully.\",\"content\":{\"application/json\":{\"schema\":{\"type\":\"object\",\"properties\":{\"code\":{\"type\":\"integer\",\"example\":200},\"msg\":{\"type\":\"string\",\"example\":\"success\"}}},\"example\":{\"code\":200,\"msg\":\"success\"}}}}}}}}}}}},\"webhooks\":{},\"components\":{\"schemas\":{\"response not with recordId\":{\"type\":\"object\",\"required\":[\"data\"],\"properties\":{\"code\":{\"type\":\"integer\",\"description\":\"Response Status Codes\\n\\n200: Success - The request was successfully processed.\\n\\n401: Unauthorized - Insufficient or invalid authentication credentials.\\n\\n402: Insufficient Quota - The account has insufficient quota to perform this operation.\\n\\n404: Not Found - The requested resource or interface does not exist.\\n\\n422: Validation Error - The request parameters failed the validation check.\\n\\n429: Request Restricted - The request frequency limit for this resource has been exceeded.\\n\\n433: Request Limit - The subkey usage exceeded the limit.\\n\\n455: Service Unavailable - The system is currently under maintenance.\\n\\n500: Server Error - An unexpected error occurred while processing the request.\\n\\n501: Generation Failed - The content generation task failed.\\n\\n505: Feature Disabled - The requested feature is currently disabled.\",\"enum\":[200,401,402,404,422,429,433,455,500,501,505]},\"msg\":{\"type\":\"string\",\"description\":\"Response message, error description upon failure\",\"examples\":[\"success\"]},\"data\":{\"type\":\"object\",\"required\":[\"taskId\"],\"properties\":{\"taskId\":{\"type\":\"string\",\"description\":\"The task ID can be used with the \\\"Get Task Details\\\" endpoint to query the task status.\",\"examples\":[\"dc1928bfcbc77cb6c85f3359a9c718b3\"]}}}}}},\"responses\":{},\"securitySchemes\":{\"BearerAuth\":{\"type\":\"http\",\"scheme\":\"bearer\",\"bearerFormat\":\"API Key\",\"description\":\"All API requests require a Bearer Token. Add the header `Authorization: Bearer YOUR_API_KEY` to authenticate requests.\"}}},\"servers\":[{\"url\":\"https://api.kie.ai\",\"description\":\"正式环境\"}],\"security\":[{\"BearerAuth\":[]}]}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 194,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
