{
  "log": {
    "_recordingName": "elevenlabs/audio-native",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f624a765b267ec6095075f3f16b8c890",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"name\":\"Apicity Audio Native Test\",\"file\":{\"_file\":true,\"filename\":\"blob\",\"contentType\":\"text/html\",\"size\":125},\"auto_convert\":\"false\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/audio-native"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 641,
            "text": "{\"project_id\":\"PpaK2BEEfuXqSLcm1DBZ\",\"converting\":false,\"html_snippet\":\"<div id=\\\"elevenlabs-audionative-widget\\\" data-height=\\\"90\\\" data-width=\\\"100%\\\" data-frameborder=\\\"no\\\" data-scrolling=\\\"no\\\" data-publicuserid=\\\"2d945fd8c34731ddf38a0b25d167f5f8841fef1e85838fd3c6f155a657b1b3ad\\\" data-playerurl=\\\"https://elevenlabs.io/player/index.html\\\" data-projectid=\\\"PpaK2BEEfuXqSLcm1DBZ\\\" >Loading the <a href=\\\"https://elevenlabs.io/text-to-speech\\\" target=\\\"_blank\\\" rel=\\\"noopener\\\">Elevenlabs Text to Speech</a> AudioNative Player...</div><script src=\\\"https://elevenlabs.io/player/audioNativeHelper.js\\\" type=\\\"text/javascript\\\"></script>\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3243,
      },
      {
        "_id": "6ec00dff0ec0ebf50f8e6e4c977f401c",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/audio-native/PpaK2BEEfuXqSLcm1DBZ/settings"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 218,
            "text": "{\"enabled\":true,\"snapshot_id\":null,\"settings\":{\"title\":\"\",\"image\":\"\",\"author\":\"\",\"small\":true,\"text_color\":\"#000000\",\"background_color\":\"#ffffff\",\"sessionization\":0,\"audio_path\":null,\"audio_url\":null,\"status\":\"ready\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 186,
      },
      {
        "_id": "c7690b876d7c59f49adfc4b9006096a1",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"blob\",\"contentType\":\"text/html\",\"size\":125},\"auto_convert\":\"false\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/audio-native/PpaK2BEEfuXqSLcm1DBZ/content"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 660,
            "text": "{\"project_id\":\"PpaK2BEEfuXqSLcm1DBZ\",\"converting\":false,\"publishing\":false,\"html_snippet\":\"<div id=\\\"elevenlabs-audionative-widget\\\" data-height=\\\"90\\\" data-width=\\\"100%\\\" data-frameborder=\\\"no\\\" data-scrolling=\\\"no\\\" data-publicuserid=\\\"2d945fd8c34731ddf38a0b25d167f5f8841fef1e85838fd3c6f155a657b1b3ad\\\" data-playerurl=\\\"https://elevenlabs.io/player/index.html\\\" data-projectid=\\\"PpaK2BEEfuXqSLcm1DBZ\\\" >Loading the <a href=\\\"https://elevenlabs.io/text-to-speech\\\" target=\\\"_blank\\\" rel=\\\"noopener\\\">Elevenlabs Text to Speech</a> AudioNative Player...</div><script src=\\\"https://elevenlabs.io/player/audioNativeHelper.js\\\" type=\\\"text/javascript\\\"></script>\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2835,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
