{
  "log": {
    "_recordingName": "zaicoding/usage-model-usage",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6589b21f1fa06d896a4dad48da4b7c43",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.z.ai/api/monitor/usage/model-usage"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-log-id",
              "value": "202606271306287e279e494d254d4a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 866,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
