{
  "log": {
    "_recordingName": "elevenlabs/convai-phone-numbers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ea1f7cf8c42396c8b49a796a9ccdbb68",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"phone_number\":\"+12025550168\",\"label\":\"Apicity phone-number route test\",\"provider\":\"sip_trunk\",\"outbound_trunk_config\":{\"address\":\"sip.apicity-route-test.invalid\",\"transport\":\"udp\"}}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/phone-numbers"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 56,
            "text": "{\"phone_number_id\":\"phnum_7401kw6sgscye4jrzbvbnfy50r1n\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 594,
      },
      {
        "_id": "ed717c122d5b89e745142f42636a2a47",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/phone-numbers/phnum_7401kw6sgscye4jrzbvbnfy50r1n"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 778,
            "text": "{\"phone_number\":\"+12025550168\",\"label\":\"Apicity phone-number route test\",\"supports_inbound\":false,\"supports_outbound\":true,\"phone_number_id\":\"phnum_7401kw6sgscye4jrzbvbnfy50r1n\",\"assigned_agent\":null,\"provider\":\"sip_trunk\",\"provider_config\":{\"address\":\"sip.apicity-route-test.invalid\",\"transport\":\"udp\",\"media_encryption\":\"allowed\",\"headers\":{},\"attributes_to_headers\":{},\"has_auth_credentials\":false,\"username\":null,\"has_outbound_trunk\":true,\"enabled_codecs\":[]},\"outbound_trunk\":{\"address\":\"sip.apicity-route-test.invalid\",\"transport\":\"udp\",\"media_encryption\":\"allowed\",\"headers\":{},\"attributes_to_headers\":{},\"has_auth_credentials\":false,\"username\":null,\"has_outbound_trunk\":true,\"enabled_codecs\":[]},\"inbound_trunk\":null,\"livekit_stack\":\"standard\",\"store_sip_messages\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 177,
      },
      {
        "_id": "382ab80e08f305022ea0deb4ac2ed824",
        "request": {
          "headers": [
            {
              "name": "x[...]
