{
  "log": {
    "_recordingName": "polymarket/data-value",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "04369ab1cc8373409726c674267a0696",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "user",
              "value": "0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e"
            }
          ],
          "url": "https://data-api.polymarket.com/value?user=0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 74,
            "text": "[{\"user\":\"0xf9ac4c4ef54ee6010a28299ec1d616b63bf7806e\",\"value\":10429.3929}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Wed, 06 May 2026 05:11:31 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 494,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
