{
  "log": {
    "_recordingName": "kie/gemini-3-8-flash-tts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "91e70a990ee8cd95982ed3f4222bdd55",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"google/gemini-3-8-flash-tts\",\"input\":{\"speakers\":[{\"speaker_id\":\"Speaker 1\",\"voice_name\":\"Fola\"}],\"dialogue_turns\":[{\"speaker_id\":\"Speaker 1\",\"text\":\"Hello from Apicity. Have a wonderful day.\",\"style\":\"Warm and friendly\"}]}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ef0143c76169584d0d6c75ae35b8fdb2\",\"recordId\":\"ef0143c76169584d0d6c75ae35b8fdb2\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 232,
      },
      {
        "_id": "7d0af3c10f44795901825f7610e0bc6c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "ef0143c76169584d0d6c75ae35b8fdb2"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=ef0143c76169584d0d6c75ae35b8fdb2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1152,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ef0143c76169584d0d6c75ae35b8fdb2\",\"model\":\"google/gemini-3-8-flash-tts\",\"state\":\"generating\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"speakers\\\\\\\":[{\\\\\\\"speaker_id\\\\\\\":\\\\\\\"Speaker 1\\\\\\\",\\\\\\\"voice_name\\\\\\\":\\\\\\\"Fola\\\\\\\"}],\\\\\\\"model\\\\\\\":\\\\\\\"gemini-3.8-flash-tts\\\\\\\",\\\\\\\"dialogue_turns\\\\\\\":[{\\\\\\\"speaker_id\\\\\\\":\\\\\\\"Speaker 1\\\\\\\",\\\\\\\"style\\\\\\\":\\\\\\\"Warm and friendly\\\\\\\",\\\\\\\"text\\\\\\\":\\\\\\\"Hello from Apicity. Have a wonderful day.\\\\\\\"}],\\\\\\\"dialogue_mode\\\\\\\":\\\\\\\"single\\\\\\\"}\\\",\\\"model\\\":\\\"google/gemini-3-8-flash-tts\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1791187099004,\"creditsConsumed\":0.0,\"operationType\":\"google/gemini-3-8-flash-tts\",\"successFlag\":0,\"paramJson\":\"{\\\"input\\\":\\\"{\\\\\\\"speakers\\\\\\\":[{\\\\\\\"speaker_id\\\\\\\":\\\\\\\"Speaker 1\\\\\\\",\\\\\\\"voice_name\\\\\\\":\\\\\\\"Fola\\\\\\\"}],\\\\\\\"model\\\\\\\":\\\\\\\"gemini-3.8-flash-tts\\\\\\\",\\\\\\\"dialogue_turns\\\\\\\":[{\\\\\\\"speaker_id\\\\\\\":\\\\\\\"Speaker 1\\\\\\\",\\\\\\\"style\\\\\\\":\\\\\\\"Warm and friendly\\\\\\\",\\\\\\\"text\\\\\\\":\\\\\\\"Hello from Apicity. Have a wonderful day.\\\\\\\"}],\\\\\\\"dialogue_mode\\\\\\\":\\\\\\\"single\\\\\\\"}\\\",\\\"mode[...]
