{
  "log": {
    "_recordingName": "kie/kling-v3-turbo-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5882ad50f1f1b2c884a8541c57fc202f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"kling/v3-turbo-text-to-video\",\"input\":{\"prompt\":\"A cinematic drone shot over glass towers at sunrise.\",\"duration\":\"5\",\"aspect_ratio\":\"16:9\",\"resolution\":\"720p\"}}"
          }
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 145,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"task_kling_v3_turbo_text_to_video_apicity\",\"recordId\":\"task_kling_v3_turbo_text_to_video_apicity\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 0,
      },
      {
        "_id": "cb9c8566f5460c4ac8dbf8e3a2ea050e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "task_kling_v3_turbo_text_to_video_apicity"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=task_kling_v3_turbo_text_to_video_apicity"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 609,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"task_kling_v3_turbo_text_to_video_apicity\",\"model\":\"kling/v3-turbo-text-to-video\",\"state\":\"success\",\"param\":\"{\\\"model\\\":\\\"kling/v3-turbo-text-to-video\\\",\\\"input\\\":{\\\"prompt\\\":\\\"A cinematic drone shot over glass towers at sunrise.\\\",\\\"duration\\\":\\\"5\\\",\\\"aspect_ratio\\\":\\\"16:9\\\",\\\"resolution\\\":\\\"720p\\\"}}\",\"resultJson\":\"{\\\"resultUrls\\\":[\\\"https://example.com/kie/kling-v3-turbo-text-to-video.mp4\\\"]}\",\"failCode\":\"\",\"failMsg\":\"\",\"costTime\":15000,\"completeTime\":1782351900000,\"createTime\":1782351885000,\"updateTime\":1782351900000,\"progress\":100,\"creditsConsumed\":50}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 0,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
