{
  "log": {
    "_recordingName": "fal/openai-gpt-image-2-5-flare-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ed15a303d187937eb73b0a5f4d8a68a7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red balloon.\",\"image_urls\":[\"https://storage.googleapis.com/falserverless/example_inputs/nano-banana-edit-input.png\"],\"quality\":\"low\"}"
          },
          "queryString": [],
          "url": "https://fal.run/openai/gpt-image-2.5/flare/edit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 216,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad877a/SOKe9Jj0Nnh55ELkQRVI6_BPNiaSTZ.png\",\"content_type\":\"image/png\",\"file_name\":\"SOKe9Jj0Nnh55ELkQRVI6_BPNiaSTZ.png\",\"file_size\":null,\"width\":null,\"height\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.0142"
            },
            {
              "name": "x-fal-served-from",
              "value": "7158c769-1f62-406f-98da-62201c21e656"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 13105,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
