{
  "log": {
    "_recordingName": "free-media-upload/tflink-upload-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "947eca8a0e1757a19fa2db2d9052903d",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"file\":{\"_file\":true,\"filename\":\"jump.mp4\",\"contentType\":\"video/mp4\",\"size\":1318021}}"
          },
          "queryString": [],
          "url": "https://tmpfile.link/api/upload"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 294,
            "text": "{\"fileName\":\"jump.mp4\",\"downloadLink\":\"https://d.tmpfile.link/public/2026-06-18/34f2aa2a-4c8e-4fff-87b5-34fb70f3b937/jump.mp4\",\"downloadLinkEncoded\":\"https://d.tmpfile.link/public/2026-06-18/34f2aa2a-4c8e-4fff-87b5-34fb70f3b937/jump.mp4\",\"size\":1318021,\"type\":\"video/mp4\",\"uploadedTo\":\"public\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1212,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
