{
  "log": {
    "_recordingName": "fal/topaz-upscale-video-precision",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6b78193677099865e23c6fa74bc69374",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"video_url\":\"https://v3b.fal.media/files/b/0aa81cc4/YSFz_9f2qby6PzwOC6CMz_topaz-precision-source.mp4\",\"model\":\"Proteus\",\"upscale_factor\":1.25}"
          },
          "queryString": [],
          "url": "https://fal.run/topaz/upscale/video/precision"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 161,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa81ceb/14MhOabvGKEc4rXiY_6xN_video.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"video.mp4\",\"file_size\":1571542}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "10"
            },
            {
              "name": "x-fal-served-from",
              "value": "9c64b3b3-2c21-4bf3-993f-df9d3f137ab7"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 33659,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
