{
  "log": {
    "_recordingName": "kie/veo-generate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bc856e3d1019337ce634f5c4a58639bd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A cat walking across a sunlit garden path\",\"model\":\"veo3\",\"aspectRatio\":\"16:9\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/veo/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f7a3b1c2d4e5f6a7b8c9d0e1f2a3b4c5\",\"recordId\":\"f7a3b1c2d4e5f6a7b8c9d0e1f2a3b4c5\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 520,
      },
      {
        "_id": "cb46469e5d4aaa0d3413765d38d0b51e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "f7a3b1c2d4e5f6a7b8c9d0e1f2a3b4c5"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=f7a3b1c2d4e5f6a7b8c9d0e1f2a3b4c5"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 280,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f7a3b1c2d4e5f6a7b8c9d0e1f2a3b4c5\",\"model\":\"veo3\",\"state\":\"queued\",\"param\":\"{}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1774591800000,\"progress\":0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 180,
      },
      {
        "_id": "cb46469e5d4aaa0d3413765d38d0b51e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
        [...]
