{
  "log": {
    "_recordingName": "kie/seedream-5-pro-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2f4ecf8a9702e78daa6ee9f6c188d508",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"seedream/5-pro-text-to-image\",\"input\":{\"prompt\":\"A full-process cafe design tool for entrepreneurs and designers, covering store layout, functional zoning, decoration style, and equipment selection. A clean promotional image for a cafe design SaaS product.\",\"aspect_ratio\":\"16:9\",\"quality\":\"basic\",\"output_format\":\"png\",\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"b6a305f07ac72be6cfde740ba77f25b8\",\"recordId\":\"b6a305f07ac72be6cfde740ba77f25b8\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 334,
      },
      {
        "_id": "1ae7b4feb9d375b3fc399a944eff13ee",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "b6a305f07ac72be6cfde740ba77f25b8"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=b6a305f07ac72be6cfde740ba77f25b8"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 697,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"b6a305f07ac72be6cfde740ba77f25b8\",\"model\":\"seedream/5-pro-text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A full-process cafe design tool for entrepreneurs and designers, covering store layout, functional zoning, decoration style, and equipment selection. A clean promotional image for a cafe design SaaS product.\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false,\\\\\\\"quality\\\\\\\":\\\\\\\"basic\\\\\\\"}\\\",\\\"model\\\":\\\"seedream/5-pro-text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1783662643674,\"creditsConsumed\":0.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 181,
      },
      {
        "_id": "1ae7b4feb9d375b3fc399a944eff13ee",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
      [...]
