{
  "log": {
    "_recordingName": "meta/container-status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "555bf172ad8a2023f105113093bf8d7b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "fields",
              "value": "status_code,status"
            }
          ],
          "url": "https://graph.instagram.com/v25.0/17841400000000000?fields=status_code%2Cstatus"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 65,
            "text": "{\"status_code\":\"ERROR\",\"status\":\"ERROR\",\"id\":\"17841400000000000\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "etag",
              "value": "\"6bf3872247a0524a4db8ae4f14a95d50d7dbc2e2\""
            },
            {
              "name": "instagram-api-version",
              "value": "v25.0"
            },
            {
              "name": "x-app-usage",
              "value": "{\"call_volume\":0,\"cpu_time\":0}"
            },
            {
              "name": "x-stack",
              "value": "www"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1727,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
