{
  "log": {
    "_recordingName": "fal/minimax-h3-max-lip-sync-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "092ff37bcb97f2ddddce0b9777fe03fe",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"image_url\":\"https://v3b.fal.media/files/b/0aaad42b/j8WqFxwwop_xLekc9dsyh_6d2314abeb6b464aa14271bc70f2cc21.jpg\",\"audio_url\":\"https://storage.googleapis.com/falserverless/example_inputs/elevenlabs/scribe_v2_in.mp3\",\"resolution\":\"480P\"}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/h3-max/lip-sync/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 211,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad7cfd/smAVnSuMQbPVFSMzR1b6-_dubbed.mp4\",\"content_type\":null,\"file_name\":null,\"file_size\":null},\"seed\":31213591,\"duration\":5.720844,\"timings\":{\"inference\":1.096}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "6.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "b241e36e-ccf1-477f-92af-ad6801326270"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 10454,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
