{
  "log": {
    "_recordingName": "zaicoding/usage-tool-usage",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9d2c09a9040138af7f6a903e36b75600",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.z.ai/api/monitor/usage/tool-usage"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-log-id",
              "value": "202606271306297e58a1ae5c154bbc"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 974,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
