{
  "log": {
    "_recordingName": "fal/alibaba-qwen-image-3-edit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d075d1e4eebfe07604d569874c92424c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Give the cat in image 1 a small red knitted scarf.\",\"image_urls\":[\"<inline image/jpeg data URL — replace with a real URL or upload>\"],\"image_size\":\"square\",\"num_images\":1,\"output_format\":\"png\"}"
          },
          "queryString": [],
          "url": "https://fal.run/alibaba/qwen-image-3/edit"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 207,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aa7b691/sG0p6NH2amvAC9G73xOOA_V4fPEsxv.png\",\"content_type\":\"image/png\",\"file_name\":\"sG0p6NH2amvAC9G73xOOA_V4fPEsxv.png\",\"file_size\":null}],\"seed\":2019686790}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "4.3"
            },
            {
              "name": "x-fal-served-from",
              "value": "a551979f-43af-484e-80ac-6f197db7650e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 83238,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
