{
  "log": {
    "_recordingName": "free/gofile-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8a3ba976bf285927cfec9fe94799fed",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://upload.gofile.io/uploadfile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 431,
            "text": "{\"data\":{\"createTime\":1775794005,\"downloadPage\":\"https://gofile.io/d/7oQDJ3\",\"guestToken\":\"RSMqCoTu6P7abAFEvBZlbVmPx5m1ltpT\",\"id\":\"d69696d0-64b2-4a12-b176-3683507a0bd8\",\"md5\":\"8a5d8d58c38e8305135c6fd73de87caa\",\"mimetype\":\"text/plain; charset=utf-8\",\"modTime\":1775794005,\"name\":\"test.txt\",\"parentFolder\":\"913985e3-ec8e-442d-8b5e-d5a62e704366\",\"parentFolderCode\":\"7oQDJ3\",\"servers\":[\"store3\"],\"size\":14,\"type\":\"file\"},\"status\":\"ok\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2498,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
