{
  "log": {
    "_recordingName": "free/gofile-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e8a3ba976bf285927cfec9fe94799fed",
        "request": {
          "headers": [],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://upload.gofile.io/uploadfile"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 431,
            "text": "{\"data\":{\"createTime\":1775800205,\"downloadPage\":\"https://gofile.io/d/ZV0JkD\",\"guestToken\":\"V3ACVIQxvQmiHtuRh9p5apI7Bt6q3sZX\",\"id\":\"31bd946b-c002-48a3-b254-ac1c0a9830fb\",\"md5\":\"8a5d8d58c38e8305135c6fd73de87caa\",\"mimetype\":\"text/plain; charset=utf-8\",\"modTime\":1775800205,\"name\":\"test.txt\",\"parentFolder\":\"f510828f-b9ac-4584-9c92-11c6299656ab\",\"parentFolderCode\":\"ZV0JkD\",\"servers\":[\"store3\"],\"size\":14,\"type\":\"file\"},\"status\":\"ok\"}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1887,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
