{
  "log": {
    "_recordingName": "kie/qwen3-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "dbbc6ddbe559ce4b4ead5a9fef154581",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"qwen3/text-to-image\",\"input\":{\"prompt\":\"A cinematic editorial photograph of a red fox in a snowy pine forest at blue hour.\",\"resolution\":\"1K\",\"image_size\":\"16:9\",\"output_format\":\"png\",\"prompt_extend\":false,\"nsfw_checker\":false,\"negative_prompt\":\"blurry, low contrast\",\"seed\":1}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f877719858ef5f73b92057fc78590ebe\",\"recordId\":\"f877719858ef5f73b92057fc78590ebe\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 388,
      },
      {
        "_id": "4daeb0435b4dadebe2abb798c076c9d1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "f877719858ef5f73b92057fc78590ebe"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=f877719858ef5f73b92057fc78590ebe"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 648,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"f877719858ef5f73b92057fc78590ebe\",\"model\":\"qwen3/text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"seed\\\\\\\":1,\\\\\\\"image_size\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt_extend\\\\\\\":false,\\\\\\\"negative_prompt\\\\\\\":\\\\\\\"blurry, low contrast\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A cinematic editorial photograph of a red fox in a snowy pine forest at blue hour.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"qwen3/text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1786513825067,\"creditsConsumed\":4.8}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 193,
      },
      {
        "_id": "4daeb0435b4dadebe2abb798c076c9d1",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
      [...]
