{
  "log": {
    "_recordingName": "binance/coin-m-market-data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c552445656219b10303f801c74e5291b",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://dapi.binance.com/dapi/v1/ping"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "1"
            },
            {
              "name": "x-response-time",
              "value": "0ms"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1059,
      },
      {
        "_id": "350108f99dce065cf6d3be28df7c7ad3",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://dapi.binance.com/dapi/v1/time"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 28,
            "text": "{\"serverTime\":1781936596256}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "2"
            },
            {
              "name": "x-response-time",
              "value": "0ms"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1001,
      },
      {
        "_id": "a2fb0a5572db1f6c7a9ca63048f5cf37",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://dapi.binance.com/dapi/v1/exchangeInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 45167,
            "text": "{\"timezone\":\"UTC\",\"serverTime\":1781935216899\n                                     ,\"rateLimits\":[{\"rateLimitType\":\"REQUEST_WEIGHT\",\"interval\":\"MINUTE\",\"intervalNum\":1,\"limit\":2400},{\"rateLimitType\":\"ORDERS\",\"interval\":\"MINUTE\",\"intervalNum\":1,\"limit\":1200}],\"exchangeFilters\":[],\"symbols\":[{\"symbol\":\"BTCUSD_PERP\",\"pair\":\"BTCUSD\",\"contractType\":\"PERPETUAL\",\"deliveryDate\":4133404800000,\"onboardDate\":1597042800000,\"contractStatus\":\"TRADING\",\"contractSize\":100,\"maintMarginPercent\":\"2.5000\",\"requiredMarginPercent\":\"5.0000\",\"baseAsset\":\"BTC\",\"quoteAsset\":\"USD\",\"marginAsset\":\"BTC\",\"pricePrecision\":1,\"quantityPrecision\":0,\"baseAssetPrecision\":8,\"quotePrecision\":8,\"underlyingType\":\"COIN\",\"underlyingSubType\":[\"PoW\"],\"triggerProtect\":\"0.0500\",\"liquidationFee\":\"0.015000\",\"marketTakeBound\":\"0.05\",\"equalQtyPrecision\":4,\"maxMoveOrderLimit\":10000,\"filters\":[{\"tickSize\":\"0.1\",\"filterType\":\"PRICE_FILTER\",\"maxPrice\":\"4520958\",\"minPrice\":\"1000\"},{\"filterType\":\"LOT_SIZE\",\"stepSize\":\"1\",\"minQty\":\"1\",\"maxQty\":\"1000000\"},{\"filterType\":\"MARKET_LOT_SIZE\",\"minQty\":\"1\",\"maxQty\":\"60000\",\"stepSize\":\"1\"},{\"filterType\":\"MAX_NUM_ORDERS\",\"limit\":200},{\"limit\":20,\"filterType\":\"MAX_NUM_ALGO_ORDERS\"},{\"filterType\":\"PERCENT_PRICE\",\"multiplierUp\":\"1.0500\",\"multiplierDown\":\"0.9500\",\"multiplierDecimal\":\"4\"}],\"orderTypes\":[\"LIMIT\",\"MARKET\",\"STOP\",\"STOP_MARKET\",\"TAKE_PROFIT\",\"TAKE_PROFIT_MARKET\",\"TRAILING_STOP_MARKET\"],\"timeInForce\":[\"GTC\",\"IOC\",\"FOK\",\"GTX\"],\"permissionSets\":[\"GRID\"]},{\"symbol\":\"ETHUSD_PERP\",\"pair\":\"ETHUSD\",\"contractType\":\"PERPETUAL\",\"deliveryDate\":4133404800000,\"onboardDate\":1597734000000,\"contractStatus\":\"TRADING\",\"contractSize\":10,\"maintMarginPercent\":\"2.5000\",\"requiredMarginPercent\":\"5.0000\",\"baseAsset\":\"ETH\",\"quoteAsset\":\"USD\",\"marginAsset\":\"ETH\",\"pricePrecision\":2,\"quantityPrecision\":0,\"baseAssetPrecision\":8,\"quotePrecision\":8,\"underlyingType\":\"COIN\",\"underlyingSubType\":[\"Layer-1\"],\"[...]
