{
  "log": {
    "_recordingName": "dolthub/sql-read-select",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "63c3340c905a86ae4c6b16f0a0dca6a0",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "SELECT * FROM IPv4ToCountry WHERE CountryCode2Letter = 'AU' LIMIT 1"
            }
          ],
          "url": "https://www.dolthub.com/api/v1alpha1/dolthub/ip-to-country/master?q=SELECT%20%2A%20FROM%20IPv4ToCountry%20WHERE%20CountryCode2Letter%20%3D%20%27AU%27%20LIMIT%201"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 775,
            "text": "{\"query_execution_status\":\"Success\",\"query_execution_message\":\"\",\"repository_owner\":\"dolthub\",\"repository_name\":\"ip-to-country\",\"commit_ref\":\"master\",\"sql_query\":\"SELECT * FROM IPv4ToCountry WHERE CountryCode2Letter = 'AU' LIMIT 1\",\"schema\":[{\"columnName\":\"IPFrom\",\"columnType\":\"bigint\"},{\"columnName\":\"IpTo\",\"columnType\":\"bigint\"},{\"columnName\":\"Registry\",\"columnType\":\"longtext\"},{\"columnName\":\"AssignedDate\",\"columnType\":\"bigint\"},{\"columnName\":\"CountryCode2Letter\",\"columnType\":\"longtext\"},{\"columnName\":\"CountryCode3Letter\",\"columnType\":\"longtext\"},{\"columnName\":\"Country\",\"columnType\":\"longtext\"}],\"rows\":[{\"IPFrom\":\"16777216\",\"IpTo\":\"16777471\",\"Registry\":\"apnic\",\"AssignedDate\":\"1313020800\",\"CountryCode2Letter\":\"AU\",\"CountryCode3Letter\":\"AUS\",\"Country\":\"Australia\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"snzuxvuj85lj\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 587,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
