{
  "log": {
    "_recordingName": "fal/openai-gpt-image-2-5-flare-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0fb8226b75adc9c26375348c1adb907a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red balloon.\",\"quality\":\"low\"}"
          },
          "queryString": [],
          "url": "https://fal.run/openai/gpt-image-2.5/flare/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 216,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aad8789/MK6idq1qV9xI7XmP87Xz2_uuDyozHI.png\",\"content_type\":\"image/png\",\"file_name\":\"MK6idq1qV9xI7XmP87Xz2_uuDyozHI.png\",\"file_size\":null,\"width\":null,\"height\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.0041"
            },
            {
              "name": "x-fal-served-from",
              "value": "34df1b16-32cc-4d68-8527-98eb7b8e8d53"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 9839,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
