{
  "log": {
    "_recordingName": "fal/nano-banana",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "79deb6d6138ed4489c191a657bffca73",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"An action shot of a black lab swimming in an inground suburban swimming pool.\",\"num_images\":1,\"aspect_ratio\":\"1:1\",\"output_format\":\"png\",\"safety_tolerance\":\"4\"}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/nano-banana"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 246,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a96bdb5/LC__6w0azE67GPycIc2y5_lj4yhgAM.png\",\"content_type\":\"image/png\",\"file_name\":\"LC__6w0azE67GPycIc2y5_lj4yhgAM.png\",\"file_size\":null,\"width\":null,\"height\":null}],\"description\":\"Here you go! \"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-request-id",
              "value": "019da052-818d-7270-8173-ad73d46ed108"
            },
            {
              "name": "x-fal-served-from",
              "value": "a82a7b4a-96bc-448a-9633-58470ef1f790"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 6115,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
