{
  "log": {
    "_recordingName": "youtube/video-metadata-invalid",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "647d00569a6d7289af32ccd986cad99d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "url",
              "value": "https://www.youtube.com/watch?v=notavalidid"
            },
            {
              "name": "format",
              "value": "json"
            }
          ],
          "url": "https://www.youtube.com/oembed?url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dnotavalidid&format=json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 11,
            "text": "Bad Request"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 13,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
