{
  "log": {
    "_recordingName": "fal/minimax-h3-reference-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "93089c69409754e7464b9efe769a02e9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Image 1 is the subject. Keep it consistent while the camera drifts slowly forward through soft afternoon light.\",\"reference_image_urls\":[\"https://storage.googleapis.com/falserverless/example_inputs/hailuo23/pro_i2v_in.jpg\"],\"duration\":5,\"resolution\":\"480P\",\"prompt_expansion_mode\":\"disabled\"}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/h3/reference-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 216,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa8209b/lSVQ0c6C8xR14aDkCyrfC_minimax-h3.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"lSVQ0c6C8xR14aDkCyrfC_minimax-h3.mp4\",\"file_size\":1577922},\"expanded_prompt\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "5.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "0b4471a4-36fb-4fea-a029-8bd407b78211"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 69197,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
