{
  "log": {
    "_recordingName": "dolthub/pulls-merge-v2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e76345e133708d83e906e78636006088",
        "request": {
          "headers": [],
          "method": "POST",
          "queryString": [],
          "url": "https://www.dolthub.com/api/v2/databases/dolthub/ip-to-country/pulls/1/merge"
        },
        "response": {
          "content": {
            "mimeType": "application/problem+json",
            "size": 329,
            "text": "{\"type\":\"https://dolthub.com/docs/products/dolthub/api/v2/models/#model-errorcode\",\"title\":\"Unauthenticated\",\"status\":401,\"detail\":\"Authentication credentials were missing or invalid.\",\"code\":\"UNAUTHENTICATED\",\"request_id\":\"a377b37a-3fda-47ee-93ab-e4cec8f0a70b\",\"instance\":\"/api/v2/databases/dolthub/ip-to-country/pulls/1/merge\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/problem+json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 592,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
