{
  "log": {
    "_recordingName": "fal/minimax-h3-max-camera-controls",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "251a78461378802da0414e18275a14b4",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Orbit precisely around the subject while preserving its identity and the scene.\",\"duration\":0.92,\"resolution\":\"480P\",\"prompt_expansion_mode\":\"disabled\",\"image_url\":\"https://storage.googleapis.com/falserverless/example_inputs/hailuo23/pro_i2v_in.jpg\",\"camera_trajectory\":[{\"time\":0,\"azimuth\":0,\"elevation\":0,\"distance\":1},{\"time\":0.3,\"azimuth\":45,\"elevation\":15,\"distance\":0.2},{\"time\":0.8,\"azimuth\":90,\"elevation\":-90,\"distance\":1}]}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/h3-max/camera-controls"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 258,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad7a96/R2jZCkUmOyy1b_C-wyNl9_minimax-h3.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"R2jZCkUmOyy1b_C-wyNl9_minimax-h3.mp4\",\"file_size\":703902},\"expanded_prompt\":null,\"timings\":{\"inference\":0.6982274920010241}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.92"
            },
            {
              "name": "x-fal-served-from",
              "value": "946fbc47-7c0f-4913-9bd7-4cd0d987e8aa"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2507,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
