{
  "log": {
    "_recordingName": "elevenlabs/audio-native-content-url",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "442e1f0b3ca459b4675b9348c6b61e79",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"url\":\"https://elevenlabs.io/blog\",\"title\":\"Apicity Audio Native URL\",\"author\":\"Apicity\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/audio-native/content"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 199,
            "text": "{\"detail\":{\"type\":\"not_found\",\"code\":\"project_not_found\",\"message\":\"No Audio Native project found for the provided URL.\",\"status\":\"project_not_found\",\"request_id\":\"25034808b342fb1c0df5094f44027c48\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 325,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
