{
  "log": {
    "_recordingName": "fal/bytedance-seed-speech-tts-v2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "524dbbbe23862feb6f7317f88effa711",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"text\":\"Hello from Apicity.\",\"voice\":\"stokie_en\",\"output_format\":\"mp3\",\"sample_rate\":24000,\"speed\":1,\"volume\":1,\"pitch\":0,\"language\":\"en\",\"voice_instruction\":\"Speak in a warm, cheerful tone.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/bytedance/seed-speech/tts/v2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 160,
            "text": "{\"audio\":{\"url\":\"https://v3b.fal.media/files/b/0a9d47ac/FT2DYcvcYoYcmnlBb4vbK_audio.mp3\",\"content_type\":\"audio/mpeg\",\"file_name\":\"audio.mp3\",\"file_size\":26157}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.019"
            },
            {
              "name": "x-fal-served-from",
              "value": "03f3293f-96e7-4e1e-821d-b083745c5c8a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2894,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
