{
  "log": {
    "_recordingName": "fal/nano-banana-pro",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b75c0ca0177e73d7c14fc56a564bf179",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"An action shot of a black lab swimming in an inground suburban swimming pool.\",\"num_images\":1,\"aspect_ratio\":\"1:1\",\"output_format\":\"png\",\"safety_tolerance\":\"4\",\"resolution\":\"1K\"}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/nano-banana-pro"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 233,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0a967485/wXAxLecS326ThiHjPq6KX_pyFc94Tw.png\",\"content_type\":\"image/png\",\"file_name\":\"wXAxLecS326ThiHjPq6KX_pyFc94Tw.png\",\"file_size\":null,\"width\":null,\"height\":null}],\"description\":\"\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-request-id",
              "value": "019d9527-9a15-7491-95d3-faf2d9615343"
            },
            {
              "name": "x-fal-served-from",
              "value": "16092396-9236-4428-8695-74e800d0ba66"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 22797,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
