{
  "log": {
    "_recordingName": "kie/suno/recovery-invalid-task",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ef37dbd3d52485a4da0de0ba0957962a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"task_id\":\"apicity-test-nonexistent-task-id-do-not-record-real\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/suno/recovery"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 71,
            "text": "{\"code\":500,\"msg\":\"The original Suno task does not exist.\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 567,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
