{
  "log": {
    "_recordingName": "fal/wan3p0-reference-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6f0cd5c0aca9de40e118bc100f618296",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The cat in Image 1 blinks slowly and tilts its head, cinematic close-up.\",\"reference_image_urls\":[\"<inline image/jpeg data URL — replace with a real URL or upload>\"],\"resolution\":\"480p\",\"aspect_ratio\":\"1:1\",\"duration\":2,\"audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/alibaba/wan-3.0/reference-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 310,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa7b4dd/2fTFJ_XdbCXtl9xkdCGVl_R0B8GwYz.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"2fTFJ_XdbCXtl9xkdCGVl_R0B8GwYz.mp4\",\"file_size\":1423427,\"width\":624,\"height\":624,\"fps\":30.0,\"duration\":2.0,\"num_frames\":60},\"seed\":1505295140,\"duration\":2.0,\"actual_prompt\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "2.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "5d3b9f23-464d-4057-b8aa-7737e934451b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 164053,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
