{
  "log": {
    "_recordingName": "elevenlabs/pvc-train",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e4d5f5fd515808ae91a86dc051903c9b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model_id\":\"eleven_turbo_v2\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/voices/pvc/missing-pvc-voice/train"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 231,
            "text": "{\"detail\":{\"type\":\"invalid_request\",\"code\":\"bad_request\",\"message\":\"An invalid ID has been received: 'missing-pvc-voice'. Make sure to provide a correct one.\",\"status\":\"invalid_uid\",\"request_id\":\"b99148bcfebce4ac057cd7311bf2f8ed\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 666,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
