{
  "log": {
    "_recordingName": "dolthub/user-get-v2-unauthenticated",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ddf1e72c93b1a26f6835c61410f466e4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://www.dolthub.com/api/v2/user"
        },
        "response": {
          "content": {
            "mimeType": "application/problem+json",
            "size": 288,
            "text": "{\"type\":\"https://dolthub.com/docs/products/dolthub/api/v2/models/#model-errorcode\",\"title\":\"Unauthenticated\",\"status\":401,\"detail\":\"Authentication credentials were missing or invalid.\",\"code\":\"UNAUTHENTICATED\",\"request_id\":\"883c3d40-e93c-49ba-a841-970971bd3727\",\"instance\":\"/api/v2/user\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/problem+json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 660,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
