{
  "log": {
    "_recordingName": "kie/suno/recovery-record-info-not-found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "cfd8bc7e297038720397a2be8ca5acfa",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "task_id",
              "value": "apicity-test-nonexistent-task-id-do-not-record-real"
            }
          ],
          "url": "https://api.kie.ai/api/v1/suno/recovery/record-info?task_id=apicity-test-nonexistent-task-id-do-not-record-real"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 77,
            "text": "{\"code\":500,\"msg\":\"The music link recovery task does not exist.\",\"data\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 453,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
