{
  "log": {
    "_recordingName": "elevenlabs/voice-pvc-sample-separate-speakers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f1b410b42d7e58fbfbfefacf9736ca8c",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/voices/pvc/invalid_voice_id/samples/invalid_sample_id/separate-speakers"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 272,
            "text": "{\"detail\":{\"type\":\"not_found\",\"code\":\"voice_not_found\",\"message\":\"A voice with ID 'invalid_voice_id' was not found or you do not have access to it. Please make sure the voice is shared with you.\",\"status\":\"voice_not_found\",\"request_id\":\"6a65b9909211b7391fe55585bbf7fb1d\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            },
            {
              "name": "x-trace-id",
              "value": "***"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 805,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
