{
  "log": {
    "_recordingName": "binance/futures-data-market-data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "389ad38871495c509ac396a9481311b9",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "pair",
              "value": "BTCUSDT"
            }
          ],
          "url": "https://fapi.binance.com/futures/data/delivery-price?pair=BTCUSDT"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1057,
            "text": "[{\"deliveryTime\":1774569600000,\"deliveryPrice\":68656.70000000},{\"deliveryTime\":1766707200000,\"deliveryPrice\":88832.70000000},{\"deliveryTime\":1758844800000,\"deliveryPrice\":109049.70000000},{\"deliveryTime\":1750982400000,\"deliveryPrice\":107046.10000000},{\"deliveryTime\":1743120000000,\"deliveryPrice\":85302.80000000},{\"deliveryTime\":1735257600000,\"deliveryPrice\":95168.70000000},{\"deliveryTime\":1727395200000,\"deliveryPrice\":65422.70000000},{\"deliveryTime\":1719532800000,\"deliveryPrice\":61479.20000000},{\"deliveryTime\":1711670400000,\"deliveryPrice\":70151.50000000},{\"deliveryTime\":1703808000000,\"deliveryPrice\":42388.00000000},{\"deliveryTime\":1695945600000,\"deliveryPrice\":27103.00000000},{\"deliveryTime\":1688083200000,\"deliveryPrice\":30733.60000000},{\"deliveryTime\":1680220800000,\"deliveryPrice\":27814.20000000},{\"deliveryTime\":1648166400000,\"deliveryPrice\":44066.30000000},{\"deliveryTime\":1656028800000,\"deliveryPrice\":20867.10000000},{\"deliveryTime\":1664496000000,\"deliveryPrice\":19546.00000000},{\"deliveryTime\":1672358400000,\"deliveryPrice\":16503.60000000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 255,
      },
      {
        "_id": "4104171a9995693c4ea45ed94a328def",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            },
            {
              "name": "period",
              "value": "5m"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://fapi.binance.com/futures/data/openInterestHist?symbol=BTCUSDT&period=5m&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 171,
            "text": "[{\"symbol\":\"BTCUSDT\",\"sumOpenInterest\":\"97930.40100000\",\"sumOpenInterestValue\":\"6227443164.79050000\",\"CMCCirculatingSupply\":\"20045184.00000000\",\"timestamp\":1781934600000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 256,
      },
      {
        "_id": "825f57ef352490206e6ffd71f86d2d9c",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            },
            {
              "name": "period",
              "value": "5m"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://fapi.binance.com/futures/data/topLongShortPositionRatio?symbol=BTCUSDT&period=5m&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 121,
            "text": "[{\"symbol\":\"BTCUSDT\",\"longAccount\":\"0.5453\",\"longShortRatio\":\"1.1994\",\"shortAccount\":\"0.4547\",\"timestamp\":1781934600000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 253,
      },
      {
        "_id": "f563f2185918568278c9fe95465c59e2",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name[...]
