{
  "log": {
    "_recordingName": "kie/suno/upload-cover-bogus-url",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c7a12601630d9d5df229cd3deec56b83",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"uploadUrl\":\"https://invalid-host-apicity-test.invalid/song.mp3\",\"prompt\":\"Cover this in a synthwave style\",\"customMode\":true,\"instrumental\":false,\"model\":\"V5\",\"callBackUrl\":\"https://example.com/cb\",\"style\":\"Synthwave\",\"title\":\"Cover Take\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/generate/upload-cover"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"7245a04838ef2ae104971e7e164a5e0b\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 570,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
