{
  "log": {
    "_recordingName": "elevenlabs/dubbing-resource-get",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "209105ae01cd287371454ffbb22bac7a",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/dubbing/resource/apicity-test-dubbing-resource-closed-beta"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 255,
            "text": "{\"detail\":{\"type\":\"invalid_request\",\"code\":\"bad_request\",\"message\":\"An invalid ID has been received: 'apicity-test-dubbing-resource-closed-beta'. Make sure to provide a correct one.\",\"status\":\"invalid_uid\",\"request_id\":\"d888c908817074e7aad6acd09c709f82\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 388,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
