{
  "log": {
    "_recordingName": "s3/object-core",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7044d14dc1fe0b4ec16e4b8db76bc1ba",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "x-amz-content-sha256",
              "value": "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
            },
            {
              "name": "x-amz-date",
              "value": "20260608T160633Z"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://s3.us-east-1.amazonaws.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/xml",
            "size": 400,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ListAllMyBucketsResult xmlns=\"http://s3.amazonaws.com/doc/2006-03-01/\"><Owner><ID>f3024a6f8420e7c599bc8e73ab425d96dd436bf7d9e2fd18ec0338422b493dbd</ID></Owner><Buckets><Bucket><Name>apicity-s3-fixtures</Name><CreationDate>2026-06-08T14:55:52.000Z</CreationDate><BucketArn>arn:aws:s3:::apicity-s3-fixtures</BucketArn></Bucket></Buckets></ListAllMyBucketsResult>"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/xml"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2894,
      },
      {
        "_id": "328ef84934c9b4ae9a9d306430af79cd",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "text/plain"
            },
            {
              "name": "x-amz-content-sha256",
              "value": "7a47581d7f94026bfac56719024b261d17cd20cb129f9a7534f72556afa4ff75"
            },
            {
              "name": "x-amz-date",
              "value": "20260608T160636Z"
            },
            {
              "name": "x-amz-meta-source",
              "value": "apicity"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "hello from @apicity/s3 object core test\n"
          },
          "queryString": [],
          "url": "https://apicity-s3-fixtures.s3.us-east-1.amazonaws.com/apicity-tests/object-core.txt"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "etag",
              "value": "\"0d3d693436d7562b8d82ba1ede73d407\""
            },
            [...]
