{
  "log": {
    "_recordingName": "fal/bytedance-seedream-v5-pro-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "42b46964ceb0bf3f42873e74a3f7195c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A photorealistic red fox sitting in a snowy forest clearing at golden hour\",\"image_size\":\"square_hd\",\"num_images\":1,\"output_format\":\"jpeg\"}"
          },
          "queryString": [],
          "url": "https://fal.run/bytedance/seedream/v5/pro/text-to-image"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 245,
            "text": "{\"images\":[{\"url\":\"https://v3b.fal.media/files/b/0aa821e1/AWANil9oUdbxWdy-QCOWj_05a1f6e2a16b402b9dbd761631f404ac.jpg\",\"content_type\":\"image/jpeg\",\"file_name\":\"05a1f6e2a16b402b9dbd761631f404ac.jpg\",\"file_size\":442867,\"width\":null,\"height\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "2.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "0a2a3259-d38e-4db4-8a49-b98b8b3f5402"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 47472,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
