{
  "log": {
    "_recordingName": "kie/audio/elevenlabs-text-to-speech-turbo-25",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "352a824537a3cf11040380f0cb7c0b5d",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"elevenlabs/text-to-speech-turbo-2-5\",\"input\":{\"text\":\"A concise Apicity smoke test for Kie text to audio.\",\"voice\":\"Rachel\",\"stability\":0.5,\"similarity_boost\":0.75,\"style\":0,\"speed\":1,\"timestamps\":false,\"previous_text\":\"\",\"next_text\":\"\",\"language_code\":\"\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"4fb6f015c013eb1563a6d4efb5451542\",\"recordId\":\"4fb6f015c013eb1563a6d4efb5451542\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 545,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
