{
  "log": {
    "_recordingName": "fal/meshy-v7-1-text-to-3d",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b479a5e8b32a1305046485fba5d5a8b8",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red panda waves once, then holds still.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/meshy/v7.1/text-to-3d"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1680,
            "text": "{\"animation_glb\":null,\"animation_fbx\":null,\"model_glb\":{\"url\":\"https://v3b.fal.media/files/b/0aad25a0/zKZ5AnFvG08mYptABK7Jd_model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":5342696},\"thumbnail\":{\"url\":\"https://v3b.fal.media/files/b/0aad25a1/2nrzOPRqZ7I6R3fiNca3b_preview.png\",\"content_type\":\"image/png\",\"file_name\":\"preview.png\",\"file_size\":44178},\"model_urls\":{\"glb\":{\"url\":\"https://v3b.fal.media/files/b/0aad25a0/zKZ5AnFvG08mYptABK7Jd_model.glb\",\"content_type\":\"model/gltf-binary\",\"file_name\":\"model.glb\",\"file_size\":5342696},\"fbx\":{\"url\":\"https://v3b.fal.media/files/b/0aad25a1/8_ZIJ9EFH4FyzWGGHR-n4_model.fbx\",\"content_type\":\"application/octet-stream\",\"file_name\":\"model.fbx\",\"file_size\":5171900},\"obj\":{\"url\":\"https://v3b.fal.media/files/b/0aad25a1/9Q1g0qm1m6ygqQaWZ1aH8_model.obj\",\"content_type\":\"text/plain\",\"file_name\":\"model.obj\",\"file_size\":3241738},\"usdz\":{\"url\":\"https://v3b.fal.media/files/b/0aad25a1/dDGR3sbY1laq9ZglNpNC3_model.usdz\",\"content_type\":\"model/vnd.usdz+zip\",\"file_name\":\"model.usdz\",\"file_size\":5676246},\"blend\":null,\"stl\":{\"url\":\"https://v3b.fal.media/files/b/0aad25a1/RBXz5ughJmsgyBADkeh36_model.stl\",\"content_type\":\"application/octet-stream\",\"file_name\":\"model.stl\",\"file_size\":1560184}},\"texture_urls\":[{\"base_color\":{\"url\":\"https://v3b.fal.media/files/b/0aad25a1/-sCTO1E3aTL8AR1R2ahVI_texture_0.png\",\"content_type\":\"image/png\",\"file_name\":\"texture_0.png\",\"file_size\":6239809},\"metallic\":null,\"normal\":null,\"roughness\":null}],\"seed\":3790649391,\"prompt\":\"A red panda waves once, then holds still.\",\"actual_prompt\":null,\"rigged_character_glb\":null,\"rigged_character_fbx\":null,\"basic_animations\":null,\"rig_task_id\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1.5"
            },
            {
              "name": "x-fal-served-from",
              "value": "da532b79-0715-48e1-8e25-b3bb47d4908c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 110835,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
