{
  "log": {
    "_recordingName": "polymarket/data-builders-leaderboard",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "63a0a194014da24a65adf79863bd7800",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "timePeriod",
              "value": "DAY"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://data-api.polymarket.com/v1/builders/leaderboard?timePeriod=DAY&limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 313,
            "text": "[{\"rank\":\"1\",\"builder\":\"traderline\",\"builderCode\":\"0x6b0e773fada0a2ec67c956b25a737d353a534ea33db56c717ba7854346c67984\",\"volume\":4424792.950043998,\"activeUsers\":132,\"verified\":true,\"builderLogo\":\"https://polymarket-upload.s3.us-east-2.amazonaws.com/profile-image-1377213-24116eb2-24b0-429e-89a5-4fd2b6182074.png\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "last-modified",
              "value": "Sat, 20 Jun 2026 05:02:21 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 112,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
