{
  "log": {
    "_recordingName": "fal/lightricks-ltx2p5-image-to-video-fast",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "312c8ca9b0884b412789dfbab6f8cd9e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"image_url\":\"<inline image/jpeg data URL — replace with a real URL or upload>\",\"prompt\":\"the man smiles and turns his head slowly toward the camera\",\"duration\":6,\"resolution\":\"720p\",\"fps\":24,\"generate_audio\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/lightricks/ltx-2.5/image-to-video/fast"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 262,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aa81e72/uRQ3HOACMRbL-XUKYoQNE_PtKmJPiv.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"uRQ3HOACMRbL-XUKYoQNE_PtKmJPiv.mp4\",\"file_size\":503535,\"width\":1280,\"height\":720,\"fps\":24.0,\"duration\":6.041667,\"num_frames\":145}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "54.0"
            },
            {
              "name": "x-fal-served-from",
              "value": "29af8ee6-3133-4895-a151-f8e26c0a4026"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 24704,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
