{
  "log": {
    "_recordingName": "kie/wan-22-auxiliary-media/animate-replace",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f965c53c4e3d01f82bf150bdeeef5bf3",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/2-2-animate-replace\",\"input\":{\"video_url\":\"https://static.aiquickdraw.com/tools/example/1767525918769_QyvTNib2.mp4\",\"image_url\":\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\",\"resolution\":\"480p\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"10ae44edd6fe6adcd8fa26350d0d41db\",\"recordId\":\"10ae44edd6fe6adcd8fa26350d0d41db\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 342,
      },
      {
        "_id": "f80b8f2a7cdd0f25b157c9c78ebd1b0f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "10ae44edd6fe6adcd8fa26350d0d41db"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=10ae44edd6fe6adcd8fa26350d0d41db"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 560,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"10ae44edd6fe6adcd8fa26350d0d41db\",\"model\":\"wan/2-2-animate-replace\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"video_url\\\\\\\":\\\\\\\"https://static.aiquickdraw.com/tools/example/1767525918769_QyvTNib2.mp4\\\\\\\",\\\\\\\"image_url\\\\\\\":\\\\\\\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\"}\\\",\\\"model\\\":\\\"wan/2-2-animate-replace\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1786514136504,\"creditsConsumed\":48.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 199,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
