{
  "log": {
    "_recordingName": "fal/google-lyria-3-5",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e05d2d667b8f20359f31093816c8b6f6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Gentle solo piano, slow tempo, no vocals, about twenty seconds.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/google/lyria-3.5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 206,
            "text": "{\"audio\":{\"url\":\"https://v3b.fal.media/files/b/0aad2611/JRkWU8s9mvyqfwQwbK9ZN_output.mp3\",\"content_type\":\"audio/mpeg\",\"file_name\":\"output.mp3\",\"file_size\":1440510},\"lyrics\":\"[[A0]]\\n[[B1]]\\n[[C2]]\\n[[D3]]\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-served-from",
              "value": "91bdad1f-538b-4b44-91f4-0d2ba27c402f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 31788,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
