{
  "log": {
    "_recordingName": "kie/gpt4o-image-generate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ea84fca1eb613c7d6ecc0333ce5b0e40",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A cinematic night city poster with neon reflections on a rainy street.\",\"size\":\"3:2\",\"isEnhance\":true}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/gpt4o-image/generate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"9a3f440a738811e966271c88ffe0d6b6\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 419,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
