{
  "log": {
    "_recordingName": "fal/minimax-h3-max-reference-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "02f1ccc102ca78a22f25ba2ab2a67cad",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Image 1 is the mountain biker. Keep the rider and the bike consistent with Image 1 as they land the jump and ride on along the sunlit forest trail.\",\"reference_image_urls\":[\"https://storage.googleapis.com/falserverless/example_inputs/hailuo23/pro_i2v_in.jpg\"],\"duration\":0.92,\"resolution\":\"480P\",\"prompt_expansion_mode\":\"disabled\"}"
          },
          "queryString": [],
          "url": "https://fal.run/minimax/h3-max/reference-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 277,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad7b53/w5tbWl5JRfQex7vCNvncc_minimax-h3.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"w5tbWl5JRfQex7vCNvncc_minimax-h3.mp4\",\"file_size\":1082555},\"expanded_prompt\":null,\"seed\":2128986866,\"timings\":{\"inference\":0.7522018760064384}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.92"
            },
            {
              "name": "x-fal-served-from",
              "value": "778a5e87-6a6a-4e5b-afd1-f774b7598590"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2297,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
