{
  "log": {
    "_recordingName": "binance/options-market-data",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c661b6e52129ce6523b0243617adfe3e",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://eapi.binance.com/eapi/v1/ping"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "{}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "1"
            },
            {
              "name": "x-response-time",
              "value": "4ms"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 375,
      },
      {
        "_id": "ce24d02baf3e271556f501c3c5d1b1f4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://eapi.binance.com/eapi/v1/time"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 28,
            "text": "{\"serverTime\":1781934563713}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "2"
            },
            {
              "name": "x-response-time",
              "value": "2ms"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 270,
      },
      {
        "_id": "0d8ab40c87ab4b64ea7b0177c9d12c3d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://eapi.binance.com/eapi/v1/exchangeInfo"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 881455,
            "text": "{\"timezone\":\"UTC\",\"serverTime\":1781934563981,\"optionContracts\":[{\"baseAsset\":\"BTC\",\"quoteAsset\":\"USDT\",\"underlying\":\"BTCUSDT\",\"settleAsset\":\"USDT\",\"nakedSell\":true},{\"baseAsset\":\"ETH\",\"quoteAsset\":\"USDT\",\"underlying\":\"ETHUSDT\",\"settleAsset\":\"USDT\",\"nakedSell\":true},{\"baseAsset\":\"BNB\",\"quoteAsset\":\"USDT\",\"underlying\":\"BNBUSDT\",\"settleAsset\":\"USDT\",\"nakedSell\":false},{\"baseAsset\":\"SOL\",\"quoteAsset\":\"USDT\",\"underlying\":\"SOLUSDT\",\"settleAsset\":\"USDT\",\"nakedSell\":false},{\"baseAsset\":\"XRP\",\"quoteAsset\":\"USDT\",\"underlying\":\"XRPUSDT\",\"settleAsset\":\"USDT\",\"nakedSell\":false},{\"baseAsset\":\"DOGE\",\"quoteAsset\":\"USDT\",\"underlying\":\"DOGEUSDT\",\"settleAsset\":\"USDT\",\"nakedSell\":false}],\"optionAssets\":[{\"name\":\"USDT\"}],\"optionSymbols\":[{\"expiryDate\":1782460800000,\"filters\":[{\"filterType\":\"PRICE_FILTER\",\"minPrice\":\"5.000\",\"maxPrice\":\"10.000\",\"tickSize\":\"5.000\"},{\"filterType\":\"LOT_SIZE\",\"minQty\":\"0.01\",\"maxQty\":\"200\",\"stepSize\":\"0.01\"}],\"symbol\":\"BTC-260626-140000-C\",\"side\":\"CALL\",\"strikePrice\":\"140000.000\",\"underlying\":\"BTCUSDT\",\"unit\":1,\"liquidationFeeRate\":\"0.001900\",\"minQty\":\"0.01\",\"maxQty\":\"200\",\"initialMargin\":\"0.15000000\",\"maintenanceMargin\":\"0.07500000\",\"minInitialMargin\":\"0.10000000\",\"minMaintenanceMargin\":\"0.05000000\",\"priceScale\":3,\"quantityScale\":2,\"quoteAsset\":\"USDT\",\"status\":\"TRADING\"},{\"expiryDate\":1782460800000,\"filters\":[{\"filterType\":\"PRICE_FILTER\",\"minPrice\":\"5.000\",\"maxPrice\":\"10.000\",\"tickSize\":\"5.000\"},{\"filterType\":\"LOT_SIZE\",\"minQty\":\"0.01\",\"maxQty\":\"200\",\"stepSize\":\"0.01\"}],\"symbol\":\"BTC-260626-80000-C\",\"side\":\"CALL\",\"strikePrice\":\"80000.000\",\"underlying\":\"BTCUSDT\",\"unit\":1,\"liquidationFeeRate\":\"0.001900\",\"minQty\":\"0.01\",\"maxQty\":\"200\",\"initialMargin\[...]
