{
  "log": {
    "_recordingName": "kie/wan-27-i2v",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2d1cb879393b35dcf32379e2d6e12822",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/2-7-image-to-video\",\"input\":{\"prompt\":\"A cat stretches lazily then turns to look at the camera with curious eyes\",\"negative_prompt\":\"blurry, low quality, distorted\",\"first_frame_url\":\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\",\"resolution\":\"720p\",\"duration\":5,\"prompt_extend\":true,\"watermark\":false,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"d3328bbfb254fae2885b341c4e2f7186\",\"recordId\":\"d3328bbfb254fae2885b341c4e2f7186\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 507,
      },
      {
        "_id": "ec3ea4af91cb5d5c65cb0d6211b63fa7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "d3328bbfb254fae2885b341c4e2f7186"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=d3328bbfb254fae2885b341c4e2f7186"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 700,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"d3328bbfb254fae2885b341c4e2f7186\",\"model\":\"wan/2-7-image-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":5,\\\\\\\"first_frame_url\\\\\\\":\\\\\\\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\\\\\\\",\\\\\\\"watermark\\\\\\\":false,\\\\\\\"negative_prompt\\\\\\\":\\\\\\\"blurry, low quality, distorted\\\\\\\",\\\\\\\"prompt_extend\\\\\\\":true,\\\\\\\"prompt\\\\\\\":\\\\\\\"A cat stretches lazily then turns to look at the camera with curious eyes\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"wan/2-7-image-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775741065674}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 360,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
