{
  "log": {
    "_recordingName": "fal/workflows-get",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fe7bb06d532bfefc96c1729b95f08356",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fal.ai/v1/workflows/fal/flux-pro-v1.1-ultra-and-relight"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": "{\"error\":{\"type\":\"validation_error\",\"message\":\"Invalid request parameters\"}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-vercel-cache",
              "value": "BYPASS"
            },
            {
              "name": "x-vercel-id",
              "value": "sin1::iad1::ltwzd-1776323899248-12ad67e778cb"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 337,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
