{
  "log": {
    "_recordingName": "elevenlabs/studio",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a012a1e8d3bddc0a50e2e9a04a385435",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data",
            "params": [],
            "text": "{\"_multipart\":true,\"name\":\"apicity-studio-test\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/studio/projects"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 281,
            "text": "{\"detail\":{\"type\":\"authorization_error\",\"code\":\"invalid_subscription\",\"message\":\"Access to the Studio API requires your account to be explicitly whitelisted to use it. Please contact our sales team.\",\"status\":\"invalid_subscription\",\"request_id\":\"79666d27ddd9bb8786cbd4fea1ac6f3b\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 352,
      },
      {
        "_id": "404ea8a66bb3f9b1b8246e24d2de6143",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/studio/projects"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 281,
            "text": "{\"detail\[...]
