{
  "log": {
    "_recordingName": "fal/wan-v2p7-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "83178a9227c24ca47a92f8b3b5b9aee7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A white odd-eyed cat blinks slowly and tilts its head, soft breeze through fur, cinematic close-up.\",\"resolution\":\"720p\",\"duration\":2,\"aspect_ratio\":\"1:1\"}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/wan/v2.7/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 295,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0a96c2a5/6wxrLapwV6V0wDYANQdyN_NNwV7QKg.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"6wxrLapwV6V0wDYANQdyN_NNwV7QKg.mp4\",\"file_size\":2013566,\"width\":960,\"height\":960,\"fps\":30.0,\"duration\":2.02,\"num_frames\":60},\"seed\":223504643,\"actual_prompt\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "2"
            },
            {
              "name": "x-fal-request-id",
              "value": "019da111-8227-7aa3-a4fe-c8ae77821896"
            },
            {
              "name": "x-fal-served-from",
              "value": "b7fd39c1-d7a9-4fd3-9f92-5a2ad13fc8ae"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 127991,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
