{
  "log": {
    "_recordingName": "google/antigravity-quota-summary",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "02380ce9294efa836d3556090e430b84",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://cloudcode-pa.googleapis.com/v1internal:retrieveUserQuotaSummary"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 126,
            "text": "{\n  \"error\": {\n    \"code\": 403,\n    \"message\": \"The caller does not have permission\",\n    \"status\": \"PERMISSION_DENIED\"\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 281,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
