{
  "log": {
    "_recordingName": "kie/happyhorse-1-1-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "58d25150a73c89af27dc69a0741e0906",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"happyhorse-1-1/text-to-video\",\"input\":{\"prompt\":\"A tiny glass greenhouse sits on a mossy windowsill during a gentle rainstorm. Warm lights glow inside as water droplets slide down the panes and small paper flowers sway in the breeze.\",\"resolution\":\"720p\",\"aspect_ratio\":\"16:9\",\"duration\":3}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c4e518addee13896eeee7e5ea8aebad2\",\"recordId\":\"c4e518addee13896eeee7e5ea8aebad2\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 368,
      },
      {
        "_id": "8684c6eaf488667715401c543c0c95d2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "c4e518addee13896eeee7e5ea8aebad2"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=c4e518addee13896eeee7e5ea8aebad2"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 635,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"c4e518addee13896eeee7e5ea8aebad2\",\"model\":\"happyhorse-1-1/text-to-video\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":3,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A tiny glass greenhouse sits on a mossy windowsill during a gentle rainstorm. Warm lights glow inside as water droplets slide down the panes and small paper flowers sway in the breeze.\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"720p\\\\\\\"}\\\",\\\"model\\\":\\\"happyhorse-1-1/text-to-video\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1782276375123,\"creditsConsumed\":99.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 177,
      },
      {
        "_id": "8684c6eaf488667715401c543c0c95d2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
     [...]
