{
  "log": {
    "_recordingName": "elevenlabs/productions-orders",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "82905a75f8fc34cca053d7dd97a2fd30",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.elevenlabs.io/v1/productions/orders?page_size=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 204,
            "text": "{\"detail\":{\"type\":\"authorization_error\",\"code\":\"forbidden\",\"message\":\"ElevenProductions API access is not enabled for this workspace\",\"status\":\"forbidden\",\"request_id\":\"878c2c89459a10538e3dc5b80637efba\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 355,
      },
      {
        "_id": "589ca1ebf0995b75d529ae4171ccac58",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"sandbox\":true}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/productions/orders"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 204,
            "text": "{\"detail\":{\"type\":\"authorization_error\",\"code\":\"forbidden\",\"message\":\"ElevenProductions API access is not enabled for this workspace\",\"status\":\"forbidden\",\"request_id\":\"f8739f98101c32338e3dc5b80637e4cf\"}}"
          [...]
