{
  "log": {
    "_recordingName": "free/filebin-upload",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2231e6de88533a671c6d6f55b323008c",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://filebin.net/apicity-test/test.txt"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 380,
            "text": "{\n    \"bin\": {\n        \"id\": \"apicity-test\",\n        \"readonly\": false,\n        \"bytes\": 15,\n        \"bytes_readable\": \"15 B\",\n        \"files\": 1,\n        \"updated_at\": \"2026-04-16T07:19:24.714743Z\",\n        \"updated_at_relative\": \"now\",\n        \"created_at\": \"2026-04-11T07:56:30.909726Z\",\n        \"created_at_relative\": \"4 days ago\",\n        \"expired_at\": \"2026-04-23T07:19:24.714743Z\",\n        \"expired_at_relative\": \"6 days from now\"\n    },\n    \"file\": {\n        \"filename\": \"test.txt\",\n        \"content-type\": \"text/plain; charset=utf-8\",\n        \"bytes\": 15,\n        \"bytes_readable\": \"15 B\",\n        \"md5\": \"F2kUI3vWwJDVSVup+3jkkw==\",\n        \"sha256\": \"15edacef1e121224ef5d7899138c741e23307e7e5f56151a4518e7dc9fade867\",\n        \"updated_at\": \"2026-04-16T07:19:24.712447Z\",\n        \"updated_at_relative\": \"now\",\n        \"created_at\": \"2026-04-11T07:56:34.763488Z\",\n        \"created_at_relative\": \"4 days ago\"\n    }\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-report-abuse",
              "value": "abuse@filebin.net"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 774,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
