{
  "log": {
    "_recordingName": "kie/grok-imagine-lifecycle/step-2-image-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b992877e3a8e7eb4e231d4a1b02babc5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/chat/credit"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 43,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":8299.35}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 234,
      },
      {
        "_id": "42e715de9817884ff3984048ba8e771e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine/image-to-image\",\"input\":{\"prompt\":\"Transform into a watercolor painting style\",\"image_urls\":[\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\"]}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"d9e8aed916ed19d2cc189b14ff80f1fe\",\"recordId\":\"d9e8aed916ed19d2cc189b14ff80f1fe\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 523,
      },
      {
        "_id": "529abfacc5ae7769cc45f577ee443449",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "d9e8aed916ed19d2cc189b14ff80f1fe"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=d9e8aed916ed19d2cc189b14ff80f1fe"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 484,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"d9e8aed916ed19d2cc189b14ff80f1fe\",\"model\":\"grok-imagine/image-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"image_urls\\\\\\\":[\\\\\\\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\\\\\\\"],\\\\\\\"prompt\\\\\\\":\\\\\\\"Transform into a watercolor painting style\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine/image-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1775445468212}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 222,
      },
      {
        "_id": "529abfacc5ae7769cc45f577ee443449",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            [...]
