{
  "log": {
    "_recordingName": "fal/kling-video-v3-turbo-standard-text-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ba5ab40fb0e55c44065f5b5975819d9f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A lioness and her cubs in warm grass, camera drifting closer.\",\"duration\":\"3\",\"aspect_ratio\":\"16:9\"}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/kling-video/v3/turbo/standard/text-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 163,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad85f4/mweP7U3L2-Q4GH6KpGHI1_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":7329830}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "3"
            },
            {
              "name": "x-fal-served-from",
              "value": "136bed66-2745-4b5d-a73c-ce2671fcb197"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 88208,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
