{
  "log": {
    "_recordingName": "polymarket/clob-time",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bd7630337df47eba658ded88761aa6ea",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://clob.polymarket.com/time"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=UTF-8",
            "size": 10,
            "text": "1778041038"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 387,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
