{
  "log": {
    "_recordingName": "polymarket/clob-batch-prices-history",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0a859b3337c51ac182d2bbbec426edc4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"markets\":[\"78433024518676680431174478322854148606578065650008220678402966840627347604025\",\"50346565575310273995396997144874891836871065259829083228393044602519086496922\"],\"interval\":\"1h\"}"
          },
          "queryString": [],
          "url": "https://clob.polymarket.com/batch-prices-history"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3294,
            "text": "{\"history\":{\"50346565575310273995396997144874891836871065259829083228393044602519086496922\":[{\"t\":1778039163,\"p\":0.8},{\"t\":1778039223,\"p\":0.795},{\"t\":1778039284,\"p\":0.795},{\"t\":1778039343,\"p\":0.795},{\"t\":1778039403,\"p\":0.79},{\"t\":1778039463,\"p\":0.795},{\"t\":1778039524,\"p\":0.795},{\"t\":1778039584,\"p\":0.795},{\"t\":1778039643,\"p\":0.795},{\"t\":1778039703,\"p\":0.795},{\"t\":1778039763,\"p\":0.795},{\"t\":1778039824,\"p\":0.795},{\"t\":1778039887,\"p\":0.795},{\"t\":177803994[...]
