{
  "log": {
    "_recordingName": "fal/nvidia-cosmos-3-super-image-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ec17dcf6d272266895bcf0c0fdef633e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"The camera slowly pushes in as the subject turns their head toward the light, hair drifting in a gentle breeze, dust motes floating through warm afternoon sun.\",\"image_url\":\"https://storage.googleapis.com/falserverless/example_inputs/hunyuan_i2v.jpg\",\"num_frames\":5,\"enable_agentic_generation\":false,\"enable_prompt_expansion\":false}"
          },
          "queryString": [],
          "url": "https://fal.run/nvidia/cosmos-3-super/image-to-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 287,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad8813/56PhcEVBljGB73s3kZryX_0J7A1326.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"56PhcEVBljGB73s3kZryX_0J7A1326.mp4\",\"file_size\":78345,\"width\":832,\"height\":480,\"fps\":24.0,\"duration\":0.20833333333333334,\"num_frames\":5},\"seed\":1701192537}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "1"
            },
            {
              "name": "x-fal-served-from",
              "value": "b5446db0-b2d3-4e43-976a-fe541100a73e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 280368,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
