{
  "log": {
    "_recordingName": "elevenlabs/usage-character-stats",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "da655b8dfe892a46c88f64e39647824f",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "start_unix",
              "value": "1685574000"
            },
            {
              "name": "end_unix",
              "value": "1688165999"
            }
          ],
          "url": "https://api.elevenlabs.io/v1/usage/character-stats?start_unix=1685574000&end_unix=1688165999"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 32,
            "text": "{\"time\":[1641600000],\"usage\":{}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 243,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
