{
  "log": {
    "_recordingName": "kie/bytedance-seedance-2-5",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ab880d6dc43cdcd6dffa96d0261dac8c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"bytedance/seedance-2-5\",\"input\":{\"prompt\":\"A red kite drifts across a clear blue sky\",\"resolution\":\"480p\",\"aspect_ratio\":\"1:1\",\"duration\":4,\"output_format\":\"mp4\",\"generate_audio\":false,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ab69f6a69bd3f1eb53dd4a83855cc5c4\",\"recordId\":\"ab69f6a69bd3f1eb53dd4a83855cc5c4\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 456,
      },
      {
        "_id": "6304cc43570dec4612ad51e6190222e0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "ab69f6a69bd3f1eb53dd4a83855cc5c4"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=ab69f6a69bd3f1eb53dd4a83855cc5c4"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 568,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"ab69f6a69bd3f1eb53dd4a83855cc5c4\",\"model\":\"bytedance/seedance-2-5\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"duration\\\\\\\":4,\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"mp4\\\\\\\",\\\\\\\"generate_audio\\\\\\\":false,\\\\\\\"prompt\\\\\\\":\\\\\\\"A red kite drifts across a clear blue sky\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"bytedance/seedance-2-5\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1786334162588,\"creditsConsumed\":0.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 212,
      },
      {
        "_id": "6304cc43570dec4612ad51e6190222e0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
      [...]
