{
  "log": {
    "_recordingName": "simplefunctions/agent-world-snapshot-json",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0b8618e07b6b2572dab3b9179d65450b",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "3"
            },
            {
              "name": "op",
              "value": "snapshot"
            }
          ],
          "url": "https://simplefunctions.dev/api/agent/world?format=json&limit=3&op=snapshot"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 6361,
            "text": "{\"asOf\":\"2026-06-21T15:01:00.885Z\",\"sinceBaseline\":\"2026-06-21T03:09:33.411Z\",\"baselineReason\":\"last 12h\",\"region\":{\"path\":[],\"displayName\":\"World\",\"parentUrl\":null,\"selfUrl\":\"https://simplefunctions.dev/api/agent/world\"},\"regime\":{\"label\":\"Steady — no dominant macro signal\",\"signals\":{\"disagreement\":42,\"geoRisk\":0,\"breadth\":0.13,\"activity\":0}},\"salient\":[{\"id\":\"s-tlcjhh\",\"type\":\"divergence\",\"rank\":0,\"label\":\"George Conway receive between 15% and… lagging Republican win the House race for OH-… — 33¢ gap [US Elections]\",\"body\":{\"lhs\":{\"name\":\"Will Republican win the House race for OH-04?: Jim Jordan\",\"Δ\":\"87c\"},\"rhs\":{\"name\":\"Will George Conway receive between 15% and 20% of the popular vote in the 2026 N\",\"Δ\":\"6c\"},\"gap\":33,\"theme\":\"US Elections\",\"triggerTicker\":\"KXHOUSERACE-OH04-26-R\",\"laggingTicker\":\"KXVOTEPRIMARY-NY12D26GCONGCON-17\"},\"pull\":[{\"op\":\"explain\",\"label\":\"why?\",\"url\":\"https://simplefunctions.dev/api/agent/world?op=explain&item=s-tlcjhh\",\"structured\":{\"op\":\"explain\",\"target\":\"s-tlcjhh\"}},{\"op\":\"dispersion\",\"label\":\"Will Republican win the House race for OH-04?: Jim Jordan spread\",\"url\":\"https://simplefunctions.dev/api/agent/world?op=dispersion\",\"structured\":{\"op\":\"dispersion\"}},{\"op\":\"history\",\"label\":\"6h path\",\"url\":\"https://simplefunctions.dev/api/agent/world?op=history&dt=6h\",\"structured\":{\"op\":\"history\"}}]},{\"id\":\"s-oyq8i6\",\"type\":\"divergence\",\"rank\":1,\"label\":\"rate of core CPI inflation be above 3… overshooting[...]
