{
  "log": {
    "_recordingName": "kie/suno/voice-validate-bogus-url",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "59bb66e761c3e872acd4928cb45505b7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"voiceUrl\":\"https://invalid-host-apicity-test.invalid/user_voice.mp3\",\"vocalStartS\":0,\"vocalEndS\":10,\"language\":\"en\",\"callBackUrl\":\"https://example.com/cb\"}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/voice/validate"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 81,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"7500ee82847f881490991835edbf56cf\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 671,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
