{
  "log": {
    "_recordingName": "binance/ticker-trading-day",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5cec2919ebcf136375238fd20b552db1",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "symbol",
              "value": "BTCUSDT"
            }
          ],
          "url": "https://api.binance.com/api/v3/ticker/tradingDay?symbol=BTCUSDT"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 249,
            "text": "{\"symbol\":\"BTCUSDT\",\"priceChange\":\"435.41000000\",\"priceChangePercent\":\"0.688\",\"weightedAvgPrice\":\"63279.26596178\",\"openPrice\":\"63332.01000000\",\"highPrice\":\"63943.56000000\",\"lowPrice\":\"62408.00000000\",\"lastPrice\":\"63767.42000000\",\"volume\":\"13668.26296000\",\"quoteVolume\":\"864917647.08132770\",\"openTime\":1780876800000,\"closeTime\":1780963199999,\"firstId\":6384914977,\"lastId\":6388021884,\"count\":3106908}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'"
            },
            {
              "name": "x-mbx-used-weight",
              "value": "4"
            },
            {
              "name": "x-mbx-used-weight-1m",
              "value": "4"
            },
            {
              "name": "x-mbx-uuid",
              "value": "***"
            },
            {
              "name": "x-webkit-csp",
              "value": "default-src 'self'"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 576,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
