{
  "log": {
    "_recordingName": "fal/google-gemini-3-8-flash-tts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a473d44dc92ec4c0e3930486bfa7a263",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"A red panda waves once, then holds still.\"}"
          },
          "queryString": [],
          "url": "https://fal.run/google/gemini-3.8-flash-tts"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 184,
            "text": "{\"audio\":{\"url\":\"https://v3b.fal.media/files/b/0aad2512/QCmvHqb53D0YZ_NtzmRUT_gemini_tts_output.wav\",\"content_type\":\"audio/wav\",\"file_name\":\"gemini_tts_output.wav\",\"file_size\":198064}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "0.041"
            },
            {
              "name": "x-fal-served-from",
              "value": "d3ef3cc6-0b28-4ea5-8f8e-8fbcbd883bc3"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3235,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
