{
  "log": {
    "_recordingName": "elevenlabs/convai-telephony-integrations",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "29336114484ba37edb0f26b2751a24e4",
        "request": {
          "headers": [
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "1"
            }
          ],
          "url": "https://api.elevenlabs.io/v1/convai/phone-numbers/apicity-route-test-phone/sip-messages?page_size=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 202,
            "text": "{\"detail\":{\"type\":\"not_found\",\"code\":\"document_not_found\",\"message\":\"Document with id apicity-route-test-phone not found.\",\"status\":\"document_not_found\",\"request_id\":\"5da33f873d7ff4bccde17e1c9302c7f1\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 297,
      },
      {
        "_id": "1d2ae4fca3904ce2e0fa829832e8545f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"agent_id\":\"apicity-route-test-agent\",\"from_number\":\"+15005550006\",\"to_number\":\"+15005550006\",\"direction\":\"inbound\",\"conversation_initiation_client_data\":{\"dynamic_variables\":{\"source\":\"apicity\"}}}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/twilio/register-call"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 202,
            "text": "{\"detail\":{\"type\":\"not_found\",\"code\":\"document_not_found\",\"message\":\"Document with id apicity-route-test-agent not found.\",\"status\":\"document_not_found\",\"request_id\":\"49097f8d3756d08dcde17e1c9302cdb3\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 183,
      },
      {
        "_id": "b5fe83a90d479d2809b06f6246391df1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"agent_id\":\"apicity-route-test-agent\",\"agent_phone_number_id\":\"apicity-route-test-phone\",\"to_number\":\"+15005550006\",\"telephony_call_config\":{\"ringing_timeout_secs\":30}}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/exotel/outbound-call"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 202,
            "text": "{\"detail\":{\"type\":\"not_found\",\"code\":\"document_not_found\",\"message\":\"Document with id apicity-route-test-phone not found.\",\"status\":\"document_not_found\",\"request_id\":\"6483c8ab675709efcde17e1c9302c792\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 354,
      },
      {
        "_id": "6927fe710145a5a03e852a19eab17aaa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"whatsapp_phone_number_id\":\"apicity-route-test-whatsapp-phone\",\"whatsapp_user_id\":\"15555550123\",\"whatsapp_call_permission_request_template_name\":\"apicity_call_permission\",\"whatsapp_call_permission_request_template_language_code\":\"en_US\",\"agent_id\":\"apicity-route-test-agent\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/whatsapp/outbound-call"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 198,
            "text": "{\"detail\":{\"type\":\"n[...]
