{
  "log": {
    "_recordingName": "kie/grok-imagine-image-2-lifecycle",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3a0d8cc3a7f6edd8850617bf805ecd89",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"grok-imagine-image-2-0/text-to-image\",\"input\":{\"prompt\":\"A white cat with mismatched yellow and blue eyes sitting in a softly lit studio, photorealistic.\",\"aspect_ratio\":\"1:1\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"529a425fce5e320d69d3240f1d815032\",\"recordId\":\"529a425fce5e320d69d3240f1d815032\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 371,
      },
      {
        "_id": "f3c2e502f053c06294365bef763c32c4",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "529a425fce5e320d69d3240f1d815032"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=529a425fce5e320d69d3240f1d815032"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 510,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"529a425fce5e320d69d3240f1d815032\",\"model\":\"grok-imagine-image-2-0/text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"1:1\\\\\\\",\\\\\\\"prompt\\\\\\\":\\\\\\\"A white cat with mismatched yellow and blue eyes sitting in a softly lit studio, photorealistic.\\\\\\\"}\\\",\\\"model\\\":\\\"grok-imagine-image-2-0/text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1786878073451,\"creditsConsumed\":4.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 204,
      },
      {
        "_id": "f3c2e502f053c06294365bef763c32c4",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
      [...]
