{
  "log": {
    "_recordingName": "kie/wan-22-auxiliary-media/a14b-speech-to-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5f7caa56af3597e3fa875f291b239fa9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"wan/2-2-a14b-speech-to-video-turbo\",\"input\":{\"prompt\":\"A cat looks toward the camera\",\"image_url\":\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\",\"audio_url\":\"https://storage.googleapis.com/falserverless/example_inputs/elevenlabs/scribe_v2_in.mp3\",\"num_frames\":40,\"frames_per_second\":4,\"resolution\":\"480p\"}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"db75afafc5792dfe60e7b04316baefc5\",\"recordId\":\"db75afafc5792dfe60e7b04316baefc5\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 328,
      },
      {
        "_id": "996d2036d61c4f14da40b340955163b7",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "db75afafc5792dfe60e7b04316baefc5"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=db75afafc5792dfe60e7b04316baefc5"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 700,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"db75afafc5792dfe60e7b04316baefc5\",\"model\":\"wan/2-2-a14b-speech-to-video-turbo\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"image_url\\\\\\\":\\\\\\\"https://static.aiquickdraw.com/tools/example/1767694885407_pObJoMcy.png\\\\\\\",\\\\\\\"num_frames\\\\\\\":40,\\\\\\\"audio_url\\\\\\\":\\\\\\\"https://storage.googleapis.com/falserverless/example_inputs/elevenlabs/scribe_v2_in.mp3\\\\\\\",\\\\\\\"frames_per_second\\\\\\\":4,\\\\\\\"prompt\\\\\\\":\\\\\\\"A cat looks toward the camera\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"480p\\\\\\\"}\\\",\\\"model\\\":\\\"wan/2-2-a14b-speech-to-video-turbo\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1786514135407,\"creditsConsumed\":0.0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 190,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
