{
  "log": {
    "_recordingName": "fal/elevenlabs-speech-to-text-scribe-v2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "350632cf05d84d6af602588fc00bc75b",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"audio_url\":\"https://storage.googleapis.com/falserverless/example_inputs/elevenlabs/scribe_v2_in.mp3\",\"language_code\":\"eng\",\"tag_audio_events\":true,\"diarize\":true}"
          },
          "queryString": [],
          "url": "https://fal.run/fal-ai/elevenlabs/speech-to-text/scribe-v2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2671,
            "text": "{\"text\":\"Hey, this is a test recording for Scribe version two, which is now available on fal.ai\",\"language_code\":\"eng\",\"language_probability\":1.0,\"words\":[{\"text\":\"Hey,\",\"start\":0.079,\"end\":0.319,\"type\":\"word\",\"speaker_id\":\"speaker_0\"},{\"text\":\" \",\"start\":0.319,\"end\":0.579,\"type\":\"spacing\",\"speaker_id\":\"speaker_0\"},{\"text\":\"this\",\"start\":0.579,\"end\":0.659,\"type\":\"word\",\"speaker_id\":\"speaker_0\"},{\"text\":\" \",\"start\":0.659,\"end\":0.719,\"type\":\"spacing\",\"speaker_id\":\"speaker_0\"},{\"text\":\"is\",\"start\":0.719,\"end\":0.799,\"type\":\"word\",\"speaker_id\":\"speaker_0\"},{\"text\":\" \",\"start\":0.799,\"end\":0.919,\"type\":\"spacing\",\"speaker_id\":\"speaker_0\"},{\[...]
