{
  "log": {
    "_recordingName": "dolthub/pulls-get-v2",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "01110f32eeb8fe21e77c63089a330216",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://www.dolthub.com/api/v2/databases/dolthub/SHAQ/pulls/1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 334,
            "text": "{\"data\":{\"pull_number\":1,\"title\":\"Changes from workspace 9d66cdd\",\"state\":\"open\",\"from_branch\":{\"database\":{\"owner\":\"dolthub\",\"name\":\"SHAQ\"},\"branch_name\":\"tbantle/workspace-whimsical-kitten\"},\"to_branch\":{\"database\":{\"owner\":\"dolthub\",\"name\":\"SHAQ\"},\"branch_name\":\"main\"},\"created_at\":\"2023-10-04T17:01:20.000Z\",\"creator\":\"tbantle\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"2eqio4xm6r9a\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 884,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
