{
  "log": {
    "_recordingName": "fal/blackforestlabs-flux-3-edit-video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7b69684f5ac8a25cde357f2170072e19",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"prompt\":\"Make it snow heavily; give the scene a cold winter palette.\",\"video_url\":\"https://storage.googleapis.com/falserverless/example_inputs/flux-3-red-panda.mp4\"}"
          },
          "queryString": [],
          "url": "https://fal.run/blackforestlabs/flux-3/edit-video"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 181,
            "text": "{\"video\":{\"url\":\"https://v3b.fal.media/files/b/0aad86e7/V62iO1JR4KIHLwbQatF8x_output.mp4\",\"content_type\":\"video/mp4\",\"file_name\":\"output.mp4\",\"file_size\":5409683},\"seed\":2063383093}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-fal-billable-units",
              "value": "10"
            },
            {
              "name": "x-fal-served-from",
              "value": "f5f6d16f-6aaa-4b44-95b8-9622092a4456"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 37967,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
