{
  "log": {
    "_recordingName": "kie/qwen21-text-to-image",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f920dc982a18bad1f66727f6cca17874",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"model\":\"qwen2-1/text-to-image\",\"input\":{\"prompt\":\"A corgi wearing a yellow rain hat sitting on stone steps after the rain, shallow depth of field\",\"aspect_ratio\":\"16:9\",\"resolution\":\"1K\",\"output_format\":\"png\",\"seed\":20260921,\"nsfw_checker\":false}}"
          },
          "queryString": [],
          "url": "https://api.kie.ai/api/v1/jobs/createTask"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 127,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"a350a0dc158adab90ff5ad7b7cb6ea61\",\"recordId\":\"a350a0dc158adab90ff5ad7b7cb6ea61\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 606,
      },
      {
        "_id": "27a0d4cf0986cde585e541c7ec9b5c80",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer ***"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "taskId",
              "value": "a350a0dc158adab90ff5ad7b7cb6ea61"
            }
          ],
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=a350a0dc158adab90ff5ad7b7cb6ea61"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 983,
            "text": "{\"code\":200,\"msg\":\"success\",\"data\":{\"taskId\":\"a350a0dc158adab90ff5ad7b7cb6ea61\",\"model\":\"qwen2-1/text-to-image\",\"state\":\"waiting\",\"param\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"seed\\\\\\\":20260921,\\\\\\\"prompt\\\\\\\":\\\\\\\"A corgi wearing a yellow rain hat sitting on stone steps after the rain, shallow depth of field\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"qwen2-1/text-to-image\\\"}\",\"resultJson\":\"\",\"failCode\":null,\"failMsg\":null,\"costTime\":null,\"completeTime\":null,\"createTime\":1790568596320,\"creditsConsumed\":4.0,\"operationType\":\"qwen2-1/text-to-image\",\"successFlag\":0,\"paramJson\":\"{\\\"input\\\":\\\"{\\\\\\\"aspect_ratio\\\\\\\":\\\\\\\"16:9\\\\\\\",\\\\\\\"output_format\\\\\\\":\\\\\\\"png\\\\\\\",\\\\\\\"seed\\\\\\\":20260921,\\\\\\\"prompt\\\\\\\":\\\\\\\"A corgi wearing a yellow rain hat sitting on stone steps after the rain, shallow depth of field\\\\\\\",\\\\\\\"resolution\\\\\\\":\\\\\\\"1K\\\\\\\",\\\\\\\"nsfw_checker\\\\\\\":false}\\\",\\\"model\\\":\\\"qwen2-1/text-to-image\\\"}\"}}"
          },
          "headers": [
            {
              "name": "cont[...]
