{
  "log": {
    "_recordingName": "elevenlabs/convai-knowledge-base",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8e3e5e4f650e21385a49eff4b66df376",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Apicity KB route test (text)\",\"text\":\"Apicity is a TypeScript monorepo of standalone API provider packages.\"}"
          },
          "queryString": [],
          "url": "https://api.elevenlabs.io/v1/convai/knowledge-base/text"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 84,
            "text": "{\"id\":\"GeNsvfKFbfPecTz6Pi74\",\"name\":\"Apicity KB route test (text)\",\"folder_path\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-region",
              "value": "us-central1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 491,
      },
      {
        "_id": "b2eb75ca7d58b4d3deb7eda25986cc7b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "***"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"name\":\"Apicity KB r[...]
